<h1>개인정보취급방침</h1>

<h2>01 수집하는 개인정보의 항목</h2>
<div>
    <p>- 필수항목 : 성명, 가상식별번호, 중복가입확인정보, 여권번호(외국인에 한함), 아이디, 비밀번호, 본인확인문답, 이메일 주소</p>
    <p>- 선택항목 : 주소, 연락처</p>
    <p>- 자동수집항목 : IP Address, 서비스 이용기록 등</p>


    <p>- 유료 서비스 이용시 항목 :</p>

    <ul>
        <li>1) 신용카드 결제시 : 카드사명, 카드번호 등</li>
        <li>2) 휴대전화 결제시 : 이동전화번호, 통신사, 결제승인번호 등</li>
        <li>3) 계좌이체시 : 은행명, 계좌번호 등</li>
        <li>4) 상품권 이용시 : 상품권 번호</li>
    </ul>
</div>
<h2>02 개인정보 수집 및 이용 목적</h2>
<p>- 이름, 계정, 비밀번호, 가상식별번호, 중복가입확인정보, 외국인등록번호 및 여권번호(외국인에 한함) : 서비스 이용에 따른 민원사항의 처리를 위한 본인식별, 신용평가기관을 통한 실명확인, 중복가입확인, 연령제한 서비스의 제공, 고객센터의 운영, 부정 이용 방지를 위하여 사용됩니다.</p>

<p>- e-mail, 전화번호, 주소 : 고지사항 전달, 본인 의사확인, 불만처리 등 의사소통 경로의 확보, 새로운 서비스나 신상품, 이벤트 정보 등 최신 정보안내, 청구서, 경품 등 물품배송 시 정확한 배송지의 확보, 인구통계학적 분석자료(이용자의 연령별, 성별, 지역별 통계분석) 등을 위하여 사용됩니다.</p>

<p>- 본인확인 문답 : 본인 비밀번호 분실 시 비밀번호 확인을 위해 사용됩니다.</p>

<p>- 은행계좌정보, 신용카드정보, 휴대폰번호, 상품권정보: 유료 서비스 이용에 대한 정확한 과금과 결제 및 본인확인 등을 위하여 사용됩니다.</p>

<p>- 법정대리인의 주민등록번호, 이름, 주소 : 만 14세 미만 어린이 가입 시 법정대리인 동의여부확인, 추후 법정대리인 본인확인 등을 위하여 사용됩니다.</p>

<p>- 이용자의 IP주소, 방문 일시 : 불량회원의 부정 이용방지와 비인가 사용방지, 통계학적 분석에 사용됩니다.</p>

<p>- 그 외 선택항목: 개인맞춤서비스를 제공하기 위한 자료로 사용됩니다.</p>
<h2>03 개인정보 보유 및 이용기간</h2>
<p>
    회사는 원칙적으로 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체없이 파기합니다.
    단, 관계법령의 규정에 의하여 보존할 필요가 있는 경우 회사는 관계법령이 정한 일정한 기간 동안 회원정보를 보관합니다.
</p>
<ul>
    <li>- 계약 또는 청약철회 등에 관한 기록: 5년</li>
    <li>- 대금결제 및 재화 등의 공급에 관한 기록: 5년</li>
    <li>- 소비자의 불만 또는 분쟁처리에 관한 기록: 3년</li>
    <li>- 방문에 관한 기록 : 3개월</li>
    <li>- 보유기간을 이용자에게 미리 고지하거나 개별적으로 이용자의 동의를 받은 경우: 고지하거나 개별 동의한 기간</li>
</ul>
<h2>04 쿠키의(Cookie) 운영</h2>
<p>-쿠키는 피키팜 웹사이트를 운영하는데, 이용되는 서버가 사용자의 브라우저에 보내는 조그마한 데이터로 회원님이 피키팜에 로그온한 상태에서 회원님을 인증하기 위해 사용되고 있습니다.</p>
<h2>05 기술적, 관리적 대책</h2>
<p>-피키팜에서는 서버 및 네트워크 관련하여 고급 기술로써 대책에 나서고 있습니다. 방화벽(Fire Wall)과 SSL(Secure Socket Layer )방식 암호화 체계 시스템 등을 갖추어 회원님이 제공하신 개인정보 보호에 만전을 기하고 있습니다. 피키팜은 개인 정보 취급 직원을 최소화는 물론 각 직원별 회원정보 접근 권한을 달리하고, 수시보안교육을 통해 본 정책의 준수를 강조하고 있습니다. 또한 회원정보 접근 권한을 구분하는 시스템과 보안교육을 통해 내부 침입에도 대응하고 있습니다.</p>
<h2>06 개인정보 열람과 정정 및 철회</h2>
<p>-회원님은 언제든지 제공된 개인 정보를 열람, 정정, 삭제를 요청하실 수 있습니다. 개인 정보 열람 및 정정, 삭제는 "회원정보수정" 메뉴를 선택한 다음 스스로 정정이 가능합니다. 개인정보 동의 철회는 피키팜 운영자 메일() 또는 고객서비스센터(전화:☎ )로 연락을 주시면 본인 확인철차를 통하여 즉시 삭제되며, 회원님의 개인정보는 어떤 이유나 방법으로도 재생되거나 이용할 수 없도록 처리 됩니다.</p>
<h2>07 개인 아이디와 비밀번호 관리</h2>
<p>회원님이 사용하고 계시는 ID와 비밀번호는 원칙적으로 회원님만이 사용하도록 되어 있습니다. 피키팜의 고의 또는 과실이 없는 경우에, 회원님의 ID와 비밀번호 도용 또는 기타 타인의 사용으로 의해 발생된 문제에 대하여 피키팜이 책임지지 않습니다. 어떠한 경우에도 비밀번호는 타인에게 알려 주지 마시고 로그온 상태에서는 주위의 다른 사람에게 개인 정보가 유출되지 않도록 특별한 주의를 기울여 주시기 바랍니다.</p>
<h2>08 고객 개인정보 관리 책임자</h2>
<p>피키팜은 정보통신부 지정 개인정보지침에 의거 관리책임자를 아래와 같이 지정합니다</p>
피키팜(pickyfarm.com) (02751) 서울특별시 성북구 화랑로5길 41, 2층 201호 (하월곡동)
<ul>
    <li>개인정보관리책임자 : 김기윤</li>
    <li>전화번호 : 김기윤</li>
    <li>이메일 : 김기윤</li>
</ul>
<h2>09 개인정보의 취급위탁</h2>
<p>회사는 서비스 향상을 위해서 이용자들의 개인정보를 외부전문업체에 위탁하여 처리할 수 있습니다.</p>

<p>개인정보의 처리를 위탁하는 경우에는 미리 그 사실을 이용자들에게 공지할 것입니다.</p>

<p>또한 위탁계약 등을 통하여 서비스제공자의 개인정보보호 관련 지시엄수, 개인정보에 관한 비밀유지, 제3자 제공의 금지 및 사고시의 책임부담 등을 명확히 규정하고 당해 계약내용을 서면 또는 전자적으로 보관하여 이용자의 권익을 보호하고 있습니다.</p>

<p>
    - 수탁자 : 피키팜
    위탁업무내용 : 고객상담, 부정이용방지, 결제
    위탁기간 : 위탁 계약 종료 시까지
</p>