{% load static %}
<section class="landing-wrapper" id="section4">
    <div class="landing-content grid md:grid-cols-2 md:gap-110" id="landing-section4">
        <div class="flex items-center section4-logo-wrapper">
            <img class="section4-logo-img mx-auto" src="{% static 'images/landing/section4/section4-logo.svg' %}" alt="pickyfarm logo">
        </div>
        <div class="flex md:items-center section4-text-wrapper">
            <div class="flex-col mx-auto">
                <h1 class="section4-main-title">까다롭게 선택하다</h1>
                <h2 class="section4-sub-title">10월 중순 OPEN!</h2>
                <p class="md:mb-6" id="section4-desc">오픈하면 알림톡을 보내드릴게요!</p>
                <div class="section4-kakao-plus-section">
                    <div class="mb-3">
                        <p class="" id="section4-desc">내가 구독한 농가 소식을
                        <p class="" id="section4-desc">쉽고, 빠르게 접해볼 수 있어요!</p>
                    </div>
                    <a href="http://pf.kakao.com/_DIexfs">
                        <img id="section4-kakao-plus-img" src="{% static 'images/landing/section4/section4-kakaoplus.webp' %}" alt="kakao plus pickyfarm" srcset="{% static 'images/landing/section4/section4-kakaoplus@2x.webp' %} 2x, {% static 'images/landing/section4/section4-kakaoplus@3x.webp' %} 3x">
                    </a>
                </div>
            </div>
        </div>
        <div class="" id="section4-kakao-plus-section-mobile">
            <div class="order-last mx-auto section4-text-wrapper text-center">
                <p class="" id="section4-desc">내가 구독한 농가 소식을
                <p class="mb-12" id="section4-desc">쉽고, 빠르게 접해볼 수 있어요!</p>
            </div>
            <div class="order-first mx-auto">
                <a href="http://pf.kakao.com/_DIexfs">
                    <img id="section4-kakao-plus-img-mobile" src="{% static 'images/landing/section4/section4-kakaoplus.webp' %}" alt="kakao plus pickyfarm">
                </a>
            </div>
        </div>
    </div>
</section>