{% load static %}
<section class="landing-wrapper" id="section2">
    <article class="landing-content" id="landing-section2">
        <div id="landing-section2-text-group">
            <div id="landing-section2-main-text-group">
                <h2 class="landing-sub-text section2-text">겉은 못나도 속은 알차서</h2>
                <h1 class="landing-main-text section2-text">괜찮으니까</h1>
            </div>
            <img src="{% static 'images/landing/section2/sec2desc_mobile.png' %}" alt="피키 팜" id="section2-desc-img-mobile">
            <p class="landing-desc section2-text" id="section2-desc">
                단지 외모 때문에 밀려난 못난이 작물<br />
                농가와 환경을 위한<br />
                <mark> &nbsp알뜰 </mark> &nbsp;하고 가치 있는 소비 어떠세요?
            </p>
        </div>
        <figure>
            <img class="mx-auto" src="{% static 'images/landing/section2/sec2desc.webp' %}" alt="" srcset="{% static 'images/landing/section2/sec2desc@2x.webp' %} 2x, {% static 'images/landing/section2/sec2desc@3x.webp' %} 3x" id="section2-desc-img">
        </figure>
    </article>
</section>