{% extends 'static/css/base/base_for_index.html' %}
{% load static %}

{% block title_name %} Picky Farm : 까다롭게 선택하다 {% endblock title_name %}
{% block stylesheet %}
<link rel="icon" href="{% static 'images/index/mainlogo.svg' %}">
<link rel="stylesheet" href="{% static 'css/base/landing/landing_page.css' %}">
{% endblock stylesheet %}
{% block main_content %}
{% include 'static/css/base/main_slider.html' %}
{% include 'static/css/base/landing/landing_page1.html' %}
{% include 'static/css/base/landing/landing_page2.html' %}
{% include 'static/css/base/landing/landing_page3.html' %}
{% include 'static/css/base/landing/landing_page4.html' %}
<script>

</script>

{% endblock main_content %}