{% load static %}
<section class="landing-wrapper" id="section3">
    <article class="landing-content" id="landing-section3">
        <figure>
            <img class="mx-auto" src="{% static 'images/landing/section3/936.webp' %}" id="section3-desc-left-img">
        </figure>

        <div id="landing-section3-text-group">
            <div id="landing-section3-main-text-group">
                <h2 class="landing-sub-text section3-text">농장에서 신선한 농작물을</h2>
                <h1 class="landing-main-text section3-text">직접보내주니까</h1>
            </div>
            <figure>
                <img class="mx-auto" src="{% static 'images/landing/section3/947.svg' %}" id="section3-desc-center-img">
            </figure>
            <p class="landing-desc section3-text" id="section3-desc">
                주문 즉시 파머에게 알려드려요<br />
                산지직송의 싱싱함을 느껴보세요
            </p>
        </div>
        
        <figure>
            <img class="mx-auto" src="{% static 'images/landing/section3/934.webp' %}" id="section3-desc-right-img">
        </figure>
    </article>
</section>