{% extends 'base/base.html' %}

{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/editor_reviews/editor_reviews_detail.css' %}">
<link rel="stylesheet" href="{% static 'css/editor_reviews/editor_reviews_detail_mobile.css' %}">
{% endblock stylesheet %}
{% block title_name %}{{review.title}} : Editor's Pick{% endblock %}
{% block og_url %}{% url 'editors_pick:detail' review.pk %}{% endblock %}
{% block og_title%}{{review.title}} : Editor's Pick{% endblock %}
{% block og_image %}{{review.main_image.url}}{% endblock %}


{% block main_content %}
<div class="main-contents flex flex-col lg:mx-0 sm:mx-0 bg-white-400 font-4xl" id="main">
    <div class="mx-auto flex flex-col items-center bg-cover text-center" id="top-section" style="background-image:linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('{{review.main_image.url}}');">
        <div id="review-title">{{review.title}}</div>
        <div id="review-subtitle">{{review.sub_title}}</div>
        <div id="review-author">editor_{{review.author.user.nickname}}</div>
        <img id="review-arrow" src="{% static 'images/editors_review/editor_review_detail_arrow_bottom.svg' %}" alt="">
    </div>

    <div id="content-section" class="mx-auto">
        {{review.contents|safe}}
    </div>

    {% include 'editor_reviews/detail/info_section.html' %}
    {% include 'editor_reviews/detail/comment_section.html' %}
</div>

{% comment %} <a href="{% url 'editors_pick:delete' review.pk %}">
    <div>지우기.</div>
</a>
<a href="{% url 'editors_pick:update' review.pk %}">
    <div>업데이트</div>
</a> {% endcomment %}
{% endblock main_content %}

{% block scripts %}
<script type="text/javascript">
    const expandRecommentSection = e => {
        e.closest(".comment-content").nextElementSibling.style.display = "inherit"
    }

    // urls for AJAX request
    const commentSubmitURL = '{% url "editors_pick:comment" review.pk %}'
    const commentLikeURL = '{% url "likes:editor_review_comment_like"%}'
    const commentLoadURL = '{% url "editors_pick:comment_load" %}'
    const recommentLikeURL = '{% url "likes:editor_review_recomment_like"%}'
    const recommentEditURL = "{% url 'editors_pick:recomment_edit' %}"
    const recommentDeleteURL = '{% url "editors_pick:recomment_delete" %}'
    const recommentLoadURL = '{% url "editors_pick:recomment_load" %}'

    // constants for AJAX request's argument
    const reviewPK = "{{review.pk}}"
    const userPK = "{{request.user.pk}}"
    const CSRFToken = "{{csrf_token}}"

    // constants for AJAX callback
    const likeButtonImageURL = "{% static 'images/editors_review/editor_review_detail_comment_like.svg' %}"
    const recommentLikeButtonImageURL = "{% static 'images/editors_review/editor_review_detail_recomment_like.svg' %}"
    const reportButtonImageURL = "{% static 'images/editors_review/editor_review_detail_comment_report.svg'%}"
    const currentUserProfileImageURL = "{{user.profile_image.url}}"
    const currentUserNickname = "{{request.user.nickname}}"
</script>
<script defer src="{% static 'js/comment/Components/Comment.js' %}"></script>
<script defer src="{% static 'js/editor_reviews/comment_like.js'%}"></script>
<script defer src="{% static 'js/editor_reviews/comment_edit.js' %}"></script>
<script defer src="{% static 'js/editor_reviews/comment_delete.js' %}"></script>
<script defer src="{% static 'js/editor_reviews/comment_submit.js' %}"></script>
<script defer src="{% static 'js/comment/comment_load.js' %}"></script>
{% endblock scripts %}