#product_content{
    width:990px;
    margin-top:150px;
}

#main_image{
    width: 395px;
    height: 520px;
    object-fit: cover;
}


#images{
    width: 76px;
    height: 76px;
    border-radius: 999%;
}

#title{
    font-size: 35px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

#subtitle{
    font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #4d4d4d;
}

#url_copy{
    font-size: 10px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.5;
  letter-spacing: normal;
  text-align: center;
  color: #5c6754;
  border-radius: 27.6px;
  border: solid 1px #5e6656;
  margin-right:0.8rem;
  margin-top:0.5rem;
}

#cost{
    font-size: 40px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  border-bottom: solid 1.7px #005413;

}

#farmer_img, #consumer_img{
    width: 53px;
  height: 53px;
  border-radius: 999%;
  border: solid 2px #5e6656;
    object-fit: cover;
}

#farm_name{
    font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

#visit{
    font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
    padding: 0.5px 10.5px 0.7px 10.5px;
  border-radius: 27.6px;
  background-color: #5e6656;
  

}

#sub{
    font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
    padding: 0.5px 10.5px 0.7px 10.5px;
  border-radius: 27.6px;
  background-color: #5e6656;
}


#farmer_name{
    font-size: 19px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

#n_sel{
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #000000;
    background-color: #fafafa;
}

div{
    padding:0;
    margin:0;
}

/* ------------------------------- */
#review {
  height: 425px;
  background-color: rgb(238,236,230);  
}

#review_score {
  height: 192px;
}

#score_title, #percent {
  font-size: 18px;
  font-weight: 500;
  color: #004818;
}

#comment_list {
  margin-top: 72px;
  width:990px;
}

#score_range {
  width: 95px;
  height: 7px;
  border-radius: 4px;
  background-color: #5c6754;
}
