


#big_category{
  position:sticky;
  top:150px;
  left:10px;
  height:300px;
  width: 100px;
  overflow: visible;
} 
#cat_all, #cat_etc{
  font-size: 25px;
  font-weight: 500;
  color: #5c6754;
  letter-spacing: normal;
  text-align: left;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.12;
}
#title{
  font-size: 25px;
  color: #000000;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
}

#sell_price{
  font-size: 25px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: left;
  color: #5c6754;
}

#content{
    width:990px;
}

#sub_title{
  width: 300px;
  height: 22px;
  font-family: NotoSansKR;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

#category_item{
  border-radius: 22.7px;
  background-color: #5c6754;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}


#product_item{
  margin-bottom:100px;
}


#product_img{
  width: 300px;
  height: 430px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 0 rgba(170, 170, 170, 0.7);
  margin-right: 15px;
  margin-left:15px;
  
  background-color: #ffffff;
  object-fit:cover;
}

#pagenum{
  font-size: 27px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

#like_cart_in{
  position: absolute;
  top: 400px;
  right: 15px;
}

#follow_menu{
  position:sticky;
    top:730px;
    height: 200px;
    width:200px;
}