{% load static %}

<div class="footer flex justify-between  w-header mx-auto mt-auto pt-32 pb-24 footer-pc">
    <div class="flex">
        <div class="contacts flex flex-col justify-between">
            <div>
                <div class="text-md">고객 센터</div>
                <div class=" text-4xl">010-3368-8026</div>
            </div>
            <div class="flex contact-info-wrap">
                <div class="kakao"><img src="{% static 'images/kakao.svg' %}" class="w-16" alt=""></div>
                <div class="flex flex-col self-center mx-6 contact-info">
                    <div class="text-xs font-medium contact-info-index">플러스 친구 "피키팜 Picky Farm"</div>
                    <div class="text-md font-extralight text-gray-500">오전 9시 ~ 오후 6시</div>
                </div>
            </div>
            <div class="flex">
                <div class="phone"><img src="{% static 'images/phone.svg' %}" class="w-16" alt=""></div>
                <div class="self-center mx-6 contact-info">
                    <div class="text-xs font-medium contact-info-index">1대1 문의</div>
                    <div class="text-md font-extralight text-gray-500">오전 10시 ~ 오후 6시</div>
                </div>
            </div>
        </div>
        <div class="delivery_info_image flex flex-col justify-between" style="width: 280px;">
            <span>상품에 대하여 배송, 교환, 민원 , AS 등은 피키팜을 통해 조정 진행될 수 있으며, 상품에 대한 일체의 책임은 지지않습니다. 상품에 대한 모든 책임은 판매자에게 있습니다</span>
            <div class="flex flex-col">
                <span>민원담당자 연락처 김기윤 :</span>
                <span>010-3368-8026</span>
            </div>
        </div>
    </div>
    <div class=" border-r-2"></div>
    <div class="info flex flex-col text-xs justify-between">

        <div class="ml-auto mb-8" id="legal-links">
            <ul class="flex">
                <li>
                    <img src='https://image.inicis.com/mkt/certmark/escrow/escrow_60x60_color.png' border='0' width="30" height="30" alt='클릭하시면 이니시스 결제시스템의 유효성을 확인하실 수 있습니다.' style='cursor:hand' Onclick=javascript:window.open('https://mark.inicis.com/mark/escrow_popup_v3.php?mid=BTPpickyfa','mark','scrollbars=no,resizable=no,width=565,height=683');>
                </li>
                <li class="mx-4 font-medium"><a href="{% url 'user:signup_terms_of_service' %}" target="_top">이용약관</a></li>
                <li class="mx-4 font-medium"> <a href="{% url 'core:personal-info' %}">개인정보처리방침</a> </li>
                <li class="mx-4 font-medium"><a href="{% url 'core:disclaimer' %}" target="_top">책임한계고지</a></li>
                <li class="ml-4 font-medium">인사채용</li>
            </ul>
        </div>
        <div class="flex my-1 justify-between">
            <div class=" mr-2">상호명 : 피키팜 Picky Farm</div>
            <div class=" mx-2">사업자등록번호 : 324-74-00265</div>
            <div class=" ml-2">사업자정보 확인</div>
        </div>
        <div class="flex my-1 justify-between">
            <div>통신판매업신고번호 : 제 2021-서울성북-1373호</div>
            <div>개인정보보호책임자 : 김기윤</div>
        </div>
        <div class="flex my-1 justify-between">
            <div>주소 : 서울특별시 성북구 화랑로5길 41, 2층 201호 (하월곡동)</div>
            <div>대표자 : 김기윤</div>
        </div>
        <div class="flex my-1 justify-between">
            <div>채용문의 : pickycorp@gmail.com</div>
            <div>제휴문의 : pickycorp@gmail.com</div>
        </div>
        <div class="flex my-1 justify-between">
            <div></div>
            <div>이메일 : pickycorp@gmail.com</div>
        </div>
        <div class=" flex mt-1 justify-between">
            <div class="self-center bg-green-900 w-36 text-white h-8 text-center leading-8 rounded-full">
                <a href="{% url 'farmers:farm_apply' %}">입점문의하기</a> 
            </div>
            <div>
                <ul class="flex">
                    <li><img src="{% static 'images/phone.svg' %}" class="w-8 mx-1" alt=""></li>
                    <li><img src="{% static 'images/phone.svg' %}" class="w-8 mx-1" alt=""></li>
                    <li><img src="{% static 'images/phone.svg' %}" class="w-8 mx-1" alt=""></li>
                    <li><img src="{% static 'images/phone.svg' %}" class="w-8 mx-1" alt=""></li>
                    <li><img src="{% static 'images/phone.svg' %}" class="w-8 mx-1" alt=""></li>
                </ul>
            </div>
        </div>
    </div>
</div>