{% load static %}

<div class="footer flex justify-between  w-header mx-auto mt-auto pt-32 pb-24">
    <div class="flex">
        <div class="contacts flex flex-col justify-between">
            <div>
                <div class="text-md">고객 센터</div>
                <div class=" text-4xl">1644-0000</div>
            </div>
            <div class="flex">
                <div class="kakao"><img src="{% static 'images/kakao.svg' %}" class="w-16" alt=""></div>
                <div class="flex flex-col self-center mx-6">
                    <div class="text-xs font-medium">카카오톡 문의</div>
                    <div class="text-md font-extralight text-gray-500">오전 9시 ~ 오후 6시</div>
                </div>
            </div>
            <div class="flex">
                <div class="phone"><img src="{% static 'images/phone.svg' %}" class="w-16" alt=""></div>
                <div class="self-center mx-6">
                    <div class="text-xs font-medium">1대1 문의</div>
                    <div class="text-md font-extralight text-gray-500">오전 10시 ~ 오후 6시</div>
                </div>
            </div>
        </div>
        <div class="delivery_info_image flex mx-16">
            <img src="{% static 'images/tempdelimg.svg' %}" class="w-60 self-center" alt="">
        </div>
    </div>
    <div class=" border-r-2"></div>
    <div class="info flex flex-col text-xs justify-between">
        <div class="ml-auto mb-8">
            <ul class="flex">
                <li class="mx-4 font-medium">이용약관</li>
                <li class="mx-4 font-medium">개인정보처리방침</li>
                <li class="mx-4 font-medium">이용안내</li>
                <li class="ml-4 font-medium">인사채용</li>
            </ul>
        </div>
        <div class="flex my-1 justify-between">
            <div class=" mr-2">법인명(상호) : 주식회사 피키픽</div>
            <div class=" mx-2">사업자등록번호 : 000-00-00000</div>
            <div class=" ml-2">사업자정보 확인</div>
        </div>
        <div class="flex my-1 justify-between">
            <div>통신판매업 : 제 2021-서울마포-00000호</div>
            <div>개인정보보호책임자 : 김기윤</div>
        </div>
        <div class="flex my-1 justify-between">
            <div>주소 : 서울시 마포구 와우산로 94</div>
            <div>대표이사 : 김기윤</div>
        </div>
        <div class="flex my-1 justify-between">
            <div>채용문의 : recruit@pickycorp.com</div>
            <div>제휴문의 : business@pickycorp.com</div>
        </div>
        <div class="flex my-1 justify-between">
            <div>FAX : 000-0000-0000</div>
            <div>이메일 : pickypick@pickycorp.com</div>
        </div>
        <div class=" flex mt-1 justify-between">
            <div class="self-center bg-green-900 w-36 text-white h-8 text-center leading-8 rounded-full">입점문의하기</div>
            <div>
                <ul class="flex"> 
                    <li><img src="{% static 'images/phone.svg' %}" class="w-8 mx-1" alt=""></li>
                    <li><img src="{% static 'images/phone.svg' %}" class="w-8 mx-1" alt=""></li>
                    <li><img src="{% static 'images/phone.svg' %}" class="w-8 mx-1" alt=""></li>
                    <li><img src="{% static 'images/phone.svg' %}" class="w-8 mx-1" alt=""></li>
                    <li><img src="{% static 'images/phone.svg' %}" class="w-8 mx-1" alt=""></li>
                </ul>
            </div>
        </div>
    </div>
</div>