{% load static %}

<nav class="fixed bottom-0 flex items-end  md:hidden" id="navbar-mobile">
    <ul class="flex justify-between flex-auto">
        <li class="navbar-item flex flex-col">
            <img src="{% static 'images/like.svg' %}" alt="Editor's Pick" class="navbar-icon">
            <div class="navbar-text">에디터</div>
        </li>
        <li class="navbar-item flex flex-col">
            <img src="{% static 'images/like.svg' %}" alt="Farmer's Page" class="navbar-icon">
            <div class="navbar-text">파머</div>
        </li>
        <li class="navbar-item flex flex-col">
            <img src="{% static 'images/like.svg' %}" alt="Home" class="navbar-icon">
            <div class="navbar-text">홈</div>
        </li>
        <li class="navbar-item flex flex-col">
            <img src="{% static 'images/like.svg' %}" alt="Store" class="navbar-icon">
            <div class="navbar-text">스토어</div>
        </li>
        <li class="navbar-item flex flex-col">
            <img src="{% static 'images/like.svg' %}" alt="Mypage" class="navbar-icon">
            <div class="navbar-text">마이페이지</div>
        </li>
    </ul>
</nav>

<link rel="stylesheet" href="{% static 'css/base/navbar_mobile.css' %}">