{% load static %}

<nav class="sticky bottom-0 flex items-end  md:hidden" id="navbar-mobile">
    <ul class="flex justify-between flex-auto">
        <a class="navbar-item flex flex-col" id="navbar-editor">
            <img src="{% static 'images/base/mobile_navbar/navbar_edtor.png' %}" alt="Editor's Pick" class="navbar-icon" />
            <div class="navbar-text">에디터</div>
        </a>
        <a class="navbar-item flex flex-col" id="navbar-farmer">
            <img src="{% static 'images/base/mobile_navbar/navbar_farmer.png' %}" alt="Farmer's Page" class="navbar-icon" />
            <div class="navbar-text">파머</div>
        </a>
        <a class="navbar-item flex flex-col" href="{% url 'core:main' %}">
            <img src="{% static 'images/base/mobile_navbar/navbar_home.png' %}" alt="Home" class="navbar-icon" />
            <div class="navbar-text">홈</div>
        </a>
        <a class="navbar-item flex flex-col" id="navbar-store">
            <img src="{% static 'images/base/mobile_navbar/navbar_store.png' %}" alt="Store" class="navbar-icon" />
            <div class="navbar-text">스토어</div>
        </a>
        <a class="navbar-item flex flex-col" id="navbar-mypage">
            <img src="{% static 'images/base/mobile_navbar/navbar_user.png' %}" alt="Mypage" class="navbar-icon" />
            <div class="navbar-text">
                {% if user.is_authenticated %}
                마이페이지
                {% else %}
                로그인
                {% endif %}
            </div>
        </a>
    </ul>
</nav>

<link rel="stylesheet" href="{% static 'css/base/navbar_mobile.css' %}" />