@import 'base/mobile_base_style.css';

@media screen and (max-width: 768px){
    #content{
        width: 100%;
        display: grid;
    }    
    #top {
        width: 100%;
        padding: 0 25px;
    }
    #farmer_nav {
        width: 100%;
        display: flex;
    }
    #farmer_title {
        text-align:center;
    }

    /* farmer info */
    #farmer_info {
        flex-wrap: wrap;
        padding-bottom: 20rem;
    }
    #farmer_profile,
    #farm_profile {
        display: none;
    }
    #farm_img_mobile {
        display: flex;
        position: relative;
    }
    #farm_profile_mobile {
        height: 12rem;
        width: 100%;
        object-fit: cover;
    }
    #farmer_profile_mobile {
        height: 10rem;
        width: 10rem;
        position: absolute;
        top:4em;
        left: 40%;
        border-radius: 50%;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        object-fit: cover;
    }
    /* farmer info - text */
    #tag_wrap {
        margin-top: 2rem ;
        margin-bottom: 3rem;
    }
    #farm_tag {
        padding: 0.3rem 1.2rem;
        margin-right: 1.5rem;
    }
    #farm_name {
        border: none;
        width: 70%;
        max-width: none;
    }
    #farmer_name {
        width: 30%;
        padding-left: 3rem;
        border-left: solid 0.5px rgba(112, 112, 112, 0.5);
    }
    #profile_title_wrap {
        margin: 1em 0;
        width: 100%;
    }
    #prof_wrap {
        width: 100%;
    }
    #sub_btn {
        padding: 0.6rem 1.2rem;
        width: 6.8rem;
        height: 3rem;
        margin-left: 45%;
    }
    
    /* farmer news */
    #farmer_news {
        max-width: 76rem;
        min-height: 4.8rem;
        height: 4.8rem;
        width: 100%;
    }
    #farmer_news > img {
        height: 3rem;
        width: 3rem;
        padding-right: 1rem;
    }
    #news_text {
        display: none;
    }
    #news_text_mobile {
        display:grid;
        text-align: center;        
        font-size:1.875rem;
        margin-bottom: 2.5rem;
    }

    /* navbar font size */
    #nav_item {
        font-size: 12.5px;
    }    
}