@import 'base/mobile_base_style.css';

@media screen and (max-width: 768px) {
    /* 양 옆 2.5rem */
    #top{
        padding: 0;
    }
    #content{
        padding: 0 2.5rem;
    }
    .relative{
        padding-left: 2.5rem;
    }

    /* weekly hot */
    #big-content{
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    #big-content p{
        text-align: center;
    }
    #big-content p:not(#title){
        font-size: 1.1rem;
        line-height: 1.55;
        color: #808080;
        margin: 0;
    }
    #big-content #title{
        font-size: 1.5rem;
        line-height: 1.47;
        margin-bottom: 0.6rem;
    }
    .relative{
        height: 22.8rem;
    }
    #best-farmer-img{
        width: 9.85rem;
        height: 9.85rem;
        border: none;
        border-radius: 0;
        margin-bottom: 2.74rem;
        margin-right: 2.5rem;
    }
    #farmer-img{
        width: 9.85rem;
        height: 9.85rem;
        border-radius: 100%;
        border: solid 0.1rem #707070;
        margin: 0 auto;
    }
    #pick-img img{
        height: 3.62rem;
    }
    #best-farmer-desc{
        justify-content: space-between;
        position: unset;
        width: 100%;
        height: 10.3rem;
        border-left: 0.1rem solid #707070;
        border-top: 0.1rem solid #707070;
        border-bottom: 0.1rem solid #707070;
    }
    #best-farmer-desc div:nth-child(1){
        width: 12rem;
        margin-left: 4.7rem;
        position: relative;
    }
    #best-farmer-desc div:nth-child(1) div:nth-child(1){
        width: unset;
        margin: 0;
        position: absolute;
        top: -0.5rem;
        left: 0;
    }
    #best-farmer-desc div:nth-child(1) div:nth-child(2){
        margin: 0 1rem;
    }
    #best-farmer-desc div:nth-child(1) div:nth-child(3){
        position: absolute;
        bottom: -1.3rem;
        right: 0;
    }
    #best-farmer-desc div:nth-child(1) div:nth-child(1), 
    #best-farmer-desc div:nth-child(1) div:nth-child(2),
    #best-farmer-desc div:nth-child(1) div:nth-child(3){
        font-size: 1.2rem;
        line-height: 1.33;
        font-weight: 300;
    }
    #best-farmer-desc div:nth-child(2){
        justify-content: center;
        align-items: center;
    }
    #hot_farm_loc{
        margin-left: 0 !important;
        font-size: 1.1rem;
        font-weight: 300;
        line-height: 0.73;
        margin-bottom: 0.8rem;
    }
    #farm_name{
        font-size: 1.1rem;
        font-weight: 500;
        line-height: 0.91;
    }
    #best-farmer-desc a img{
        width: 1.58rem;
        height: 1.29rem;
        object-fit: contain;
        margin-right: 25px;
    }

    /* search bar, sort(정렬) */
    #content{
        width: 100%;
        margin-top: 4rem;
        margin-bottom: 1.7rem;
    }
    #input-box{
        width: 100%;
        border-radius: 10px;
        background-color: var(--light-grey);
        align-items: center;
    }
    #input-box img{
        width: 0.89rem;
        height: 0.89rem;
    }
    #search_key, #search_key_2 {
        width: 100%;
    }
    #search_key::placeholder{
        opacity: 0;
    }
    #sort{
        height: 100%;
        font-size: 1.1rem;
    }
    #sort_img{
        margin-bottom: 0;
    }
    #sort_list{
        width: 100%;
    }

    /* tag table */
    #content:nth-child(3){
        margin-top: 1.7rem;
    }
    #content:nth-child(3) div:nth-child(1){
        font-size: 1.2rem;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #808080;
    }
    #content:nth-child(3) div:nth-child(2){
        margin-top: 0.9rem;
        margin-bottom: 6rem;
    }
    #tag_table{
        width: 26.1rem;
        margin: 0 auto;
    }
    #tag_table td{
        padding: 0.6rem 0;
        color: var(--brown-grey);
        font-size: 1.1rem;
    }
    #tag_table td:hover{
        color: var(--dark-green);
        background-color: #ffffff;
    }

    /* farmer list */
    #content:nth-child(1){
        padding-top: 4.08rem;
    }
    #content:nth-child(1) > div{
        margin: 0;
        margin-bottom: 6.04rem;
    }
    #wrapper{
        width: 100% !important;
        height: 100% !important;
        margin: 0 !important;
        justify-content: space-between !important;
    }
    #farm_pic{
        width: 14.24rem;
        height: 20.7rem;
        z-index: 0;
    }
    #farmer_profile{
        width: 14.24rem;
        height: 20.7rem;
    }
    #pick_img{
        right: -15.5px;
        bottom: -15.5px;
    }
    #pick_img img{
        height: 3.62rem;
    }
    #farm_desc_block{
        width: 16.4rem;
        margin: 0 !important;
    }
    #farm_profile{
        font-size: 1.2rem;
        line-height: 1;
        color: var(--dark-sage);
        margin-bottom: 0.5rem;
    }
    #farm_loc{
        font-size: 1.1rem;
        line-height: 1.09;
        color: var(--dark-sage);
        margin-bottom: 1rem;
    }
    #farm_name{
        font-size: 1.5rem;
        line-height: 1.13;
        color: var(--dark-sage);
        margin-bottom: 0.8rem;
    }
    #tag{
        font-size: 1.1rem;
        gap: 1rem;
        margin-bottom: 1rem;
        display: flex;
        flex-wrap: wrap;
    }
    #tag div{
        width: unset;
    }
    #farm_product_wrapper{
        gap: 1rem;
    }
    #farm_product{
        width: 100%;
    }
    #product_img_wrapper{
        width: 4.7rem;
        height: 6.6rem;
        margin: 0;
        margin-bottom: 0.6rem;
    }
    #product_img{
        width: 4.7rem;
        height: 6.6rem;
    }
    #product_desc{
        font-size: 0.8rem;
    }
}