@import 'base/mobile_base_style.css';

@media screen and (max-width: 768px){
    #content{
        width: 100%;
        display: grid;
    }    
    #top {
        width: 100%;
        padding: 0 25px;
    }
    #farmer_nav {
        width: 100%;
        display: flex;
    }
    #farmer_title {
        text-align:center;
    }

    /* farmer info */
    #farmer_info {
        flex-wrap: wrap;
        padding-bottom: 20rem;
    }
    #farmer_profile,
    #farm_profile {
        display: none;
    }
    #farm_img_mobile {
        display: flex;
        position: relative;
    }
    #farm_profile_mobile {
        height: 12rem;
        width: 100%;
        object-fit: cover;
    }
    #farmer_profile_mobile {
        height: 10rem;
        width: 10rem;
        position: absolute;
        top:4em;
        left: 40%;
        border-radius: 50%;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        object-fit: cover;
    }
    /* farmer info - text */
    #tag_wrap {
        margin-top: 2rem ;
        margin-bottom: 3rem;
    }
    #farm_tag {
        padding: 0.3rem 1.2rem;
        margin-right: 1.5rem;
    }
    #farm_name {
        border: none;
        width: 70%;
        max-width: none;
    }
    #farmer_name {
        width: 30%;
        padding-left: 3rem;
        border-left: solid 0.5px rgba(112, 112, 112, 0.5);
    }
    #profile_title_wrap {
        margin: 1em 0;
        width: 100%;
    }
    #prof_wrap {
        width: 100%;
    }
    #sub_btn {
        padding: 0.6rem 1.2rem;
        width: 6.8rem;
        height: 3rem;
        margin-left: 45%;
    }
    
    /* farmer news */
    #farmer_news {
        max-width: 76rem;
        min-height: 4.8rem;
        height: 4.8rem;
        width: 100%;
    }
    #farmer_news > img {
        height: 3rem;
        width: 3rem;
        padding-right: 1rem;
    }
    #news_text {
        display: none;
    }
    #news_text_mobile {
        display:grid;
        text-align: center;        
        font-size:1.875rem;
        margin-bottom: 2.5rem;
    }

    /* farmer nav */
    #farmer_nav {
        height: 2.5rem;
    }
    #nav_item {
        line-height: 2.5rem;
    }

    /* font setting */
    #farmer_title,
    #farm_name,
    #farmer_name,
    #news_text_mobile,
    #intro_title,
    #main_title {
        font-size: 1.5rem;
    }
    #profile_title,
    #story_title,
    #editor,
    #editor_name,
    #review_title {
        font-size: 1.2rem;
    }
    #title_text,
    #farm_tag,
    #sub_btn,
    #farm_news,
    #nav_item,
    #product_title,
    #story_subtitle {
        font-size: 1.1rem;
    }
    #create,
    #hits,
    #review_date {
        font-size: 0.8rem;
    }
    #farmer_title {
        font-weight: bold;
    }
    #title_text,
    #farm_tag,
    #farm_name,
    #sub_btn,
    #news_text_mobile,
    #intro_title,
    #main_title,
    #story_subtitle,
    #story_title,
    #editor_name,
    #review_title {
        font-weight:normal;
    }
    #farm_name,
    #profile_title,
    #farm_news,
    #nav_item,
    #product_title,
    #create,
    #hits,
    #editor,
    #review_date {
        font-weight:lighter;
    }
    #farmer_title,
    #editor_name {
        color: var(--dark-sage);
    }
    #intro_title, 
    #main_title,
    #story_title,
    #review_title {
        color: #000000;
    }
    #story_subtitle,
    #hits {
        color: #999999;
    }
    #title_text {
        color: #d2d2d2;
    }
    #sub_text,
    #news_text_mobile,
    #product_title,
    #create,
    #editor,
    #review_date {
        color: #5e6656;
    }
    #nav_item {
        color: #808080;
    }

}