* {
    font-family: NotoSansKR;
}

#content {
    width: 990px;
}
/* font color */
#farm_name,
#farmer_name,
#profile_title,
#farmer_news,
#intro_title,
#product_title,
#create {
    color: #5e6656;
}

#bar {
    color: rgba(112, 112, 112, 0.5);
}
#main_title {
    color: #808080;
}
#views,
#hits {
    color: #999999;
}

/* farmer title */
#title_text {
    color: #d2d2d2;
}

/* farmer info */
#farmer_info {
    height: 200px;
    background-color: #f2f2f2;
}
#farmer_profile,
#farm_profile {
    width: 148px;
    height: 148px;
    border-radius: 50%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    object-fit: cover;
}

#farm_name {
    max-width: 230px;
    padding-right: 13px;
    margin-right: 18px;
    border-right: solid 0.5px rgba(112, 112, 112, 0.5);
}
#profile_title {
    max-width: 320px;
}

#tag_wrap {
    height: 20px;
}
#farm_tag {
    height: 20px;
    padding: 3px 7px;
    border-radius: 20px;
    background-color: rgb(191, 185, 165);
    font-size: 12px;
    color: #ffffff;
    text-align: left;
}
.sub_wrap {
    width: 147px;
    height: 40px;
    padding: 6px 37px 5px 36px;
    border-radius: 20px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    cursor: pointer;
}
.subed_wrap {
    width: 147px;
    height: 40px;
    padding: 6px 37px 5px 36px;
    border-radius: 20px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #5e6656;
    color: #fff;
    cursor: pointer;
}

/* farmer news */
#farmer_news {
    width: 700px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}
#news_text {
    max-width: 500px;
    height: 40px;
    padding-right: 26.5px;
    padding-top: 4px;
    margin: 0 27.5px;
    border-right: solid 1px rgba(112, 112, 112, 0.6);
}
#news_text_mobile {
    display: none;
}
#farm_news {
    max-width: 409px;
}

/* farmer_nav */
#farmer_nav {
    height: 50px;
    box-sizing: content-box;
    border: solid 1px #707070;
}
#nav_item {
    line-height: 50px;
    text-align: center;
    color: #5e6656;
}
.choice {
    background-color: rgb(206, 209, 204);
}

/* farmer intro */
#farmer_intro {
    text-align: center;
}
#farm_desc {
    width: 990px;
}

/* farmer product */
#farmer_product {
    text-align: center;
}
#product_img {
    /* width: 133px; */
    /* height: 192px; */
    width: 220px;
    height: 288px;
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);
    object-fit: cover;
}

/* farmer story */
#farmer_story {
    text-align: center;
}
#story_wrap {
    width: 259px;
    height: 331px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}
#story_img {
    margin: 0 auto;
    width: 215px;
    height: 215px;
    object-fit: cover;
}
#story_subtitle {
    color: #999999;
    font-size: 15px;
}
#comment-write {
    width: 127px;
    height: 36px;
    padding: 7px 28.6px 7px 29px;
    border-radius: 24px;
    background-color: #5c6754;
}

/* farmer editor */
#editor_review {
    width: 432.7px;
    height: 313.4px;
    padding: 20.5px 14.3px 31.7px 18px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}
#editor {
    font-size: 9px;
    font-weight: 300;
    color: #5e6656;
    margin-right: 8px;
}
#editor_name {
    color: #5c6754;
    font-weight: 500;
}
#review_img img {
    width: 396px;
    height: 169px;
    object-fit: cover;
    margin-bottom: 15px;
}
#review_date {
    color: #5e6656;
    font-size: 9px;
    font-weight: 300;
}
#review_title {
    font-size: 11px;
    font-weight: 500;
}
