@import 'static/css/base/mobile_base_style.css';

@media screen and (max-width: 768px) {
    /* 양 옆 2.5rem */
    #top {
        padding: 0;
    }
    #content {
        padding: 0 2.5rem;
    }
    .relative {
        padding-left: 2.5rem;
    }

    /* weekly hot */
    #big-content {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    #big-content p {
        text-align: center;
    }
    #big-content p:not(#title) {
        font-size: 1.1rem;
        line-height: 1.55;
        color: #808080;
        margin: 0;
    }
    #big-content #title {
        font-size: 1.5rem;
        line-height: 1.47;
        margin-bottom: 0.6rem;
    }
    .relative {
        height: 22.8rem;
    }
    #best-farmer-img {
        width: 9.85rem;
        height: 9.85rem;
        border: none;
        border-radius: 0;
        margin-bottom: 2.74rem;
        margin-right: 2.5rem;
    }
    #farmer-img {
        width: 9.85rem;
        height: 9.85rem;
        border-radius: 100%;
        border: solid 0.1rem #707070;
        margin: 0 auto;
    }
    #pick-img img {
        height: 3.62rem;
    }
    #best-farmer-desc {
        justify-content: space-between;
        position: unset;
        width: 100%;
        height: 10.3rem;
        border-left: 0.1rem solid #707070;
        border-top: 0.1rem solid #707070;
        border-bottom: 0.1rem solid #707070;
        align-items: center;
    }
    #best-farmer-desc div:nth-child(1) {
        width: 12rem;
        margin-left: 4.7rem;
        position: relative;
    }
    #best-farmer-desc div:nth-child(1) div:nth-child(1) {
        width: unset;
        margin: 0;
        position: absolute;
        top: -0.5rem;
        left: 0;
    }
    #best-farmer-desc div:nth-child(1) div:nth-child(2) {
        margin: 0 1rem;
    }
    #best-farmer-desc div:nth-child(1) div:nth-child(3) {
        position: absolute;
        bottom: -1.3rem;
        right: 0;
    }
    #best-farmer-desc div:nth-child(1) div:nth-child(1),
    #best-farmer-desc div:nth-child(1) div:nth-child(2),
    #best-farmer-desc div:nth-child(1) div:nth-child(3) {
        font-size: 1.2rem;
        line-height: 1.33;
        font-weight: 300;
    }
    #best-farmer-desc div:nth-child(2) {
        justify-content: center;
        align-items: center;
    }
    #best-farmer-desc #hot_farm_loc {
        margin-left: 0 !important;
        font-size: 1.1rem;
        font-weight: 300;
        line-height: 0.73;
        margin-bottom: 0.8rem;
    }
    #best-farmer-desc #farm_name {
        font-size: 1.1rem;
        font-weight: 500;
        line-height: 0.91;
        margin-bottom: 0;
    }
    #best-farmer-desc a img {
        width: 1.58rem;
        height: 1.29rem;
        object-fit: contain;
        margin-right: 25px;
    }

    /* search bar, sort(정렬) */
    #content {
        width: 100%;
        margin-top: 4rem;
        margin-bottom: 1.7rem;
        align-items: center;
    }
    #input-box {
        width: 100%;
        border-radius: 10px;
        background-color: var(--light-grey);
        align-items: center;
    }
    #input-box img {
        width: 0.89rem;
        height: 0.89rem;
    }
    #search_key,
    #search_key_2 {
        width: 100%;
    }
    #search_key::placeholder {
        opacity: 0;
    }
    #sort {
        height: 100%;
        font-size: 1.1rem;
    }
    #sort_img {
        margin-bottom: 0;
    }
    #sort_list {
        width: 100%;
    }

    /* tag table */
    #content:nth-child(3) {
        margin-top: 1.7rem;
    }
    #content:nth-child(3) div:nth-child(1) {
        font-size: 1.2rem;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #808080;
    }
    #content:nth-child(3) div:nth-child(2) {
        margin-top: 0.9rem;
        margin-bottom: 6rem;
    }
    #tag_table {
        width: 26.1rem;
        margin: 0 auto;
    }
    #tag_table td {
        padding: 0.6rem 0;
        color: var(--brown-grey);
        font-size: 1.1rem;
    }
    #tag_table td:hover {
        color: var(--dark-green);
        background-color: #ffffff;
    }

    /* farmer list */
    #content:nth-child(1) {
        padding-top: 4.08rem;
    }
    #content:nth-child(1) > div {
        margin: 0;
        margin-bottom: 6.04rem;
    }
    #wrapper {
        width: 100% !important;
        height: 100% !important;
        margin: 0 !important;
        justify-content: space-between !important;
    }
    #farm_pic {
        width: 14.24rem;
        height: 20.7rem;
        z-index: 0;
    }
    #farmer_profile {
        width: 14.24rem;
        height: 20.7rem;
    }
    #pick_img {
        right: -15.5px;
        bottom: -15.5px;
    }
    #pick_img img {
        height: 3.62rem;
    }
    #farm_desc_block {
        width: 16.4rem;
        margin: 0 !important;
    }
    #farm_profile {
        font-size: 1.2rem;
        line-height: 1;
        color: var(--dark-sage);
        margin-bottom: 0.5rem;
    }
    #farm_loc {
        font-size: 1.1rem;
        line-height: 1.09;
        color: var(--dark-sage);
        margin-bottom: 1rem;
    }
    #farm_name {
        font-size: 1.5rem;
        line-height: 1.13;
        color: var(--dark-sage);
        margin-bottom: 0.8rem;
    }
    #tag {
        font-size: 1.1rem;
        gap: 1rem;
        margin-bottom: 1rem;
        display: flex;
        flex-wrap: wrap;
        height: unset;
    }
    #tag div {
        width: unset;
    }
    #farm_product_wrapper {
        gap: 1rem;
    }
    #farm_product {
        width: 100%;
    }
    #product_img_wrapper {
        width: 4.7rem;
        height: 6.6rem;
        margin: 0;
        margin-bottom: 0.6rem;
    }
    #product_img {
        width: 4.7rem;
        height: 6.6rem;
    }
    #product_desc {
        font-size: 0.8rem;
    }
    #farmer_list_paginator {
        padding-bottom: 6.1rem;
    }
    #farmer_list_paginator img {
        width: 0.8rem;
    }
    #farmer_list_paginator div:nth-child(2) {
        align-items: center;
        font-size: 0.8rem;
        margin: 0 0.4rem;
    }

    /* farmers story */
    #header {
        margin-top: 6rem;
    }
    #header img {
        width: 4.05rem;
        height: 3.35rem;
        margin-bottom: 1.2rem;
    }
    #story_title {
        font-size: 1.5rem;
        color: var(--dark-sage);
        margin-bottom: 0.65rem;
        font-weight: bold;
    }
    #story_subtitle {
        font-size: 1.2rem;
        color: #999;
        font-weight: normal;
        margin-bottom: 1.9rem;
    }
    #story_search {
        margin-bottom: 3.68rem;
        height: 2rem;
    }
    #story-search-select {
        width: 5.1rem;
        height: 2rem;
        padding: 0;
        text-align-last: center;
        text-align: center;
        -ms-text-align-last: center;
        -moz-text-align-last: center;
        margin-right: 0.9rem;
    }
    #story-search-select option {
        font-size: 1.1rem;
    }
    #input-box:nth-child(2) {
        height: 2rem;
        padding: 0;
    }
    #input-box:nth-child(2) input::placeholder {
        opacity: 0;
    }
    #input-box:nth-child(2) img {
        margin-right: 1.01rem;
    }
    #content:nth-child(3) {
        padding: 0;
        margin-bottom: 7.7rem;
    }
    #farmer_story_content {
        height: 30.14rem;
        margin-bottom: 0;
        overflow: scroll;
    }
    #farmer_story_table tr:first-child {
        display: none;
    }
    #farmer_story_table tr:nth-child(2) {
        border-top: solid 0.2rem #5e6656;
    }
    #farmer_story_table tr {
        height: 7.32rem;
        padding: 1.8rem 1rem 2.12rem 1rem;
        display: grid;
        grid-template-columns: 1.3fr 0.8fr 1.5fr 1fr;
        grid-template-areas:
            'created_at farm farmer blank views'
            'title title title title title';
        align-items: center;
    }
    #row_farm,
    #row_farmer,
    #row_views,
    #row_create_at,
    #row_title {
        padding: 0;
    }
    #row_farm,
    #row_farmer,
    #row_views,
    #row_create_at {
        font-size: 0.8rem;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        color: #999;
        margin-bottom: 0.4rem;
    }
    #row_farm {
        grid-area: farm;
    }
    #row_farmer {
        grid-area: farmer;
    }
    #row_views {
        grid-area: views;
    }
    #row_views:before {
        content: '조회수: ';
    }
    #row_create_at {
        grid-area: created_at;
    }
    #row_title {
        grid-area: title;
        font-size: 1.2rem;
        color: #000;
        text-align: left;
    }
    #farmer_story_write {
        width: 73px;
        height: 25px;
        margin-top: 0.99rem !important;
        margin-left: auto;
    }
    #farmer_story_paginator {
        display: none;
    }
}
