{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Noto+Sans+KR:500&display=swap&subset=korean">
    {% block stylesheet %}{% endblock %}
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    
    <title>{% block title_name %}{% endblock %}</title>
</head>
<body>

    <div class="base-wrap font-sans-kr">
        
        {% include "partials/header.html" %}
        {% block main_content %}
        
        {% endblock main_content %}
        {% include "partials/footer.html" %}

    </div>
    <script>
        var lnb = $(".fix-header").offset().top;
        $(window).scroll(function() {
  	        var window = $(this).scrollTop();

            if(lnb <= window) {
                $(".top-menu").addClass("hidden");
                $("header").addClass("shadow-md")
                $(".main-img").addClass("scale-50");
                $(".fix-header").addClass("h-20");

            } 
            
            else {
                $(".top-menu").removeClass("hidden");
                $("header").removeClass("shadow-md");
                $(".main-img").removeClass("scale-50");
                $(".fix-header").removeClass("h-20");
            }
        });
    </script>
</body>
</html>