{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanskr.css">
    {% block stylesheet %}{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="{% static 'js/base/toastMessage.js' %}"></script>
    <script src="{% static 'js/base/cartIn.js' %}"></script>
    <script src="{% static 'js/base/wish.js' %}"></script>
    <script src="{% static 'js/base/csrfToken.js' %}"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <link rel="stylesheet" type="text/css" charset="UTF-8" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
    <link rel="stylesheet" href="{% static 'css/base/base_style.css' %}">


    <title>{% block title_name %}{% endblock %}</title>
</head>

<body>
    <div id="toast-section">
        <div id="toast-container" class="flex items-center">
            <div id="toast-status"></div>
            <div id="toast-message"></div>
        </div>
    </div>
    <div id="modal-section">
        <div id="modal-container" class="mx-auto my-auto">
            <div id="modal-message">Modal Test</div>
            <div id="modal-buttons" class="flex justify-end">
                <button class="modal-button transition_element" id="modal-accept">확인</button>
                <button class="modal-button transition_element" id="modal-cancel">취소</button>
            </div>
        </div>
    </div>

    <div class="base-wrap font-sans-kr flex flex-col">

        {% include "partials/header.html" %}
        {% include 'partials/header_mobile.html' %}

        {% block main_content %}

        {% endblock main_content %}
        {% include 'partials/navbar_mobile.html' %}

        {% include "partials/footer.html" %}


    </div>

</body>

<script>


    // Mobile navbar
    const navbarEditor = document.querySelector('#navbar-editor');
    const navbarFarmer = document.querySelector('#navbar-farmer');
    const navbarStore = document.querySelector('#navbar-store');
    const navbarMypage = document.querySelector('#navbar-mypage');

    navbarMypage.addEventListener('click', function (e) {
        alertBasicAnnounce(e);
    });
    navbarEditor.addEventListener('click', function (e) {
        alertBasicAnnounce(e);
    });
    navbarFarmer.addEventListener('click', function (e) {
        alertBasicAnnounce(e);
    });

    navbarStore.addEventListener('click', function (e) {
        const user_pk = storeButton.getAttribute('name');
        if (user_pk !== 'None') {
            e.preventDefault();
            data = {
                user_pk: user_pk,
                csrfmiddlewaretoken: CSRF_TOKEN,
            };
            $.ajax({
                type: 'POST',
                url: landingTestURL,
                dataType: 'json',
                data: data,
                success: function (response) {
                    if (response.status == 1) {
                        window.location.href = storePageURL;
                    } else if (response.status == 0) {
                        alert(
                            '계정을 확인해주세요! (카드사 심사는 테스트 아이디로 로그인해주세요)'
                        );
                    }
                },
                error: function (request, status, error) {
                    alert(
                        '10월 중순 오픈 예정입니다! (카드사 심사는 테스트 아이디로 로그인해주세요)'
                    );
                },
            });
        } else if (user_pk == 'None') {
            e.preventDefault();
            alert(
                '10월 중순 오픈 예정입니다! (카드사 심사는 테스트 아이디로 로그인해주세요)'
            );
        }
    });
</script>

</html>