{% extends 'base/base.html' %}
{% load static %}
{% block mete_description %}농가와 상생하는, 농산물 직거래 플랫폼. 피키팜 : Picky Farm | 까다롭게 선택하다{% endblock %}
{% block og_url %}{% url 'core:main' %}{% endblock %}
{% block og_title %}피키팜 : Picky Farm{% endblock %}
{% block og_desc %}농가와 상생하는, 농산물 직거래 플랫폼. 피키팜 : Picky Farm | 까다롭게 선택하다{% endblock %}
{% block og_image %}{% static "images/mainlogo_small.svg" %}{% endblock %}

{% block content_base %}
<div class="base-wrap font-sans-kr flex flex-col">
    {% include "partials/header.html" %}
    {% include 'partials/header_mobile.html' %}
    {% block main_content %}

    {% endblock main_content %}
    {% include "partials/footer.html" %}
</div>
{% endblock content_base %}