<h1> 서비스 내용 </h1>
<span>
    "피키팜"은 운영하는 웹사이트(이하, "쇼핑몰"이라 함)에서 구매회원이 상품 또는 용역 등(이하, "상품"이라 함)을 구입 및 이용하는 경우, 구매회원에게 정보전달을 하는 등 상품 결제 및 취득을 용이하게 할 수 있도록 회사가 제공하는 전자지급결제대행서비스 또는 통신판매중개서비스입니다.
</span>

<h1>
    책임의 한계
</h1>
<div>
    <span>
        "피키팜"은 판매회원(이하, '판매회원'은 피키팜에 입점하여 거래를 하는 회원으로 한정함.)과 구매회원 간의 편리한 상품 거래를 위한 청약의 접수를 제공할 뿐이며, 판매회원 또는 구매회원을 대리하지 않습니다.
    </span>
    <span>
        "피키팜"은 구매회원과 판매회원 간의 거래관계, 구매내용 및 판매회원이 작성한 상품정보, 거래조건 등에 대하여 어떠한 보증이나 책임도 부담하지 않습니다.
    </span>
    <span>
        "피키팜"은 판매회원과 구매회원 간의 상품 거래와 관련하여 판매의사 또는 구매의사의 존부 및 진정성, 상품의 품질, 완전성, 안전성, 적법성 및 타인의 권리에 대한 비침해성, 구매회원 또는 판매회원이 입력한 정보 및 그 정보를 통하여 링크된 URL에 게재된 자료의 진실성 또는 적법성 등 일체 사항에 대하여 어떠한 보증도 하지 아니하며, 이에 대한 신뢰 여부는 전적으로 판매회원과 구매회원 본인의 판단과 책임에 따릅니다.
    </span>
</div>

<h1>
    거래의 책임
</h1>
<span>
    "피키팜"를 웹사이트 내에서의 상품 거래와 관련하여 해당 상품의 배송, 청약철회, 교환, 반품, 환불 등 일체의 사항은 판매회원의 책임 하에 진행되며, "피키팜"은 판매회원과 구매회원 간의 상품 거래에 관여하지 않으며, 이에 대하여 어떠한 보증이나 책임도 부담하지 않습니다.
</span>