<div class="slick-container w-full shadow" style="height:fit-content" id="main-slider">
    {% for main_image in main_slider_image %}
    <div><img src="{{main_image.image.url}}" class="w-full object-cover slider-img" alt="" /></div>
    {% endfor %}
</div>

<script>
    $(function () {
        $('.slick-container').slick({
            dots: true,
            autoplay: true,
            autoplaySpeed: 4000,
            nextArrow: null,
        });
    });
</script>

<style>
    .slick-dots {
        color: darkgreen;
    }
</style>