
<div class="wrap w-full flex flex-col">
    <div class="mx-auto font-semibold text-3xl">Today's PICK</div>
    <div class="slick-images mx-auto h-96">
        {% for product in today_pick_list %}
        <div class="circle my-auto">    </div>
        {% endfor %}
    </div>
</div>
<script>
    $(function(){
        $('.slick-images').slick({
            dots: true
        });
    });
</script>

<style>
    .slick-images{
        width:20rem;
    }
    .circle{
        width:20rem;
        height: 20rem;
        border-radius: 9999px;
        background-color: bisque;
    }
</style>