{% load static %}

<div class="today-farmer flex flex-col h-main bg-gray-100 w-full mt-8">
    <div class="title mx-auto text-3xl mt-8">Today's Farmer</div>
    <div class="flex mt-20">
        <div class="flex">
            {% for product in today_farmer_list %}
            <div class="images flex items-center">
                <div class="farm-image rounded-r-full"></div>
                <div class="round relative right-12">
                    <div class="round-image rounded-full bg-gray-600"></div>
                    <img class=" absolute right-0 top-0 w-16" src="{% static 'images/index/338.svg' %}" alt="">
                </div>
            </div>
            
            <div class="relative ml-8" id="farm_desc_block">
                <p class=" text-xs text-gray-400" id="farm_loc">경기 어느 지역</p>
                <p class="text-2xl title font-bold " id="farm_name">{{product.farmer.farm_name}}</p>
                <div class="flex flex-row justify-between mt-8" id="">
                    <p class="text-3xl font-bold mb-6" id="quote">“</p>
                    <p class='leading-10 font-bold text-xl mx-4' id='farm_desc'>{{product.farmer.profile_title}}</p>
                    <p class="text-3xl font-bold mt-6" id="quote">”</p>
                </div>
                <div class="grid grid-cols-3 gap-4 mt-4" id="tag">
                    {% for tag in product.farmer.farm_tags.all %}
                    <a href="">
                        <div class="text-center align-middle font-bold text-sm" id="farm_tag">#{{tag}}</div>
                    </a>
                    {% endfor %}
                </div>
                
                <div class="w-32 h-8 rounded-full farm-visit mt-auto absolute bottom-0 text-center leading-8 text-white text-xs">방문하기</div>
            </div>
            {% endfor %}
        </div>

        <div class="next-arrow ml-auto mr-24 w-6 self-center"><img src="{% static 'images/index/next.svg' %}" alt=""></div>
    </div>
</div>

<style>
    .round{
        width: 270px;
        height: 270px;
    }
    
    .round-image{
        width: 270px;
        height: 270px;
        border: solid 8px #5e6656;
        
    }

    .farm-image{
        height: 270px;
        width: calc(30vw + 135px);
        border: solid 8px #5e6656;
        border-left: none;
    }

    #farm_desc_block {
        height: 270px;
    }

#farm_tag {
    padding: 0 10px;
    height: 28px;
    border-radius: 28px;
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    line-height: 28px;
}

    #category_item:hover, #farm_tag:hover {
    transform: scale(1.1, 1.1);
    transition-duration: 0.5s;
    }

    .farm-visit{
        background-color: #9e9574;
    }
</style>