#content{
    width: 990px;
}
#block_item {
    width: 330px;
    float:left;
    display:inline-block;
}

#title{
    width: 237.2px;
    height: 69.1px;
    margin: 0 auto;
    font-family: NotoSansKR;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: center;
    color: #004818;
}

/* --------------------------------------------------- */
/* best farmers */
#circle_block {
    position: relative;
    width: 229px;
    height: 229px;
    /* margin: 21px 12px 32px 22px; */
    /* padding: 162px 0 0 162px; */
    border: solid 5px #9d9578;
    background-color: #ffffff;
    border-radius: 50%;
    margin:0 auto;
}
#farmer_pic {
    border-radius: 50%;
    overflow: hidden;
}
#pick_img {
    z-index: 1;
    position:absolute;
    bottom:0;
    right:0;
}
#bestfarm_loc {
    width: 89px;
    height: 22px;
    /* margin: 32px 17.5px 23px 92px; */
    font-family: NotoSansKR;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.67;
    letter-spacing: normal;
    /* text-align: left; */
    margin:0 auto;
    color: #4d4d4d;
}
#bestfarm_name {
    height: 41px;
    /* margin: 48px 22.1px 6px 69px; */
    font-family: NotoSansKR;
    font-size: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    /* text-align: left; */
    margin:0 auto;
    color: #004818;
}
#bestfarm_title {
    width: 294px;
    height: 27px;
    /* margin: 6px 9px 136px 1px; */
    font-family: NotoSansKR;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.22;
    letter-spacing: normal;
    /* text-align: left; */
    margin:0 auto;
    color: #000000;
}


/* --------------------------------------------------- */
#category_item{
    /* width: 133.9px; */
    height: 30px;
    /* margin: 77.8px 13px 118.8px 7.1px; */
    border-radius: 22.7px;
    background-color: #9d9578;
    color:#ffffff;
    line-height: 15px;
    text-align:center;
    font-weight: 600;
}
#category_item:hover {
    transform: scale(1.1, 1.1);
    transition-duration: 0.5s;
}
  
/*  */
.row {
    position:relative;
    height: 400px;
    margin-bottom: 60px;
}
#farm_pic {
    position:absolute;
    top:0;
    left:0;
    width: 415.2px;
    height: inherit;
    border-radius: 61px;
    box-shadow: 10px 10px 10px 0 rgba(170, 170, 170, 0.7);
    background-color: #ffffff;
}

#farm_desc_bg {
    position:relative;
    z-index: -1;
    width: 990px;
    height: 330px;
    padding: 59px 422px 33px 350px;
    opacity: 0.5;
    border-radius: 232px;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    background-image: linear-gradient(to left, #9d9578 2%, rgba(252, 252, 251, 0.03) 57%, rgba(255, 255, 255, 0.55) 112%);
}
#farm_desc_block {
    position:absolute;
    top:24px;
    left:420px;
    z-index: 1;
}
#farm_title {
    height: 52px;
    font-family: NotoSansKR;
    font-size: 35px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #004818;
    text-align:left;
}

  