#content{
    width: 990px;
}
#block_item {
    width: 330px;
    float:left;
    display:block;
    margin-bottom: 260px;
}

#title{
    width: 237.2px;
    height: 69.1px;
    margin: 0 auto;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: center;
    color: #004818;
}

#big_category{
    position:sticky;
    top:150px;
    left:10px;
    height:300px;
    width: 100px;
    overflow: visible;
} 
#cat_all, #cat_etc{
    font-size: 25px;
    font-weight: 500;
    color: #5c6754;
    letter-spacing: normal;
    text-align: left;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.12;
}

#follow_menu {
    position:sticky;
    top:730px;
    height: 200px;
    width:200px;
}

/* --------------------------------------------------- */
/* best farmers */
#circle_block {
    position: relative;
    width: 229px;
    height: 229px;
    border: solid 5px #9d9578;
    background-color: #ffffff;
    border-radius: 50%;
    margin:0 auto;
}

#farmer_image {
    width: 219px;
    height:219px;
    border-radius: 9999px;
    object-fit: cover;
}
#pick_img {
    z-index: 1;
    position:absolute;
    bottom:0;
    right:0;
}
#farm_loc {
    font-stretch: normal;
    font-style: normal;
    line-height: 2.67;
    letter-spacing: normal;
    margin:0 auto;
    color: #4d4d4d;
}
#farm_name {
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    margin:0 auto;
    color: #004818;
}
#farm_desc_div {
    width:90%;
    font-size: 18px;
    font-weight: 500;
    line-height: 2.22;
    letter-spacing: normal;
    color: #000000;    
    margin:0 auto;
}
#quote {
    font-family:Georgia, 'Times New Roman', Times, serif
}

/* --------------------------------------------------- */
#category_item{
    /* width: 133.9px; */
    height: 30px;
    /* margin: 77.8px 13px 118.8px 7.1px; */
    border-radius: 22.7px;
    background-color: #9d9578;
    color:#ffffff;
    line-height: 15px;
    text-align:center;
    font-weight: 600;
}
#category_item:hover, #farm_tag:hover {
    transform: scale(1.1, 1.1);
    transition-duration: 0.5s;
}
  
/* farm list */
.row {
    position:relative;
    height: 400px;
    margin-bottom: 60px;
}

/* farm list image */
#farm_pic {
    position:absolute;
    top:0;
    width: 325px;
    height: 400px;
    /* margin: 118px 10.3px 113px 6.7px; */
    border-radius: 61px;
    box-shadow: 10px 10px 10px 0 rgba(170, 170, 170, 0.7);
    background-color: #ffffff;
    z-index: 1;
}
.row:nth-child(odd) > #farm_pic {
    left:0;
}
.row:nth-child(even) > #farm_pic {
    right:0;
}
#farm_pic img {
    width: 100%;
    height: 100%;
    border-radius: 61px;
}
/* farm list desc */
#farm_desc_bg {
    position:absolute;
    top:75px;
    width: 990px;
    height: 250px;
    padding: 44px 215px 5px 395px;
    opacity: 0.5;
    border-radius: 232px;
    -webkit-filter: blur(1px);
    filter: blur(1px);
}
.row:nth-child(odd) > #farm_desc_bg {
    background-image: linear-gradient(to left, #9d9578 2%, rgba(252, 252, 251, 0.03) 57%, rgba(255, 255, 255, 0.55) 112%);
}
.row:nth-child(even) > #farm_desc_bg {
    background-image: linear-gradient(to right, #9d9578 2%, rgba(252, 252, 251, 0.03) 57%, rgba(255, 255, 255, 0.55) 112%);
}
.row:nth-child(odd) > #farm_desc_block {
    left:420px;
}
.row:nth-child(even) > #farm_desc_block {
    left:220px;
}
#farm_desc_block {
    position:absolute;
    text-align:left;
    top:10px;
}
#farm_tag {
    width: 110px;
    height: 50px;
    border-radius: 28px;
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    line-height: 50px;
}