#top-section{
    width:990px;
    height:270px;
}


#left{
    width:240px;
}

#title_text1{
  font-family: NotoSansKR;
  font-size: 30px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
}

#title_text2{
  font-family: NotoSansKR;
  font-size: 40px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.75;
  letter-spacing: normal;
  text-align: left;
  color: #5c6754;
}

#nickname_text1{
  font-family: NotoSansKR;
  font-size: 25px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
}

#nickname_text2{
  font-family: NotoSansKR;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #b3b3b3;
  margin-left:5px;
}


#right{
    width:750px;
    padding-left:50px;
}

#status_text{
  font-family: NotoSansKR;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.73;
  letter-spacing: normal;
  text-align: center;
  color: #b3b3b3;
}

#status_icon{
  margin-top:22.1px;
  height: 52px;
}

#status_number{
  font-family: NotoSansKR;
  font-size: 64px;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #5c6754;
  margin-top: 25px;
}






#middle-section{
    width:990px;
}

#menu{
    width:150px;
}

.menu_content{
    width: 145px;
    height: 48px;
    margin-bottom: 12px;
    padding: 10px 10px 10px 10px;
    border-radius: 35px;
    border: solid 1px #5e6656;
    background-color: #ffffff;

    font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #5c6754;

  cursor: pointer;
}

#filter-section{
    margin-left : 126px;
    margin-bottom : 45px;
}

#filter-section>div:nth-child(2){
  margin-left:35px;
}

#filter{
  margin-left : 126px;
    margin-bottom : 45px;
}

#filter-6month{
  width: 127px;
  height: 30px;
  padding: 4px 30px;
  border-radius: 15px;
  border: solid 1px #b3b3b3;
  background-color: #ffffff;
  font-family: NotoSansKR;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #5c6754;
  cursor: pointer;
}

#filter-6month:hover{
  color:#ffffff;
  background-color: #5c6754;
}

#filter>input{
  width: 151px;
  height: 30px;
  border-radius: 15px;
  padding: 4px 5px 4px 10px;
  border: solid 1px #b3b3b3;
  background-color: #ffffff;
  font-family: NotoSansKR;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: center;
  color: #5c6754;
  margin-left:9px;
  margin-right:9px;
}

#filter-until{
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #5c6754;
}

#filter-submit{
  width: 106px;
  height: 30px;
  border-radius: 15px;
  background-color: #5c6754;
  font-family: NotoSansKR;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-left:21px;
}

#filter-submit:hover{
  color:#5c6754;
  background-color: #ffffff;
  border: solid 1px #b3b3b3;

}


#redirect_btn{
  width:170px;
  height: 30px;
  padding-top:5px;
  margin-top:30px;
  border-radius: 11px;
  background-color: #5c6754;
  font-family: NotoSansKR;
  font-size: 15px;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

#redirect_a{
  width:170px;
}

#content{
    width:840px;
}

#products-section{
    margin-left : 126px;
}

#product{
    width: 684px;
    height: 130px;
    padding: 15px 20px;
    border-radius: 20px;
    border: solid 1px #b3b3b3;
}

#product_img{
    width: 95px;
    height: 95px;
    margin: 0 20px 0 0;
    border-radius: 20px;
    object-fit:cover;
}



#product_order_at2{
  font-family: NotoSansKR;
  font-size: 11px;
  text-align: left;
  letter-spacing: normal;
  color: #5c6754;
}

#product_farm_name{
    font-family: NotoSansKR;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #5c6754;
}

#slash{
    margin:0 15px;
  color : #5e6656;
}

#product_title{
    font-family: NotoSansKR;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;

  letter-spacing: normal;
  text-align: left;
  color: #707070;
}

#product_price{
    font-family: NotoSansKR;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #b3b3b3;
    margin-right : 20px;
}

#product_quantity{
    font-family: NotoSansKR;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #b3b3b3;
}


#delivery_status{
  font-family: NotoSansKR;
  font-size: 11px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 3;
  letter-spacing: normal;
  text-align: left;
  color: #5c6754;
}


#product_weight{
    font-family: NotoSansKR;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #b3b3b3;
}



#product_btn{
    width: 95px;
  height: 25px;
  padding: 5px 13px 5px;
  border-radius: 11px;
  background-color: #5c6754;
  font-family: NotoSansKR;
  font-size: 12px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

#buttons-section>a>div{
  width: 70px;
  height: 22px;
  margin: 0 0 12px 54px;
  padding: 3px 9px 4px 8px;
  border-radius: 11px;
  border: solid 0.5px #b3b3b3;
  font-family: NotoSansKR;
  font-size: 11px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #5c6754;
}

#cartIn_btn{
    width: 95px;
    height: 25px;
    padding: 5px 13px 5px;
    border-radius: 11px;
    background-color: #5c6754;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

#bottom_section{
  width: 100%;
  height:658px;
  background-color: #f2f2f2;
  opacity: 0.55;
}

#bottom_contents{
  width:990px;
}

#subscribe_section{
  width:440px;
}

#subs_contents{
  overflow:scroll;
  width: 395px;
  height: 400px;
  padding: 30px;
  border-radius: 20px;
  background-color: #ccdad3;
}

#subs_not_exist_box{
  width:80%;
  margin:40% auto;
}

#subs_not_exist_box>div:nth-child(1){
  margin-bottom:10px;
}

#subs_redirect_a{
  width:170px;
}

#subs_redirect_btn{
  width:170px;
  height: 30px;
  padding-top:5px;
  border-radius: 11px;
  background-color: #5c6754;
  font-family: NotoSansKR;
  font-size: 15px;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}


#subs_title_box{
  width:105px;
}

#subs_title_text1{
  font-family: NotoSansKR;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

#subs_title_text2{
  font-family: NotoSansKR;
  font-size: 25px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-left:8px;
}

#farm_image{
  width: 60px;
  height: 60px;
  margin: 0 10px 30px 0;
  border: solid 1px #5e6656;
  border-radius: 99%;
}

#farm_loc{
  font-family: NotoSansKR;
  font-size: 12px;
  padding-top:6px;
  margin-right:5px;
  text-align: left;
  color: #5c6754;
}

#farm_name{
  font-family: NotoSansKR;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #5c6754;
}

#quantity{
  width:100px;
  text-align:center;
  margin-top:20px;
}

#delete_btn{
  width: 115px;
  height: 30px;
  padding: 4px 30px;
  border-radius: 15px;
  border: solid 1px #b3b3b3;
  background-color: #ffffff;
  font-family: NotoSansKR;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #5c6754;
  margin-left:171px;
}

#sub_cancel_btn{
  width: 53px;
  height: 25px;
  font-family: NotoSansKR;
  font-size: 11px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #5c6754;
  padding: 4px;
  padding-top:5px;
  opacity: 0.6;
  border-radius: 13px;
  background-color: #ffffff;
}

#paginator{
  margin-top:70px;
  width:650px;
  margin-left:170px;
}

#page_btn_sel{
  font-family: NotoSansKR;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #5c6754;
  margin-right:24px;
}

#page_btn{
  font-family: NotoSansKR;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #b3b3b3;
  margin-right:24px;
}

#order-section{
  width:650px;
  margin-left:170px;
  margin-top:35px;
}

#continue_shop{
  width: 146px;
  height: 30px;
  padding: 4px 30px;
  border-radius: 15px;
  background-color: #5c6754;
  font-family: NotoSansKR;
  font-size: 15px;
  text-align: center;
  color: #ffffff;
}

#order_now{
  width: 115px;
  height: 30px;
  padding: 4px 30px;
  border-radius: 15px;
  background-color: #5c6754;
  font-family: NotoSansKR;
  font-size: 15px;
  text-align: center;
  color: #ffffff;
  margin-left:20px;
}

#total_order_text{
  font-family: NotoSansKR;
  font-size: 15px;
  color: #b3b3b3;
  padding-top:7px;
}

#total_order_price{
  font-family: NotoSansKR;
  font-size: 30px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #5c6754;
  margin-left:10px;
}

#won_text{
  font-family: NotoSansKR;
  font-size: 30px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #5c6754;
}

#sub_farm_news{
  font-family: NotoSansKR;
  width:180px;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #5c6754;
  padding: 6px 7px;
  opacity: 1;
  border-radius: 11px;
  background-color: #ffffff;
}

#qnas_section{
  width:550px;
}

#qna_box_container{
  overflow:scroll;
}

#qnas_contents{
  width: 506px;
  height: 400px;
  padding: 30px;
  border-radius: 20px;
  background-color: #ccdad3;
}

#qnas_title_box{
  margin-top:30px;
}

#qnas_title_text1{
  font-family: NotoSansKR;
  font-size: 61px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.51;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

#qnas_title_text2{
  font-family: NotoSansKR;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.16;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

#qnas_not_exist_box{
  width:80%;
  margin:40% auto;
}

#qnas_not_exist_box>div:nth-child(1){
  margin-bottom:10px;
}

#qnas_redirect_a{
  width:170px;
}

#qnas_redirect_btn{
  width:170px;
  height: 30px;
  padding-top:5px;
  border-radius: 11px;
  background-color: #5c6754;
  font-family: NotoSansKR;
  font-size: 15px;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

#qna_date{
  font-family: NotoSansKR;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

#q_box>div:nth-child(1){
  font-family: NotoSansKR;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-top:8px;
}

#q_detail{
  width: 315px;
  margin: 10px 43px 3px 15px;
  padding: 14px 11px;
  opacity: 0.6;
  border-radius: 20px;
  background-color: #ffffff;
  font-family: NotoSansKR;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #283023;
}

#see_more_a{
  width:48px !important;
}

#see_more{
  width: 48px;
  border-radius: 10px;
  background-color: #5c6754;
  font-family: NotoSansKR;
  font-size: 11px;
  opacity: 1;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

#a_detail{
  width: 315px;
  padding: 14px 11px;
  opacity: 0.6;
  border-radius: 20px;
  margin-top:7px;
  background-color: #ffffff;
  font-family: NotoSansKR;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: right;
  color: #283023;
}

#a_box>div:nth-child(2){
  margin-left:14px;
  margin-top:5px;
  font-family: NotoSansKR;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}


/* 배송지 정보 수정 */

#contents-container{
  margin-left:130px;
}

#not-register{
  margin-top:80px;
}

#index-section{
  font-family: NotoSansKR;
  font-size: 15px;
  text-align: left;
  color: #5c6754;
  margin-top:57px;
  text-align: center;
}

#index-title-section{
  width:97%;
  border-bottom: solid 0.5px #b3b3b3;
  padding-bottom : 15px;
}

#addr-section{
  width:97%;
  margin-top:40px;
}

#addr{
  width:100%;
  font-family: NotoSansKR;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-bottom:35px;
}

#modify{
  width:15px;
}

#del-btn-section{
  width:68.1px;

}

#delete{
  width:15px;
  cursor: pointer;
}

#top-btn-section>:nth-child(1){
  
  font-family: NotoSansKR;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
}

#top-btn-section>:nth-child(2){
  width: 147px;
  height: 30px;
  padding: 4px 28px 4px 30px;
  border-radius: 15px;
  background-color: #5c6754;
  font-family: NotoSansKR;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  margin-left:300px;
}

/* 배송지 추가 */

#add-rev-address-title-section{
  width:100%;
}

#add-rev-address-title{
  font-family: NotoSansKR;
  font-size: 30px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #5c6754;
}

#add-rev-address-sub-title{
  font-family: NotoSansKR;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: center;
  color: #b3b3b3;
}

#leaf{
  width:36.2px;
}

#full-address-section{
  margin-top:80px;
}

#id_full_address{
  width: 664px;
  height: 35px;
  opacity: 0.5;
  padding-left:10px;
  padding-right:10px;
  border-radius: 20px;
  border: solid 1px #5c6754;
}

#id_detail_address{
  width: 719px;
  height: 35px;
  opacity: 0.5;
  padding-left:10px;
  padding-right:10px;
  border-radius: 20px;
  margin-top:15px;
  border: solid 1px #5c6754;
}

#add-rev-address-help-text{
  font-family: NotoSansKR;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #5c6754;
}

#address-search-btn{
  padding-left:20px;
}

#address-search-btn>img{
  cursor: pointer;
}

#submit-rev-address-btn{
  width: 125px;
  height: 30px;
  padding: 4px 4px;
  border-radius: 15px;
  border: solid 1px #5e6656;
  background-color: #ffffff;
  font-family: NotoSansKR;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #5c6754;
  margin-top:67px;
}


/* 개인정보 수정 */

#info-edit-container{
  padding-left:128px;
}

#title-section{
  font-family: NotoSansKR;
  font-size: 25px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #5c6754;
}

#profile-content-section, #info-content-section{
  margin-top:33px;
}

#info-section, #profile-section{
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #5c6754;
}

#info-section{
  width:400px;
}

#name{
  border-left : solid 0.5px #b3b3b3;
  height:75px;
  padding-left:40px;
}



#name>input{
  width:80px;
  height: 30px;
  border-radius: 15px;
  padding:0 10px 0 10px;
  margin-right:10px;
  margin-left:5px;
  border: solid 1px #e6e6e6;
  background-color: #ffffff;
}

#email{
  border-left : solid 0.5px #b3b3b3;
  padding-left:40px;
}

#email>input{
  width: 270px;
  height: 30px;
  padding:0 10px 0 10px;
  border-radius: 15px;
  border: solid 1px #e6e6e6;
  background-color: #ffffff;
}

#nickname>input{
  width: 270px;
  height: 30px;
  padding:0 10px 0 10px;
  border-radius: 15px;
  border: solid 1px #e6e6e6;
  background-color: #ffffff;
}

#nickname{
  border-left : solid 0.5px #b3b3b3;
  padding-left:40px;
}



#profile-section{
  width:300px;
}

#image-section{
  margin-bottom: 30px;
}

#profile-image{
  width: 110px;
  height: 110px;
  background-color: #f2f2f2;
  border-radius: 50%;
}

#edit-profile-image>label{
  width: 83px;
  height: 22px;
  border-radius: 11px;
  background-color: #5c6754;
  font-family: NotoSansKR;
  font-size: 10px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  padding-top:4px;
  color: #ffffff;
  display: inline-block;
  cursor: pointer;
}

#edit-profile-image>input{
  position: absolute; 
  width: 1px; 
  height: 1px; 
  padding: 0; 
  margin: -1px; 
  overflow: hidden; 
  clip:rect(0,0,0,0); 
  border: 0;

}

#edit-info{
  cursor: pointer;
}

#edit-profile{
  cursor: pointer;
}

#info-edit-complete{
  cursor: pointer;
}

#profile-edit-complete{
  cursor: pointer;
}


