.content {
    width: 340px;
}

input[type="password"],
input[type="text"],
input[type='email']{
    width: 340px;
    height: 35px;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    border-radius: 20px;
    border: solid 1px #b3b3b3;
    transition: border 0.3s ease-in;
}

input[type="password"]:focus,
input[type="text"]:focus,
input[type='email']:focus{
    border: 1px solid #707070;
    outline: none;
}

input[type="password"]:hover,
input[type="text"]:hover,
input[type='email']:hover{
    border: 1px solid #707070;
}

input:placeholder{
    text-align: center;
    font-size: 12px;
    color: #b3b3b3;
}

button{
    width: 340px;
    height: 40px;
    border-radius: 10px;
    background-color: #5c6754;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.input_forms input:first-child{
    margin-bottom: 14px;
}

.input_forms + button{
    margin-top: 44px;
}

.alert {
    text-align: center;
    font-size: 20px;
    color: #5c6754;
    font-weight: 400;
    margin-bottom: 20px;
}

.id-info {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    color: #b3b3b3;
    margin-bottom: 80px;
}