{% extends "base/base.html" %}

{% load static %}   
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/products/products_list.css' %}">
{% endblock stylesheet %}
{% block main_content %}   
        <div class="main-contents lg:mx-20 sm:mx-8 bg-white-400 text-center font-4xl">
                <div class="inline sticky" id="sub_menu">
                        <img id="go_up", src="{% static 'images/products_list/go_to_up.svg' %}">
                        <img id="go_to_cart", src="{% static 'images/products_list/go_to_cart.svg' %}">
                </div>
                
                <div class="block" id="big_category">
                    <ul>
                        <li><a href="{% url 'products:store_list_category' 'fruit' %}">과일</a></li>
                        <li><a href="{% url 'products:store_list_category' 'vege' %}">야채/채소</a></li>
                        <li><a href="{% url 'products:store_list_category' 'others' %}">기타</a></li>
                    </ul>
                </div>
                
                <div class="block mx-auto" id="content">
                    
                    <div class="flex flex-col w-full" id="content_box">
                        <div class="flex flex-auto" id = "top">
                            <div class="flex flex-none w-5/6" id="category">
                                <ul class="flex justify-start my-12">
                                    {%for category in categories %}
                                        <div class="mx-2">
                                            <a href="{% url 'products:store_list_category' category.slug %}">
                                                <li class="py-2 px-3.5" id="category_item">{{category.name}}</li></a>
                                        </div>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="flex flex-none justify-center w-1/6" id="sort">
                                <img class="mt-9" src="{% static 'images/products_list/sort.svg' %}"  alt="sort_icon">
                            </div>
                        </div>

                        <div class="block">
                        <ul class="mt-3" id="products"> 
                            {% for product in products %}
                            <a href="{% url 'products:product_detail' product.pk %}">
                            <li class="float-left" id="product_item">
                                <div class="relative">
                                    <img class="z-0" id="product_img" src="{{product.main_image.url}}" width="50"><br>
                                    <div id="like_cart_in" class="flex flex-row z-10">
                                        <img id="like", src="{% static 'images/products_list/like.svg' %}">
                                        <img class="ml-1"id="cart_in", src="{% static 'images/products_list/cart_in.svg' %}">
                                    </div>
                                    <img class="absolute -top-12 -left-6 {%if product.stock > 3 %} invisible {% endif %}" id="like", src="{% static 'images/products_list/almost_sold_out.svg' %}">
                                </div>

                                <div class="mt-3">
                                    <p class="pl-5" id="title">{{product.title}}</p>
                                    <p class="pl-5" id="sell_price">{{product.sell_price}}원</p>
                                    <p class="pl-5" id="sub_title">{{product.sub_title}}</p>
                                </div>
                            </li>
                            </a>
                            {% endfor %}
                        </ul>
                        </div>

            
                        <div class="flex justify-center" id="paginator">
                            <h6>
                                {% if page != 1 %}
                                    <a href = '?page={{page|add:-1}}'><img id="prev", src="{% static 'images/products_list/prev.svg' %}"></a>
                                {% endif %}
                            </h6>
                            {% if page == 1 %}
                                {{page}}
                            {% else %}
                                {% for page in page_range %}
                                <a href="?page={{page}}">{{page}}</a>
                                {% endfor %}
                            {% endif %}
                            <h6>
                                {% if page != page_total %}
                                <a href = '?page={{page|add:1}}'><img id="next", src="{% static 'images/products_list/next.svg' %}"></a>
                                {% endif %}
                            </h6>
                        </div>
                    </div>
                </div>

                <div class="block">
                </div>
            
        
        </div>
{% endblock %}    