{% extends "base/base_for_other.html" %}
{% block og_url %}{% url 'products:store_list' %}{% endblock %}
{% block og_title %}상품목록{% endblock %}
{% block og_desc %}피키팜의 무난이들을 만나보세요{% endblock %}
{% block og_image %}{{products.first.main_image.url}}{% endblock %}
{% block title_name %}상품목록{% endblock %}

{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/base/grid_layout.css' %}">
{% endblock stylesheet %}

{% block main_content %}
<div class="grid-container">
    <div class="col-4 h-8 bg-gray-400" style="background-color: bisque;"></div>
    <div class="col-4 h-8 bg-gray-400" style="background-color: bisque;"></div>
    <div class="col-4 h-8 bg-gray-400" style="background-color: bisque;"></div>
    <div class="col-4 h-8 bg-gray-400" style="background-color: bisque;"></div>
    <div class="col-4 h-8 bg-gray-400" style="background-color: bisque;"></div>
</div>


{% endblock %}