{% extends "base/base_for_other.html" %}
{% block og_url %}{% url 'products:store_list' %}{% endblock %}
{% block og_title %}상품목록{% endblock %}
{% block og_desc %}피키팜의 무난이들을 만나보세요{% endblock %}
{% block og_image %}{{products.first.main_image.url}}{% endblock %}
{% block title_name %}상품목록{% endblock %}

{% load static %}
{% load humanize %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/products/product_list_new.css' %}">
<link rel="stylesheet" href="{% static 'css/products/product_kind_tag.css' %}">
{% endblock stylesheet %}

{% block main_content %}
<div class="grid-container" id="product-list-page-wrap">
    <div class="space-b-lg space-b-m-md"></div>
    <div class="space-b-lg"></div>
    <select name="cat" id="sort-by" class="col-2 off-1 col-m-2 off-m-1 space-b-lg space-b-m-sm" onchange="if(this.value) location.href=this.value;">
        <option {% if cat == '' %}selected{% endif %} value="{% url 'products:store_list' %}">전체</option>
        <option {% if cat == 'fruit' %}selected{% endif %} value="{% url 'products:store_list' %}?kind={{kind}}&cat=fruit">과일</option>
        <option {% if cat == 'vege' %}selected{% endif %} value="{% url 'products:store_list' %}?kind={{kind}}&cat=vege">채소</option>
        <option {% if cat == 'etc' %}selected{% endif %} value="{% url 'products:store_list' %}?kind={{kind}}&cat=etc">기타</option>
    </select>
    <div id="kind-select-wrap" class="col-3 off-10 col-m-3 off-m-4 space-b-lg space-b-m-sm flex justify-end items-center justify-self-end">
        <a href="?kind=all&cat={{cat}}" class="{% if kind == 'all' or not kind %}selected{% endif %}">전체</a>
        <div class="divider"></div>
        <a href="?kind=ugly&cat={{cat}}" class="{% if kind == 'ugly' %}selected{% endif %}">무난이</a>
        <div class="divider"></div>
        <a href="?kind=normal&cat={{cat}}" class="{% if kind == 'normal' %}selected{% endif %}">일반</a>
    </div>
    {% for product in products %}
    <div class="col-4 col-m-3 bg-gray-400 item-wrap zoom-on-hover space-b-m-lg subgrid">
        <div class="product-image-wrap col-4 col-m-3 space-b-md relative">
            <a href="{% url 'products:product_detail' product.get_main_product.pk %}">
                <img src="{{product.main_image.url}}" img='{{product.title}}' class="col-4 col-m-3 product-img">
                <div class="soldout-overlay absolute flex items-center justify-center" {% if product.open %}hidden{% endif %}>곧 다시 만나요!</div>
            </a>
            <button type="button" class="cart-button col-1 col-m-1 shadow-button absolute zoom-on-hover" data-pk="{{product.pk}}">
                <img src="{% static 'images/cart.svg' %}" alt="장바구니 담기">
            </button>
        </div>
        <a href="{% url 'products:product_detail' product.get_main_product.pk %}" style="display: contents;">
            <h1 class="col-4 col-m-3 product-title space-b-xs space-b-m-xs">{{product.title}}</h1>
            <h2 class="col-4 col-m-3 product-price space-b-md space-b-m-xxs">{{product.get_main_product.sell_price | intcomma }} 원</h2>
            <h2 class="col-4 col-m-3 product-subtitle space-b-xs">{{product.sub_title}}</h2>
            <div class="col-4 col-m-3 product-kind-tag-wrap space-b-xl flex">
                {% if product.kinds == 'ugly' or product.kinds == 'mix' %}
                <div class="product-kind-tag ugly">무난이 작물</div>
                {% endif %}
                {% if product.kinds == 'normal' or product.kinds == 'mix' %}
                <div class="product-kind-tag normal">일반작물</div>
                {% endif %}
            </div>
        </a>
    </div>
    {% endfor %}

</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static 'js/products/products_list.js' %}"></script>
{% endblock %}