{% extends "base/base.html" %}

{% load static %}   
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/products/product_detail.css' %}">
{% endblock stylesheet %}
{% block main_content %}   

<div class="main-contents lg:mx-20 sm:mx-8 bg-white-400 text-center font-4xl">

    <div id="product_content" class="flex flex-row mx-auto z-0">
        <div id="left" class="w=2/5">
            <div>
                <img id="main_image" src="{{product.main_image.url}}">
            </div>
            <div id="images" class="w-full flex flex-rows">
                {% if product.product_images is not None %}
                    {% for image in product.product_images.all %}
                        <div>
                            <img id="images" src="{{image.image.url}}">
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div id="farm_news">
            </div>
        </div>
        <div id="right" class="w-3/5 px-10">
            <div id="top_section" class="flex flex-row">
                <div id="title_section" class="w-5/6">
                    <div id="title">
                        {{product.title}}
                    </div>
                    <div id="subtitle">
                        {{product.sub_title}}
                    </div>
                </div>
                <div id="share" class="w-1/6">
                    <div>
                        <img src="{% static 'images/product_detail/share.svg' %}">
                    </div>
                    <div id="url_copy">
                        URL 복사
                    </div>
                </div>
            </div>
            <div id="cost" class="py-8 mb-2">
                {{product.sell_price}}원
            </div>
    
            <div id="farmer_section" class="flex flex-row items-center">
                <div id="farmer_image">
                    <img src="{{farmer.user.profile_image.url}}" id="farmer_img" alt="농장주사진">
                </div>
                <div id="farm_name" class="ml-4 pt-1">
                    {{farmer.farm_name}}
                </div>
                <div id="farmer_name" class="ml-2">
                    {{farmer.user.nickname}}
                </div>
                <div id="visit" class="ml-4">
                    방문하기
                </div>
                <div id="sub" class="ml-2">
                    구독하기
                </div>
            </div>
            <div id="info_section" class="border-b">
                <div>배송비</div>
                <div>무료</div>
                <div>중량/용량</div>
                <div>{{proudct.weight}}g</div>
                <div>원산지</div>
                <div>국산</div>
                <div>안내사항</div>
                <div>{{product.instruction}}</div>
            </div>
            <div id="purchase_number_section" class="flex flex-row border-b">
                <div>구매수량</div>
                <div><input type="number"></div>
            </div>
            <div id="total_price" class="flex flex-rows">
                <div>총 상품 금액</div>
                <div>2000원</div>
            </div>
            <div id="buttons" class="flex flex-rows">
                <div id="like">찜하기</div>
                <div id="cart">장바구니 담기</div>
                <div id="purchase">바로 구매하기</div>
            </div>
        </div>
    </div>

    <div id="product_desc" class="flex flex-rows justify-start w-5/6 my-10 mx-auto w-3/5">
        <a href="#product_desc" class="w-1/6"><div id="sel" class="py-3 border-t border-r border-l">상품설명</div></a>
        <a href="#product_info" class="w-1/6"><div id="n_sel" class="py-3 border-b border-t border-r">상세정보</div></a>
        <a href="#product_review" class="w-1/6"><div id="n_sel" class="py-3 border-b border-t border-r">리뷰 ({{comments.count}})</div></a>
        <a href="#product_qna" class="w-1/6"><div id="n_sel" class="py-3 border-b border-t border-r">상품문의 ({{questions.count}})</div></a>
        <div class="w-2/6 border-b"></div>
    </div>

    <div id="product_info" class="flex flex-rows justify-start w-5/6 my-10 mx-auto w-3/5">
        <a href="#product_desc" class="w-1/6"><div id="n_sel" class="py-3 border-t border-r border-l border-b">상품설명</div></a>
        <a href="#product_info" class="w-1/6"><div id="sel" class="py-3 border-t border-r">상세정보</div></a>
        <a href="#product_review" class="w-1/6"><div id="n_sel" class="py-3 border-b border-t border-r">리뷰 ({{comments.count}})</div></a>
        <a href="#product_qna" class="w-1/6"><div id="n_sel" class="py-3 border-b border-t border-r">상품문의 ({{questions.count}})</div></a>
        <div class="w-2/6 border-b"></div>
    </div>

    <div id="product_review" class="flex flex-rows justify-start w-5/6 my-10 mx-auto w-3/5">
        <a href="#product_desc" class="w-1/6"><div id="n_sel" class="py-3 border-t border-r border-l border-b">상품설명</div></a>
        <a href="#product_info" class="w-1/6"><div id="n_sel" class="py-3 border-b border-t border-r">상세정보</div></a>
        <a href="#product_review" class="w-1/6"><div id="sel" class="py-3 border-t border-r">리뷰 ({{comments.count}})</div></a>
        <a href="#product_qna" class="w-1/6"><div id="n_sel" class="py-3 border-b border-t border-r">상품문의 ({{questions.count}})</div></a>
        <div class="w-2/6 border-b"></div>
    </div>

    <div id="product_qna" class="flex flex-rows justify-start w-5/6 my-10 mx-auto w-3/5">
        <a href="#product_desc" class="w-1/6"><div id="n_sel" class="py-3 border-t border-r border-l border-b">상품설명</div></a>
        <a href="#product_info" class="w-1/6"><div id="n_sel" class="py-3 border-b border-t border-r">상세정보</div></a>
        <a href="#product_review" class="w-1/6"><div id="n_sel" class="py-3 border-b border-t border-r">리뷰 ({{comments.count}})</div></a>
        <a href="#product_qna" class="w-1/6"><div id="sel" class="py-3 border-t border-r">상품문의 ({{questions.count}})</div></a>
        <div class="w-2/6 border-b"></div>
    </div>
</div>


{% endblock main_content %}