{% extends "base/base.html" %}

{% load static %}   
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/products/products_list.css' %}">
{% endblock stylesheet %}
{% block main_content %}   
        <div class="main-contents flex justify-center lg:mx-20 sm:mx-8 bg-white-400 text-center font-4xl">
             
                <div class="inline-block flex flex-col justify-between sticky pr-10 mt-10" id="big_category">
                    
                        <div id="cat_all"><a href="{% url 'products:store_list' %}">ALL</a></div>
                        <div><a href="{% url 'products:store_list_category' 'fruit' %}"><img src="{% static 'images/products_list/cat_fruit.svg' %}" alt="과일"></a></div>
                        <div><a href="{% url 'products:store_list_category' 'vege' %}"><img src="{% static 'images/products_list/cat_vege.svg' %}" alt="과일"></a></div>
                        <div id="cat_etc"><a href="{% url 'products:store_list_category' 'others' %}">ETC</a></div>
                    
                </div>
        
                <div id="content">
                    
                    <div class="flex flex-col w-full" id="content_box">
                        <div class="flex flex-auto" id = "top">
                            <div class="flex w-5/6" id="category">
                                <ul class="flex justify-start my-12">
                                    {%for category in categories %}
                                        <div class="mx-2">
                                            <a href="{% url 'products:store_list_category' category.slug %}">
                                                <li class="py-2 px-3.5" id="category_item">{{category.name}}</li></a>
                                        </div>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="flex justify-center w-1/6" id="sort">
                                <img src="{% static 'images/products_list/sort.svg' %}"  alt="sort_icon"> 정렬
                            </div>
                        </div>

                        <div class="block">
                        <ul class="mt-3" id="products"> 
                            {% for product in products %}
                            <a href="{% url 'products:product_detail' product.pk %}">
                            <li class="float-left" id="product_item">
                                <div class="relative">
                                    <img class="z-0" id="product_img" src="{{product.main_image.url}}" width="50"><br>
                                    <div id="like_cart_in" class="flex flex-row z-10">
                                        <img class="mr-1" id="like", src="{% static 'images/products_list/like.svg' %}">
                                        <img class="ml-1" id="cart_in", src="{% static 'images/products_list/cart_in.svg' %}">
                                    </div>
                                    <img class="absolute -top-10 -left-2 {%if product.stock > 3 %} invisible {% endif %}" id="like", src="{% static 'images/products_list/almost_sold_out.svg' %}">
                                </div>

                                <div class="mt-3">
                                    <p class="pl-5" id="title">{{product.title}}</p>
                                    <p class="pl-5" id="sell_price">{{product.sell_price}}원</p>
                                    <p class="pl-5" id="sub_title">{{product.sub_title}}</p>
                                </div>
                            </li>
                            </a>
                            {% endfor %}
                        </ul>
                        </div>

            
                        <div class="flex justify-center" id="paginator">
                            
                                {% if page != 1 %}
                                    <div><a href = '?page={{page|add:-1}}'><img id="prev", src="{% static 'images/products_list/prev.svg' %}"></a></div>
                                {% endif %}
                            
                            {% if page == 1 %}
                                <div id="pagenum">{{page}}</div>
                            {% else %}
                                {% for page in page_range %}
                                <div id="pagenum"> <a href="?page={{page}}">{{page}}</a></div>
                                {% endfor %}
                            {% endif %}
                            
                                {% if page != page_total %}
                                <div><a href = '?page={{page|add:1}}'><img id="next", src="{% static 'images/products_list/next.svg' %}"></a></div>
                                {% endif %}
                            
                        </div>
                    </div>
                </div>
                <div class="inline-block sticky top-20 pl-5" id="sub_menu">
                    <img id="go_up", src="{% static 'images/products_list/go_to_up.svg' %}">
                    <img id="go_to_cart", src="{% static 'images/products_list/go_to_cart.svg' %}">
                </div> 

        </div>
{% endblock %}    