{% extends "base/base.html" %}

{% load static %}   
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/products/product_detail.css' %}">
    
{% endblock stylesheet %}
{% block main_content %}   

<div class="main-contents lg:mx-20 sm:mx-8 bg-white-400 text-center font-4xl">

    <div id="product_content" class="flex flex-row mx-auto z-0">
        <div id="left" class="w=2/5">
            <div>
                <img id="main_image" src="{{product.main_image.url}}">
            </div>
            <div id="images" class="w-full flex flex-rows mt-3">
                {% if product.product_images is not None %}
                    {% for image in product.product_images.all %}
                        
                    <img id="images" class="mr-3" src="{{image.image.url}}">
                        
                    {% endfor %}
                {% endif %}
            </div>
            <div class="ml-7 mt-10 text-left" id="farm_news_letter">
                농가 소식
            </div>
            <div id="farm_news" class="relative mt-1 py-2 pl-8">
                <img class="absolute -top-6 -left-2" src="{% static 'images/product_detail/bell.svg' %}">
                    {{farmer.farm_news}}
            </div>
        </div>
        <div id="right" class="w-3/5 pr-10 pl-12">
            <div id="top_section" class="flex flex-row">
                <div id="title_section" class="w-5/6">
                    <div id="title">
                        {{product.title}}
                    </div>
                    <div id="subtitle">
                        {{product.sub_title}}
                    </div>
                </div>
                <div id="share" class="w-1/6">
                    <div>
                        <img src="{% static 'images/product_detail/share.svg' %}">
                    </div>
                    <div id="url_copy">
                        URL 복사
                    </div>
                </div>
            </div>
            <div id="cost" class="pt-8 pb-6 mb-2">
                {{product.sell_price}}원
            </div>
    
            <div id="farmer_section" class="flex flex-row items-center mt-3">
                <div id="farmer_image">
                    <img src="{{farmer.user.profile_image.url}}" id="farmer_img" alt="농장주사진">
                </div>
                <div id="farm_name" class="ml-4 pt-1">
                    {{farmer.farm_name}}
                </div>
                <div id="farmer_name" class="ml-2">
                    {{farmer.user.nickname}}
                </div>
                <div id="visit" class="ml-4">
                    방문하기
                </div>
                <div id="sub" class="ml-2">
                    구독하기
                </div>
            </div>
            <div id="info_section" class="border-b mt-12 pt-5 pb-5">
                <div class="flex flex-rows">
                    <div id="info_t" class="w-1/5 text-left mb-3">배송비</div>
                    <div id="info_c" class="w-4/5 text-left text-red-500">무료</div>
                </div>
                <div class="flex flex-rows mb-3">
                    <div id="info_t" class="w-1/5 text-left">중량/용량</div>
                    <div id="info_c" class="w-4/5 text-left">{{product.weight}}kg</div>
                </div>
                <div class="flex flex-rows mb-3">
                    <div id="info_t" class="w-1/5 text-left">원산지</div>
                    <div id="info_c" class="w-4/5 text-left">국산</div>
                </div>
                <div class="flex flex-rows mb-3">
                    <div id="info_t" class="w-1/5 text-left">안내사항</div>
                    <div id="info_c" class="w-4/5 text-left">{{product.instruction}}</div>
                </div>
            </div>
            <div id="purchase_number_section" class="flex flex-row items-center py-10 mb-5 border-b">
                <div id="quantity_letter" class="mr-12">구매수량</div>
                <div><input id="quantity_input" class="ml-12 pl-10" name="quantity" type="number" value=1></div>
            </div>
            <div class="flex flex-rows justify-end items-end mt-10 mb-7 pt-10">
                <div id="total_price_letter" class="mb-4 mr-10">총 상품 금액 :</div>
                <div id="total_price">2000</div>
                <div id="won" class="mb-2 ml-2">원</div>
            </div>
            <div id="buttons" class="flex flex-rows">
                <div id="like">찜하기</div>
                <div id="cart" class="mr-12 ml-3">장바구니 담기</div>
                <div id="purchase">바로 구매하기</div>
            </div>
        </div>
    </div>

    <div id="product_desc" class="flex flex-rows justify-start w-5/6 my-10 mx-auto w-3/5">
        <a href="#product_desc" class="w-1/6"><div id="sel" class="py-3 border-t border-r border-l">상품설명</div></a>
        <a href="#product_info" class="w-1/6"><div id="n_sel" class="py-3 border-b border-t border-r">상세정보</div></a>
        <a href="#product_review" class="w-1/6"><div id="n_sel" class="py-3 border-b border-t border-r">리뷰 ({{comments.count}})</div></a>
        <a href="#product_qna" class="w-1/6"><div id="n_sel" class="py-3 border-b border-t border-r">상품문의 ({{questions.count}})</div></a>
        <div class="w-2/6 border-b"></div>
    </div>

    <div id="desc_img_box">
        <img id="desc_img" class="mx-auto" src="{{product.desc_image.url}}" alt="상품설명">
    </div>

    <div id="product_info" class="flex flex-rows justify-start w-5/6 my-10 mx-auto w-3/5">
        <a href="#product_desc" class="w-1/6"><div id="n_sel" class="py-3 border-t border-r border-l border-b">상품설명</div></a>
        <a href="#product_info" class="w-1/6"><div id="sel" class="py-3 border-t border-r">상세정보</div></a>
        <a href="#product_review" class="w-1/6"><div id="n_sel" class="py-3 border-b border-t border-r">리뷰 ({{comments.count}})</div></a>
        <a href="#product_qna" class="w-1/6"><div id="n_sel" class="py-3 border-b border-t border-r">상품문의 ({{questions.count}})</div></a>
        <div class="w-2/6 border-b"></div>
    </div>

    <div id="info_detail" class="grid grid-cols-4 mx-auto">
        <div>포장단위별 용량(중량), 수량, 크기</div>
        <div>{{product.weight}}kg</div>
        <div>관련법상 표기사항</div>
        <div>해당 사항 없음</div>
        <div>농수산물 원산지 표시에 관한 법률에 따른 원산지</div>
        <div>국산</div>
        <div>상품구성</div>
        <div>{{product.category.name}}</div>
        <div>제조연월일, 유통기한 또는 품질유지기한</div>
        <div>제품 별도 표기</div>
        <div>소비자상담</div>
        <div>홈페이지 고객문의센터</div>
    </div>

    <div id="product_review" class="flex flex-rows justify-start w-5/6 my-10 mx-auto w-3/5">
        <a href="#product_desc" class="w-1/6"><div id="n_sel" class="py-3 border-t border-r border-l border-b">상품설명</div></a>
        <a href="#product_info" class="w-1/6"><div id="n_sel" class="py-3 border-b border-t border-r">상세정보</div></a>
        <a href="#product_review" class="w-1/6"><div id="sel" class="py-3 border-t border-r">리뷰 ({{comments.count}})</div></a>
        <a href="#product_qna" class="w-1/6"><div id="n_sel" class="py-3 border-b border-t border-r">상품문의 ({{questions.count}})</div></a>
        <div class="w-2/6 border-b"></div>
    </div>

    <div id="product_qna" class="flex flex-rows justify-start w-5/6 my-10 mx-auto w-3/5">
        <a href="#product_desc" class="w-1/6"><div id="n_sel" class="py-3 border-t border-r border-l border-b">상품설명</div></a>
        <a href="#product_info" class="w-1/6"><div id="n_sel" class="py-3 border-b border-t border-r">상세정보</div></a>
        <a href="#product_review" class="w-1/6"><div id="n_sel" class="py-3 border-b border-t border-r">리뷰 ({{comments.count}})</div></a>
        <a href="#product_qna" class="w-1/6"><div id="sel" class="py-3 border-t border-r">상품문의 ({{questions.count}})</div></a>
        <div class="w-2/6 border-b"></div>
    </div>

    <div id="question_content" class="mx-auto">
        <div class="flex flex-rows mb-3">
            <div id="q_title">Q & A</div>
            <div id="q_count" class="ml-5 pt-3">(총 {{questions.count}}건)</div>
        </div>
        <div class="flex flex-rows mb-2">
            <img src="{%static 'images/product_detail/index_leaf.svg' %}">
            <div id="q_desc" class="ml-3">구매하시려는 무난이에 대해 궁금한 점들을 문의해주세요</div>
        </div>
        <div class="flex flex-rows mb-10">
            <img src="{%static 'images/product_detail/index_leaf.svg' %}">
            <div id="q_desc" class="ml-3">개인적인 배송관련, 주문 관련 사항들은 1:1 고객상담센터로 문의해주세요</div>
        </div>
        <div id="q_table_top" class="flex flex-rows py-1">
            <div id="q_letter_gray" class="w-2/12">답변상태</div>
            <div id="q_letter_gray" class="w-6/12">제목</div>
            <div id="q_letter_gray" class="w-2/12">작성자</div>
            <div id="q_letter_gray" class="w-2/12">작성일</div>
        </div>
        {% if questions.exists is False %}
            <div class="text-center">아직 무난이에 대해 등록된 질문이 없습니다!</div>
        {% else %}
            {% for q in questions %}
                <a href='#'>
                <div id="q_table_bottom" class="flex flex-rows py-1">
                        {% if q.status is True %}
                            <div id="q_letter_answered" class="w-2/12">답변완료</div>
                        {% else %}
                            <div id="q_letter_gray" class="w-2/12">답변대기</div>
                        {% endif %}
                    <div id="q_letter_black" class="w-6/12">{{q.title}}</div>
                    <div id="q_letter_black" class="w-2/12">{{q.consumer.user.nickname}}</div>
                    <div id="q_letter_gray" class="w-2/12">{{q.create_at.date}}</div>
                </div>
                </a>
            {% endfor %}
        {% endif %}
        <div>
            <div id="q_write" class="flex flex-rows justify-end mt-10">
                <div>글쓰기</div>
                <img src="{% static 'images/product_detail/pen.svg' %}" class="mb-1">
            </div>
        </div>
    </div>
</div>


{% endblock main_content %}