{% extends "base/base_for_other.html" %}

{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/products/read_question.css' %}">
<link rel="stylesheet" href="{% static 'css/products/read_question_mobile.css' %}">
<script>

</script>
{% endblock stylesheet %}
{% block main_content %}


<div class="main-content mx-auto">
    <section id="question-content-section">
        <div id="question-content-header-wrap">
            <div id="question-content-header">문의 Q&A</div>
            <div id="question-content-sub-header">농가의 답변이 달리면 페이지 하단에서 확인하실 수 있습니다.</div>
        </div>
        <div id="question-content-detail">
            <div id="question-content-detail--header">제목</div>
            <div id="question-title">{{question.title}}</div>
            <div id="question-content-detail--header">작성자</div>
            <div id="question-consumer" class="font-thin">{{question.consumer.user.nickname}}</div>
            <div id="question-content-detail--header">내용</div>
            <div id="question-content">{{question.content}}</div>
        </div>
        <div id="question-content-image-wrap">
            {% if question.image %}
            <img id="question-content-image" src="{{question.image.url}}" alt="문의 첨부사진">
            {% endif %}
        </div>
    </section>
    {% if answer != 0 %}
    <section id="answer-content-section">
        <div id="answer-content-header">농가의 답변</div>
        <div id="answer-content">{{answer.content}}</div>
    </section>
    {% endif %}

    <section id="confirm-button-section">
        <div onclick="history.back()" class="transition_element" id="confirm-button">확인</div>
    </section>
</div>


<script type="text/javascript">

</script>
{% endblock main_content %}