{% load static %}
<div class="text-left" id="farmer_title">
    <div class="text-4xl mb-4">Farmer's Page</div>
    <div class="text-lg mb-16" id="title_text">파머의 무난이소식을 가장 먼저 받아보세요</div>
</div>
<div id="farm_img_mobile">
    <img class="default_img_1" id="farm_profile">
    <img class="default_img_2" id="farmer_profile">
</div>
<div class="flex flex-row items-center px-5 py-6 mb-16" id="farmer_info">
    <div class="default_img_1 mr-4" style="background-size: cover; background-position: center; background-image: url('{{ farmer.farmer_profile.url }}');"
    id="farmer_profile"></div>
    <div class="default_img_2 mr-4" style="background-size: cover; background-position: center; background-image: url('{{ farmer.farm_profile.url }}');"
    id="farm_profile"></div>

    <div class="" style="width: 418px;">
        <div class="flex flex-row mb-3" id="tag_wrap">
            {% for tag in tags %}
            <a href="#">
                <div class="mr-2" id="farm_tag">#{{ tag }}</div>
            </a>
            {% endfor %}
        </div>
        <div class="flex flex-row items-center mb-3" id="farm_wrap">
            <div class="font-medium text-3xl" id="sample_farm_name">{{ farmer.farm_name }}</div>
            <div class="font-light text-xl" id="sample_farmer_name">{{ farmer.user.nickname }}</div>
        </div>
        <div id="profile_title_wrap">
            <div class="font-light text-lg" id="sample_profile_title">"{{ farmer.profile_title }}"</div>
        </div>
    </div>
    <div id="sub_btn_wrap">
        <div class="text-lg text-center sub_wrap" id="sub_btn">구독하기</div>
    </div>
</div>
<div id="news_text_mobile">농가 News</div>
<div class="flex flex-row items-center p-2" id="farmer_news">
    <img src="{% static 'images/farmers_detail/news.svg' %}" alt="" class="mr-4" id="">
    <div class="text-2xl" id="news_text"> 농가 News </div>
    {% if farmer.farm_news %}
    <div class="font-light text-xl" id="sample_farm_news"> {{ farmer.farm_news }} </div>
    {% else %}
    <div class="font-light text-xl" id="sample_farm_news">등록된 뉴스가 아직 없습니다.</div>
    {% endif %}
</div>

<div class="flex flex-row mt-16 mb-24" id="farmer_nav">
    <div class="w-1/4">
        <div class="font-light text-2xl choice" id="nav_item"> 농가소개 </div>
    </div>
    <div class="w-1/4">
        <div class="font-light text-2xl" id="nav_item"> 판매 상품 </div>
    </div>
    <div class="w-1/4">
        <div class="font-light text-2xl" id="nav_item"> Farmer's Story </div>
    </div>
    <div class="w-1/4">
        <div class="font-light text-2xl" id="nav_item"> Editor's Page </div>
    </div>
</div>