{% load static %}
{% for detail in order_details %}
<div id="product" class="flex flex-row mb-5">
    <div class="w-2/12">
    <img id="product_img" src="{{detail.product.main_image.url}}">
    </div>
    <div id="product-contents" class="w-6/12">
    <div id="product_order_at2">{{detail.order_group.order_at | date}} 주문</div>
    <div class="flex flex-row">
        <div id="product_title">
        {% if detail.product.title|length > 16 %}
        {{detail.product.title|slice:"16"}}..
        {% else %}
        {{detail.product.title}}
        {% endif %}
        </div>
        <div id="slash">|</div>
        <div id="product_farm_name">{{detail.product.farmer.farm_name}}</div>

    </div>
    <div class="flex flex-row">
        <div id="product_price">{{detail.total_price}}원</div>
        <div id="product_quantity">{{detail.quantity}}개</div>
    </div>
    <div class="flex flex-row" id="delivery_status">

        {% if detail.status == 'preparing' %}
        <img id="delivery-status-icon" src="{% static 'images/users/preparing.svg' %}" alt="배송 준비 중 아이콘">
        <div>배송 준비 중</div>
        {% elif detail.status == 'shipping' %}
        <img id="delivery-status-icon" src="{% static 'images/users/delivering.svg' %}" alt="배송중 아이콘">
        <div>배송중</div>
        {% elif detail.status == 'delivery_complete' %}
        <img id="delivery-status-icon" src="{% static 'images/users/complete.svg' %}" alt="배송 완료 아이콘">
        <div>배송 완료</div>
        {% elif detail.status == 'cancel' %}
        <img id="delivery-status-icon" src="{% static 'images/users/cancel.svg' %}" alt="주문 취소 아이콘">
        <div>주문 취소</div>
        {% elif detail.status == 're_recept' %}
        <img id="delivery-status-icon" src="{% static 'images/users/cancel.svg' %}" alt="주문 취소 아이콘">
        <div>환불 접수</div>
        {% elif detail.status == 'ex_recept' %}
        <img id="delivery-status-icon" src="{% static 'images/users/cancel.svg' %}" alt="주문 취소 아이콘">
        <div>교환 접수</div>
        {% elif detail.status == 're_ex_approve' %}
        <img id="delivery-status-icon" src="{% static 'images/users/cancel.svg' %}" alt="주문 취소 아이콘">
        <div>환불/교환 승인</div>
        {% elif detail.status == 're_ex_deny' %}
        <img id="delivery-status-icon" src="{% static 'images/users/cancel.svg' %}" alt="주문 취소 아이콘">
        <div>환불/교환 거절</div>
        {% elif detail.status == 'wait' and detail.order_group.status == 'wait_vbank' %}
        <div>입금 대기</div>
        {% endif %}

    </div>
    <div class="flex flex-row"></div>
    </div>
    <div id="buttons-section" class="flex flex-col justify-center w-4/12 pl-6 pt-2">
    <div id="cart-button-section" class="flex justify-end items-center w-2/12">
        <div id="cartIn_btn" name="{{detail.product.pk}}" class="transition_element">장바구니 담기</div>
    </div>

    <div id="other-button-section" class="flex flex-col">

        <div id="see-product-btn" class="transition_element">
        <a href="{% url 'products:product_detail' detail.product.pk %}">
            무난이 보기
        </a>
        </div>

        {% if detail.status == 'delivery_complete' %}
          {% if detail.product.product_comments.exists == False %}
          <!-- <div id="reg-review-btn" class="transition_element" onclick=productCommentPopup({{detail.pk}})> -->
          <div id="reg-review-btn" class="transition_element" onclick="window.open('{% url 'user:product_comment_create' detail.pk %}')">
            <a>
              리뷰 쓰기
            </a>
          </div>
          {% else %}
          {% for review in detail.product_comments.all %} <!--수정 필요-->
            {% if review.product == detail.product %}
            <div id="reg-review-btn" class="transition_element" onclick="window.open('{% url 'user:product_comment_detail' review.pk %}')">
              <a>
                리뷰 보기
              </a>
            </div>
            {% endif %}
          {% endfor %}
          {% endif %}
        {% endif %}

        {% if detail.status == 'delivery_complete' %}
        <div id="reg-review-btn" class="transition_element" onclick="window.open('{% url 'orders:change_refund' detail.pk %}')">
        <a>
            환불/반품
        </a>
        </div>
        {% endif %}


        {% if detail.status == 'payment_complete' or detail.status == 'preparing' %}
        <div id="cancel-order-btn" class="transition_element">
        <a>
            주문 취소
        </a>
        </div>
        {% endif %}

        {% if detail.status == 'wait' and detail.order_group.status == 'wait_vbank' %}
        <div id="vbank_confirm_btn" class="transition_element" onclick="window.open('{% url 'user:vbank_account_confirm' detail.order_group.pk %}')">
        <a>가상계좌 확인</a>
        </div>
        {% endif %}
        
    </div>
    </div>
</div>
{% endfor %}
<!-- pagination section -->
<div class="flex justify-between w-36 mx-auto mt-8">
    <img src="{% static 'images/pagination/first_page.svg' %}" name='paginator' id='1' style="cursor: pointer">
    {% if order_details.has_previous %}
    <img src="{% static 'images/pagination/prev.svg' %}" name='paginator' id='{{order_details.previous_page_number}}' style="cursor: pointer">
    {% else %}
    <img src="{% static 'images/pagination/prev.svg' %}" name='paginator' id='1' style="cursor: pointer">
    {% endif %}

    <div>{{order_details.number}}</div>
    <div>/</div>
    <div>{{order_details.paginator.num_pages}}</div>

    {% if order_details.has_next %}
    <img src="{% static 'images/pagination/next.svg' %}" name='paginator' id='{{order_details.next_page_number}}' style="cursor: pointer">
    {% else %}
    <img src="{% static 'images/pagination/next.svg' %}" name='paginator' id='{{order_details.paginator.num_pages}}' style="cursor: pointer"> 
    {% endif %}
    <img src="{% static 'images/pagination/last_page.svg' %}" name='paginator' id='{{order_details.paginator.num_pages}}' style="cursor: pointer">
</div>

<script>
    PAGINATION_URL = 'orders-ajax/?page='
    PAGINATION_SECTION = '#products-section'
</script>
<script src="{% static 'js/pagination/pagination.js' %}"></script>
