#menu-articles{
    background-color: #5c6754;
    color: #ffffff;
}

#content-wrap{
width: 755px !important;
}

#section-title{
font-family: NotoSansKR;
font-size: 23px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: 0.52;
letter-spacing: normal;
color: #5c6754;
}

#select-all-section{
margin-top: 42px;
}

#review-list-section{
    margin-top: 34px;
}

.review-section{
    margin-top: 40px;
}

.review-section:first-child{
    margin-top: 0px;
}

.article{
width: 652px;
height: 148px;
padding: 23px 29px 23px 20px;
box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);
background-color: rgba(255, 255, 255, 0.8);
margin-left: 34px;
}

.info{
width: 480px;
height: 103px;
}

.article-img {
width: 103px !important;
height: 103px !important;
background-color: #5c6754;
}

.editor-list {
width: 145px;
padding: 38px 21px 34px 23px;
border-radius: 73px;
background-color: #ffffff;
}

.editor-img {
width: 25px;
height: 25px;
background-color: #d8d8d8;
}

.editor-name {
font-size: 12px;
}

.article-count, .view-count{
font-size: 4px !important;
font-weight: 100;
}

.title{
font-size: 20px;
font-weight: 300;
font-stretch: normal;
font-style: normal;
line-height: 1.2;
letter-spacing: normal;
text-align: left;
color: #000000;
}

.article-info div{
font-size: 10px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 2.4;
letter-spacing: normal;
text-align: left;
color: #808080;
}

.preview{
width: 359px;
font-family: NotoSansKR;
font-size: 10px;
font-weight: 100;
font-stretch: normal;
font-style: normal;
line-height: 2;
letter-spacing: normal;
text-align: left;
color: #000000;
}

.edit-review{
    margin-left: 24px;
}

.edit-review-button{
    font-size: 12px;
    color: #5c6754;
}

#select-delete{
    width: 115px;
    height: 30px;
    border-radius: 15px;
    border: solid 1px #b3b3b3;
    background-color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #5c6754;
    margin-left: 54px;
    margin-top: 56px;
    line-height: 30px;
}

#post-review{
    width: 153.7px;
    height: 40px;
    border-radius: 20px;
    border: solid 1px #5e6656;
    background-color: #5c6754;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-top: 75px;
}

button:focus{
    outline: none;
}