/* 모바일에서만 보임 */
#required-input-text,
#mobile-dot,
#mobile-search-btn {
    display: none;
}
#gender-label,
#birth-label {
    text-align: left;
    grid-column: 1;
}
#username-form,
#email-form,
#phone-form,
#address-form,
#nickname-form {
    display: grid;
    grid-template-columns: 300px auto;
}
.validation-input-form {
    text-align: left;
}
.valid-button {
    grid-column: 2;
    cursor: pointer;
}

input:focus {
    outline: none;
}

#signup_form {
    width: 740px;
    height: auto;
}

#signup-title {
    font-family: NotoSansKR;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #5c6754;
    margin-bottom: 60px;
}

.horizon-bar {
    border-top: solid 1px #5e6656;
}

.input_forms {
    grid-template-columns: 200px auto;
    justify-content: flex-start;
    row-gap: 40px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.form_term_agree {
    grid-template-columns: 200px auto;
    row-gap: 20px;
}

.input_forms input {
    border-radius: 20px;
    border: solid 1px #b3b3b3;
    width: 300px;
    height: 35px;
    padding-left: 15px;
    font-size: 12px;
    color: #808080;
    font-weight: normal;
}

.input_forms input:not(#id_auth_number),
.form-validation-message,
.form_term_agree label,
.form_term_agree div {
    grid-column: 2;
}

.agree-wrapper,
.argee-wrapper,
.term-description {
    margin-right: auto;
}

.agree-term-wrapper {
    gap: 5px;
}

.term-description {
    margin-left: 35px;
    font-size: 12px;
    color: #b3b3b3;
}

.form-validation-message {
    font-size: 12px;
    text-align: start;
    margin-top: 5px;
    padding-left: 3px;
    color: #5c6754;
}

.invalid-form {
    color: red;
}

.input_forms input::placeholder {
    position: relative;
    right: 7.5px;
    font-size: 15px;
    text-align: center;
    font-weight: normal;
}

.input_forms label,
#term-agree {
    grid-column: 1;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #4d4d4d;
    text-align: start;
    margin-top: 7.5px;
    padding-left: 20px;
}

.birth-selection ul,
.gender-selection ul {
    display: flex;
}

.gender-selection label {
    margin-left: 0;
}

.gender-selection li:nth-child(1) {
    margin-right: 75px !important;
}

#id_auth_number,
#auth-number-check {
    display: none;
}

.valid-button:not(#phone-number-check) {
    width: 65px;
    height: 25px;
    border-radius: 20px;
    background-color: #5e6656;
    color: white;
    line-height: 25px;
    margin-left: 40px;
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px;
}

#phone-number-check {
    width: 89px;
    height: 25px;
    line-height: 22px;
    background-color: white;
    border: solid 1px rgba(94, 102, 86, 0.5);
    color: #5e6656;
    margin-left: 40px;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    border-radius: 25px;
    margin-top: 5px;
}

#id_detail_address {
    margin-top: 20px;
}

#id_gender_0,
#id_gender_1 {
    display: none;
}

.gender-selection label {
    font-size: 15px;
    color: #808080;
    font-weight: normal;
}

.birth-selection select {
    width: 88px;
    height: 35px;
    border-radius: 20px;
    border: solid 1px #b3b3b3;
    text-align-last: center;
    font-size: 15px;
    color: #808080;
    font-weight: 300;
}

.submit {
    width: 140px;
    height: 40px;
    border-radius: 50px;
    background-color: #5c6754;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 54px;
    margin-bottom: 42px;
}

.line {
    width: 740px;
    border: solid 1px #5e6656;
}

.form_term_agree input {
    display: none;
}

.form_term_agree label {
    margin-right: auto;
    color: #707070;
    font-size: 15px;
}

#all-agree::before {
    margin-right: 12px;
    top: 2px;
}

label.mand::after,
label.opt::after {
    margin-left: 12px;
    font-size: 15px;
    color: #b3b3b3;
    font-weight: 300;
}

label.mand::after {
    content: '(필수)';
}

label.opt::after {
    content: '(선택)';
}

.form_term_agree a {
    margin-right: 126.5px;
    font-size: 15px;
    font-weight: 500;
    color: #5c6754;
}
