{% extends 'base/base.html' %}
{% load static %}
{% block stylesheet %}
{%endblock stylesheet %}
{% block title_name %} 피키팜 | 문의 답변 {% endblock title_name %}

{% block main_content %}
<div class="main-content w-content mx-auto">
    <section id="farmer-info-section">
        <div id="farm-name-section" class="flex items-center">
            Farm
            <h1 id="farm-name">{{farmer.farm_name}}</h1>
        </div>
    </section>
    제목 : {{question.title}}  <br>
    작성자 : {{question.consumer}} <br>
    내용 : {{question.content}}
    
    {% if question.image %}
    <img src="{{question.image.url}}" alt="문의 첨부사진">
    {% endif %}
    
    <form action="" method="POST">
        {% csrf_token %}
        {{answer_form}}
        <button type="submit">
            <img src="" alt="">
            <div>등록하기</div>
        </button>
    </form>
</div>
{% endblock %}