{% extends 'base/base.html' %} {% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/farmers/mypage/farmer_mypage_base.css' %}">
{% block stylesheet_farmer_mypage %}
{% endblock stylesheet_farmer_mypage %}
{%endblock stylesheet %}

{% block title_name %}
피키팜 | Farmer 관리
{% endblock title_name %}

{% block main_content %}
<div class="main-content w-content">
    <div id="farmer-mypage-info-section">
        <div id="farmer-name-section" class="flex items-center">
            Farm
            <div id="farmer-name">{farmer.farm_name}</div>
        </div>
    </div>
</div>
{% endblock main_content %}