{% extends 'farmers/mypage/farmer_mypage_base.html' %}
{% load static %}

{% block stylesheet_farmer_mypage %}
<link rel="stylesheet" href="{% static 'css/farmers/mypage/farmer_mypage_notification.css' %}" />
{% endblock stylesheet_farmer_mypage %}

{% block content %}
<div class="mx-auto" id="content">
    <div id="content-title" class="flex flex-row">
        <div id="title-notification" class="mr-3">
            <span>알림</span>
        </div>
        <div id="title-notification-img" class="flex items-center mr-7">
            <img src="{% static 'images/farmer_mypage/notification.svg' %}" alt="">
        </div>
        <div id="title-notification-count-unit" class="flex items-center">
            <span>새 알림 {{ new_notifications }}개</span>
        </div>
    </div>
    <div>
        <table id="notification-table" class="w-full">
            <tr id="notification-table-title">
                <th>알림 종류</th>
                <th>제목</th>
                <th>알림 날짜</th>
                <th></th>
            </tr>
            {% for notification in notifications %}
            <tr class="transition_element" id="notification-table-rows" onclick="location.href='{% url 'core:main' %}'">
                <td id="table-row-type">{{ notification.get_notitype_display }}</td>
                <td id="table-row-title">{{ notification.message }}</td>
                <td id="table-row-date">{{ notification.create_at|date:"Y-m-d" }}</td>
                {% if notification.is_read == False %}
                <td id="table-row-new">N</td>
                {% else %}
                <td id="table-row-new"> </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<script>
    document.querySelector('#button-notifications').classList.add('active')
</script>
{% endblock %}