{% extends 'farmers/mypage/farmer_mypage_base.html' %}
{% load static %}

{% block stylesheet_farmer_mypage %}
<link rel="stylesheet" href="{% static 'css/farmers/mypage/farmer_mypage_order_mobile.css' %}" />
<link rel="stylesheet" href="{% static 'css/farmers/mypage/notify/farmer_mypage_notification.css' %}" />
<link rel="stylesheet" href="{% static 'css/farmers/mypage/notify/farmer_mypage_notification_mobile.css' %}" />
{% endblock stylesheet_farmer_mypage %}

{% block content %}
<div class="mx-auto" id="w-content">
    <div id="content-title" class="flex flex-row">
        <div id="title-notification" class="mr-3">
            <span>알림</span>
        </div>
        <div id="title-notification-img" class="flex items-center mr-7">
            <img src="{% static 'images/farmer_mypage/notification.svg' %}" alt="">
        </div>
        <div id="title-notification-count-unit" class="flex items-center">
            <span>새 알림 {{ new_notifications }}개</span>
        </div>
    </div>
    <div id="noti-list">
        <div id="notification-table" class="w-full">
            <div class="flex flex-row text-center" id="notification-table-title">
                <div class="w-2/12">알림 종류</div>
                <div class="w-6/12">제목</div>
                <div class="w-3/12">알림 날짜</div>
                <div class="w-1/12"></div>
            </div>
            <div class="flex flex-row text-center" id="mobile-notification-table-title">
                <div class="w-8/12">제목</div>
                <div class="w-3/12">알림 날짜</div>
                <div class="w-1/12"></div>
            </div>
            <div class="" id="notifications">
                {% for notification in notifications %}
                <div class="collapsible">
                    <div class="flex flex-row" id="notification-table-rows">
                        <div class="w-2/12" id="table-row-type">{{ notification.get_notitype_display }}</div>
                        <div class="w-6/12" id="table-row-title">{{ notification.message }}</div>
                        <div class="w-3/12" id="table-row-date">{{ notification.create_at|date:"Y-m-d" }}</div>
                        {% if notification.is_read == False %}
                        <div class="1/12" id="table-row-new">N</div>
                        {% else %}
                        <div id="table-row-new"> </div>
                        {% endif %}
                    </div>
                    <div class="text-center" id="noti-content">
                        content accordion test
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="" id="mobile-notifications">
                {% for notification in notifications %}
                <div class="collapsible">
                    <div class="flex flex-row" id="notification-table-rows">
                        <div class="w-8/12" id="table-row-title">
                            {% if notification.message|length > 20 %}
                            {{ notification.message|slice:":20" }}...
                            {% else %}
                            {{ notification.message }}
                            {% endif %}
                        </div>
                        <div class="w-3/12" id="table-row-date">{{ notification.create_at|date:"Y-m-d" }}</div>
                        {% if notification.is_read == False %}
                        <div class="1/12" id="table-row-new">N</div>
                        {% else %}
                        <div id="table-row-new"> </div>
                        {% endif %}
                    </div>
                    <div class="text-center" id="noti-content">
                        content accordion test
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- pagination section -->
        <div id="paginator-wrapper">
            <div class="flex justify-between w-36 mx-auto mt-8">
                <img src="{% static 'images/pagination/first_page.svg' %}" name='paginator' id='1' style="cursor: pointer">
                {% if notifications.has_previous %}
                <img src="{% static 'images/pagination/prev.svg' %}" name='paginator' id='{{notifications.previous_page_number}}' style="cursor: pointer">
                {% else %}
                <img src="{% static 'images/pagination/prev.svg' %}" name='paginator' id='1' style="cursor: pointer">
                {% endif %}

                <div>{{notifications.number}}</div>
                <div>/</div>
                <div>{{notifications.paginator.num_pages}}</div>

                {% if notifications.has_next %}
                <img src="{% static 'images/pagination/next.svg' %}" name='paginator' id='{{notifications.next_page_number}}' style="cursor: pointer">
                {% else %}
                <img src="{% static 'images/pagination/next.svg' %}" name='paginator' id='{{notifications.paginator.num_pages}}' style="cursor: pointer">
                {% endif %}
                <img src="{% static 'images/pagination/last_page.svg' %}" name='paginator' id='{{notifications.paginator.num_pages}}' style="cursor: pointer">
            </div>
        </div>
    </div>
</div>
<script>
    document.querySelector('#button-notifications').classList.add('active');
    if (window.matchMedia("(max-width: 768px)").matches) {
        document.querySelector('#button-product-manage').classList.add('active');

        document.querySelector('#selected_line').style.gridArea = "line5"
    }

    // accordion menu script
    $(document).ready(function () {
        // 클릭 이벤트 처리
        $(".collapsible #notification-table-rows").click(function () {
            $(this).siblings().removeClass('hide')
            $(this).toggleClass("selected");
            //클릭된 나 자신을 제외한 나머지 => slected 클래스를 무조건 제거
            $(".collapsible #notification-table-rows").not(this).removeClass("selected");

            // 펼칠 내용 영역 선택
            var target = $(this).parents(".collapsible").find("#noti-content");

            // 나머지 내용 영역을 선택
            var other = $(".collapsible #notification-table-rows").not(this)
                .parents(".collapsible").find("#noti-content");

            // 열고 닫기 처리
            target.slideToggle(300);
            other.slideUp(300);
        });
    });
</script>
<script>
    PAGINATION_URL = 'notification_ajax/?page='
    PAGINATION_SECTION = '#noti-list'
</script>
<script defer src="{% static 'js/pagination/pagination.js' %}"></script>

{% endblock %}