{% load static %}
<div id="review-table-wrapper">
    <table id="review-table" class="w-full">
        <tr id="review-table-title">
            <th>상품명</th>
            <th>구매자 평점</th>
            <th>제목</th>
            <th>알림 날짜</th>
            <th>신고하기</th>
            <th>답변</th>
        </tr>

        {% for review in reviews %}
        <tr class="transition_element text-center" id="review-table-rows"
            onclick="location.href='{% url 'core:main' %}'">
            <td id="table-row-product">{{ review.product }}</td>
            <td id="table-row-score">
                <div class="flex flex-row justify-center">
                {% for i in ''|center:review.avg %}
                    <img src="{% static 'images/farmer_mypage/yellow-star.svg' %}" alt="">
                {% endfor %}
                </div>
            </td>
            <td id="table-row-title">{{ review.text }}</td>
            <td id="table-row-date">{{ review.create_at|date:"Y-m-d" }}</td>
            <td>신고하기</td>
            {% if review.status == False %}
            <td>답변하기 -></td>
            {% else %}
            <td>답변수정 -></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>
<div class="flex justify-between w-36 mx-auto mt-8">
    {% if reviews.has_previous %}
        <img src="{% static 'images/pagination/first_page.svg' %}" name='paginator2' id='1' style="cursor: pointer">
        <img src="{% static 'images/pagination/prev.svg' %}" name='paginator2' id='{{reviews.previous_page_number}}' style="cursor: pointer">
    {% else %}
        <img src="{% static 'images/pagination/first_page.svg' %}" name='paginator2' id='1' style="cursor: pointer">
        <img src="{% static 'images/pagination/prev.svg' %}" name='paginator2' id='1' style="cursor: pointer">
    {% endif %}

        <div>{{reviews.number}}</div>
        <div>/</div>
        <div>{{reviews.paginator.num_pages}}</div>

    {% if reviews.has_next %}
        <img src="{% static 'images/pagination/next.svg' %}" name='paginator2' id='{{reviews.next_page_number}}' style="cursor: pointer">
        <img src="{% static 'images/pagination/last_page.svg' %}" name='paginator2' id='{{reviews.paginator.num_pages}}' style="cursor: pointer">
    {% else %}
        <img src="{% static 'images/pagination/next.svg' %}" name='paginator2' id='{{reviews.paginator.num_pages}}' style="cursor: pointer"> 
        <img src="{% static 'images/pagination/last_page.svg' %}" name='paginator2' id='{{reviews.paginator.num_pages}}' style="cursor: pointer">
    {% endif %}
</div>

<script>
    PAGINATION_URL = 'qna_ajax/?page='
    PAGINATION_SECTION = '#qna-list'

    PAGINATION_URL2 = 'review_ajax/?page2='
    PAGINATION_SECTION2 = '#review-list'
</script>
<script src="{% static 'js/pagination/pagination.js' %}"></script>
