{% extends 'base/base.html' %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/farmers/mypage/farmer_mypage_base.css' %}" />
{% block stylesheet_farmer_mypage %} {% endblock stylesheet_farmer_mypage %}
{%endblock stylesheet %}
{% block title_name %} 피키팜 | Farmer 관리 {% endblock title_name %}
{% block main_content %}
<div class="main-content w-content mx-auto">
    <section id="farmer-mypage-info-section">
        <div id="farm-name-section" class="flex items-center">
            Farm
            <h1 id="farm-name">{{farmer.farm_name}}</h1>
        </div>
        <div id="farmer-store-info-section" class="flex">
            <div id="farmer-links">
                <div id="farmer-nickname-section" class="">
                    <span id="farmer-nickname">{{farmer.user.nickname}}</span>님
                </div>
                <div id="farmer-links-section">
                    <div id="farm-news-update" class="flex items-center">
                        <img src="{% static '/images/farmers_detail/news.svg' %}" id="farm-news-icon" alt="news">
                        <div id="" class="flex flex-col flex-1">
                            <div id="farm-news-update-header" class="inline-flex items-center">
                                농가 News
                                <div id="farm-news-update-button" class="button">수정</div>
                            </div>
                            <div id="farm-news-content">
                                {% if farmer.farm_news %}
                                {{farmer.farm_news}}
                                {% else %}
                                설정된 농가 뉴스가 없습니다
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div id="farmer-info-update-links">
                        <a href="{% url 'farmers:farmer_mypage_info_update' %}" id="farmer-info-update" class="farmer-link flex justify-between">
                            내 농가 페이지 수정하기
                            <img src="{% static '/images/farmer_mypage/arrow.svg' %}" alt="" class="link-arrow" />
                        </a>
                        <a href="{% url 'farmers:farmer_story_create' %}" id="farmer-info-update" class="farmer-link flex justify-between">
                            농가일기 쓰러 가기
                            <img src="{% static '/images/farmer_mypage/arrow.svg' %}" alt="" class="link-arrow" />
                        </a>
                        <div class="inline-flex items-center" id="deliver-message-update">
                            <div class="tooltip-box">?</div>
                            <a href=# class="farmer-link flex justify-between">
                                배송 감사 메세지 수정하기
                                <img src="{% static '/images/farmer_mypage/arrow.svg' %}" alt="" class="link-arrow" />
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <div id="farmer-order-info-section" class="info-section-box">
                <div class="info-box-title-wrapper">
                    <span class="info-section-title">판매 및 배송 현황</span>
                </div>
                <div class="info-section-sheet grid">
                    <div class="info-detail flex justify-between items-center" id="new-orders">
                        <span class="info-detail-title">신규주문</span>
                        <span class="info-detail-count flex justify-between items-center">
                            0
                            <span class="info-detail-count-unit">건</span>
                        </span>
                    </div>
                    <div class="info-detail flex justify-between items-center">
                        <span class="info-detail-title">배송 준비중</span>
                        <span class="info-detail-count flex justify-between items-center">
                            0
                            <span class="info-detail-count-unit">건</span>
                        </span>
                    </div>
                    <div class="info-detail flex justify-between items-center">
                        <span class="info-detail-title">배송중</span>
                        <span class="info-detail-count flex justify-between items-center">
                            0
                            <span class="info-detail-count-unit">건</span>
                        </span>
                    </div>
                    <div class="info-detail flex justify-between items-center" id="wait-for-purchase">
                        <span class="info-detail-title">결제대기</span>
                        <span class="info-detail-count flex justify-between items-center">
                            0
                            <span class="info-detail-count-unit">건</span>
                        </span>
                    </div>
                    <div class="info-detail flex justify-between items-center">
                        <span class="info-detail-title">배송완료</span>
                        <span class="info-detail-count flex justify-between items-center">
                            0
                            <span class="info-detail-count-unit">건</span>
                        </span>
                    </div>
                </div>
            </div>
            <div id="farmer-purchase-info-section" class="info-section-box">
                <div class="info-box-title-wrapper">
                    <span class="info-section-title">클레임 / 정산</span>
                </div>
                <div class="info-section-sheet grid">
                    <div class="info-detail flex justify-between items-center" id="canceled-orders">
                        <span class="info-detail-title">주문 취소</span>
                        <span class="info-detail-count flex justify-between items-center">
                            0
                            <span class="info-detail-count-unit">건</span>
                        </span>
                    </div>
                    <div class="info-detail flex justify-between items-center" id="requested-refunds">
                        <span class="info-detail-title">반품 요청</span>
                        <span class="info-detail-count flex justify-between items-center">
                            0
                            <span class="info-detail-count-unit">건</span>
                        </span>
                    </div>
                    <div class="info-detail flex justify-between items-center">
                        <span class="info-detail-title">구매 확정</span>
                        <span class="info-detail-count flex justify-between items-center">
                            0
                            <span class="info-detail-count-unit">건</span>
                        </span>
                    </div>
                    <div class="info-detail flex justify-between items-center">
                        <span class="info-detail-title">오늘 정산</span>
                        <span class="info-detail-count flex justify-between items-center">
                            0
                            <span class="info-detail-count-unit">건</span>
                        </span>
                    </div>
                    <div class="info-detail flex justify-between items-center" id="info-details-last-child">
                        <span class="info-detail-title">이번 주 누적정산</span>
                        <span class="info-detail-count flex justify-between items-center">
                            0
                            <span class="info-detail-count-unit">건</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <nav class="flex justify-between">
            <a href="{% url 'farmers:farmer_mypage_order' %}">
                <div class="farmer-mypage-link-button text-center" id="button-order-manage">주문관리</div>
            </a>
            <a href="{% url 'farmers:farmer_mypage_product' %}">
                <div class="farmer-mypage-link-button text-center" id="button-product-manage">상품관리</div>
            </a>
            <a href="{% url 'farmers:farmer_mypage_payment' %}">
                <div class="farmer-mypage-link-button text-center" id="button-payment-manage">정산관리</div>
            </a>
            <a href="{% url 'farmers:farmer_mypage_review_qna' %}">
                <div class="farmer-mypage-link-button text-center" id="button-review-qna-manage">문의/리뷰 관리</div>
            </a>
            <a href="{% url 'farmers:farmer_mypage_notification' %}">
                <div class="farmer-mypage-link-button text-center" id="button-notifications">알림</div>
            </a>
            <a href="#">
                <div class="farmer-mypage-link-button text-center" id="button-notices">공지사항</div>
            </a>
            <div id="line">
                <div id="selected_line"></div>
                <div id="background_line"></div>
            </div>
        </nav>
    </section>
    {% block content %} {% endblock content %}
</div>
<script>
    prohibitAccessFromMobile(['#button-product-manage', '#button-payment-manage'])
    const csrfToken = "{{csrf_token}}";
    const farmNewsUpdateURL = "{% url 'farmers:farm_news_update' %}"
</script>
<script src="{% static 'js/farmers/mypage/farmer_mypage_base.js' %}"></script>
{% endblock main_content %}