@media screen and (max-width: 768px) {
    #main-slider {
        height: fit-content;
    }

    #header-mobile {
        height: 6rem;
        padding: 2rem 2.5rem;
        padding-left: 4.2rem;
        background-color: white;
        z-index: 10;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08);
    }

    #mobile-header-searchbar-wrapper {
        flex: 1;
        height: 2rem;
        padding-right: 1rem;
        border-radius: 1.3rem;
        border: solid 1px rgb(196, 196, 196);
    }

    #mobile-header-searchbar-icon {
        width: 1.2rem;
        height: 1.2rem;
        margin-left: 1.3rem;
    }

    #mobile-header-searchbar {
        flex: 1;
        font-size: 1.1rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        color: rgb(112, 112, 112);
        padding-left: 0.5rem;
    }

    #mobile-header-searchbar:focus {
        outline: none;
    }

    #mainlogo-mobile {
        width: 2rem;
        height: 2rem;
        transform: scale(2.3) translateX(-3px);
    }

    .mobile-header-icons {
        width: 2rem;
        margin-left: 2rem;
    }
}
