@media screen and (max-width: 768px) {
    #navbar-mobile {
        width: 100vw;
        height: 11rem;
        padding: 0 2.5rem;
        padding-bottom: 4.4rem;
        background-color: var(--light-grey);
        z-index: 10;
    }

    .navbar-item {
        align-items: center;
    }

    .navbar-icon {
        width: 3rem;
    }

    .navbar-text {
        margin-top: 0.6rem;
        font-size: 1.1rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.55;
        letter-spacing: normal;
        text-align: left;
        color: var(--dark-green);
    }
}
