{% load static %}
<div id="review-table-wrapper">
    <table id="review-table" class="w-full">
        <tr id="review-table-title">
            <th>상품명</th>
            <th>구매자 평점</th>
            <th>내용</th>
            <th>게시일자</th>
            <th>
                <img class="mx-auto" src="{% static 'images/farmer_mypage/report.svg' %}" alt="신고하기">
            </th>
            <th>리뷰 답변</th>
        </tr>
        {% for review in reviews %}
        {% if review.status == False %}
        <tr class="transition_element text-center bg-dark" id="review-table-rows">
            {% else %}
        <tr class="transition_element text-center" id="review-table-rows">
            {% endif %}
            <!-- 상품명 -->
            {% if review.product.title|length > 12 %}
            <td class="px-3" id="review-table-row-product">{{ review.product.title|slice:":12" }}...</td>
            {% else %}
            <td class="px-3" id="review-table-row-product">{{ review.product.title }}</td>
            {% endif %}
            <!-- 구매자 평점 -->
            <td class="px-3" id="review-table-row-score">
                <div class="flex flex-row justify-between">
                    {% for i in total_range %}
                    {% if i < review.avg %}
                    <img src="{% static 'images/farmer_mypage/yellow-star.svg' %}" alt="">
                    {% else %}
                    <img src="{% static 'images/farmer_mypage/gray-star.svg' %}" alt="">
                    {% endif %}
                    {% endfor %}
                </div>
            </td>
            <!-- 내용 -->
            {% if review.text|length > 25 %}
            <td class="px-3" id="review-table-row-title">{{ review.text|slice:":25" }}...</td>
            {% else %}
            <td class="px-3" id="review-table-row-title">{{ review.text }}</td>
            {% endif %}
            <!-- 게시일자 -->
            <td class="px-3" id="review-table-row-date">{{ review.create_at|date:"Y-m-d" }}</td>
            <!-- 신고하기 -->
            <td class="px-3" id="review-table-row-report">신고하기</td>
            <!-- 답변 -->
            <td id="review-table-row-answer" onclick="window.open('{% url "farmer:farmer_mypage_review_answer" review.pk %}', '', 'height=600, width=400');">
                <div class="flex flex-row justify-center items-center">
                    <span class="mr-1">
                        {% if review.status == False %}
                        작성하기
                        {% else %}
                        리뷰 보기
                        {% endif %}
                    </span>
                    <img src="{% static 'images/farmer_mypage/answer-create.svg' %}" alt="">
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="flex justify-between w-36 mx-auto mt-8">
    {% if reviews.has_previous %}
    <img src="{% static 'images/pagination/first_page.svg' %}" name='paginator2' id='1' style="cursor: pointer">
    <img src="{% static 'images/pagination/prev.svg' %}" name='paginator2' id='{{reviews.previous_page_number}}' style="cursor: pointer">
    {% else %}
    <img src="{% static 'images/pagination/first_page.svg' %}" name='paginator2' id='1' style="cursor: pointer">
    <img src="{% static 'images/pagination/prev.svg' %}" name='paginator2' id='1' style="cursor: pointer">
    {% endif %}

    <div>{{reviews.number}}</div>
    <div>/</div>
    <div>{{reviews.paginator.num_pages}}</div>

    {% if reviews.has_next %}
    <img src="{% static 'images/pagination/next.svg' %}" name='paginator2' id='{{reviews.next_page_number}}' style="cursor: pointer">
    <img src="{% static 'images/pagination/last_page.svg' %}" name='paginator2' id='{{reviews.paginator.num_pages}}' style="cursor: pointer">
    {% else %}
    <img src="{% static 'images/pagination/next.svg' %}" name='paginator2' id='{{reviews.paginator.num_pages}}' style="cursor: pointer">
    <img src="{% static 'images/pagination/last_page.svg' %}" name='paginator2' id='{{reviews.paginator.num_pages}}' style="cursor: pointer">
    {% endif %}
</div>

<script>
    PAGINATION_URL = 'qna-ajax/?page='
    PAGINATION_SECTION = '#qna-list'

    PAGINATION_URL2 = 'review-ajax/?page2='
    PAGINATION_SECTION2 = '#review-list'
</script>

<script defer src="{% static 'js/pagination/pagination.js' %}"></script>