{% extends 'farmers/mypage/farmer_mypage_base.html' %}
{% load static %}

{% block stylesheet_farmer_mypage %}
<link rel="stylesheet" href="{% static 'css/farmers/mypage/farmer_mypage_review_qna.css' %}" />
<link rel="stylesheet" href="{% static 'css/farmers/mypage/farmer_mypage_review_qna_mobile.css' %}" />
<script src="https://cdn.jsdelivr.net/npm/luxon@2.0.1/build/global/luxon.min.js"></script>
<style>
    .date-filter-search-option--category label::before {
        content: '';
        display: inline-block;
        position: relative;
        top: 3.5px;
        width: 20px;
        height: 20px;
        background-image: url("{% static 'images/user/auto_login_unchecked.svg' %}");
        margin-right: 9px;
    }

    label.checked::before {
        content: "";
        background-image: url("{% static 'images/user/auto_login_checked.svg' %}") !important;
    }
</style>
{% endblock stylesheet_farmer_mypage %}

{% block content %}
<div class="mx-auto" id="content">
    <div id="content-title" class="flex flex-row">
        <div id="title-question" class="mr-3">
            <span>문의/리뷰관리</span>
        </div>
    </div>
    <div class="date-filter-content">
        <form action="" method="GET" class="date-filter-form flex">
            <div class="date-filter-search-option">
                <div class="date-filter-search-option--date flex items-center">
                    <div class="date-filter-button date-filter button transition_element" id="today">오늘</div>
                    <div class="date-filter-button week-filter button transition_element" id="recent-one-week">최근 1주일</div>
                    <div class="date-filter-button month-filter button transition_element" id="recent-one-month">최근 1개월</div>
                    <input type="date" name="start-date" id="start-date" class="date-filter-button date-input">
                    &nbsp;~&nbsp;
                    <input type="date" name="end-date" id="end-date" class="date-filter-button date-input">
                </div>
                <div class="date-filter-search-option--category flex items-center">
                    <label for="qna" class="mr-16">
                        <input type="radio" name="search-category" id="qna" value="qna">
                        문의관리
                    </label>
                    <label for="review">
                        <input type="radio" name="search-category" id="review" value="review">
                        리뷰관리
                    </label>
                </div>
            </div>
            <button class="date-filter-button date-filter-submit">
                <div class="flex flex-row justify-center">
                    <span class="mr-1">조회</span>
                    <img src="{% static 'images/farmer_mypage/searchicon.svg' %}" alt="">
                </div>
            </button>
        </form>
    </div>
    <div>
        <div class="qna-wrapper">
            <div>문의 관리</div>
            <div id="qna-list" class="mb-40">
                <div id="question-table-wrapper">
                    <table id="question-table" class="w-full">
                        <tr id="question-table-title">
                            <th>답변여부</th>
                            <th>상품명</th>
                            <th>제목</th>
                            <th>문의일자</th>
                            <th>
                                <img class="mx-auto" src="{% static 'images/farmer_mypage/report.svg' %}" alt="신고하기">
                            </th>
                            <th>답변</th>
                        </tr>
                        {% for question in questions %}
                        {% if question.status == False %}
                        <tr class="transition_element text-center bg-dark" id="question-table-rows">
                            {% else %}
                        <tr class="transition_element text-center" id="question-table-rows">
                            {% endif %}
                            <!-- 답변여부 -->
                            {% if question.status == False %}
                            <td class="px-1" id="question-table-row-answer--yet">미답변</td>
                            {% else %}
                            <td class="px-1" id="question-table-row-answer--complete">답변 완료</td>
                            {% endif %}
                            <!-- 상품명 -->
                            {% if question.product.title|length > 12 %}
                            <td class="px-3" id="review-table-row-product">{{ question.product.title|slice:":12" }}...</td>
                            {% else %}
                            <td class="px-3" id="review-table-row-product">{{ question.product.title }}</td>
                            {% endif %}
                            <!-- 제목 -->
                            {% if question.title|length > 25 %}
                            <td class="px-3" id="question-table-row-title">{{ question.title|slice:":25" }}...</td>
                            {% else %}
                            <td class="px-3" id="question-table-row-title">{{ question.title }}</td>
                            {% endif %}
                            <td class="px-3" id="question-table-row-date">{{ question.create_at|date:"Y-m-d" }}</td>
                            <td class="px-3" id="question-table-row-report">신고하기</td>
                            <!-- 답변 -->
                            {% if question.status == False %}
                            <td class="px-3" id="review-table-row-answer">
                                <div class="flex items-center question-answer-btn" onclick="window.open('{% url "farmer:farmer_mypage_question_answer" question.pk %}', '', 'height=600, width=400');">
                                    <span class="mr-1">답변하기</span>
                                    <img src="{% static 'images/farmer_mypage/answer-create.svg' %}" alt="">
                                </div>
                            </td>
                            {% else %}
                            <td class="px-3" id="review-table-row-answer">
                                <div class="flex items-center">
                                    <span class="mx-auto">답변완료</span>
                                    <!-- <span class="mr-1">답변수정</span> -->
                                    <!-- <img src="{% static 'images/farmer_mypage/answer-update.svg' %}" alt=""> -->
                                </div>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="flex justify-between w-36 mx-auto mt-8">
                    {% if questions.has_previous %}
                    <img src="{% static 'images/pagination/first_page.svg' %}" name='paginator' id='1' style="cursor: pointer">
                    <img src="{% static 'images/pagination/prev.svg' %}" name='paginator' id='{{questions.previous_page_number}}' style="cursor: pointer">
                    {% else %}
                    <img src="{% static 'images/pagination/first_page.svg' %}" name='paginator' id='1' style="cursor: pointer">
                    <img src="{% static 'images/pagination/prev.svg' %}" name='paginator' id='1' style="cursor: pointer">
                    {% endif %}

                    <div>{{questions.number}}</div>
                    <div>/</div>
                    <div>{{questions.paginator.num_pages}}</div>

                    {% if questions.has_next %}
                    <img src="{% static 'images/pagination/next.svg' %}" name='paginator' id='{{questions.next_page_number}}' style="cursor: pointer">
                    <img src="{% static 'images/pagination/last_page.svg' %}" name='paginator' id='{{questions.paginator.num_pages}}' style="cursor: pointer">
                    {% else %}
                    <img src="{% static 'images/pagination/next.svg' %}" name='paginator' id='{{questions.paginator.num_pages}}' style="cursor: pointer">
                    <img src="{% static 'images/pagination/last_page.svg' %}" name='paginator' id='{{questions.paginator.num_pages}}' style="cursor: pointer">
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="review-wrapper">
            <div>리뷰 관리</div>
            <div id="review-list" class="mb-40">
                <div id="review-table-wrapper">
                    <table id="review-table" class="w-full">
                        <tr id="review-table-title">
                            <th>상품명</th>
                            <th>구매자 평점</th>
                            <th>내용</th>
                            <th>게시일자</th>
                            <th>
                                <img class="mx-auto" src="{% static 'images/farmer_mypage/report.svg' %}" alt="신고하기">
                            </th>
                            <th>리뷰 답변</th>
                        </tr>
                        {% for review in reviews %}
                        {% if review.status == False %}
                        <tr class="transition_element text-center bg-dark" id="review-table-rows">
                            {% else %}
                        <tr class="transition_element text-center" id="review-table-rows">
                            {% endif %}
                            <!-- 상품명 -->
                            {% if review.product.title|length > 12 %}
                            <td class="px-3" id="review-table-row-product">{{ review.product.title|slice:":12" }}...</td>
                            {% else %}
                            <td class="px-3" id="review-table-row-product">{{ review.product.title }}</td>
                            {% endif %}
                            <!-- 구매자 평점 -->
                            <td class="px-3" id="review-table-row-score">
                                <div class="flex flex-row justify-between">
                                    {% for i in total_range %}
                                    {% if i < review.avg %}
                                    <img src="{% static 'images/farmer_mypage/yellow-star.svg' %}" alt="">
                                    {% else %}
                                    <img src="{% static 'images/farmer_mypage/gray-star.svg' %}" alt="">
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </td>
                            <!-- 내용 -->
                            {% if review.text|length > 25 %}
                            <td class="px-3" id="review-table-row-title">{{ review.text|slice:":25" }}...</td>
                            {% else %}
                            <td class="px-3" id="review-table-row-title">{{ review.text }}</td>
                            {% endif %}
                            <!-- 게시일자 -->
                            <td class="px-3" id="review-table-row-date">{{ review.create_at|date:"Y-m-d" }}</td>
                            <!-- 신고하기 -->
                            <td class="px-3" id="review-table-row-report">신고하기</td>
                            <!-- 답변 -->
                            <td id="review-table-row-answer" onclick="window.open('{% url "farmer:farmer_mypage_review_answer" review.pk %}', '', 'height=600, width=400');">
                                <div class="flex flex-row justify-center items-center">
                                    <span class="mr-1">
                                        {% if review.status == False %}
                                        작성하기
                                        {% else %}
                                        리뷰 보기
                                        {% endif %}
                                    </span>
                                    <img src="{% static 'images/farmer_mypage/answer-create.svg' %}" alt="">
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="flex justify-between w-36 mx-auto mt-8">
                    {% if reviews.has_previous %}
                    <img src="{% static 'images/pagination/first_page.svg' %}" name='paginator2' id='1' style="cursor: pointer">
                    <img src="{% static 'images/pagination/prev.svg' %}" name='paginator2' id='{{reviews.previous_page_number}}' style="cursor: pointer">
                    {% else %}
                    <img src="{% static 'images/pagination/first_page.svg' %}" name='paginator2' id='1' style="cursor: pointer">
                    <img src="{% static 'images/pagination/prev.svg' %}" name='paginator2' id='1' style="cursor: pointer">
                    {% endif %}

                    <div>{{reviews.number}}</div>
                    <div>/</div>
                    <div>{{reviews.paginator.num_pages}}</div>

                    {% if reviews.has_next %}
                    <img src="{% static 'images/pagination/next.svg' %}" name='paginator2' id='{{reviews.next_page_number}}' style="cursor: pointer">
                    <img src="{% static 'images/pagination/last_page.svg' %}" name='paginator2' id='{{reviews.paginator.num_pages}}' style="cursor: pointer">
                    {% else %}
                    <img src="{% static 'images/pagination/next.svg' %}" name='paginator2' id='{{reviews.paginator.num_pages}}' style="cursor: pointer">
                    <img src="{% static 'images/pagination/last_page.svg' %}" name='paginator2' id='{{reviews.paginator.num_pages}}' style="cursor: pointer">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const DateTime = luxon.DateTime;

    const CURRENT_URL = window.location.href
    const url = new URL(CURRENT_URL)
    const urlParams = url.searchParams;

    const start_date = urlParams.get('start-date') ? urlParams.get('start-date') : ''
    const end_date = urlParams.get('end-date') ? urlParams.get('end-date') : ''

    PAGINATION_URL = 'qna-ajax/?page='
    PAGINATION_SECTION = '#qna-list'
    SEARCH_VAL = '&start-date=' + start_date + '&end-date=' + end_date

    PAGINATION_URL2 = 'review-ajax/?page2='
    PAGINATION_SECTION2 = '#review-list'
    SEARCH_VAL = '&start-date=' + start_date + '&end-date=' + end_date
</script>
<script>
    var popupX = (document.body.offsetWidth / 2) - (400 / 2);
    var popupY = (window.screen.height / 2) - (600 / 2);

    function questionAnswerPopup(pk) {
        const questionpk = parseInt(pk);
        {% for question in questions %}
        if (questionpk === {{ question.pk }
    }) {
        window.open("{% url 'farmer:farmer_mypage_question_answer' question.pk %}", '', 'height=600, width=400, left=' + popupX + ', top=' + popupY);
    }
    {% endfor %}
    }

    function reviewAnswerPopup(pk) {
        const reviewpk = parseInt(pk);
        {% for review in reviews %}
        if (reviewpk === {{ review.pk }
    }) {
        window.open("{% url 'farmer:farmer_mypage_review_answer' review.pk %}", '', 'height=600, width=400, left=' + popupX + ', top=' + popupY);
    }
    {% endfor %}
    }
</script>
<script src="{% static 'js/farmers/mypage/farmer_mypage_review_qna.js'%}"></script>
<script src="{% static 'js/pagination/pagination.js' %}"></script>
{% endblock content %}