{% load static %}
<div id="question-table-wrapper">
    <table id="question-table" class="w-full">
        <tr id="question-table-title">
            <th>답변여부</th>
            <th>상품명</th>
            <th>제목</th>
            <th>문의일자</th>
            <th>
                <img class="mx-auto" src="{% static 'images/farmer_mypage/report.svg' %}" alt="신고하기">
            </th>
            <th>답변</th>
        </tr>
        {% for question in questions %}
                        {% if question.status == False %}
                        <tr class="transition_element text-center bg-dark" id="question-table-rows">
                        {% else %}                        
                        <tr class="transition_element text-center" id="question-table-rows">
                        {% endif %}
                            <!-- 답변여부 -->
                            {% if question.status == False %}
                            <td class="px-1" id="question-table-row-answer--yet">미답변</td>
                            {% else %}
                            <td class="px-1" id="question-table-row-answer--complete">답변 완료</td>
                            {% endif %}
                            <!-- 상품명 -->
                            {% if question.product.title|length > 12 %}
                            <td class="px-3" id="review-table-row-product">{{ question.product.title|slice:":12" }}...</td>
                            {% else %}
                            <td class="px-3" id="review-table-row-product">{{ question.product.title }}</td>
                            {% endif %}
                            <!-- 제목 -->
                            {% if question.title|length > 25 %}
                            <td class="px-3" id="question-table-row-title">{{ question.title|slice:":25" }}...</td>
                            {% else %}
                            <td class="px-3" id="question-table-row-title">{{ question.title }}</td>
                            {% endif %}
                            <td class="px-3" id="question-table-row-date">{{ question.create_at|date:"Y-m-d" }}</td>
                            <td class="px-3" id="question-table-row-report">신고하기</td>
                            <!-- 답변 -->
                            {% if question.status == False %}
                            <td class="px-3" id="review-table-row-answer">
                                <div class="flex items-center question-answer-btn" onclick="questionAnswerPopup({{question.pk}})">
                                    <span class="mr-1">답변하기</span>
                                    <img src="{% static 'images/farmer_mypage/answer-create.svg' %}" alt="">
                                </div>
                            </td>
                            {% else %}
                            <td class="px-3" id="review-table-row-answer">
                                <div class="flex items-center">
                                    <span class="mx-auto">답변완료</span> 
                                    <!-- <span class="mr-1">답변수정</span> -->
                                    <!-- <img src="{% static 'images/farmer_mypage/answer-update.svg' %}" alt=""> -->
                                </div>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
    </table>
</div>
<div class="flex justify-between w-36 mx-auto mt-8">
    {% if questions.has_previous %}
        <img src="{% static 'images/pagination/first_page.svg' %}" name='paginator' id='1' style="cursor: pointer">
        <img src="{% static 'images/pagination/prev.svg' %}" name='paginator' id='{{questions.previous_page_number}}' style="cursor: pointer">
    {% else %}
        <img src="{% static 'images/pagination/first_page.svg' %}" name='paginator' id='1' style="cursor: pointer">
        <img src="{% static 'images/pagination/prev.svg' %}" name='paginator' id='1' style="cursor: pointer">
    {% endif %}

        <div>{{questions.number}}</div>
        <div>/</div>
        <div>{{questions.paginator.num_pages}}</div>

    {% if questions.has_next %}
        <img src="{% static 'images/pagination/next.svg' %}" name='paginator' id='{{questions.next_page_number}}' style="cursor: pointer">
        <img src="{% static 'images/pagination/last_page.svg' %}" name='paginator' id='{{questions.paginator.num_pages}}' style="cursor: pointer">
    {% else %}
        <img src="{% static 'images/pagination/next.svg' %}" name='paginator' id='{{questions.paginator.num_pages}}' style="cursor: pointer"> 
        <img src="{% static 'images/pagination/last_page.svg' %}" name='paginator' id='{{questions.paginator.num_pages}}' style="cursor: pointer">
    {% endif %}
</div>

<script>
    PAGINATION_URL = 'qna-ajax/?page='
    PAGINATION_SECTION = '#qna-list'
    SEARCH_VAL = '&start-date='+start_date+'&end-date='+end_date

    PAGINATION_URL2 = 'review-ajax/?page2='
    PAGINATION_SECTION2 = '#review-list'
    SEARCH_VAL = '&start-date='+start_date+'&end-date='+end_date
</script>
<script>
    var popupX = (document.body.offsetWidth / 2) - (375 / 2);
    var popupY = (window.screen.height / 2) - (600 / 2);

    function questionAnswerPopup(pk) {
        const questionpk = parseInt(pk);
        {% for question in questions %}
        if (questionpk === {{ question.pk }}) {
        window.open("{% url 'farmer:farmer_mypage_question_answer' question.pk %}", '', 'height=600, width=375, left=' + popupX + ', top=' + popupY);
        }
        {% endfor %}
    }
</script>
<script src="{% static 'js/pagination/pagination.js' %}"></script>
