input,
textarea {
    outline: none;
}

#sub_title {
    width: 560px;
    margin: 0 auto;
    color: #4d4d4d;
    font-size: 20px;
}

#border {
    width: 560px;
    height: 10px;
    border-radius: 5px;
    margin-bottom: 88px;
    background-color: rgb(225, 227, 224);
}

#step {
    height: 10px;
    border-radius: 5px;
    background-color: rgb(172, 178, 168);
}

/* image upload 관련 */
.filebox input[type='file'] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
.filebox label {
    width: 70px;
    height: 25px;
    padding: 4px 18px 3px 19px;
    border-radius: 15px;
    background-color: #5c6754;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
}

.default_img_1,
.default_img_2 {
    border-radius: 50%;
    width: 152px;
    height: 152px;
    background-size: cover;
}

/* category 관련 */
#id_farm_cat {
    display: flex;
    flex-direction: row;
}
#id_farm_cat li {
    position: relative;
    width: 110px;
    height: 40px;
    margin-right: 20px;
}
#id_farm_cat li label {
    position: absolute;
    left: 0;
    width: 70px;
    height: 25px;
    padding: 0px 15px;
    cursor: pointer;
    border: 1px solid #b3b3b3;
    border-radius: 20px;
    color: #5c6754;
}

.sel_bk_color {
    color: #ffffff !important;
    background-color: #b3b3b3;
}

#id_farm_cat input[type='radio'] {
    display: none;
}
#id_farm_cat input[type='radio']::after {
    content: '#';
}

/* 직접 입력 hashtag */
#hashtag_wrap {
    margin-left: 304.5px;
    flex-wrap: wrap;
}

.hashtag-input-wrap {
    height: 25px;
    border-radius: 20px;
    border: solid 1px #b3b3b3;
    padding: 0px 10px;
}

#new_tag {
    padding: 0px 5px;

    overflow-x: auto;
    outline: none;
}

/* sample farmer page */
#sample_wrap {
    height: 557px;
    background-color: #e9e9e9;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
    overflow-y: scroll;
}

#sample_farm_name,
#sample_farmer_name,
#sample_profile_title,
#sample_farm_news,
#d_quotes {
    color: #5e6656;
}
#sample_farm_name {
    max-width: 230px;
    height: 37px;
    overflow: hidden;
    padding-right: 13px;
    margin-right: 18px;
    border-right: solid 0.5px rgba(112, 112, 112, 0.5);
}
#sample_farm_news {
    max-width: 415px;
    overflow: hidden;
}
#farm_wrap {
    height: 37px;
}
#profile_title_wrap {
    max-width: 320px;
    max-height: 52px;
    overflow: hidden;
}

/* ------------------------------------------ */
#signup_form,
#content {
    width: 990px;
}

.input_forms {
    grid-template-columns: 302.5px 300px 217.5px;
    row-gap: 40px;
    margin-bottom: 38px;
}

.form_term_agree {
    grid-template-columns: 302.5px auto;
    row-gap: 20px;
}
#id_farm_name {
    border: solid 1px #b3b3b3;
    border-radius: 20px;
    width: 300px;
    height: 35px;
    padding-left: 15px;
    font-size: 12px;
    color: #808080;
}
#id_profile_title {
    width: 387.5px;
    height: 35px;
    padding-left: 15px;
    border-radius: 3px;
    border: solid 1px #b3b3b3;
    font-size: 12px;
    color: #808080;
}
#id_farm_thanks_msg {
    width: 387.5px;
    height: 67px;
    padding-left: 15px;
    border-radius: 3px;
    border: solid 1px #b3b3b3;
    font-size: 12px;
    color: #808080;
}
#id_farm_news {
    width: 387.5px;
    height: 67px;
    padding-left: 15px;
    border-radius: 3px;
    border: solid 1px #b3b3b3;
    font-size: 12px;
    color: #808080;
}

#img_label,
#cat_label {
    margin-left: 60.5px;
    font-size: 25px;
    text-align: left;
    color: #4d4d4d;
    width: 220px;
}

#id_farmer_profile,
#id_farm_profile {
    height: 200px;
}
#img-upload-announce {
    width: 242px;
    height: 48px;
    font-size: 12px;
    text-align: left;
    color: #5c6754;
}

.input_forms textarea {
    width: 387.5px;
    height: 120px;
    border-radius: 3px;
    border: solid 1px #b3b3b3;
    resize: none;
    padding: 10px;
    font-size: 12px;
    color: #808080;
}

#img_desc {
    margin-top: 6px;
    margin-left: 60.5px;
    color: #b3b3b3;
    text-align: left;
}

.input_forms input,
.errorlist,
.form_term_agree label,
.form_term_agree div:not(#term-agree) {
    grid-column: 2;
}

.errorlist li {
    font-size: 12px;
    color: red;
    text-align: start;
    margin-top: 5px;
    padding-left: 15px;
}

.input_forms input::placeholder {
    position: relative;
    right: 7.5px;
    font-size: 15px;
    text-align: center;
    font-weight: normal;
}

.input_forms label,
#term-agree {
    grid-column: 1;
    margin-right: auto;
    margin-left: 60.5px;
    font-size: 15px;
    font-weight: normal;
    color: #4d4d4d;
}

.birth-selection ul,
.gender-selection ul {
    display: flex;
}

.gender-selection label {
    margin-left: 0;
}

.gender-selection li:nth-child(1) {
    margin-right: 75px !important;
}

.valid-button {
    width: 110px;
    height: 35px;
    border-radius: 20px;
    background-color: #5e6656;
    color: white;
    line-height: 35px;
    margin-left: 33px;
    font-size: 15px;
    font-weight: normal;
    cursor: pointer;
}

#id_detail_address {
    margin-top: 20px;
}

#id_gender_0,
#id_gender_1 {
    display: none;
}

.gender-selection label {
    font-size: 15px;
    color: #808080;
    font-weight: normal;
}

.submit {
    width: 170px;
    height: 50px;
    border-radius: 50px;
    background-color: #5c6754;
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-family: NotoSansKR;
    margin-top: 50.3px;
}

.line {
    width: 740px;
    height: 0px;
    border: solid 0.5px rgba(94, 102, 86, 0.5);
}

.form_term_agree input {
    display: none;
}

.form_term_agree label {
    margin-right: auto;
    color: #707070;
    font-size: 15px;
}

label.mand::after,
label.opt::after {
    margin-left: 20px;
    font-size: 15px;
    color: #b3b3b3;
    font-weight: 300;
}

label.mand::after {
    content: '(필수)';
}

label.opt::after {
    content: '(선택)';
}

.form_term_agree a {
    margin-right: 67.5px;
    font-size: 15px;
    font-weight: 500;
    color: #5c6754;
}

/* form_enroll step3 page */
#contract-content {
    width: 740px;
}
#contract-announce-content {
    color: #707070;
    font-size: 14px;
}

#contract-desc {
    width: 740px;
    height: 468px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    overflow-y: scroll;
}

#contract-content input[type='checkbox'] {
    display: none;
}

#contract-agree {
    color: #808080;
}

/* contract html */
#contract-item-title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
}
#contract-item-desc {
    font-size: 12px;
    margin-bottom: 12px;
}

/* farm_info update page */
#update_btn {
    cursor: pointer;
}
