{% extends 'base/base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/farmers/farm_enroll.css' %}">
{% endblock %}

{% block title_name %}
입점 등록
{% endblock title_name %}

{% block main_content %}
<div class="main-contents flex justify-center lg:mx-20 sm:mx-8 bg-white-400 text-center font-4xl">
    <div id='signup_form' class="mt-10 flex flex-col">
        <div class="mx-auto font-bold text-3xl mt-6" style="color: #5c6754; margin-bottom: 63px;">입점 등록</div>
        <div class="flex flex-row justify-around" id="sub_title">
            <div> 정보 입력 </div>
            <div> 계약서 작성 </div>
        </div>
        <div class="relative mx-auto mt-2" id="border">
            <div class="absolute right-0" id="step" style="width:50%"></div>
        </div>
        <form action="" method="post">
            {% csrf_token %}
            <div class="mx-auto" id="contract-content">
                <div class="font-medium text-2xl text-left mb-24" style="color:#5c6754">계약서 작성</div>
                <div class="mb-7 text-left p-4" id="contract-desc">
                    계약서1 내용
                </div>
                <div class="text-right mb-20">
                    <input type="checkbox" name="agree-1" id="agree-1" value="">
                    <label for="agree-1">전체 동의합니다.</label>
                </div>
                <div class="mb-7 text-left p-4" id="contract-desc">
                    계약서2 내용
                </div>
                <div class="text-right mb-24">
                    <input type="checkbox" name="agree-2" id="agree-2" value="">
                    <label for="agree-2">전체 동의합니다.</label>
                </div>
            </div>
            <div style="display: none;">{{form}}</div>
            <div style="display: none;">{{addressform}}</div>
            <div style="display: none;">{{farm_form}}</div>
            <button type="submit" class="submit" id="step3_submit">제출하기</button>
        </form>
    </div>
</div>
<style>
    #contract-content label::before {
        content: "";
        display: inline-block;
        position: relative;
        top: 3.5px;
        width: 20px;
        height: 20px;
        background-image: url("{% static 'images/user/auto_login_unchecked.svg' %}");
        margin-right: 9px;
    }

    #contract-content input:checked+label::before {
        content: "";
        background-image: url("{% static 'images/user/auto_login_checked.svg' %}") !important;
    }
</style>
<script>
    // step3 page form valid check
    $('#step3_submit').click(function (e) {
        console.log('step3 submit')

        if ($('#agree-1').is(":checked") == false) {
            alert('계약서 항목1에 동의해주세요.');
            event.preventDefault();
            return;
        }
        if ($('#agree-2').is(":checked") == false) {
            alert('계약서 항목2에 동의해주세요.');
            event.preventDefault();
            return;
        }
    })
</script>
{% endblock %}