{% extends 'base/base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/farmers/enroll/farm_enroll.css' %}">
<link rel="stylesheet" href="{% static 'css/farmers/enroll/farm_enroll_mobile.css' %}">
<link rel="stylesheet" href="{% static 'css/users/signup.css' %}">
<link rel="stylesheet" href="{% static 'css/users/signup_mobile.css' %}">
{% endblock %}

{% block title_name %}
입점 등록
{% endblock title_name %}

{% block main_content %}
<div class="main-contents flex justify-center lg:mx-20 sm:mx-8 bg-white-400 text-center font-4xl">
    <div id='signup_form' class="mt-10 flex flex-col">
        <div class="mx-auto font-bold text-3xl mt-6" style="color: #5c6754; margin-bottom: 63px;">입점 등록</div>
        <div class="flex flex-row justify-around" id="sub_title">
            <div> 정보 입력 </div>
            <div> 계약서 작성 </div>
        </div>
        <div class="relative mx-auto mt-2" id="border">
            <div class="absolute" id="step" style="width:33%"></div>
        </div>
        <form method="POST">
            {% csrf_token %}
            <div class="font-medium text-2xl text-left mb-16 md:ml-16" style="color: #5c6754;">계정 정보 입력</div>
            <div class="input_forms grid">
                {{form.username.label_tag}}
                <div id="username-form">
                    <div class="validation-input-form">
                        {{form.username}}
                        <div class="form-validation-message" id="id-valid"></div>
                    </div>
                    <div class="valid-button" id="id-check" name="{% url 'users:id_validation' %}">중복확인</div>
                    <input type="hidden" id="idValidCheck">
                </div>
                {{form.password.label_tag}}
                <div class="validation-input-form">
                    {{form.password}}
                    <div class="form-validation-message invalid-form" id="password-valid-overlap-id"></div>
                    <div class="form-validation-message invalid-form" id="password-valid-length"></div>
                    <div class="form-validation-message invalid-form" id="password-valid-character"></div>
                </div>
                <input type="hidden" id="password-valid-check">
                {{form.password_re.label_tag}}
                <div class="validation-input-form">
                    {{form.password_re}}
                    <div class="form-validation-message" id="password-valid"></div>
                </div>
                <input type="hidden" id="password-re-valid-check">
            </div>
            <div class="horizon-bar" style="margin-bottom: 35px;"></div>
            <!-- 농장 담당자 정보 입력 -->
            <div class="font-medium text-2xl text-left mb-16 md:ml-16" style="color: #5c6754;">
                농장 담당자 정보 입력
            </div>
            <div class="input_forms grid">
                {{form.account_name.label_tag}}
                {{form.account_name}}
                {{form.nickname.label_tag}}
                <div id="nickname-form">
                    <div class="validation-input-form">
                        {{form.nickname}}
                        <div class="form-validation-message" id="nickname-valid"></div>
                    </div>
                    <div class="valid-button button" id="nickname-check" name="{% url 'users:nickname_validation' %}">중복확인</div>
                    <input type="hidden" id="nicknameValidCheck">
                </div>
                {{form.email.label_tag}}
                <div id="email-form">
                    <div class="validation-input-form">
                        {{form.email}}
                        <div class="form-validation-message" id="email-valid"></div>
                    </div>
                    <div class="valid-button button" id="email-check" name="{% url 'users:email_validation' %}">중복확인</div>
                    <input type="hidden" id="emailValidCheck">
                </div>
                {{form.phone_number.label_tag}}
                <div id="phone-form">
                    <div class="validation-input-form">
                        {{form.phone_number}}
                        <div class="form-validation-message" id="phone-number-valid"></div>
                    </div>
                    <div class="valid-button button" id="phone-number-check" name="{% url 'users:phone_number_validation' %}">인증번호 받기</div>
                    <input type="text" name="auth_number" placeholder="인증번호" maxlength="6" required="" id="id_auth_number">
                    <div class="valid-button button" id="auth-number-check" name="{% url 'users:phone_number_authentication' %}">확인</div>
                    <input type="hidden" id="phonenumValidCheck">
                </div>
                {{addressform.errors}}
                {{addressform.full_address.label_tag}}
                <div id="address-form">
                    <div>
                        {{addressform.full_address}}
                        {{addressform.detail_address}}
                    </div>
                    <div class="valid-button" id="search-btn" onclick="getAddress()">검색</div>
                    <div class="valid-button" id="mobile-search-btn" onclick="getAddress()">
                        <img id="mobile-search-img" src="{% static 'images/search.svg' %}">
                    </div>
                </div>
                {{addressform.sido}}
                {{addressform.sigungu}}
                {{addressform.extra_address}}
                {{addressform.zipcode}}
            </div>
            <div class="horizon-bar" style="margin-bottom: 35px;"></div>
            <!-- 이용약관 동의 -->
            <div class="form_term_agree grid">
                <div class="mr-auto" id='term-agree'>
                    이용약관 동의
                    <img id="mobile-dot" src="{% static 'images/orders/dot.svg' %}">
                </div>
                <input type="checkbox" name="agree-all" id="agree-all">
                <label id="all-agree" for="agree-all" style="font-size: 20px; margin-bottom: 45px;">전체
                    동의합니다</label>
                <div class="flex justify-between items-center">
                    <input type="checkbox" name="terms_of_services" id="terms_of_services" class="signup-terms">
                    <label class="mand" for="terms_of_services">이용약관 동의</label>
                    <a href="{% url 'user:signup_terms_of_service' %}" target="_blank">약관보기</a>
                </div>
                <div class="flex justify-between items-center">
                    <input type="checkbox" name="personal_info" id="personal_info" class="signup-terms">
                    <label class="mand" for="personal_info">개인정보처리방침 동의</label>
                    <a href="#">약관보기</a>
                </div>
                <div class="flex flex-col agree-term-wrapper">
                    <div class='agree-wrapper'>
                        <input type="checkbox" name="agree-benefit" id="agree-benefit" class="signup-terms" value="checked">
                        <label class="opt" for="agree-benefit">무료배송, 할인쿠폰 등 혜택/정보 수신동의</label>
                    </div>
                </div>
                <div class="flex flex-col agree-term-wrapper">
                    <div class='agree-wrapper'>
                        <input type="checkbox" name="agree-kakao-farmer" id="agree-kakao-farmer" class="signup-terms" value="checked">
                        <label class="opt" for="agree-kakao-farmer">구독 농가에 대한 알림톡 수신 동의</label>
                    </div>
                    <div class="term-description">- 구독 농가의 새로운 Farmer's Diary 등록 알림</div>
                    <div class="term-description">- 구독 농가의 새로운 상품 등록 알림</div>
                </div>
                <div class="flex flex-col agree-term-wrapper">
                    <div class="agree-wrapper">
                        <input type="checkbox" name="agree-kakao-comment" id="agree-kakao-comment" class="signup-terms" value="checked">
                        <label class="opt" for="agree-kakao-comment">회원 작성 게시글에 대한 알림톡 수신 동의</label>
                    </div>
                    <div class="term-description">- 회원이 작성한 게시물에 대한 새로운 댓글 등록 알림</div>
                </div>
                <input type="checkbox" name="over14" id="over14" class="signup-terms">
                <label for="over14">본인은 만 14세 이상입니다</label>
            </div>
            <div class="horizon-bar" style="margin-top: 35px;"></div>
            <button class="submit">다음 단계로</button>
        </form>
    </div>
</div>

<style>
    #id_gender label::before {
        content: '';
        display: inline-block;
        position: relative;
        top: 3.5px;
        width: 20px;
        height: 20px;
        background-image: url("{% static 'images/user/auto_login_unchecked.svg' %}");
        margin-right: 9px;
    }

    label.checked::before {
        content: '';
        background-image: url("{% static 'images/user/auto_login_checked.svg' %}") !important;
    }

    .form_term_agree input+label::before {
        content: '';
        display: inline-block;
        position: relative;
        top: 5px;
        width: 20px;
        height: 20px;
        background-image: url("{% static 'images/user/auto_login_unchecked.svg' %}");
        margin-right: 9px;
    }

    .form_term_agree input:checked+label::before {
        content: '';
        background-image: url("{% static 'images/user/auto_login_checked.svg' %}") !important;
    }
</style>

<script type="text/javascript" src="{% static 'js/signup.js' %}"></script>
<script type="text/javascript" src="{% static 'js/get_address.js' %}"></script>

{% endblock %}