{% extends 'base/base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/farmers/enroll/farm_enroll_login.css' %}">
<link rel="stylesheet" href="{% static 'css/users/user_auth_input.css' %}">

{% endblock %}

{% block title_name %}
{% endblock title_name %}

{% block main_content %}
<div id="main-content" class=" flex flex-col justify-center items-center place-self-center">
    <div class="section-title">입점 등록</div>
    <div class="section-subtitle">피키팜 입점을 환영합니다</div>
    <div class="login-form-section flex justify-between">
        <div class='form-container flex flex-col items-center'>
            <div class="section-description">
                이미 피키팜 회원이시라면
            </div>
            <form action="{% url 'farmer:farm_enroll_login' %}" method="post" class="flex flex-col">
                {% csrf_token %}
                {% for field in form %}
                {{field}}
                {% endfor %}
                <button class="login-button">로그인</button>
            </form>
            <div class="flex justify-between links items-center">
                <a href="{% url 'user:find_my_id' %}">
                    <div>아이디 찾기</div>
                </a>
                <div class="bar"></div>
                <a href="{% url 'user:password_reset' %}">
                    <div>비밀번호 찾기</div>
                </a>
            </div>
        </div>
        <div class='form-container flex flex-col items-center'>
            <div class="section-description">
                아직 피키팜 회원이 아니시라면
            </div>
            <button class="login-button" onclick="location.href='{% url 'farmers:enroll_page1' %}'">계정 만들기</button>

        </div>
    </div>
</div>
{% endblock main_content %}