@import 'base/mobile_base_style.css';

@media screen and (max-width: 768px){
    /* base setting */
    .order-payment-success-container  {
        width: 100%;
        padding: 0 2.5rem;
    }    
    .order-payment-success-subfarmer-appreciate-message-card-section,
    .order-payment-success-unsubfarmer-appreciate-message-card-section {
        width: 100%;
    }
    .order-payment-success-information-border {
        width: 100%;
        margin: 0.5rem 0;
        background-color: #5c6754;
    }
    .order-payment-success-information-list-border-bottom {
        width: 100%;
        background-color: #5e6656;
        height: 0.05rem;
    }

    /* font */
    .order-payment-success-customer-information-name-title, 
    .order-payment-success-customer-information-tel-title, 
    .order-payment-success-customer-information-email-title, 
    .order-payment-success-customer-address-information-name-title, 
    .order-payment-success-customer-address-information-receive-title, 
    .order-payment-success-customer-address-information-etc-title {
        color: #4d4d4d;
        font-size: 1.1rem;
        font-weight: normal;
    }
    .order-payment-success-customer-information-name, 
    .order-payment-success-customer-address-information-name,
    .order-payment-success-customer-information-tel, 
    .order-payment-success-customer-information-email,
    .order-payment-success-customer-address-information-receive,
    .order-payment-success-customer-address-information-etc {
        color: #000000;
        font-size: 1.2rem;
        font-weight: bold;
        line-height: 3rem;
    }
    .order-payment-success-title, 
    .order-payment-success-amount-number {
        font-size: 1.5rem;
    }
    .order-payment-success-information-title, 
    .order-payment-success-information-name,
    .order-payment-success-information-description-price,
    .order-payment-success-information-description-weight,
    .order-payment-success-information-description-amount,
    .order-payment-success-customer-information-title, 
    .order-payment-success-customer-address-information-title, 
    .order-payment-success-appreciate-message-title,
    .order-payment-success-subfarmer-card-farm-name,
    .order-payment-success-unsubfarmer-card-farm-name {
        font-size: 1.2rem;
    }
    .order-payment-success-amount-title,
    .order-payment-success-amount-unit,
    .order-payment-success-subfarmer-card-farmer-name, 
    .order-payment-success-subfarmer-card-message-text,
    .order-payment-success-unsubfarmer-card-farmer-name, 
    .order-payment-success-unsubfarmer-card-message-text {
        font-size: 1.1rem;
    }
    .order-payment-success-information-name,
    .order-payment-success-information-description-price,
    .order-payment-success-information-description-weight,
    .order-payment-success-information-description-amount,
    .order-payment-success-amount-title,
    .order-payment-success-amount-unit,
    .order-payment-success-amount-number,
    .order-payment-success-subfarmer-card-farm-name,
    .order-payment-success-unsubfarmer-card-farm-name {
        line-height: 3rem;
    }
    .order-payment-success-title {
        line-height: 2.2rem;
    }
    .order-payment-success-subfarmer-card-farmer-name, 
    .order-payment-success-subfarmer-card-message-text,
    .order-payment-success-unsubfarmer-card-farmer-name, 
    .order-payment-success-unsubfarmer-card-message-text {
        line-height: 1.5rem;
    }
    .order-payment-success-title, 
    .order-payment-success-information-title, 
    .order-payment-success-information-name,
    .order-payment-success-information-description-price,
    .order-payment-success-amount-number,
    .order-payment-success-customer-information-title, 
    .order-payment-success-customer-address-information-title, 
    .order-payment-success-appreciate-message-title,
    .order-payment-success-subfarmer-card-farm-name,
    .order-payment-success-unsubfarmer-card-farm-name {
        font-weight: bold;
    }
    .order-payment-success-information-description-weight,
    .order-payment-success-information-description-amount,
    .order-payment-success-amount-title,
    .order-payment-success-amount-unit {
        color: #808080;
    }
    .order-payment-success-amount-unit,
    .order-payment-success-subfarmer-card-farm-name,
    .order-payment-success-unsubfarmer-card-farm-name {
        color: #000000;
    }
}