/* 공통 영역  */

input:focus {
    outline: none;
}

.color-primary,
.color-secondary {
    color: #5c6754;
}

.color-secondary {
    opacity: 0.5;
}

img {
    object-fit: cover;
}

.divider {
    width: fit-content;
    height: 1px;
    border-top: 1px solid #afb3ab;
}

/* 메인 타이틀 + 주문 상품 정보 섹션 공통 */
#title {
    font-weight: bold;
}

.section-header {
    font-weight: bold;
}

#kakao-message-section {
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px rgba(0, 0, 0, 0);
    background-color: #fff;
}

.desc-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.desc-detail {
    line-height: 2;
}

#product-img {
    background-color: #aaaea6;

    width: 72px;
    height: 72px;
    border-radius: 16px;
}

#divider-h {
    height: 13px;
    border-left: 1px solid #aaaea6;
}

#product-price {
    font-weight: bold;
}

#gift-message-image h2 {
    font-weight: 500;
    margin-bottom: 8px;
}

/* 친구 정보 / 상세 내역 섹션 공통 */
.friend-info-row {
    border-bottom: 1px solid #afb3ab;
}

.friend-info-row input[type='radio'] {
    display: none;
}

.friend-info-row input[type='radio'] + label,
.desc-detail label {
    display: inline-block;

    border-radius: 20px;

    background-color: #5c6754;
    color: white;
    opacity: 0.5;

    text-align: center;
}

.friend-info-row input[type='radio']:checked + label,
.desc-detail label {
    opacity: 1;
}

.quantity-spinner {
    border: 1px solid #afb3ab;
    border-radius: 3px;
}

input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.local-total-price {
    font-weight: bold;
}

.friend-delete {
    width: 19px;
    height: 19px;

    font-size: 10px;
    font-weight: bold;

    border: 1px solid #afb3ab;
    border-radius: 100%;
}

.friend-delete:hover {
    background: #afb3ab;
}

.friend-delete:hover div {
    color: white;
}

.plus-icon {
    width: 20px;
    height: 20px;
    line-height: 18px;

    margin-right: 10px;

    border-radius: 100%;

    background-color: #5c6754;
    color: white;
}

/* 공통 - PC */
@media screen and (min-width: 769px) {
    .main-container {
        width: 918px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* 공통 - 모바일 */
@media screen and (max-width: 768px) {
    #payment-app {
        padding: 2.5rem;
    }

    .section-header {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .divider {
        margin-left: 1.5rem;
    }

    .phonenum-address,
    .phonenum-only {
        padding: 0 1rem;
    }
}

/* 메인 타이틀 + 주문 상품 정보 섹션 PC */
@media screen and (min-width: 769px) {
    #title img {
        margin: 0 20px;
    }

    #title {
        font-size: 30px;
        margin-bottom: 80px;
    }

    #kakao-message-section {
        padding: 0 125px;
        height: 290px;
        margin-bottom: 95px;
    }

    #kakao-message-section * {
        font-size: 15px;
    }

    #gift-description {
        height: 185px;
    }

    #gift-message-image img {
        width: 247px;
    }

    #product-info-section {
        margin-bottom: 65px;
    }

    #product-info-row {
        width: 918px;
        margin: 30px auto;
    }

    #product-info-row span {
        font-size: 15px;
    }

    #product-name {
        margin-left: 56px;
    }

    #main-title {
        font-weight: bold;
    }

    #divider-h {
        margin: auto 15px;
    }

    #product-price {
        margin-left: 80px;
    }
}

/* 메인 타이틀 + 주문 상품 정보 섹션 모바일 */
@media screen and (max-width: 768px) {
    #title {
        font-size: 1.8rem;
        margin-bottom: 4rem;
    }

    #title img {
        width: 1.9rem;
        margin: 1rem;
    }

    #kakao-message-section {
        flex-direction: column;
        padding: 2.5rem;
    }

    #gift-description {
        gap: 1.5rem;
    }

    .desc-title,
    #gift-message-image h2 {
        font-size: 1.2rem;
    }

    .desc-detail {
        font-size: 1.1rem;
    }

    #gift-message-image {
        margin-top: 1.5rem;
    }

    #gift-message-image img {
        width: 100%;
    }

    #product-info-section {
        width: 100%;

        margin-top: 4rem;
    }

    .product-info-wrap {
        flex-direction: column;
        gap: 1rem;
        margin-left: 1rem;
    }

    .product-info-wrap span {
        font-size: 1.5rem;
    }

    #main-title {
        font-weight: bold;
    }

    #divider-h {
        margin: 0 1rem;
    }

    #product-weight-price {
        justify-content: space-between;
    }
}

/* 친구정보/상세내역 섹션 PC */
@media screen and (min-width: 769px) {
    #friend-info-header {
        margin-top: 10px;
    }

    .section-header {
        font-size: 23px;
        font-weight: 500;
        line-height: 1.2;
    }

    .divider {
        margin-left: 30px;
    }

    .friend-info-row {
        padding: 30px 15px;

        grid-template-columns: 120px 204px 168px 175px auto 50px;

        width: 918px;
    }

    .friend-info-row input[type='radio'] + label {
        height: 26px;
    }

    .friend-info-row input[type='radio'] + label:hover {
        opacity: 1;
    }

    .phonenum-only {
        width: 138px;
    }

    .phonenum-address {
        width: 174px;
    }

    .quantity-spinner {
        width: 80px;
    }

    .quantity-spinner * {
        font-size: 15px;
        font-weight: 500;
    }

    .quantity-spinner button {
        width: 20px;
        height: 28px;
        border-radius: 100%;
        font-size: 18px;
    }

    .quantity-spinner input {
        width: 40px;
        text-align: right;
    }

    .info-inputs {
        grid-column: 2 / 4;
        grid-row: 2;

        grid-template-columns: 32px auto;

        column-gap: 22px;
        row-gap: 22px;

        margin-top: 30px;
    }

    .info-inputs label {
        grid-column: 1;
        font-size: 15px;
        line-height: 1.6;
    }

    .info-inputs input {
        grid-column: 2;

        width: auto;
        height: 24px;

        border-radius: 6px;

        background-color: #f2f2f2;

        font-size: 13px;

        padding: 0 5px;
    }

    .address-find-button {
        width: 77px;
        height: 20px;
        border-radius: 10px;
        border: 1px solid #5c6754;

        color: #5c6754;
        font-size: 12px;

        margin-left: 13px;
    }

    .address-find-button:hover {
        background-color: #5c6754;
        color: white;
    }

    .address-detail {
        margin-top: 9px;
    }

    .info-inputs textarea {
        background-color: #f2f2f2;
        margin-top: 5px;
        padding: 10px;
    }

    /* '선물 메세지' 컬럼 */
    .gift-message {
        grid-column: 1 / 3;
    }

    #add-friend {
        margin-top: 15px;
    }
}

/* 친구정보/상세내역 섹션 모바일 */
@media screen and (max-width: 768px) {
    #friend-info-container {
        margin-top: 3rem;
    }

    .friend-info-row {
        grid-template-columns: 7.5rem 8.5rem auto 2rem;
        column-gap: 0.5rem;
        row-gap: 2rem;

        padding: 3rem 0;
    }

    .profile {
        grid-column: 1;
        grid-row: 1 / 3;
        justify-self: center;
    }

    .profile-index {
        margin-top: 1rem;
    }

    .phonenum-address,
    .phonenum-only {
        height: 2rem;
        line-height: 2rem;
    }

    .quantity-spinner {
        grid-column: 2;
        grid-row: 2;

        height: 2rem;

        justify-self: flex-start;
    }

    .spinner {
        width: 2rem;
        height: 2rem;

        line-height: 2rem;
        font-size: 1.3rem;
        font-weight: bold;
    }

    .product-quantity {
        width: 2rem;
    }

    .friend-delete {
        grid-column: 4;
    }

    .local-total-price {
        grid-row: 2;
        grid-column: 3/5;
        font-size: 1.2rem;
    }

    .info-inputs {
        grid-row: 3;
        grid-column: 1/5;

        grid-template-columns: 7.5rem auto;

        row-gap: 1.2rem;

        margin-top: 1.6rem;
    }

    .info-inputs label {
        grid-column: 1;
        font-size: 1.2rem;

        line-height: 2rem;
    }

    .info-inputs input {
        height: 2rem;

        font-size: 1.2rem;
        line-height: 2rem;

        grid-column: 2;
        width: auto;

        border: 1px solid rgba(77, 77, 77, 0.4);
        border-radius: 100px;

        padding-left: 0.8rem;
    }

    .friend-address-input {
        gap: 1.2rem;
    }

    .friend-address-input button {
        margin-left: 1.2rem;
    }

    .gift-message {
        grid-column: 1 / 3;
    }

    .gift-message label {
        width: 7.5rem;
    }

    .info-inputs textarea {
        border: 1px solid rgba(77, 77, 77, 0.4);
        border-radius: 13px;
        font-size: 1.2rem;

        height: 8rem;

        flex: 1;

        padding: 0.8rem;

    }

    .address-find-button {
        height: 2rem;
        width: 7.5rem;

        border-radius: 100px;
        border: solid 1px #b3b3b3;
    }

    #add-friend {
        margin-top: 2rem;
    }

    #add-friend div {
        font-size: 1.8rem;
        line-height: 2.1rem;
    }
}

/* 결제 내역 + 결제 수단 + 동의 섹션 - PC */
@media screen and (min-width: 769px) {
    #purchase-info-container {
        margin-top: 90px;
    }

    #purchase-info-section {
        margin-bottom: 75px;
    }

    #price-detail,
    #price-total {
        width: 100%;
    }

    #price-detail {
        border-bottom: 1px solid #afb3ab;
        margin: 25px 0;
    }

    .purchase-info-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
        color: #808080;
    }

    .purchase-unit {
        margin-left: 5px;
    }

    .detail-title,
    .total-title {
        flex: 1;
    }

    #price-check-section {
        width: 341px;
        height: 309px;
        padding: 9px 24.5px 16px 24px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
        margin-left: 70px;
    }

    #title-line {
        width: 88.5px;
        height: 15px;
        border-bottom: solid 1px #afb3ab;
    }

    #payment-type-section {
        margin-top: 45px;
    }

    #payment-type-section label {
        font-size: 20px;
        color: #808080;
    }

    #div-line {
        width: 990px;
        height: 105px;
        margin-bottom: 0px;
        border-bottom: solid 1px #afb3ab;
    }

    #div-line1 {
        width: 292.5px;
        border-bottom: solid 1px #859985;
    }

    #div-line2 {
        width: 292.5px;
        border-bottom: dashed 1px rgba(175, 179, 171, 0.5);
    }

    #price-check-title {
        font-family: NotoSansKR;
        font-size: 20px;
        font-weight: 500;
        margin: 0 21.5px;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: center;
        color: #5c6754;
    }

    #text_ab {
        font-family: NotoSansKR;
        font-size: 15px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        color: #b3b3b3;
    }

    #text_a {
        font-family: NotoSansKR;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.88;
        letter-spacing: normal;
        text-align: left;
        color: #c7c7c7;
    }

    #text-b {
        font-family: NotoSansKR;
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.88;
        letter-spacing: normal;
        text-align: left;
        color: #5c6754;
    }

    #text-c {
        font-family: NotoSansKR;
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        line-height: 1.88;
        text-align: left;
        color: #868e80;
    }

    #price_text_a {
        font-family: NotoSansKR;
        font-size: 23px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.3;
        letter-spacing: normal;
        text-align: right;
        color: #5c6754;
    }

    #price_text_b {
        font-family: NotoSansKR;
        font-size: 25px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: right;
        color: #5c6754;
    }

    #price_text_c {
        font-family: NotoSansKR;
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.88;
        letter-spacing: normal;
        text-align: right;
        color: rgba(92, 103, 84, 0.8);
    }

    /* 개인 정보 수집 이용 동의 */

    #personal-info-agree-top-section {
        margin-top: 39.5px;
        margin-bottom: 16px;
    }

    #personal-info-agree-label {
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #5c6754;
    }

    #personal-info-agree-require {
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 2;
        letter-spacing: normal;
        text-align: left;
        color: #b3b3b3;
    }

    #personal-info-agree-bottom-section {
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 2;
        letter-spacing: normal;
        text-align: left;
        color: #b3b3b3;
        margin-left: 20px;
    }

    /* 결제 정보 및 구매 진행 동의 */
    #btns-section {
        margin-top: 100px;
    }

    #final-agree-label {
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.88;
        letter-spacing: normal;
        text-align: left;
        color: #c7c7c7;
    }

    #go-back-btn {
        width: 200px;
        height: 50px;
        border-radius: 25px;
        border: solid 1px #5c6754;
        background-color: #ffffff;
        padding-top: 8px;
        font-family: NotoSansKR;
        font-size: 25px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: center;
        color: #5c6754;
        cursor: pointer;
    }

    #go-btn {
        width: 200px;
        height: 50px;
        border-radius: 25px;
        background-color: #5c6754;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        font-family: NotoSansKR;
        font-size: 25px;
        font-weight: bold;
        line-height: 1.2;
    }
}

/* 결제 내역 + 결제 수단 + 동의 섹션 - 모바일 */
@media screen and (max-width: 768px) {
    #purchase-info-container {
        margin-top: 5rem;
    }

    .purchase-info-row {
        display: flex;
        align-items: center;

        font-size: 1.2rem;
    }

    .detail-title,
    .total-title {
        flex: 1;
    }

    #price-total > * {
        font-size: 2.2rem;
    }

    .total-title {
        font-size: 1.4rem;
    }

    .detail-title {
        font-size: 1.2rem;
    }

    #price-detail,
    #price-total {
        width: 100%;
        gap: 1.6rem;

        padding: 1.6rem 0;
    }

    #price-detail {
        border-bottom: 1px solid #859985;
    }

    .purchase-unit {
        margin-left: 0.5rem;
    }

    #payment-type-section label {
        font-size: 1.2rem;
        margin-right: 3rem;
    }

    #div-line {
        width: 100%;
        border-bottom: 1px solid #5c6754;
        margin: 2rem 0;
    }

    #personal-info-agree-label {
        font-size: 1.2rem;
    }

    #personal-info-agree-bottom-section {
        margin-top: 1rem;
        margin-left: 1.5rem;

        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        color: #808080;

        font-size: 1rem;
    }

    #btns-section {
        margin-top: 2rem;
    }

    #final-agree-label {
        font-size: 14px;
    }

    #buttons {
        margin-top: 4rem;
    }

    #buttons > * {
        width: 15rem;
        height: 3rem;

        font-size: 1.4rem;

        border-radius: 99px;
        border: 1px solid #5c6754;
    }

    #go-back-btn {
        color: #5c6754;
        text-align: center;

        line-height: 3rem;
    }

    #go-btn {
        background-color: #5c6754;
        color: white;
    }
}
