{% load static %}

<div class="main-contents lg:mx-20 sm:mx-8 bg-white-400 text-center font-4xl">
    <div id="product_qna" class="flex flex-rows justify-start w-5/6 my-10 mx-auto w-3/5">
        <a href="#product_desc" class="w-1/6">
            <div id="n_sel" class="py-3 border-t border-r border-l border-b">상품설명</div>
        </a>
        <a href="#product_info" class="w-1/6">
            <div id="n_sel" class="py-3 border-b border-t border-r">상세정보</div>
        </a>
        <a href="#product_review" class="w-1/6">
            <div id="n_sel" class="py-3 border-b border-t border-r">리뷰 ({{comments.count}})</div>
        </a>
        <a href="#product_qna" class="w-1/6">
            <div id="sel" class="py-3 border-t border-r">상품문의 ({{questions.count}})</div>
        </a>
        <div class="w-2/6 border-b"></div>
    </div>
    <div id="question_content" class="mx-auto">
        <div class="flex flex-rows mb-3">
            <div id="q_title">Q & A</div>
            <div id="q_count" class="ml-5 pt-3">(총 {{questions.count}}건)</div>
        </div>
        <div class="flex flex-rows mb-2">
            <img src="{%static 'images/product_detail/index_leaf.svg' %}">
            <div id="q_desc" class="ml-3">구매하시려는 무난이에 대해 궁금한 점들을 문의해주세요</div>
        </div>
        <div class="flex flex-rows mb-10">
            <img src="{%static 'images/product_detail/index_leaf.svg' %}">
            <div id="q_desc" class="ml-3">개인적인 배송관련, 주문 관련 사항들은 1:1 고객상담센터로 문의해주세요</div>
        </div>
        <div id="q_table_top" class="flex flex-rows py-1">
            <div id="q_letter_gray" class="w-2/12">답변상태</div>
            <div id="q_letter_gray" class="w-6/12">제목</div>
            <div id="q_letter_gray" class="w-2/12">작성자</div>
            <div id="q_letter_gray" class="w-2/12">작성일</div>
        </div>
        <div id="qnas-section">
            {% if questions.exists is False %}
            <div class="text-center">아직 무난이에 대해 등록된 질문이 없습니다!</div>
            {% else %}
            {% for q in questions %}
            <a href="{% url 'products:question_read' q.pk %}">
                <div id="q_table_bottom" class="flex flex-rows py-1">
                    {% if q.status is True %}
                    <div id="q_letter_answered" class="w-2/12">답변완료</div>
                    {% else %}
                    <div id="q_letter_gray" class="w-2/12">답변대기</div>
                    {% endif %}
                    <div id="q_letter_black" class="w-6/12">{{q.title}}</div>
                    <div id="q_letter_black" class="w-2/12">{{q.consumer.user.nickname}}</div>
                    <div id="q_letter_gray" class="w-2/12">{{q.create_at.date}}</div>
                </div>
            </a>
            {% endfor %}
            {% endif %}
        </div>
        <div class="flex flex-row justify-end">
            <div id="q_write" class="flex flex-rows justify-center mt-10 w-2/12">
                <a href="/product/question/create?product={{product.pk}}">
                    <div>글쓰기</div>
                </a>
                <img src="{% static 'images/product_detail/pen.svg' %}">
            </div>
        </div>
        <div id="paginator" class="flex flex-row mt-10 justify-center">
            <div class="mr-10">
                <</div>
                    {% for p in question_total_pages %}
                    <div id="qna_paginator" class="mr-10" name="{{p}}">{{p}}</div>
                    {% endfor %}
                    <div>></div>
            </div>
        </div>
    </div>
</div>