{% load static %}

<!-- menu bar -->
<div class="main-contents lg:mx-20 sm:mx-8 bg-white-400 text-center font-4xl">
    <div id="product_review" class="flex flex-rows justify-start w-5/6 my-10 mx-auto w-3/5">
        <a href="#product_desc" class="w-1/6">
            <div id="n_sel" class="py-3 border-t border-r border-l border-b">상품설명</div>
        </a>
        <a href="#product_info" class="w-1/6">
            <div id="n_sel" class="py-3 border-b border-t border-r">상세정보</div>
        </a>
        <a href="#product_review" class="w-1/6">
            <div id="sel" class="py-3 border-t border-r">리뷰 ({{comments.count}})</div>
        </a>
        <a href="#product_qna" class="w-1/6">
            <div id="n_sel" class="py-3 border-b border-t border-r">상품문의 ({{questions.count}})</div>
        </a>
        <div class="w-2/6 border-b"></div>
    </div>
</div>

<!-- purchase score -->
<div id="review" class='flex justify-center w-full'>
    <div class='flex flex-col my-16 mx-auto w-5/6' id='review_score'>
        <h2 class="text-center mb-5 text-xl" style="color: #4d4d4d;">구매 만족도</h2>
        <div id="total_stars" class="mx-auto">
            <div id="total_stars" class='flex flex-row justify-center'>
                {% for i in total_score %}
                <img class='mr-3' src="{% static 'images/product_detail/big_yellow_star.svg' %}" alt="big_yellow_star">
                {% endfor %}
                {% for i in remainder_score %}
                <img class='mr-3' src="{% static 'images/product_detail/big_star.svg' %}" alt="star">
                {% endfor %}
            </div>
            <p class="mt-3 text-center mb-16" id="percent">{{ total_percent }}% 만족</p>
        </div>
        <div class='flex flex-row justify-between mx-auto' style="width: 990px;">
            <div id="fresh" style="width: 266px;">
                <p class="mb-5 text-center" id='score_title'>신선도</p>
                <div class="flex flex-row items-center">
                    <div class="text-right mr-4" style="width: 60px;">신선해요</div>
                    <div id="score_range_wrap">
                        <div class="" id="score_range" style="width: {{freshness_5}}%;">
                            <div id="end_point"></div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-row items-center">
                    <div class="text-right mr-4" style="width: 60px;">보통이에요</div>
                    <div id="score_range_wrap">
                        <div class="" id="score_range" style="width: {{freshness_3}}%;">
                            <div id="end_point"></div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-row items-center">
                    <div class="text-right mr-4" style="width: 60px;">아쉬워요</div>
                    <div id="score_range_wrap">
                        <div class="" id="score_range" style="width: {{freshness_1}}%;">
                            <div id="end_point"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="taste" style="width: 266px;">
                <p class="mb-5 text-center" id='score_title'>맛</p>
                <div class="flex flex-row items-center">
                    <div class="text-right mr-4" style="width: 60px;">맛있어요</div>
                    <div id="score_range_wrap">
                        <div class="" id="score_range" style="width: {{flavor_5}}%;">
                            <div id="end_point"></div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-row items-center">
                    <div class="text-right mr-4" style="width: 60px;">보통이에요</div>
                    <div id="score_range_wrap">
                        <div class="" id="score_range" style="width: {{flavor_3}}%;">
                            <div id="end_point"></div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-row items-center">
                    <div class="text-right mr-4" style="width: 60px;">아쉬워요</div>
                    <div id="score_range_wrap">
                        <div class="" id="score_range" style="width: {{flavor_1}}%;">
                            <div id="end_point"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="price" style="width: 266px;">
                <p class="mb-5 text-center" id='score_title'>가성비</p>
                <div class="flex flex-row items-center">
                    <div class="text-right mr-4" style="width: 60px;">좋아요</div>
                    <div id="score_range_wrap">
                        <div class="" id="score_range" style="width: {{cost_5}}%;">
                            <div id="end_point"></div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-row items-center">
                    <div class="text-right mr-4" style="width: 60px;">보통이에요</div>
                    <div id="score_range_wrap">
                        <div class="" id="score_range" style="width: {{cost_3}}%;">
                            <div id="end_point"></div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-row items-center">
                    <div class="text-right mr-4" style="width: 60px;">아쉬워요</div>
                    <div id="score_range_wrap">
                        <div class="" id="score_range" style="width: {{cost_1}}%;">
                            <div id="end_point"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- product review list -->
<div id="comment_list" class="flex flex-col mx-auto z-0">
    {% if comments.exists is False %}
    <div class='text-center h-28'> 아직 작성된 리뷰가 없습니다. </div>
    {% else %}
    {% for comment in comments %}
    <div class='mb-16'>
        <div class="flex flex-row mb-9" id="comment">
            <div class="">
                <img id="reviewer_img" src="{{comment.consumer.user.profile_image.url}}" alt="">
            </div>
            <div class="flex flex-col ml-6 border-b-2" style="width: 880px; font-size: 15px;">
                <div class="flex flex-row mb-3">
                    <div class="text-left" style="width: 175px; border-right: solid 3px #999999;">
                        {{ comment.consumer.user.nickname }}</div>
                    <div class="text-center" style="width: 340px; border-right: solid 3px #999999; color:#989898;">
                        {{ comment.create_at|date:"Y. m. d h:i" }}</div>
                    <div class="flex flex-row" id="report" style="margin-left:87.8px">
                        <img src="{% static 'images/report.svg' %}" alt="">
                        <div class="text-black text-opacity-40 pl-2">신고하기</div>
                    </div>
                </div>
                <div class="flex flex-row pb-5 items-center">
                    <div class="text-black text-opacity-40 mr-16">{{ product.title }} 구매</div>
                    <div id="stars" class='flex flex-row items-center'>
                        {% for i in comment.avg|rjust:comment.avg %}
                        <img class='mr-3 h-6 w-6' src="{% static 'images/product_detail/yellow_star.svg' %}"
                            alt="yellow_star">
                        {% endfor %}
                        {% for i in 5|rjust:4 %}
                        <img class='mr-3 h-6 w-6' src="{% static 'images/product_detail/star.svg' %}" alt="yellow_star">
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-12" id="score_table_wrap">
            <table id="score_table">
                <tr>
                    <td class="py-2 text-center"> 신선도 </td>
                    <td class="py-2 text-center"> 맛 </td>
                    <td class="py-2 text-center"> 가성비 </td>
                </tr>
                <tr>
                    <td class="py-4">
                        {% if comment.freshness == 1 %}
                        <img src="{% static 'images/product_detail/score_1.svg' %}" class="mx-auto" alt="">
                        {% elif comment.freshness == 3 %}
                        <img src="{% static 'images/product_detail/score_3.svg' %}" class="mx-auto" alt="">
                        {% else %}
                        <img src="{% static 'images/product_detail/score_5.svg' %}" class="mx-auto" alt="">
                        {% endif %}
                    </td>
                    <td class="py-4">
                        {% if comment.flavor == 1 %}
                        <img src="{% static 'images/product_detail/score_1.svg' %}" class="mx-auto" alt="">
                        {% elif comment.flavor == 3 %}
                        <img src="{% static 'images/product_detail/score_3.svg' %}" class="mx-auto" alt="">
                        {% else %}
                        <img src="{% static 'images/product_detail/score_5.svg' %}" class="mx-auto" alt="">
                        {% endif %}
                    </td>
                    <td class="py-4">
                        {% if comment.cost_performance == 1 %}
                        <img src="{% static 'images/product_detail/score_1.svg' %}" class="mx-auto" alt="">
                        {% elif comment.cost_performance == 3 %}
                        <img src="{% static 'images/product_detail/score_3.svg' %}" class="mx-auto" alt="">
                        {% else %}
                        <img src="{% static 'images/product_detail/score_5.svg' %}" class="mx-auto" alt="">
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
        <div id="review_txt" class="text-left">{{ comment.text }}</div>
        <div id="review_imgs" class="flex flex-row text-left mt-5">
            {% for img in comment.product_comment_images.all %}
            <div id="review_img" class="mb-9"><img src="{{img.image.url}}" alt="사진없음"
                    style="width:241px; height:241px; object-fit: cover;"></div>
            {% endfor %}
        </div>
        <div id="review_comment">
            <div class="flex flex-row justify-center mb-4">
                <button id="more_btn" class="rec_more" style="outline: none;">
                    댓글보기 &nbsp; <i id="show_icon" class='fas fa-caret-down'></i> <i class="fas fa-caret-up"
                        style="display: none;"></i>
                </button>
            </div>
            <div class="recomments hide">
                <div class="flex flex-row mt-12 mb-12" id="recommentform_{{comment.pk}}">
                    {% csrf_token %}
                    {{ recomment_form.text }}
                    <button class="ml-3" id="rec_submit" name="{{comment.id}}" onclick="recommentSubmit({{comment.pk}})">댓글작성</button>
                </div>

                <div class="recomment-wrap" name="{{comment.pk}}">
                    {% if request.user.is_authenticated %}
                    <div class="recomment-input-wrapper flex flex-col">
                        <div class="flex items-center recomment-info">
                            <div class="recomment-arrow"></div>
                            <div class="recomment-author flex items-center">
                                <img src="{{user.profile_image.url}}" class="comment-author--profile-image">
                                <div class="comment-author--id">{{request.user.nickname}}</div>
                            </div>
                        </div>
                        <textarea type="text" class="recomment-input-box" name='{{comment.pk}}'></textarea>
                        <button class="recomment-submit-button mx-auto"
                            onclick="recommentSubmit({{comment.pk}})">등록하기</button>
                    </div>
                    <div class="horizon-bar mx-auto"></div>
                    {% endif %}
                    {% for recomment in comment.product_recomments.all %}
                    <div class="recomment relative" name={{recomment.pk}}>
                        <div class="flex items-center recomment-info">
                            <div class="recomment-arrow"></div>
                            <div class="recomment-author flex items-center">
                                <img src="{{recomment.author.profile_image.url}}" class="comment-author--profile-image">
                                <div class="comment-author--id">{{recomment.author.nickname}}</div>
                            </div>
                            <div class="bar"></div>
                            <div class="comment-create text-center recomment-create">
                                {{recomment.create_at|date:"Y. m.d"}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{recomment.create_at|date:"H : i"}}
                            </div>
                            <div class="bar"></div>
                            <div class="recomment-report flex items-center ml-auto">
                                <img src="{% static 'images/editors_review/editor_review_detail_comment_report.svg'%}"
                                    alt="">
                                <div class="comment-report--report button">신고하기</div>
                            </div>
                        </div>
                        <div class="absolute recomment-like-button-wrap button">
                            <div class="recomment-like-button relative"
                                style="background-image: url({% static 'images/editors_review/editor_review_detail_recomment_like.svg' %});">
                                <p class="recomment-like-count absolute text-center align-text-bottom">{{recomment.like_count}}</p>
                            </div>
                        </div>
                        <div class="recomment-content flex flex-col">
                            <div class="recomment-text">
                                <div class="recomment-text--text">{{recomment.text}}</div>
                                <div class="recomment-text-options-wrap flex justify-between">
                                    <div></div>
                                    <div class="recomment-text-options flex">
                                        {% if request.user == recomment.author %}
                                        <div class="comment-text-options--edit recomment-text-options--edit button"
                                            onclick="recommentEdit(this, {{recomment.pk}})">수정</div>
                                        <div class="comment-text-options--delete recomment-text-options--delete button"
                                            onclick="recommentDelete({{recomment.pk}})">삭제</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="comment-edit-form-container recomment-edit-form-container mx-auto">
                                <form class="flex flex-col comment-edit-form recomment-edit-form w-full">
                                    <input type="text" class="comment-edit-form-input">
                                    <div class="flex items-center justify-between">
                                        <div></div>
                                        <button type="submit" class="comment-edit-submit-button">수정하기</button>
                                        <p class="comment-edit-cancel recomment-edit-cancel button">취소</p>
                                    </div>
                                </form>
                            </div> -->
                        </div>
                    </div>
                    <div class="horizon-bar mx-auto"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
<script type="text/javascript">
    // urls for AJAX request
    const recommentEditURL = '{% url "comments:product_recomment_edit" %}'
    const recommentDeleteURL = '{% url "comments:product_recomment_delete" %}'

    // constants for AJAX request's argument
    const productPK = "{{product.pk}}"
    const userPK = "{{request.user.pk}}"

</script>
<script src="{% static 'js/products/comment_submit.js' %}"></script>
<script src="{% static 'js/products/comment_edit.js' %}"></script>
<script src="{% static 'js/proudcts/comment_delete.js' %}"></script>
