{% load static %}

<div class="main-contents lg:mx-20 sm:mx-8 bg-white-400 text-center font-4xl">
    <div id="product_info" class="flex flex-rows justify-start w-5/6 my-10 mx-auto w-3/5">
        <a href="#product_desc" class="w-1/6">
            <div id="n_sel" class="py-3 border-t border-r border-l border-b">상품설명</div>
        </a>
        <a href="#product_info" class="w-1/6">
            <div id="sel" class="py-3 border-t border-r">상세정보</div>
        </a>
        <a href="#product_review" class="w-1/6">
            <div id="n_sel" class="py-3 border-b border-t border-r">리뷰 ({{total_comments}})</div>
        </a>
        <a href="#product_qna" class="w-1/6">
            <div id="n_sel" class="py-3 border-b border-t border-r">상품문의 ({{total_questions}})</div>
        </a>
        <div class="w-2/6 border-b"></div>
    </div>
    <div id="info_detail" class="grid grid-cols-4 mx-auto">
        <div>포장단위별 용량(중량), 수량, 크기</div>
        <div>{{product.weight}}kg</div>
        <div>관련법상 표기사항</div>
        <div>해당 사항 없음</div>
        <div>농수산물 원산지 표시에 관한 법률에 따른 원산지</div>
        <div>국산</div>
        <div>상품구성</div>
        <div>{{product.category.name}}</div>
        <div>제조연월일, 유통기한 또는 품질유지기한</div>
        <div>제품 별도 표기</div>
        <div>소비자상담</div>
        <div>홈페이지 고객문의센터</div>
    </div>
</div>