{% load static %}

<div class="main-contents lg:mx-20 sm:mx-8 bg-white-400 text-center font-4xl">
    <div id="product_refund_change" class="flex flex-rows justify-start w-5/6 my-10 mx-auto w-3/5">
        <a href="#product_desc" class="w-1/6">
            <div id="n_sel" class="py-3 border-t border-r border-l border-b">상품설명</div>
        </a>
        <a href="#product_info" class="w-1/6">
            <div id="n_sel" class="py-3 border-t border-r">상세정보</div>
        </a>
        <a href="#product_review" class="w-1/6">
            <div id="n_sel" class="py-3 border-b border-t border-r">리뷰 ({{total_comments}})</div>
        </a>
        <a href="#product_qna" class="w-1/6">
            <div id="n_sel" class="py-3 border-b border-t border-r">상품문의 ({{total_questions}})</div>
        </a>
        <a href="#product_refund_change" class="w-1/6">
            <div id="sel" class="py-3 border-b border-t border-r">반품/환불 규정</div>
        </a>
        <div class="w-2/6 border-b"></div>
    </div>
    <div id="refund_change_info_detail" class="flex flex-col mx-auto">
        <div id="refund_change_info_detail-row" class="flex flex-row">
            <div id="refund_change_info_detail-left-section" class="w-3/12">반품/교환</div>
            <div id="refund_change_info_detail-right-section" class="flex flex-row w-9/12">
                <div>구매자 단순 변심은 상품 수령 후 7일 이내</div>
                <div id="refund_change_info_detail-sub-desc">(구매자 반품 배송비 부담)</div>
            </div>
        </div>

        <div id="refund_change_info_detail-row" class="flex flex-row">
            <div id="refund_change_info_detail-left-section" class="w-3/12">사유에 따른 요청 가능 기간</div>
            <div id="refund_change_info_detail-right-section" class="w-9/12">
                <div>표시/광고와 상이, 상품 하자의 경우 상품 수령 후 3개월 이내 혹은 표시/광고와 다른 사실을 안 날로부터 30일 이내</div>
                <div id="refund_change_info_detail-sub-desc">(판매자 반품 배송비 부담)</div>
                <div>둘 중 하나 경과시 반품/교환 불가</div>
            </div>
        </div>

        <div id="refund_change_info_detail-row" class="flex flex-row">
            <div id="refund_change_info_detail-left-section" class="w-3/12">반품/교환 불가능 사유</div>
            <div id="refund_change_info_detail-right-section" class="w-9/12 justify-items-start">
                <div>1. 반품 요청 기간이 지난 경우</div>
                <div>2. 구매자의 책임있는 사유로 상품 등이 멸실 또는 훼손된 경우</div>
                <div id="refund_change_info_detail-sub-desc">(단, 상품의 내용을 확인하기 위하여 포장 등을 훼손한 경우는 제외)</div>
                <div>3. 구매자의 책임있는 사유로 포장이 훼손되어 상품 가치가 현저히 상실된 경우</div>
                <div id="refund_change_info_detail-sub-desc">(예 : 식품, 화장품, 향수류, 음반 등)</div>
                <div>4. 구매자의 사용 또는 일부 소비에 의하여 상품의 가치가 현저히 감소한 경우</div>
                <div id="refund_change_info_detail-sub-desc">(라벨이 떨어진 의류 꼬는 태그가 떨어진 명품관 상품인 경우)</div>
                <div>5. 시간의 경과에 의하여 재판매가 곤란할 정도로 상품 등의 가치가 현저히 감소한 경우</div>
                <div>6. 고객의 요청사항에 맞춰 제작에 들어가는 맞춤제작상품의 경우</div>
                <div id="refund_change_info_detail-sub-desc">(판매자에게 회복불가능한 손해가 예상되고, 그러한 예정으로 청약철회권 행사가 불가하다는 사실을 서면 동의 받은 경우)</div>
                <div>7. 복제가 가능한 상품 등의 포장을 훼손한 경우</div>
                <div id="refund_change_info_detail-sub-desc">(CD/DVD/GAME/도서의 경우 포장 개봉 시)</div>
            </div>
        </div>

    </div>
    <div id="responsibility-section" class="flex flex-col mx-auto">
        <div id="responsibility-title">주의 사항</div>
        <div id="responsibility-content">* 전자상거래 등에서의 소비자보호에 관한 법률에 의한 반품규정이 판매자가 지정한 반품 조건보다 우선합니다.</div>
        <div id="responsibility-content">* 전자상거래 등에서의 소비자보호에 관한 법률에 의거하여 미성년자가 물품을 구매하는 경우, 법정대리인이 동의하지 않으면 미성년자 본인 또는 법정대리인이 구매를 취소할 수 있습니다.</div>
        <div id="responsibility-content">* 전기용품 및 생활용품 안전관리법 및 어린이제품 안전 특별법 규정에 의한 안전관리대상 품목인 전기용품, 생활용품, 어린이제품을 판매 또는 구매하실 경우에는 해당 제품이 안전인증, 안전확인, 공급자적합성확인, 안전기준준수 적용 제품인지 확인하시기 바랍니다.</div>
        <div id="responsibility-content">* "피키팜"의 결제시스템을 이용하지 않고 판매자와 직접 거래하실 경우 상품을 받지 못하거나 구매한 상품과 상이한 상품을 받는 등 피해가 발생할 수 있으니 유의하시기 바랍니다.</div>
        <div id="responsibility-content">* "피키팜"에 등록된 판매상품과 상품의 내용은 판매자가 등록한 것으로 "피키팜"은 등록된 내용에 대하여 일체의 책임을 지지 않습니다.</div>
    </div>
</div>