{% extends 'farmers/mypage/farmer_mypage_base.html' %} {% load static %}
{% block stylesheet_farmer_mypage %}
<link rel="stylesheet" href="{% static 'css/farmers/mypage/farmer_mypage_order.css' %}" />
{% endblock stylesheet_farmer_mypage %}
{% block content %}
{% include 'farmers/mypage/order/info_section.html' %}
{% include 'farmers/mypage/order/order_list_section.html' %}
<script src="https://cdn.jsdelivr.net/npm/luxon@2.0.1/build/global/luxon.min.js"></script>
<script>
    document.querySelector('#button-order-manage').classList.add('active');
    const DateTime = luxon.DateTime;
</script>
<script src="{% static 'js/farmers/mypage/farmer_mypage_order.js'%}"></script>
{% endblock content %}