<!DOCTYPE html>
{% load static %} <html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/farmers/mypage/farmer_mypage_order_confirm_popup.css' %}" />
    <title>주문 목록 다운로드 | 피키팜</title>
</head>

<body>
    <div class="popup_container flex">
        <h1>주문 목록 다운로드</h1>
        <h5 id="popup-desc">아직 송장을 입력하지 않은 {{orders.count}}개의 주문이 있습니다.</h5>

        <span>전화번호 표시 방식을 선택하세요</span>
        <div>
            <input type="radio" name="phone-number-type" id="radio-nohyphen" value="nohyphen" checked>
            <label for="radio-nohyphen">01012345678</label>
        </div>
        <div>
            <input type="radio" name="phone-number-type" id="radio-hyphen" value="hyphen">
            <label for="radio-hyphen">010-1234-5678</label>
        </div>


        <button id="order-list-download-button" style="margin:20px">엑셀로 변환하기</button>
    </div>

</body>
<script>
    const csrftoken = "{{csrf_token}}"
    const ajaxRequestURL = "{% url 'farmers:farmer_mypage_get_order_list_ajax' %}"
</script>
<script defer src="{% static 'js/farmers/mypage/order/farmer_mypage_get_order_list.js' %}"></script>


</html>