:root {
    --white: #f8f8f8;
    --light-grey: #f2f2f2;
    --brown-grey: #b3b3b3;
    --dark-sage: #5c6754;
    --dark-green: #4d5548;
}

.landing-wrapper {
    width: 100%;
    height: calc(100vh - 55px);
    display: flex;
    justify-content: center;
}

.landing-content {
    width: 990px;
}

.landing-sub-text {
    font-size: 35px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-top: 30px;
}

.landing-main-text {
    font-size: 50px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.landing-desc {
    font-size: 25px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

/* section 1*/
#section1 {
    background-color: var(--light-grey);
    min-height: 580px;
    align-items: center;
}

.section-wrapper {
    min-height: 486px;
    max-height: 580px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

#landing-section1 {
    min-height: 486px;
    max-height: 580px;
    display: flex;
    justify-content: space-between;
}

.section1-text {
    color: #31382c;
}

#section1-title p {
    margin-top: 24px;
}
#section1-farmer-image-group {
    display: flex;
    margin-bottom: 30px;
}

.section1-farmer-img {
    width: 108px;
    height: 107px;
}

figcaption {
    left: 15px;
    position: relative;
    font-size: 19px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #7b7c79;
}

#section1-desc-img {
    object-fit: cover;
}

/* section 2*/
#section2 {
    background-color: var(--dark-green);
    min-height: 580px;
    align-items: center;
}

#landing-section2 {
    min-height: 550px;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section2-text {
    color: #ececec;
}

#landing-section2-text-group {
    display: flex;
    margin-bottom: auto;
    flex: 1;
    justify-content: space-between;
}

#landing-section2-main-text-group {
    margin-left: 90px;
}

#section2-desc {
    margin-top: 30px;
    margin-right: 107px;
}

mark {
    background-color: #ececec;
    color: var(--dark-green);
    font-weight: bold;
    padding: auto 5px;
    line-height: 30px;
}

/* section 3*/

#section3 {
    background-color: #e3e3e3;
    min-height: 580px;
    align-items: center;
}

#landing-section3 {
    min-height: 550px;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

#landing-section3-text-group{
    position: absolute;
    margin : 90px 0 0 350px;
}

#landing-section3-main-text-group {
    /* margin : 107px 100px 26px 0px; */
    /* position:absolute; */
    text-align: center;

}

.section3-text {
    color: #31382c;
}

#section3-desc-center-img{
    margin-top:27px;
}


#section3-desc{
    margin-top:47.7px;
    /* position: absolute; */
    text-align: center;
}


#section3-desc-left-img{
    width: 374px;
  height: 580px;
  margin-right:150px;
}

#section3-desc-right-img{
    width: 460px;
  height: 580px;
  margin-left:150px;
}







/* section 4*/
#section4 {
    background-color: var(--light-grey);
    min-height: 580px;
}
#landing-section4 {
    min-height: 433px;
}

.section4-text-wrapper {
    color: var(--dark-green);
}

.section4-main-title {
    font-size: 50px;
    font-weight: bold;
}

.section4-sub-title {
    font-size: 35px;
    font-weight: bold;
}

#section4-desc {
    font-size: 25px;
    font-weight: 500;
}
