{% load static %}

<link rel="stylesheet" href="{% static 'css/orders/modal/payment_success_subs_modal.css' %}">

<section class="modal-wrap">
    <h1 id="modal-title" style="color: #5c6754;">구독 완료!</h1>
    <h2 id='modal-title-desc'>미니 홈페이지를 방문해 보세요!</h2>
    <img src="{{farmer.farmer_profile.url}}" alt="{{farmer.farm_name}}" class="farmer-profile-img farmer-single">
    <h2 class="farm-name farm-name-single">{{farmer.farm_name}}</h2>
    <p id="modal-desc">
        농가의 일상 소식과<br>
        새상품 업로드 알림을 받으실 수 있어요!
    </p>
</section>