#icon_section{
    width:990px;
    height:250px;
}

#icon{
    margin-top:100px;
}

#post_category_section{
    width:900px;
    border-bottom: solid 0.5px #707070;
}

#id_post_category{
    display:flex;
    flex-direction: row;
    font-family: NotoSansKR;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
    padding-bottom:10px;
    margin-bottom:10px;
}

#id_post_category>li{
    margin-left:50px;
}

#id_post_category>li:nth-child(1){
    margin-left:20px;
}


label{
    font-family: NotoSansKR;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;

  letter-spacing: 0.25px;
  text-align: left;
  color: #707070;
}

#title_section{
    width:900px;
    margin-top : 35.7px;
    margin-bottom : 20px;
}

#title_section>div:nth-child(1){
    margin-right:58px;
}

#sub_title_section{
    width:900px;
    margin-bottom : 20px;
}

#sub_title_section>div:nth-child(1){
    margin-right:40px;
}

#main_image_section{
    width:900px;
    margin-bottom : 80px;
}

#main_image_section>div:nth-child(1){
    margin-right:60px;
}

#main_image_section>div:nth-child(2)>input{
    width: 200px;
  height: 28px;
  border-radius: 3px;
  font-family: NotoSansKR;
  background-color: #e4e6e3;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  text-align: left;
  color: #707070;
}

#id_title{
    width: 380px;
  height: 30px;
  border-radius: 3px;
  background-color: #f1f2f0;
}

#id_sub_title{
    width: 790px;
  height: 30px;
  border-radius: 3px;
  background-color: #f1f2f0;
}


p{
    text-align:left;
    margin:10px 0px 10px 0px;
}

#products_section{
    width:900px;
    margin-top:80px;
    margin-bottom:20px;
}

#farms_section{
    width:900px;
    margin-bottom:50px;
}

#farms_section>div:nth-child(1){
    margin-right:11px;
}

#id_product{
    display:flex;
    flex-direction: row;
}

#id_product>li{
    margin-right:30px;
}

#id_farm{
    width: 150px;
  height: 30px;
  padding: 4px 20px;
  border-radius: 3px;
  background-color: #e4e6e3;
  font-family: NotoSansKR;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.9;
  letter-spacing: 0.2px;
  text-align: left;
  color: #707070;
}

#submit_btn{
    font-family: NotoSansKR;
  font-size: 34px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #5c6754;
}