#content{
    width:840px;
}

/*
    전체 상품 선택 셀렉터 
*/

#filter-section{
    margin-left : 126px;
    margin-bottom : 45px;
}

#filter-section>div:nth-child(2){
  margin-left:35px;
}


/* 
    찜한 상품 아이템 관련
*/

#products-section{
    margin-left : 126px;
}

#product{
    width: 684px;
    height: 130px;
    padding: 15px 20px;
    border-radius: 20px;
    border: solid 1px #b3b3b3;
}

#product_img{
    width: 95px;
    height: 95px;
    margin: 0 20px 0 0;
    border-radius: 20px;
    object-fit:cover;
}

#product_title{
    font-family: NotoSansKR;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #5c6754;
}

/* 찜한 작물 이름 과 판매 농가 이름 가운데 바 */
#slash{
    margin:0 15px;
  color : #5e6656;
}

#product_farm_name{
    font-family: NotoSansKR;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;

  letter-spacing: normal;
  text-align: left;
  color: #707070;
}

#product_price{
    font-family: NotoSansKR;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #b3b3b3;
    margin-right : 20px;
}

#product_weight{
    font-family: NotoSansKR;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #b3b3b3;
}

/* 무난이 보기 버튼 */
#see-product-btn{
    width: 75px;
    height: 22px;
    margin: 0 0 12px 0;
    padding: 1px 9px 4px 8px;
    border-radius: 11px;
    border: solid 0.5px #b3b3b3;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    color: #5c6754;
    cursor: pointer;
  }
  
  #see-product-btn:hover{
    color: #FFFFFF;
    background-color: #5c6754;
  }

  /* 장바구니 담기 버튼 */
  #cartIn_btn{
    width: 98px;
    height: 25px;
    border-radius: 11px;
    background-color: #5c6754;
    font-size: 12px;
    padding: 3px 14px 4px 12px;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

/* #cartIn_btn:hover{
  background-color: #ffffff;
  color: #5c6754;
  box-sizing: border-box;
  border: solid 0.5px #b3b3b3;
} */

/* 삭제하기 버튼 */
#delete_btn{
    width: 115px;
    height: 30px;
    padding: 4px 30px;
    border-radius: 15px;
    border: solid 1px #b3b3b3;
    background-color: #ffffff;
    font-family: NotoSansKR;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #5c6754;
    margin-left:171px;
    cursor: pointer;
  }
  
  #delete_btn:hover {
    background-color: #5c6754;
    color : #ffffff;
  }
  

/*
  pagination 
  */
  #paginator{
    margin-top:70px;
    width:650px;
    margin-left:170px;
  }
  
  #page_btn_sel{
    font-family: NotoSansKR;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #5c6754;
    margin-right:24px;
  }
  
  #page_btn{
    font-family: NotoSansKR;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #b3b3b3;
    margin-right:24px;
  }


  /* 구매 내역이 없을 시, 보여지는 redIRECT MSG 관련 CSS*/
#redirect_btn{
    width:170px;
    height: 30px;
    padding-top:5px;
    margin-top:30px;
    border-radius: 11px;
    background-color: #5c6754;
    font-family: NotoSansKR;
    font-size: 15px;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
  
  #redirect_a{
    width:170px;
  }

  

