@import 'base/mobile_base_style.css';

@media screen and (max-width: 768px){
    /* base setting */
    #main {
        width: 100%;
        padding: 0 2.5rem;
    }    
    #main > div{
        width: 100%;
    }
    #filter-section, 
    #products-section,
    #delete_btn {
        margin-left: 0;
    }
    #middle-section,
    #content {
        width: 100%;
    }
    #content {
        display: flex;
        flex-wrap: wrap;
    }

    /* mypage base 없어서 일단 숨기기... */
    #top-section,
    #menu {
        display:none
    }

    /* before make orders */
    #before_order {
        width: 100%;
    }
    #redirect_a{
        width: 13rem;
    }
    #redirect_btn{
        margin-top: 2rem;
        font-size: 1.1rem;
        width: 13rem;
        height: 2.2rem;
        text-align: center;
    }

    /* font */
    #product_title,
    #product_farm_name {
        font-size: 1.5rem;
    }
    #filter-6month,
    #filter > input,
    #product_price,
    #product_quantity,
    #see-product-btn > a,
    #reg-review-btn > a,
    #cancel-order-btn > a,
    #cartIn_btn {
        font-size: 1.1rem;
    }
    #product_order_at2,
    #delivery_status > div {
        font-size: 0.8rem;
    }
    #filter-6month,
    #filter > input,
    #product_title,
    #delivery_status > div {
        font-weight: bold;
    }
    #see-product-btn > a,
    #reg-review-btn > a,
    #cancel-order-btn > a,
    #cartIn_btn {
        font-weight:normal
    }
    #filter-6month,
    #filter > input,
    #see-product-btn > a,
    #reg-review-btn > a,
    #cancel-order-btn > a {
        color: #5e6656;
    }
    #cartIn_btn {
        color: #fefffd;
    }
    #product_title {
        color: var(--dark-sage);
    }
}