/* 개인정보 수정 */

#info-edit-container{
    padding-left:128px;
  }
  
  #title-section{
    font-family: NotoSansKR;
    font-size: 25px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #5c6754;
  }
  
  #profile-content-section, #info-content-section{
    margin-top:33px;
  }
  
  #info-section, #profile-section{
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
  
    letter-spacing: normal;
    text-align: left;
    color: #5c6754;
  }
  
  #info-section{
    width:400px;
  }
  
  #name{
    border-left : solid 0.5px #b3b3b3;
    height:75px;
    padding-left:40px;
  }
  
  
  
  #name>input{
    width:80px;
    height: 30px;
    border-radius: 15px;
    padding:0 10px 0 10px;
    margin-right:10px;
    margin-left:5px;
    border: solid 1px #e6e6e6;
    background-color: #ffffff;
  }
  
  #email{
    border-left : solid 0.5px #b3b3b3;
    padding-left:40px;
  }
  
  #email>input{
    width: 270px;
    height: 30px;
    padding:0 10px 0 10px;
    border-radius: 15px;
    border: solid 1px #e6e6e6;
    background-color: #ffffff;
  }
  
  #nickname>input{
    width: 270px;
    height: 30px;
    padding:0 10px 0 10px;
    border-radius: 15px;
    border: solid 1px #e6e6e6;
    background-color: #ffffff;
  }
  
  #nickname{
    border-left : solid 0.5px #b3b3b3;
    padding-left:40px;
  }
  
  
  
  #profile-section{
    width:300px;
  }
  
  #image-section{
    margin-bottom: 30px;
  }
  
  #profile-image{
    width: 110px;
    height: 110px;
    background-color: #f2f2f2;
    border-radius: 50%;
    object-fit: cover;
  }
  
  #edit-profile-image>label{
    width: 83px;
    height: 22px;
    border-radius: 11px;
    background-color: #5c6754;
    font-family: NotoSansKR;
    font-size: 10px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    padding-top:4px;
    color: #ffffff;
    display: inline-block;
    cursor: pointer;
  }
  
  #edit-profile-image>input{
    position: absolute; 
    width: 1px; 
    height: 1px; 
    padding: 0; 
    margin: -1px; 
    overflow: hidden; 
    clip:rect(0,0,0,0); 
    border: 0;
  
  }
  
  #edit-info{
    cursor: pointer;
  }
  
  #edit-profile{
    cursor: pointer;
  }
  
  #info-edit-complete{
    cursor: pointer;
  }
  
  #profile-edit-complete{
    cursor: pointer;
  }