* {
    box-sizing: border-box;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.transition_element {
    transition: all 15s ease-in;
}

.button {
    cursor: pointer;
}

.wrap_padding {
    padding: 0 17px;
}

.popup_container {
    padding-top: 60px;
    width: 375px;
    /*height: 1130px;*/
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}

.review-main-title {
    font-size: 20px;
    font-weight: bold;
    color: #4d5548;
    margin-bottom: 39px;
    margin-top: 60px;
}

.downArrow-img-box {
    margin-bottom: 42px;
}

.review-main-sub-title {
    font-size: 12px;
    font-weight: 300;
    color: #5c6754;
}

.review-date {
    font-size: 16px;
    font-weight: 500;
    color: #4d4d4d;
}

.review-receipt-top-section {
    width: 325px;
    overflow: hidden;
    height: auto;
    margin: 10px 4px 0 0;
    border: solid 0.5px #b7b7b7;
    /*padding: 10px 0 20px 0;*/
}

.review-number-wrap {
    background-color: #f8f8f8;
    height: 41px;
    align-items: center;
}

.review-number-title {
    font-size: 12px;
    font-weight: 300;
    color: #5e6656;
    margin-right: 10px;
}

.review-number-value {
    font-size: 16px;
    font-weight: 500;
    color: #4d4d4d;
}

.review-product-information-title {
    font-size: 15px;
    font-weight: 500;
    color: #4d5548;
    margin-top: 15px;
    margin-bottom: 20px;
}

.product-cancel {
    font-size: 10px;
    color: #808080;
}

.review-product-information-content-wrap {
    align-items: center;
    margin-bottom: 10px;
}

.review-product-information-content-left-section {
    margin-right: 25px;
}

.review-product-image {
    width: 72px;
    height: 72px;
    border-radius: 10px;
}

.review-product-image img {
    width: 72px;
    height: 72px;
    border-radius: 10px;
    object-fit: cover;
}

.review-product-name {
    font-size: 15px;
    font-weight: bold;
}

.review-product-detail-wrap {
    color: #808080;
    align-items: center;
}

.review-product-weight {
    font-size: 15px;
}

.review-product-quantity {
    font-size: 15px;
}

.review-product-quantity::before {
    content: '|';
    padding: 0 10px;
    color: #aaaea6;
}

.review-product-quantity-unit {
    font-size: 12px;
    font-weight: 300;
    margin-left: 6.8px;
}

.review-customer-wrap {
    margin-top: 15px;
}

.review-customer-title {
    font-size: 15px;
    font-weight: 500;
    color: #4d5548;
}

.review-customer-detail-wrap {
    margin-top: 21px;
}

.review-customer-detail-title {
    padding-top: 1.5px;
    font-size: 12px;
    font-weight: 300;
    color: #5e6656;
}

.review-customer-detail-namecall-value-wrap {
    margin-left: 15px;
    font-size: 15px;
}

.review-customer-detail-callnum::before {
    content: '|';
    padding: 0 7px;
    color: #707070;
}

.review-customer-detail-address-wrap,
.review-customer-detail-request-message-wrap {
    margin-top: 10px;
}

.review-customer-detail-user-value-wrap {
    margin-left: 10px;
    font-size: 15px;
}

.review-customer-detail-address-value-wrap {
    margin-left: 35px;
    font-size: 15px;
}

.review-customer-detail-address {
    width: 217px;
    margin-bottom: 3px;
    font-size: 15px;
    font-weight: bold;
    color: #5c6754;
}

.review-customer-detail-plus-wrap {
    font-size: 13px;
    color: #808080;
}

.review-customer-detail-door-password::before {
    content: '|';
    padding: 0 10px;
    color: #707070;
}

.review-customer-detail-request-message {
    margin-left: 24px;
    width: 211px;
    font-size: 15px;
}

.review-reason-wrap {
    /* margin-top: 70px; */
    position: relative;
    text-align: center;
}

.review-reason-title {
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    color: #4d5548;
}

.review-reason-input-wrap {
    width: 325px;
    margin-top: 20px;
    height: 192px;
}

.review-reason-input {
    width: 100%;
    height: 100%;
    padding: 12px 29px 138px 19px;
    background-color: #f8f8f8;
    border: none;
    resize: none;
    font-size: 15px;
}

.review-reason-input:focus {
    outline: none;
}

.review-reason-submit-wrap {
    margin: 60px 0;
    flex-direction: column;
    align-items: center;
    display: inline-block;
    background-color: transparent;
    border: 0;
    outline: 0;
}

.review-reason-submit-wrap:hover {
    cursor: pointer;
}

.review-reason-submit-text {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #5c6754;
}

.review-request-box {
    background-color: #f8f8f8;
}

.review-request-title {
    margin: 10px 4px 0 0;
    padding: 10px 17px;
}
.review-request-detail-request-message {
    padding: 10px 17px 20px 17px;
    font-size: 15px;
    font-weight: 300;
    color: #000000;
}
/* rating(평가) */
.rating-box {
    display: flex;
    flex-direction: column;
}

.rating-sub-box {
    display: flex;
}
.face-rating,
.face-rating ul {
    display: flex;
    margin: 0px;
}

.rating-title {
    font-size: 11px;
    font-weight: 500;
    color: #5c6754;
    width: 67px;
    height: 41px;
    background-color: #f8f8f8;
    text-align: center;
    line-height: 41px;
}

.face-rating-btn {
    margin-left: 50px;
    margin-top: 5px;
}

.fresh:hover,
.flavor:hover,
.cheap:hover,
.star-img:hover {
    cursor: pointer;
}

.none-display-rating {
    display: none;
}

#id_freshness_0,
#id_freshness_1,
#id_freshness_2 {
    display: none;
}

#id_flavor_0,
#id_flavor_1,
#id_flavor_2 {
    display: none;
}

#id_cost_performance_0,
#id_cost_performance_1,
#id_cost_performance_2 {
    display: none;
}

/* 리뷰 박스 */
.refund-reason-wrap {
    margin-top: 60px;
    position: relative;
    text-align: center;
}

/* 총점(별점) */
.start-title {
    font-size: 15px;
    font-weight: 500;
    color: #5c6754;
    margin-bottom: 11px;
    margin-top: 24px;
}

.star-img {
    margin-right: 7px;
    margin-left: 7px;
}

.starRating {
    display: none;
}

/* 텍스트 박스 */
.refund-reason-input-wrap {
    width: 325px;
    margin-top: 20px;
    height: auto;
}

#id_text {
    width: 100%;
    height: 396px;
    padding: 21px 21px 20px 21px;
    background-color: #f8f8f8;
    border: none;
    resize: none;
    font-size: 15px;
}

#id_text:focus {
    outline: none;
}

/* 사진 첨부 */
.review-post-container {
    position: relative;
    text-align: center;
}
.refund-post-img {
    /* margin-bottom: 60px; */
}

.clip-box:hover {
    cursor: pointer;
}

.refund-post-img-box {
    margin-top: 20px;

    color: #5c6754;
}

.img-txt {
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: middle;
}

.clip-img {
    width: 17px;
    height: 20px;
}

.clip-box {
    vertical-align: middle;
    background-color: #f8f8f8;
    width: 150px;
    border-radius: 25px;
    font-size: 15px;
    padding-top: 10px;
}

.img-ps {
    font-size: 11px;
    color: #5c6754;
    font-weight: 300;
    font-stretch: normal;
    line-height: 20px;
    text-align: left;
}

.add-file-box {
    color: #4d5548;
}

.add-file {
    display: none;
}

/* button */
.review-btn-box {
    text-align: center;
}

/* 모바일용 미디어 쿼리 */
@media screen and (max-width: 768px) {
    .popup_container {
        width: 100%;
    }
    .review-main-content-wrap {
        width: 100%;
        padding: 0 25px;
    }

    .review-receipt-top-section {
        width: 100%;
    }

    .border-line {
        width: 100%;
    }

    .review-customer-detail-address {
        width: 100%;
    }

    .review-customer-detail-address-value-wrap {
        width: 70%;
    }

    .review-customer-detail-request-message {
        width: 70%;
    }

    .review-reason-input-wrap {
        width: 100%;
    }

    /* 텍스트 박스 */
    .refund-reason-input-wrap {
        width: 100%;
    }
    .refund-main-content-wrap {
        width: 100%;
    }

    .face-rating-subbox {
        width: 100%;
    }

    .rating-title {
        width: 60%;
    }
}
