{% load static %}

<section class="siminwon-landing-wrapper" id="siminwon-section2">
    <article class="landing-content" id="landing-siminwon-section2">
        <div class="siminwon-section2-wrapper">
            <div id="siminwon-section2-product-content">
                <div class="flex justify-center mb-2" id="siminwon-section2-num-wrap">
                    <div id="siminwon-section2-num">02</div>
                </div>
                <div class="text-center" id="siminwon-section2-title-wrap">
                    <h1 id="siminwon-section2-title">외모만 보고 지나치기엔 아쉬울</h1>
                    <h2 id="siminwon-section2-subtitle">가격과 품질!</h2>
                </div>
                <div class="" id="product-list-wrapper">
                    <a href="">
                        <div class="product-wrapper">
                            <div class="product-image-wrapper">
                                <img src="{% static 'images/landing/siminwon/apple-small.png' %}" alt="">
                            </div>
                            <div class="product-desc-wrapper">
                                <div class="product-title md:flex md:flex-row">
                                    <div class="mb-1 mr-1">소과 3kg</div>
                                    <div>(15~18개입)</div>
                                </div>
                                <div class="product-price">12,000원</div>
                                <div class="flex flex-row product-tag-wrapper justify-between">
                                    <div class="ugly_tag">무난이 작물</div>
                                    <div>+</div>
                                    <div class="normal_tag">일반 작물</div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="product-wrapper">
                            <div class="product-image-wrapper">
                                <img src="{% static 'images/landing/siminwon/apple-small-medium.png' %}" alt="">
                            </div>
                            <div class="product-desc-wrapper">
                                <div class="product-title md:flex md:flex-row">
                                    <div class="mb-1 mr-1">중소과 5kg</div>
                                    <div>(21~23개입)</div>
                                </div>
                                <div class="product-price">18,000원</div>
                                <div class="product-tag-wrapper">
                                    <div class="ugly_tag">무난이 작물</div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="product-wrapper">
                            <div class="product-image-wrapper">
                                <img src="{% static 'images/landing/siminwon/apple-medium.png' %}" alt="">
                            </div>
                            <div class="product-desc-wrapper">
                                <div class="product-title md:flex md:flex-row">
                                    <div class="mb-1 mr-1">중과 5kg</div>
                                    <div>(18~20개입)</div>
                                </div>
                                <div class="product-price">20,000원</div>
                                <div class="product-tag-wrapper">
                                    <div class="ugly_tag">무난이 작물</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="flex flex-row" id="siminwon-section2-farmer-content">
                <div id="farmer-profile">
                    <img src="{% static 'images/landing/siminwon/farmer-profile.jpg' %}" alt="">
                </div>
                <div class="flex flex-col items-center justify-center" id="farmer-desc">
                    <h1 id="farmer-title">사과의 자연스러움을 추구하다, 시민원</h1>
                    {% if siminwon != None %}
                    <a href="{% url 'farmer:farmer_detail' siminwon.pk %}">
                        <div class="text-center" id="farmer-homepage-btn">홈페이지 보러가기</div>
                    </a>
                    {% else %}
                    <div class="text-center" id="farmer-homepage-btn">홈페이지 보러가기</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </article>
</section>