{% extends 'base/base_for_index.html' %}
{% load static %}

{% block title_name %} Picky Farm : 까다롭게 선택하다 {% endblock title_name %}
{% block stylesheet %}
<link rel="icon" href="{% static 'images/index/mainlogo.svg' %}">
<link rel="stylesheet" href="{% static 'css/base/landing/siminwon_landing.css' %}">
{% endblock stylesheet %}
{% block main_content %}
{% include 'base/main_slider.html' %}
{% include 'base/landing/siminwon/siminwon_landing_page2.html' %}
<script>

</script>
{% endblock main_content %}