{% extends "base/base.html" %}

{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/editor_reviews/editor_reviews_create.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>

</script>
{% endblock stylesheet %}
{% block main_content %}
<div class="main-contents flex justify-center lg:mx-20 sm:mx-3 bg-white-400 text-center font-4xl" id="main">
    <div class="flex flex-col justify-center">
    <div id="icon_section">
        <img id="icon" class="mx-auto" src="{% static 'images/editors_review/pen_icon.svg' %}">
    </div>
    <form class="mx-auto"action="{% url 'editor_reviews:create' %}" method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        {{form.media}}
        <div>
        {{form.as_p}}
        </div>
        <img class="mx-auto" src="{% static 'images/editors_review/submit_icon.svg' %}">
        <button id="submit_btn" type="submit">등록하기</button>
    </form>
    </div>
    
</div>

<script type="text/javascript">
    var checkUnload = true;
    $(window).on('beforeunload', function () {
        if (checkUnload) return "이 페이지를 벗어나면 작성된 내용은 저장되지 않습니다.";
    });
    $("#write").on("click", function () {
        checkUnload = false;
        $("submit").submit();
    });
</script>
{% endblock main_content %}