{% extends 'base/base.html' %}

{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/editor_reviews/editor_reviews_detail.css' %}">
{% endblock stylesheet %}

{% block main_content %}
<div class="main-contents flex flex-col lg:mx-0 sm:mx-0 bg-white-400 font-4xl" id="main">
    <div class="mx-auto flex flex-col items-center bg-cover text-center" id="top-section"
        style="background-image:linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('{{review.main_image.url}}');">
        <div id="review-title">{{review.title}}</div>
        <div id="review-subtitle">{{review.sub_title}}</div>
        <div id="review-author">editor_{{review.author.user.nickname}}</div>
        <img id="review-arrow" src="{% static 'images/editors_review/editor_review_detail_arrow_bottom.svg' %}" alt="">
    </div>

    <div id="content-section" class="mx-auto">
        {{review.contents|safe}}
    </div>

    <div id="info-section" class="mx-auto flex flex-col">
        <div id="editor-profile" class="flex items-center ml-auto">
            <img id="editor-profile-image" src="{{review.author.user.profile_image.url}}">
            <div id="editor-profile-name">editor_{{review.author.user.nickname}}</div>
        </div>

        {% if review.product is not None %}
        <div id="related_products">
            <div class="flex flex-row" id="related_products_desc">
                <img src="{% static 'images/editors_review/editor_review_detail_leaf.svg'%}">
                <div id="desc_title">관련 상품 보기</div>
            </div>
            <div id="products" class="">
                {% for p in review.product.all %}
                <a href="{% url 'products:product_detail' p.pk %}">
                    <div class="inline-block" id="product_item">
                        <div class="relative">
                            <img class="z-0" id="product_img" src="{{p.main_image.url}}" width="50"><br>
                            <div id="like_cart_in" class="flex flex-row z-10">
                                <a href="{% url 'users:wish' p.pk %}?next={{request.path}}"><img class="" id="like" ,
                                        src="{% static 'images/products_list/like.svg' %}"></a>
                                <a href="{% url 'users:cart_in' p.pk %}?next={{request.path}}"><img class=""
                                        id="cart_in" , src="{% static 'images/products_list/cart_in.svg' %}"></a>
                            </div>


                            <img class="absolute -top-5 left-1 {%if p.stock > 3 %} invisible {% endif %}"
                                id="almost_sold_out" , src="{% static 'images/products_list/almost_sold_out2.svg' %}">
                            <img class="absolute top-1 left-4 {%if p.stock > 3 %} invisible {% endif %}"
                                id="almost_sold_out" , src="{% static 'images/products_list/almost_sold_out.svg' %}">
                        </div>

                        <div class="mt-2 flex flex-col">
                            <div class="flex items-center">
                                <div class="pr-2 text-base  " id="title">{{p.farmer.user.nickname}}</div>
                                <div class="h-4 text-base  font-light border-green-800 border-l-2"></div>
                                <div class="pl-2 font-light" id="sub_title">{{p.category.name}} {{p.weight}}kg</div>
                            </div>
                            <p class="" id="sell_price">{{p.sell_price}}원</p>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}


        {% if review.farm is not None %}
        <div id="visit-farmer">
            <div class="flex flex-row" id="visit_farmer_desc">
                <img src="{% static 'images/editors_review/editor_review_detail_leaf.svg'%}">
                <div id="desc_title">농가 방문하기</div>
            </div>

            <div id="farmer">
                <div class="flex justify-between items-center">
                    <div id="image-desc" class="flex">
                        <div class="block" id="farm_pic">
                            <img id="farmer_profile" class="object-cover" src="{{review.farm.farmer_profile.url}}"
                                alt="">
                            <div id='pick_img'>
                                <a href=""><img src="{% static 'images/farmers_page/small_pick.svg' %}" alt=""></a>
                            </div>
                        </div>
                        <div id="farm-desc">
                            <div id="farm-profile-title">{{review.farm.profile_title}}</div>
                            <div id="farm-info" class="flex items-center">
                                <div id="farm-location" class="">{{review.farm.user.addresses.first.sido}}
                                    {{review.farm.user.addresses.first.sigungu}}</div>
                                <div id="farm-name" class="">{{review.farm.farm_name}}</div>
                            </div>
                            <div id="farm-news" class="flex items-center">
                                <img src="{% static 'images/product_detail/bell.svg' %}" id="farm-news-icon">
                                <div id="farm-news-text">{{review.farm.farm_news}}</div>
                            </div>
                        </div>
                    </div>
                    <img src="{% static 'images/editors_review/editor_review_detail_visit_farm.svg'%}" id="visit">
                </div>
            </div>
        </div>
        {% endif %}


    </div>
    <div id="comment-section-wrap">
        <div id="comment-section" class="mx-auto">
            {% if request.user.is_authenticated %}
            <div id="comment-submit-form">
                <div id="comment-submit-my-info" class="flex items-center">
                    <img src="{{user.profile_image.url}}" id="comment-submit-my-info--profile-image">
                    <div id="comment-submit-my-info--id">{{user.nickname}}</div>
                </div>
                <form action="{% url 'editor_reviews:detail' review.pk%}" method="post" class="flex flex-col">
                    {% csrf_token %} 
                    {{form.text}}
                    <button type="submit" class="comment-button mx-auto" id="comment-submit">올리기</button>
                </form>
            </div>
            {% endif %}

            <div id="comments">
                {% for comment in comments %}
                <div class="comment">
                    <div class="comment-info flex items-center">
                        <div class="comment-author flex items-center">
                            <img src="{{comment.author.profile_image.url}}" class="comment-author--profile-image">
                            <div class="comment-author--id">{{comment.author.nickname}}</div>
                        </div>
                        <div class="bar"></div>
                        <div class="comment-create text-center">{{comment.create_at}}</div>
                        <div class="bar"></div>
                        <div class="comment-report flex items-center ml-auto">
                            <img src="{% static 'images/editors_review/editor_review_detail_comment_report.svg'%}" alt="">
                            <div class="comment-report--report">신고하기</div>
                        </div>
                    </div>
                    <div class="comment-content relative">
                        <div class="comment-text">
                            <div class="comment-text--text">{{comment.text}}</div>
                            <div class="comment-text-reply text-right">답글작성</div>
                        </div>
                        <div class="absolute comment-like-button-wrap">
                            <div class="comment-like-button relative" style="background-image: url({% static 'images/editors_review/editor_review_detail_comment_like.svg' %});">
                                <p class="comment-like-count absolute text-center align-text-bottom">000</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% comment %} <a href="{% url 'editors_pick:delete' review.pk %}">
    <div>지우기.</div>
</a>
<a href="{% url 'editors_pick:update' review.pk %}">
    <div>업데이트</div>
</a> {% endcomment %}
{% endblock main_content %}