{% extends "base/base_for_other.html" %}

{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/editor_reviews/editor_reviews_list.css' %}">
<link rel="stylesheet" href="{% static 'css/editor_reviews/editor_reviews_list_mobile.css' %}">
{% endblock stylesheet %}

{% block title_name %}Editor's Pick{% endblock title_name %}
{% block meta_description %}에디터들이 직접 알아보는 무난이 이야기들{% endblock %}
{% block meta_keyword %}Editor's Pick, 에디터스픽, 에디터포스팅, 농가 취재기{% endblock meta_keyword %}
{% block og_url %}{% url 'editors_pick:index' %}{% endblock %}
{% block og_title%}Editor's Pick{% endblock %}
{% block og_desc %}에디터들이 직접 알아보는 무난이 이야기들{% endblock %}
{% block og_image %}{% static 'images/mainlogo_small.svg' %}{% endblock %}
{% block main_content %}
<main class="main-content">
    <hgroup class="w-header mx-auto mt-24 page-title">
        <h1 class=" text-4xl mb-4">EDITOR's PICK</h1>
        <h2 class=" text-lg text-gray-400 font-thin">에디터들이 직접 알아보는 무난이 이야기들</h2>
        <h2 class=" text-lg text-gray-400 font-thin">당신의 PICK에 도움이 되었으면 좋겠습니다</h2>
    </hgroup>

    <section class="review-lists-horizon w-full">
        <div class="zero-item"></div>
        <a href="{% url 'editors_pick:detail' first_review.pk %}">
            <article class="first-item rounded-l-full flex flex-col bg-cover" style="background-image:linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('{{first_review.main_image.url}}');">
                <h3 class="first-item-text text-white">
                    {{first_review.title}}
                </h3>
                <strong class="first-item-editor text-sm text-white">
                    by {{first_review.author.user.nickname}}
                </strong>
            </article>
        </a>


        {% for review in review_list %}
        <a href="{% url 'editors_pick:detail' review.pk %}">
            <article class="remain-items flex flex-col bg-cover" style="background-image:linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('{{review.main_image.url}}');">
                <h3 class="items-text mx-auto bg-cover text-white">
                    {{review.title}}
                </h3>
                <strong class="text-sm mt-auto mb-12 ml-4 text-white">
                    by editorName
                </strong>
            </article>
        </a>
        {% endfor %}
    </section>

    <div class="w-content mx-auto flex flex-col">

        <div class="my-12 text-3xl mx-auto text-center">Keyword</div>
        <div class="flex categories">
            <div class="category-in transition_element border-l border-b border-t" id="farm_cover">농가 취재기</div>
            <div class="category-in transition_element  border" id="products">못난이 작물</div>
            <div class="category-in transition_element border-t border-r border-b" id="recipe">요리 / 레시피</div>
        </div>
    </div>

    <section class="review-lists-vertical w-full mt-24">
        <div class="lists-contents w-content mx-auto flex justify-between pb-16">

            <div class="lists flex flex-col ">
                {% for review in review_list %}
                <a href="{% url 'editors_pick:detail' review.pk %}">
                    <article class="article flex justify-between my-8" category='{{review.post_category}}'>
                        <div class="info flex flex-col">
                            <h3 class="title">{{review.title}}</h3>
                            <div class="article-info flex">
                                <div class="editor mr-10">editor {{review.author.user.nickname}}</div>
                                <time datetime="{{review.create_at | date:'Y-m-d H:i:s+09:00'}}" class="upload mr-6">{{review.create_at.date}}</time>
                                <div class="comments mr-6">댓글 {{review.editor_review_comments.count}}</div>
                                <div class="views mr-6">조회수 {{review.hits}}</div>
                                <div class="likes">좋아요 9</div>
                            </div>
                            <div class="preview break-words mt-7">{{review.get_preview|striptags}}</div>
                        </div>
                        <div class="article-img bg-cover" style="background-image:url('{{review.main_image.url}}');"></div>
                    </article>
                </a>
                {% endfor %}
            </div>

            <div>
                <aside class="editor-list flex flex-col my-8">
                    <div class=" self-center mb-8">에디터 리스트</div>
                    <div class="editor-lists flex flex-col">
                        {% for editor in editors %}
                        <div class="editor-profile flex items-center">
                            <img src="{{editor.user.profile_image}}" class="editor-img rounded-full">
                            <div class="editor-info flex flex-col">
                                <div class="editor-name">{{editor.user.nickname|slice:'10'}}</div>
                                <div class="editor-article-info flex">
                                    <div class="article-count">글 {{editor.review_count}}</div>
                                    <!-- <div class="view-count">조회수 {{editor.review_hits_count}}</div> -->
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </aside>
            </div>
        </div>
    </section>
</main>

<script>
    $(function () {
        $('.review-lists-horizon').slick({
            variableWidth: true,
            centerMode: true,
            initialSlide: 1,
            infinite: false,
            nextArrow: null,
            prevArrow: null
        });
    });
</script>
<script defer src="{% static 'js/editor_reviews/review_list.js' %}"></script>
{% endblock main_content %}