@import '/static/css/base/mobile_base_style.css';

@media screen and (max-width: 768px) {
    .w-header, .w-content, .category-in, .article, .first-item, .first-item-text, .info, .article-img, .preview{
        width: 100%;
    }
    .editor-list{
        display: none;
    }
    .w-header, .review-lists-horizon{
        margin-left: 4.23rem;
    }
    .w-header > p:nth-child(1){
        font-size: 2rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        color: #5c6754;
    }
    .w-header > p:nth-child(2), .w-header > p:nth-child(3){
        font-size: 1.2rem;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        color: #4d4d4d;
    }
    .review-lists-horizon{
        margin-top: 2.39rem;
    }
    .slick-slide{
        height: 10.8rem !important;
    }
    .w-content > div:nth-child(1){
        font-size: 1.5rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: center;
        color: #808080;
        margin: 2.42rem 0;
    }
    .categories{
        margin: 0 auto;
    }
    .category-in{
        width: 9.6rem;
        height: 2.8rem;
        font-size: 1.2rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.5;
        letter-spacing: normal;
        text-align: center;
        color: #808080;
        border: solid 0.05rem #707070;
    }
    .category-in:nth-child(1), .category-in:nth-child(2){
        border-right: none;
    } 
    .review-lists-vertical{
        margin-top: 4.4rem;
    }
    .lists{
        margin: 0 auto !important;
    }
    .lists-contents{
        padding-bottom: 0;
        padding: 0 2.5rem;
    }
    .article{
        height: 9.6rem;
        box-shadow: none;
        background-color: #fff;
        padding: 1.2rem;
    }
    .article > div:nth-child(1){
        margin-top: 0 !important;
    }
    .title{
        font-family: NotoSansKR;
        font-size: 1.5rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: left;
        color: #4d4d4d;
    }
    .info{
        width: 80%;
    }
    .article-info{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            'editor upload blank'
            'comments views likes';
    }
    .article-info div{
        font-family: NotoSansKR;
        font-size: 1.2rem;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: left;
        color: #808080;
        margin-right: 1.3rem;
        width: 80%;
    }
    .editor{
        grid-area: editor;
        margin-bottom: 0.5rem;
    }
    .upload{
        grid-area: upload;
        white-space:nowrap;
        margin-bottom: 0.5rem;
    }
    .comments{
        grid-area: comments;
    }
    .views{
        grid-area: views;
    }
    .likes{
        grid-area: likes;
    }
    .preview{
        display: none;
    }
    .article-img{
        width: 7.2rem;
        height: 7.2rem;
    }
}