@import 'base/mobile_base_style.css';

@media screen and (max-width: 768px) {
    #content{
        width: 100%;
    }
    #title{
        margin: 6rem 0;
        font-size: 1.5rem;
        font-weight: bold;
        color: #5c6754;
    }
    .subtitle{
        width: 32.5rem;
        height: 2.8rem;
        padding: 0.5rem 0;
        padding-left: 1rem;
        background-color: #f8f8f8;
        font-size: 1.2rem;
        font-weight: bold;
        text-align: left;
        color: #5c6754;
        border-top: solid 0.1rem #5c6754;
        border-bottom: solid 0.1rem #5c6754;
        margin-bottom: 2rem;
    }
    .main-line{
        display: none;
    }
    .product-form > div:not(.subtitle, .normal-product){
        width: 100%;
        padding: 0 1rem;
    }
    .farm-news{
        display: none;
    }
    form > div{
        align-items: center;
        margin-bottom: 1rem !important;
    }
    #label{
        width: 7.5rem;
        font-family: NotoSansKR;
        font-size: 1.1rem;
        font-weight: 500;
        text-align: left;
        color: #4d4d4d;
        line-height: 1.1;
        padding-left: 0;
    }

    /* 상품 제목, 상품 부제목 */
    #id_name, #id_subname{
        width: 23rem;
        height: 3rem;
        font-size: 1.1rem;
        color: #808080;
    }
    .product-update-input-txt{
        width: 23rem;
        height: 3rem;
    }

    /* 상품 중량/용량 */
    .product-state-update-weight-wrap{
        margin-bottom: 0;
    }
    .product-state-update-weight-input-select-wrap{
        width: 11.5rem;
        height: 3rem;
        padding: 0;
    }
    .product-state-update-weight-select-wrap{
        width: 5.75rem;
    }
    #product-weight-input, #product-weight-unit{
        width: 5.75rem;
        height: 100%;
        text-align: center;
    }
    #product-weight-input{
        font-size: 1.1rem;
        color: #808080;
        background: none;
        padding: 1rem;
    }
    #product-weight-unit{
        padding: 0;
        padding-left: 0.4rem;
        background: none;
        font-size: 1.1rem;
        font-weight: 500;
        line-height: 2.6rem;
    }
    .product-weight-unit-bar{
        left: 12.5rem;
        top: 0.3rem;
    }
    .product-weight-select-arrow{
        left: 16rem;
        top: 1.3rem;
    }

    /* 상품 수량, 상품 가격, 기본 배송비 */
    .product-state-update-quantity-wrap{
        position: relative;
    }
    .product_quantity{
        text-align: center;
        padding: 0;
        margin-bottom: 0;
        width: 11.5rem;
        height: 3rem;
        font-size: 1.1rem;
        line-height: 1.64;
        color: #808080;
    }
    .product-quantity-unit{
        font-size: 1.1rem;
        font-weight: 500;
        position: absolute;
        top: 1rem;
        left: 16rem;
    }
    .ps-for-sale{
        position: absolute;
        bottom: -4.2rem;
        right: 1rem;
        font-size: 1rem;
        line-height: 1.2;
        padding-top: 0;
        margin-left: 1rem;
        width: 10.6rem;
        height: 2.7rem;
        text-align: right;
    }
    
    /* 추가 배송비 */
    form > div:nth-child(9) > div:nth-child(2){
        background-color: #f8f8f8;
        width: 100%;
        padding: 1rem !important;
    }
    .L-box{
        display: none;
    }
    #id_farm_cat{
        margin-left: 0;
    }
    #id_farm_cat li:nth-child(1) > div{
        display: grid;
        grid-template-columns: 1fr 1fr 0.2fr 1fr;
        grid-template-areas: 'label input1 text input2';
        align-items: center;
    }
    #id_farm_cat li:nth-child(2) > div{
        display: grid;
        grid-template-columns: 1fr 1fr 0.2fr 1fr;
        grid-template-areas: 'label label blank input'
                            'plus plus plus plus';
        align-items: center;
        margin-bottom: 0;
    }
    #id_farm_cat li label{
        grid-area: label;
        width: 100%;
        font-size: 1.1rem;
        font-weight: 500;
        color: #4d4d4d;
    }
    #id_farm_cat label::before {
        background-size: 1.5rem 1.5rem !important;
        background-repeat: no-repeat;
        margin-top: 0.6rem;
    }
    #id_farm_cat .product_quantity{
        width: 100%;
        height: 2.6rem;
        grid-area: input;
        background: none;
    }
    #id_farm_cat li:nth-child(1) .product_quantity:first-of-type{
        grid-area: input1;
    }
    #id_farm_cat li:nth-child(1) .product_quantity:last-of-type{
        grid-area: input2;
    }
    #id_farm_cat .product-quantity-span{
        margin-right: 0;
        line-height: 0;
        grid-area: text;
        font-size: 1.1rem;
        font-weight: 500;
        color: #b3b3b3;
        margin: 0 0.4rem;
    }
    #id_farm_cat .product-quantity-span:last-of-type{
        display: none;
    }
    #id_farm_cat .product-quantity-unit{
        top: 0.8rem;
        left: 92%;
    }
    #id_farm_cat li:nth-child(1) .product-quantity-unit:first-of-type{
        left: 54%;
    }
    #id_farm_cat li:nth-child(1) .product-quantity-unit:last-of-type{
        left: 92%;
    }
    .product-quantity-plus-box{
        visibility: hidden;
        line-height: 0;
        width: 100%;
        grid-area: plus;
    }
    .product-quantity-plus-box:before{
        visibility: visible;
        content: '* 배송비는 농가에서 선결제로 진행하고 소비자에게 상단 배송비 사항이 자동으로 표시됩니다.';
        font-family: NotoSansKR;
        font-size: 1rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: -0.01px;
        text-align: left;
        color: #5c6754;
        width: 20.9rem;
        margin: 0 auto;
        margin-top: 7px;
    }
    #return-delivery #label{
        display: flex;
        flex-direction: column-reverse; 
    }
    .title-type{
        font-size: 1rem;
        color: #b3b3b3;
    }

    /* 기타 고려 사항 */
    .etc-box{
        margin-top: 2.5rem;
    }
    .etc-title{
        font-size: 1.1rem;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        color: #5c6456;
        padding-top: 1rem;
        margin-bottom: 2rem;
    }
    .etc-dates{
        display: grid;
        grid-template-columns: 3fr 7fr;
        grid-template-areas: 'title check'
                            'blank select';
        align-items: center;
    }
    .etc-dates-title, .etc-expire-title, .etc-save-product-title{
        width: 100%;
        font-size: 1.1rem;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        color: #4d4d4d;
        margin-bottom: 0.5rem;
    }
    .etc-dates-title{
        grid-area: title;
        align-items: center;
        margin-bottom: 0;
    }
    .etc-dates-title > div{
        font-family: NotoSansKR;
        font-size: 1rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #b3b3b3;      
    }
    .etc-dates-select-wrap{
        grid-area: select;
        display: grid;
        grid-template-areas: 'year1 month1 date1'
                            'tilde tilde tilde'
                            'year2 month2 date2';
        margin-bottom: 1rem;
    }
    .number-wrapper:nth-child(1){
        grid-area: year1;
    }
    .number-wrapper:nth-child(2){
        grid-area: month1;
    }
    .number-wrapper:nth-child(3){
        grid-area: date1;
    } 
    .etc-dates-select-wrap span:nth-child(4){
        grid-area: tilde;
        font-size: 1.5rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: center;
        color: #5c6456;
    }
    .number-wrapper:nth-child(5){
        grid-area: year2;
    }
    .number-wrapper:nth-child(6){
        grid-area: month2;
    }
    .number-wrapper:nth-child(7){
        grid-area: date2;
    }
    .number-wrapper .number-type{
        width: 7.35rem;
        height: 2.6rem;
        padding: 0.45rem 1.05rem 0.45rem 0.95rem;
        font-size: 1.1rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.73;
        letter-spacing: normal;
        text-align: left;
        color: #808080;
    }
    .number-wrapper:nth-child(2) .number-type,
    .number-wrapper:nth-child(6) .number-type{
        width: 5.59rem;
        margin: 0 0.95rem;
    }
    .number-wrapper:nth-child(3) .number-type,
    .number-wrapper:nth-child(7) .number-type{
        width: 6.24rem;
    }
    .etc-dates #id_farm_cat{
        grid-area: check;
    }
    .etc-dates #id_farm_cat label{
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 1rem;
    }
    .etc-dates #id_farm_cat label::before{
        margin: 0;
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 1rem;
    }
    .etc-expire-dates{
        flex-direction: column;
    }
    .etc-expire-input::placeholder{
        font-size: 1.1rem;
    }
    .etc-expire-input{
        width: 100%;
        height: 3rem;
        margin-bottom: 1rem;
        font-size: 1.1rem;
        padding-left: 1.5rem;
    }
    .etc-save-product{
        flex-direction: column;
        padding-bottom: 1rem;
        margin-bottom: 6rem;
    }
    .etc-save-product-wrap{
        width: 100%;
        height: 6.7rem;
        padding: 1.5rem;
        background-color: #fff;
    }
    #product-textarea{
        width: 100% !important;
        height: 100% !important;
        resize: none !important;
        background: none !important;
        padding: 0 !important;
        font-size: 1.1rem !important;
    }
    .normal-product{
        width: 100%;
        height: 100%;
    }
}