{% load static %}
<div id="comment_list" class="flex flex-col mx-auto z-0">
    {% if comments.exists is False %}
    <div class='text-center h-28'> 아직 작성된 리뷰가 없습니다. </div>
    {% else %}
    {% for comment in comments %}
    <div class='mb-16'>
        <div class="flex flex-row mb-9" id="comment">
            <div class="">
                <img id="reviewer_img" src="{{comment.consumer.user.profile_image.url}}" alt="">
            </div>
            <div class="flex flex-col ml-6 border-b-2" style="width: 880px; font-size: 15px;">
                <div class="flex flex-row mb-3">
                    <div class="text-left" style="width: 175px; border-right: solid 3px #999999;">
                        {{ comment.consumer.user.nickname }}</div>
                    <div class="text-center" style="width: 340px; border-right: solid 3px #999999; color:#989898;">
                        {{ comment.create_at|date:"Y. m. d H:i" }}</div>
                    <div class="flex flex-row" id="report" style="margin-left:87.8px">
                        <img src="{% static 'images/report.svg' %}" alt="">
                        <div class="text-black text-opacity-40 pl-2">신고하기</div>
                    </div>
                </div>
                <div class="flex flex-row pb-5 items-center">
                    <div class="text-black text-opacity-40 mr-16">{{ comment.product.title }} 구매</div>
                    <div id="stars" class='flex flex-row items-center'>
                        {% for i in comment.avg|rjust:comment.avg %}
                        <img class='mr-3 h-6 w-6' src="{% static 'images/product_detail/yellow_star.svg' %}" alt="yellow_star">
                        {% endfor %}
                        {% for i in 5|rjust:4 %}
                        <img class='mr-3 h-6 w-6' src="{% static 'images/product_detail/star.svg' %}" alt="yellow_star">
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-12" id="score_table_wrap">
            <table id="score_table">
                <tr>
                    <td class="py-2 text-center"> 신선도 </td>
                    <td class="py-2 text-center"> 맛 </td>
                    <td class="py-2 text-center"> 가성비 </td>
                </tr>
                <tr>
                    <td class="py-4">
                        {% if comment.freshness == 1 %}
                        <img src="{% static 'images/product_detail/score_1.svg' %}" class="mx-auto" alt="">
                        {% elif comment.freshness == 3 %}
                        <img src="{% static 'images/product_detail/score_3.svg' %}" class="mx-auto" alt="">
                        {% else %}
                        <img src="{% static 'images/product_detail/score_5.svg' %}" class="mx-auto" alt="">
                        {% endif %}
                    </td>
                    <td class="py-4">
                        {% if comment.flavor == 1 %}
                        <img src="{% static 'images/product_detail/score_1.svg' %}" class="mx-auto" alt="">
                        {% elif comment.flavor == 3 %}
                        <img src="{% static 'images/product_detail/score_3.svg' %}" class="mx-auto" alt="">
                        {% else %}
                        <img src="{% static 'images/product_detail/score_5.svg' %}" class="mx-auto" alt="">
                        {% endif %}
                    </td>
                    <td class="py-4">
                        {% if comment.cost_performance == 1 %}
                        <img src="{% static 'images/product_detail/score_1.svg' %}" class="mx-auto" alt="">
                        {% elif comment.cost_performance == 3 %}
                        <img src="{% static 'images/product_detail/score_3.svg' %}" class="mx-auto" alt="">
                        {% else %}
                        <img src="{% static 'images/product_detail/score_5.svg' %}" class="mx-auto" alt="">
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
        <div id="review_txt" class="text-left">{{ comment.text }}</div>
        <!-- if reported => hide -->
        <div id="review_imgs" class="flex flex-row text-left mt-5">
            {% for img in comment.product_comment_images.all %}
            <div id="review_img" class="mb-9"><img src="{{img.image.url}}" alt="사진없음" style="width:241px; height:241px; object-fit: cover;"></div>
            {% endfor %}
        </div>
        <div id="review_comment">
            <!-- <div class="flex flex-row justify-center mb-4">
                <button id="more_btn" class="rec_more" style="outline: none;">
                    댓글보기 &nbsp; <i id="show_icon" class='fas fa-caret-down'></i> <i class="fas fa-caret-up" style="display: none;"></i>
                </button>
            </div> -->
            <div class="recomments">
                <div class="recomment-wrap" name="{{comment.pk}}">
                    {% if request.user.is_authenticated %}
                    <div class="recomment-input-wrapper flex flex-col">
                        <div class="flex items-center recomment-info">
                            <div class="recomment-arrow"></div>
                            <div class="recomment-author flex items-center">
                                <img src="{{user.profile_image.url}}" class="comment-author--profile-image">
                                <div class="comment-author--id">{{request.user.nickname}}</div>
                            </div>
                        </div>
                        <textarea type="text" class="recomment-input-box" name='{{comment.pk}}'></textarea>
                        <button class="recomment-submit-button mx-auto" onclick="recommentSubmit({{comment.pk}})">등록하기</button>
                    </div>
                    <div class="horizon-bar mx-auto"></div>
                    {% endif %}
                    {% for recomment in comment.product_recomments.all %}
                    <div class="recomment relative" name={{recomment.pk}}>
                        <div class="flex items-center recomment-info">
                            <div class="recomment-arrow"></div>
                            <div class="recomment-author flex items-center">
                                <img src="{{recomment.author.profile_image.url}}" class="comment-author--profile-image">
                                <div class="comment-author--id">{{recomment.author.nickname}}</div>
                            </div>
                            <div class="bar"></div>
                            <div class="comment-create text-center recomment-create">
                                {{recomment.create_at|date:"Y. m.d"}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{recomment.create_at|date:"H : i"}}
                            </div>
                            <div class="bar"></div>
                            <div class="recomment-report flex items-center ml-auto">
                                <img src="{% static 'images/editors_review/editor_review_detail_comment_report.svg'%}" alt="">
                                <div class="comment-report--report button">신고하기</div>
                            </div>
                        </div>
                        <div class="absolute recomment-like-button-wrap button">
                            <div class="recomment-like-button relative" style="background-image: url({% static 'images/editors_review/editor_review_detail_recomment_like.svg' %});">
                                <p class="recomment-like-count absolute text-center align-text-bottom">{{recomment.like_count}}</p>
                            </div>
                        </div>
                        <div class="recomment-content flex flex-col">
                            <div class="recomment-text">
                                <div class="recomment-text--text">{{recomment.text}}</div>
                                <div class="recomment-text-options-wrap flex justify-between">
                                    <div></div>
                                    <div class="recomment-text-options flex">
                                        {% if request.user == recomment.author %}
                                        <div class="comment-text-options--edit recomment-text-options--edit button" onclick="recommentEdit(this, {{recomment.pk}})">수정</div>
                                        <div class="comment-text-options--delete recomment-text-options--delete button" onclick="recommentDelete({{recomment.pk}})">삭제</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="comment-edit-form-container recomment-edit-form-container mx-auto">
                                <form class="flex flex-col comment-edit-form recomment-edit-form w-full">
                                    <input type="text" class="comment-edit-form-input">
                                    <div class="flex items-center justify-between">
                                        <div></div>
                                        <button type="submit" class="comment-edit-submit-button">수정하기</button>
                                        <p class="comment-edit-cancel recomment-edit-cancel button">취소</p>
                                    </div>
                                </form>
                            </div> -->
                        </div>
                    </div>
                    <div class="horizon-bar mx-auto"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
<div id="paginator" class="flex justify-between w-36 mx-auto mb-40">
    {% if comments.has_previous %}
    <img src="{% static 'images/pagination/first_page.svg' %}" name='paginator' id='1' style="cursor: pointer">
    <img src="{% static 'images/pagination/prev.svg' %}" name='paginator' id='{{comments.previous_page_number}}' style="cursor: pointer">
    {% else %}
    <img src="{% static 'images/pagination/first_page.svg' %}" name='paginator' id='1' style="cursor: pointer">
    <img src="{% static 'images/pagination/prev.svg' %}" name='paginator' id='1' style="cursor: pointer">
    {% endif %}

    <div>{{comments.number}}</div>
    <div>/</div>
    <div>{{comments.paginator.num_pages}}</div>

    {% if comments.has_next %}
    <img src="{% static 'images/pagination/next.svg' %}" name='paginator' id='{{comments.next_page_number}}' style="cursor: pointer">
    <img src="{% static 'images/pagination/last_page.svg' %}" name='paginator' id='{{comments.paginator.num_pages}}' style="cursor: pointer">
    {% else %}
    <img src="{% static 'images/pagination/next.svg' %}" name='paginator' id='{{comments.paginator.num_pages}}' style="cursor: pointer">
    <img src="{% static 'images/pagination/last_page.svg' %}" name='paginator' id='{{comments.paginator.num_pages}}' style="cursor: pointer">
    {% endif %}
</div>

<script type="text/javascript">
    PAGINATION_URL = `comment_ajax/?page=`
    PAGINATION_SECTION = '#comments-wrapper'
</script>
<script defer src="{% static 'js/pagination/pagination.js' %}"></script>