{% extends 'base/base_for_other.html' %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/orders/payment_gift.css' %}" />
{% endblock stylesheet %}
{% block title_name %} 피키팜 | 친구에게 선물하기 {% endblock title_name %}
{% block main_content %}
<form class="main_content flex flex-col items-center md:w-content mx-auto" id="payment-app"
    @submit='handleSubmitButtonClick'>
    <h1 id="title" class="mx-auto flex items-center color-primary">
        <img src="{% static 'images/orders/gift/gift-box-icon.svg' %}" alt="선물하기" />
        친구에게 선물하기
        <img src="{% static 'images/orders/gift/gift-box-icon.svg' %}" alt="선물하기" />
    </h1>
    {% include 'orders/gift/payment_gift_header.html' %}
    {% include 'orders/gift/payment_gift_friends.html' %}
    {% include 'orders/gift/payment_gift_purchase.html' %}
</form>
{% endblock main_content %} {% block scripts %}
<script>
    /* payment view url */
    const PAYMENT_UPDATE_URL = '{% url "orders:payment_gift_update" %}';
    const PAYMENT_VALID_URL = '{% url "orders:payment_gift_valid" %}';
    const PAYMENT_ERROR_URL = '';

    /* delivery fee calculation function url */
    const CALCULATE_DELIVERY_FEE_URL =
        '{% url "orders:calculate_delivery_fee" %}';

    /* constants */
    const ORDER_GROUP_PK = '{{order_group_pk}}';
    const ORDER_GROUP_NAME = '{{order_group_name}}';
    const ORDER_MANAGEMENT_NUMBER = '{{order_management_number}}';

    const DELIVERY_FEE = parseInt('{{product.default_delivery_fee}}');

    const FARMER_ZIPCODE = '{{product.farmer.address.zipcode}}';

    const PRODUCT_PRICE = parseInt('{{product.sell_price}}');
    const PRODUCT_PK = '{{product.pk}}';
    const PRODUCT_CATEGORY = '{{product.category.name}}';
    const PRODUCT_WEIGHT = parseFloat('{{product.weight}}');
    const PRODUCT_STOCK = parseInt('{{product.stock}}')

    const CONSUMER_NAME = '{{request.user.account_name}}';
    const CONSUMER_PHONE_NUM = '{{request.user.phone_number}}';
    const CONSUMER_EMAIL = '{{request.user.email}}';
</script>
<script src="https://cdn.bootpay.co.kr/js/bootpay-3.3.2.min.js" type="application/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="{% static 'js/orders/payment_gift.js' %}"></script>
{% endblock scripts %}