{% extends "base/base.html" %} {% load static %} {% load humanize %} {% block stylesheet %}
<!-- <link rel="stylesheet" href="{% static 'css/products/create_question.css' %}"> -->
<link rel="stylesheet" href="{% static 'css/orders/payment_success.css' %}" />
<link rel="stylesheet" href="{% static 'css/orders/payment_success_mobile.css' %}" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

{% endblock stylesheet %} {% block main_content %}

<div class="order-payment-success-container mx-auto flex">
    {% if order_group.payment_type == 'vbank' %}
    {% include "orders/vbank/vbank_info.html" %}
    {% endif %}
    <div class="order-payment-success-title flex">주문 / 결제 완료</div>
    <div class="order-payment-success-information-wrap">
        <div class="order-payment-success-information-title"> 주문 상품 정보 </div>
        <div class="order-payment-success-information-border"></div>
        <div class="order-payment-success-information-lists-wrap">
            <!-- 여기서부터 for문 돌리면 됨 -->
            {% for order in order_details %}
            <div class="order-payment-success-information-list-wrap">
                <div class="order-payment-success-information-list flex">
                    <div class="order-payment-success-information-list-left-section">
                        <img class="order-payment-success-information-image" src="{{order.product.main_image.url}}" />
                    </div>
                    <div class="order-payment-success-information-list-right-section flex">

                        <div class="order-payment-success-information-name"> {{order.product.farmer.farm_name}} </div>
                        <div class="order-payment-success-information-product-tag">
                            {% if product.kinds == "ugly" %}
                            <div class="ugly_tag">무난이 작물</div>
                            {% else %}
                            <div class="normal_tag">일반 작물</div>
                            {% endif %}
                        </div>
                        <div class="order-payment-success-information-description-wrap flex">

                            <div class="order-payment-success-information-description-right-section flex">
                                <div class="order-payment-success-information-description"> {{product.title}} </div>
                                <div class="order-payment-success-information-description-amount"> {{order.quantity}} <span>(개/박스)</span> </div>
                                <div class="order-payment-success-information-description-weight"> {% widthratio order.quantity 1 order.product.weight %} {{order.product.weight_unit}} </div>
                                <div class="order-payment-success-information-description-price"> {{order.total_price|intcomma}}원 </div>
                            </div>
                        </div>
                        <div class="order-payment-success-information-description-bottom-wrap flex items-center">
                            <div class="order-payment-success-information-weight"> {{order.product.weight}} {{order.product.weight_unit}} </div>
                            <div class="divider"></div>
                            <div class="order-payment-success-information-price"> {{order.product.sell_price|intcomma}}원 </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="order-payment-success-information-list-border-bottom"></div>
            {% endfor %}
            <!-- 여기까지 for문 돌리면 됩니다. -->
        </div>
    </div>
    <div class="order-payment-success-amount-wrap flex">
        <div class="order-payment-success-amount-title">총 결제 금액</div>
        <div class="order-payment-success-amount-number"> {{order_group.total_price}} </div>
        <div class="order-payment-success-amount-unit">원</div>
    </div>
    <div class="order-payment-success-customer-section">
        <div class="order-payment-success-customer-information-title"> 주문자 정보 </div>
        <div class="order-payment-success-information-border"></div>
        <div class="order-payment-success-customer-information-wrap">
            <div class="order-payment-success-customer-information-name-wrap flex">
                <div class="order-payment-success-customer-information-name-title"> 이름 </div>
                <div class="order-payment-success-customer-information-name"> {{order_group.rev_name}} </div>
            </div>
            <div class="order-payment-success-customer-information-tel-wrap flex">
                <div class="order-payment-success-customer-information-tel-title"> 연락처 </div>
                <div class="order-payment-success-customer-information-tel"> {{order_group.rev_phone_number}} </div>
            </div>
            <div class="order-payment-success-customer-information-email-wrap flex">
                <div class="order-payment-success-customer-information-email-title"> 이메일 </div>
                <div class="order-payment-success-customer-information-email"> {{order_group.consumer.user.email}} </div>
            </div>
        </div>
    </div>
    <div class="order-payment-success-customer-address-section">
        <div class="order-payment-success-customer-address-information-title"> 배송지 정보 </div>
        <div class="order-payment-success-information-border"></div>
        <div class="order-payment-success-customer-address-information-wrap">
            <div class="order-payment-success-customer-address-information-name-wrap flex">
                <div class="order-payment-success-customer-address-information-name-title"> 주소 </div>
                <div class="order-payment-success-customer-address-information-name"> {{order_group.rev_address}} </div>
            </div>
            <div class="order-payment-success-customer-address-information-receive-wrap flex">
                <div class="order-payment-success-customer-address-information-receive-title"> 받으실 장소 </div>
                <div class="order-payment-success-customer-address-information-receive"> {{order_group.rev_loc_at}} </div>
            </div>
            <div class="order-payment-success-customer-address-information-etc-wrap flex">
                <div class="order-payment-success-customer-address-information-etc-title"> 특이사항 </div>
                <div class="order-payment-success-customer-address-information-etc"> {{order_group.rev_loc_detail}} </div>
            </div>
        </div>
    </div>

    <div class="order-payment-success-appreciate-message-section">
        <div class="order-payment-success-appreciate-message-title"> 농가가 전하는 구매 감사 메시지 </div>
        <div class="order-payment-success-information-border"></div>

        <div class="order-payment-success-appreciate-message-card-section-container flex">
            <!-- 여기서부터 구독하지 않은 농장 정보 -->
            {% for farmer in unsub_farmers %}
            <div class="order-payment-success-unsubfarmer-appreciate-message-card-section">
                <div class="order-payment-success-unsubfarmer-appreciate-message-card-wrap flex">
                    <div class="order-payment-success-unsubfarmer-card-photo-section relative">
                        <img class="order-payment-success-unsubfarmer-card-photo-circle" src="{{farmer.farmer_profile.url}}" />
                        <!-- <div class="order-payment-success-unsubfarmer-card-photo-wrap">
                                <img class="order-payment-success-unsubfarmer-card-photo"
                                     src="{% static 'images/orders/farmer_photo.svg' %}"
                                     alt="farmer_photo" />
                            </div>
                            <div class="order-payment-success-unsubfarmer-card-photo-subscribe-wrap">
                                <img class="transition_element order-payment-success-unsubfarmer-card-photo-subscribe-btn"
                                     src="{% static 'images/orders/subscribe_add.svg' %}"
                                     alt="subscribe_add" />
                            </div> -->

                        <img class="transition_element order-payment-success-unsubfarmer-card-photo-subscribe-btn absolute" src="{% static 'images/orders/subscribe_add.svg' %}" alt="subscribe_add" />
                    </div>
                    <div class="order-payment-success-unsubfarmer-card-photo-section2">
                        <div class="order-payment-success-unsubfarmer-card-farm-name"> {{farmer.farm_name}} </div>
                        <div class="order-payment-success-unsubfarmer-card-farmer-name"> {{farmer.farmer_name}} </div>
                        <div class="order-payment-success-unsubfarmer-card-message-text"> {{farmer.farm_thanks_msg}} </div>
                        <a class="order-payment-success-unsubfarmer-card-farm-link-section-anchor" href="#">
                            <div class="order-payment-success-unsubfarmer-card-farm-link-section transition_element flex">
                                <div class="order-payment-success-unsubfarmer-card-farm-link-title"> 농가 페이지 방문하기 </div>
                                <a class="order-payment-success-unsubfarmer-card-farm-link-btn" href="{% url 'farmers:farmer_detail' farmer.pk %}">
                                    <img class="order-payment-success-unsubfarmer-card-farm-link-btn-arrow" src="{% static 'images/orders/arrow.svg' %}" alt="arrow" />
                                    <img class="order-payment-success-unsubfarmer-card-farm-link-btn-arrow-mobile" src="{% static 'images/orders/visit_farmer_page.svg' %}" alt="visit_farmer_page" />
                                </a>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- 여기까지 구독하지 않은 농장 정보 -->
            <!-- 여기서부터 구독한 농장 정보 -->
            {% for farmer in sub_farmers %}
            <div class="order-payment-success-subfarmer-appreciate-message-card-section">
                <div class="order-payment-success-subfarmer-appreciate-message-card-wrap flex">
                    <div class="order-payment-success-subfarmer-card-photo-section relative">
                        <div class="order-payment-success-subfarmer-card-photo-section relative">
                            <img class="order-payment-success-subfarmer-card-photo-circle" src="{{farmer.farmer_profile.url}}" />
                            <!-- <div class="order-payment-success-unsubfarmer-card-photo-wrap">
                                    <img class="order-payment-success-unsubfarmer-card-photo"
                                         src="{% static 'images/orders/farmer_photo.svg' %}"
                                         alt="farmer_photo" />
                                </div>
                                <div class="order-payment-success-unsubfarmer-card-photo-subscribe-wrap">
                                    <img class="transition_element order-payment-success-unsubfarmer-card-photo-subscribe-btn"
                                         src="{% static 'images/orders/subscribe_add.svg' %}"
                                         alt="subscribe_add" />
                                </div> -->

                            <img class="transition_element order-payment-success-subfarmer-card-photo-subscribe-btn absolute" src="{% static 'images/orders/subscribe.svg' %}" alt="subscribe" />
                        </div>
                    </div>
                    <div class="order-payment-success-subfarmer-card-photo-section2">
                        <div class="order-payment-success-subfarmer-card-farm-name"> {{farmer.farm_name}} </div>
                        <div class="order-payment-success-subfarmer-card-farmer-name"> {{farmer.farmer_name}} </div>
                        <div class="order-payment-success-subfarmer-card-message-text"> {{farmer.farm_thanks_msg}} </div>
                        <a class="order-payment-success-subfarmer-card-farm-link-section-anchor" href="#">
                            <a class="order-payment-success-subfarmer-card-farm-link-section flex" href="{% url 'farmer:farmer_detail' farmer.pk %}">
                                <div class="order-payment-success-subfarmer-card-farm-link-title"> 농가 페이지 방문하기 </div>
                                <div class="order-payment-success-subfarmer-card-farm-link-btn">
                                    <img class="order-payment-success-subfarmer-card-farm-link-btn-arrow" src="{% static 'images/orders/arrow.svg' %}" alt="arrow" />
                                    <img class="order-payment-success-subfarmer-card-farm-link-btn-arrow-mobile" src="{% static 'images/orders/visit_farmer_page.svg' %}" alt="visit_farmer_page" />
                                </div>
                            </a>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- 여기까지 구독한 농장 정보 -->
        </div>
    </div>
    <div class="order-payment-success-confirm-btn-section flex">
        <a class="order-payment-success-confirm-btn-anchor" href="{% url 'products:store_list' %}">
            <div class="order-payment-success-confirm-btn transition_element flex"> 확인 </div>
        </a>
    </div>
</div>

{% endblock main_content %} {% block mypage_base_script_section %}
<script></script>
{% endblock %}