{% extends "base/base.html" %}

{% load static %}
{% block stylesheet %}
<!-- <link rel="stylesheet" href="{% static 'css/products/create_question.css' %}"> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

{% endblock stylesheet %}
{% block main_content %}

<div>결제 성공</div>
<div>{{order_id}}</div>
<div>{{amount}}</div>
<div>{{products}}</div>
<div>{{farmers}}</div>

{% endblock main_content %}


{% block mypage_base_script_section %}
<script>
    
</script>
{% endblock %}