{% extends 'base/base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/orders/payment.css' %}">
{% endblock stylesheet %}

{% block title_name %}
피키팜 | 결제 진행
{% endblock title_name %}

{% block main_content %}
<div class="main-contents flex flex-col items-center lg:mx-0 sm:mx-0 bg-white-400 text-center font-4xl" id="main">

    <!-- <form action="{% url 'orders:payment_update' order_group_pk %}" method='POST' enctype="multipart/form-data"> -->
        
        {% csrf_token %}
        <div id="title-section">
            <p id="title-text">주문서 작성 / 결제</p>
            <div id="requried-section" class="flex flex-row justify-end">
                <img src="{% static 'images/orders/dot.svg' %}">
                <div id="required-text">필수입력사항</div>
            </div>
        </div>

        <div id="info-section">
            <div id="info-title-section" class="flex flex-row ">
                <div id="sub-title-text">주문자 정보</div>
                <div id="sub-title-line"></div>
            </div>
            <div id="info-name-section" class="flex flex-row mb-5">
                <div class="flex flex-row w-1/12">
                    <div id="label-text">{{form.rev_name.label_tag}}</div>
                    <img id="dot" class="pb-5" src="{% static 'images/orders/dot.svg' %}">
                </div>

                <div id="small-form" class="w-11/12 ml-12 pl-3 flex justify-items-start">{{form.rev_name}}</div>
            </div>
            <div id="info-phone-number-section" class="flex flex-row">
                <div class="flex flex-row w-1/12">
                    <div id="label-text">{{form.rev_phone_number.label_tag}}</div>
                    <img id="dot" class="pb-5" src="{% static 'images/orders/dot.svg' %}">
                </div>

                <div id="small-form" class="w-11/12 ml-12 pl-3 flex justify-items-start">{{form.rev_phone_number}}</div>
            </div>
        </div>

        <div id="delivery-section">
            <div id="delivery-title-section" class="flex flex-row ">
                <div id="sub-title-text">배송지 정보</div>
                <div id="sub-title-line"></div>
            </div>
            <div id="delivery-cat-section" class="flex flex-row mb-5">
                <div id="label-text" class="mr-5"><label><input type="radio" value="기본배송지" class="mr-2">기본배송지</label>
                </div>
                <div id="label-text"><label><input type="radio" value="직접입력" class="mr-2">직접입력</label></div>
            </div>
            <div id="delivery-address-section" class="flex flex-row mb-5">
                <div class="flex flex-row w-1/12">
                    <div id="label-text">배송지</div>
                    <img id="dot" src="{% static 'images/orders/dot.svg' %}">
                </div>

                <div></div>
            </div>
            <div id="delivery-rev-loc-at-section" class="flex flex-row mb-5">
                <div class="flex flex-row mr-5">
                    <div id="label-text">{{form.rev_loc_at.label_tag}}</div>
                    <img id="dot-rev-loc-at" src="{% static 'images/orders/dot.svg' %}">
                </div>

                <div id="label-text" class="ml-9">{{form.rev_loc_at}}</div>
            </div>
            <div id="delivery-rev-message-section" class="flex flex-row mb-5">
                <div id="label-text" class="mr-8">{{form.rev_message.label_tag}}</div>
                <div class="ml-4">
                    <div id="big-form">{{form.rev_message}}</div>
                    <div id="help-text">* 정확한 배송을 위해서 장소의 출입방법이나 특징 등을 자세하게 작성해주세요</div>
                </div>
            </div>
            <div id="delivery-to-farm-message-section" class="flex flex-row mb-5">
                <div id="label-text" class="mr-7">{{form.to_farm_message.label_tag}}</div>
                <div id="middle-form" class="ml-4">{{form.to_farm_message}}</div>
            </div>
        </div>

        <div id="orders-section">
            <div id="orders-title-section" class="flex flex-row ">
                <div id="sub-title-text">주문 상세 내역 / 결제 금액</div>
                <div id="orders-sub-title-line"></div>
            </div>
            <div id="products-index-section" class="flex flex-row mt-5">
                <div class="w-2/12"></div>
                <div class="w-3/12">농장</div>
                <div class="w-3/12">상품명</div>
                <div class="w-1/12">수량</div>
                <div class="w-1/12">Kg</div>
                <div class="w-2/12">가격</div>
            </div>
            <div id="orders-contents-section" class="flex flex-row">
                <div id="products-section">
                    
                    {% for p in products %}
                    <div id="product" name="{{p.order_number}}" class="flex flex-row items-center">
                        <div class="w-2/12"><img id="product-img" src="{{product.main_image.url}}"></div>
                        <div class="w-3/12" id="farm_name">{{p.product.farmer.farm_name}}</div>
                        <div class="w-3/12" id="title">{{p.product.title}}</div>
                        <div class="w-1/12" id="orders-num">{{p.order_quantity}}</div>
                        <div class="w-1/12" id="weight">{{p.weight}}kg</div>
                        <div class="w-2/12" id="sell-price">{{p.order_price}}원</div>
                    </div>
                    {% endfor %}
                </div>
                <div id="price-check-section">
                    <div class="flex flex-row mb-8">
                        <div id="title-line"></div>
                        <div id="price-check-title">결제금액</div>
                        <div id="title-line"></div>
                    </div>
                    <div class="flex flex-row">
                        <div class="w-5/12" id="text_ab">총 {{total_quantity}}개의 주문금액</div>
                        <div class="w-6/12 mr-3" id="price_text_a">{{price_sum}}</div>
                        <div class="w-1/12" id="price_text_a">원</div>
                    </div>
                    <div class="flex flex-row">
                        <div class="w-5/12 pl-5" id="text_a">-할인금액</div>
                        <div class="w-6/12 mr-6" id="price_text_c">{{discount}}</div>
                        <div class="w-1/12 pr-1" id="price_text_c">원</div>
                    </div>
                    <div class="flex flex-row">
                        <div class="w-5/12" id="text_ab">배송비</div>
                        <div class="w-6/12 mr-3" id="price_text_a">{{delivery_fee}}</div>
                        <div class="w-1/12" id="price_text_a">원</div>
                    </div>
                    <div id="div-line1" class="mb-5 mt-2"></div>
                    <div class="flex flex-row">
                        <div class="w-5/12" id="text-b">최종 주문금액</div>
                        <div class="w-6/12 mr-3" id="price_text_b">{{final_price}}</div>
                        <div class="w-1/12" id="price_text_b">원</div>
                    </div>
                    <div id="div-line2" class="mt-5 mb-5"></div>
                    <div class="flex flex-row">
                        <div class="w-5/12" id="text-c">총 주문 Kg</div>
                        <div class="w-6/12" id="price_text_b">{{total_weight}}</div>
                        <div class="w-1/12" id="price_text_b">Kg</div>
                    </div>

                </div>
            </div>
        </div>

        <div id="pay-section">
            <div id="pay-title-section" class="flex flex-row ">
                <div id="sub-title-text">결제 수단</div>
                <div id="sub-title-line"></div>
            </div>
            <div id="payment-type-section" class="flex flex-row">
                {{form.payment_type}}
            </div>
        </div>

        <div id="btns-section" class="flex flex-col items-center">
            <div id="agree-section" class="mb-8">
                <label id="help-text"><input class="pt-5" type="radio" value="agree">구매할 상품의 결제정보를 확인하였으며, 구매진행에
                    동의합니다</label>
            </div>
            <div id="buttons" class="flex flex-row">
                <div id="go-back-btn">뒤로가기</div>
                <button id="go-btn" class="ml-6" type="submit">결제하기
            </div>
        </div>

    <!-- </form> -->
    <div id="gotmpbtn" class="ml-6">결제하기</div>

</div>

<script src="https://cdn.bootpay.co.kr/js/bootpay-3.3.2.min.js" type="application/javascript"></script>
<script>
  
    let totalPrice = document.getElementById('price_text_b').innerHTML
    totalPrice = Number.parseInt(totalPrice)
    console.log(totalPrice)

    let goBtn = document.getElementById('go-btn')
    console.log(goBtn)
    console.log(window.location.origin)

    goBtn.addEventListener('click', ()=>{
        let revName = document.getElementById('id_rev_name').value
        let revPhoneNumber = document.getElementById('id_rev_phone_number').value
        let revLocAtInputs = document.getElementsByName('rev_loc_at')
        let revLocAt = " "
        revLocAtInputs.forEach(element => {
            if(element.checked == true){
                revLocAt = element.getAttribute('value')
            }
        });
        let revMessage = document.getElementById('id_rev_message').value
        let toFarmMessage = document.getElementById('id_to_farm_message').value
        let items = document.querySelectorAll('#product')
        console.log(items)
        console.log(toFarmMessage)
        console.log(revName)
        console.log(revLocAt)

        

        data = {
            'rev_name' : revName,
            'rev_phone_number' : revPhoneNumber,
            'rev_loc_at' : revLocAt,
            'rev_message' : revMessage,
            'to_farm_message' : toFarmMessage,
        }

        itemsList = []

        items.forEach(item=>{
            const unique = item.getAttribute('name')
            const itemName = item.getElementById('title').innerHTML
            const qty = item.getElementById('orders-num').innerHTML
            const price = item.getElementById('sell-price').innerHTML
            const cat1 = "과일 임시"

            itemsList.append({
                item_name: itemName, //상품명
			    qty: qty, //수량
			    unique: unique, //해당 상품을 구분짓는 primary key
			    price: price, //상품 단가
			    cat1: cat1, // 대표 상품의 카테고리 상, 50글자 이내
            })    
        })

        console.log(itemsList)

        BootPay.request({
	        price: totalPrice, //실제 결제되는 가격
	        application_id: "60dad0c05b29480021dc523d",
	        name: '{{order_group_name}}', //결제창에서 보여질 이름
	        pg: '',
	        method: '', //결제수단, 입력하지 않으면 결제수단 선택부터 화면이 시작합니다.
	        show_agree_window: 0, // 부트페이 정보 동의 창 보이기 여부
	        items: itemsList,
	        user_info: {
		        username: revName,
		        email: '사용자 이메일', // 빼는 것을 고려
		        addr: '사용자 주소', // 빼는 것을 고려
		        phone: '010-1234-4567'
	        },
	        order_id: '고유order_id_1234', //고유 주문번호로, 생성하신 값을 보내주셔야 합니다.
	        params: {callback1: '그대로 콜백받을 변수 1', callback2: '그대로 콜백받을 변수 2', customvar1234: '변수명도 마음대로'},
	        // account_expire_at: '2020-10-25', // 가상계좌 입금기간 제한 ( yyyy-mm-dd 포멧으로 입력해주세요. 가상계좌만 적용됩니다. )
	        // extra: {
	        //     start_at: '2019-05-10', // 정기 결제 시작일 - 시작일을 지정하지 않으면 그 날 당일로부터 결제가 가능한 Billing key 지급
		    //     end_at: '2022-05-10', // 정기결제 만료일 -  기간 없음 - 무제한
            //     vbank_result: 1, // 가상계좌 사용시 사용, 가상계좌 결과창을 볼지(1), 말지(0), 미설정시 봄(1)
            //     quota: '0,2,3', // 결제금액이 5만원 이상시 할부개월 허용범위를 설정할 수 있음, [0(일시불), 2개월, 3개월] 허용, 미설정시 12개월까지 허용,
		    //     theme: 'purple', // [ red, purple(기본), custom ]
		    //     custom_background: '#00a086', // [ theme가 custom 일 때 background 색상 지정 가능 ]
		    //     custom_font_color: '#ffffff' // [ theme가 custom 일 때 font color 색상 지정 가능 ]
	        // }
        }).error(function (data) {
	        //결제 진행시 에러가 발생하면 수행됩니다.
	        console.log(data);
        }).cancel(function (data) {
	        //결제가 취소되면 수행됩니다.
	        console.log(data);
        }).ready(function (data) {
	        // 가상계좌 입금 계좌번호가 발급되면 호출되는 함수입니다.
	        console.log(data);
        }).confirm(function (data) {
	        //결제가 실행되기 전에 수행되며, 주로 재고를 확인하는 로직이 들어갑니다.
	        //주의 - 카드 수기결제일 경우 이 부분이 실행되지 않습니다.
            sendData = {
                'rev_name' : revName,
                'rev_phone_number' : revPhoneNumber,
                'rev_loc_at' : revLocAt,
                'rev_message' : revMessage,
                'to_farm_message' : toFarmMessage
            }

            console.log(data);
            console.log(sendData)

            $.ajax({
                type : "POST",
                url : "{% url 'orders:payment_update' order_group_pk %}",
                data : sendData,
                dataType : "json",
                success : function(response){
                    var enable = true; // 재고 수량 관리 로직 혹은 다른 처리
	                if (enable) {
		                BootPay.transactionConfirm(data); // 조건이 맞으면 승인 처리를 한다.
	                } else {
		                BootPay.removePaymentWindow(); // 조건이 맞지 않으면 결제 창을 닫고 결제를 승인하지 않는다.
	                }
                }
            })
	        
	        
        }).close(function (data) {
            // 결제창이 닫힐때 수행됩니다. (성공,실패,취소에 상관없이 모두 수행됨)
            console.log(data);
        }).done(function (data) {
	        //결제가 정상적으로 완료되면 수행됩니다
	        //비즈니스 로직을 수행하기 전에 결제 유효성 검증을 하시길 추천합니다.
	        console.log(data);
        });
                // tossPayments.requestPayment('카드', {
                // amount: totalPrice,
                // orderId: 'eN4Pv_y8K6RC3WeBdFP-s',
                // orderName: response.orderName,
                // customerName: response.customerName,
                // successUrl: window.location.origin + `/order/payment/success?amount_ready=${totalPrice}`,
                // failUrl: window.location.origin + '/order/payment/fail',
                // })

        
    })

    
</script>


{% endblock main_content %}
