{% extends 'base/base_for_other.html' %} {% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/orders/payment_gift.css' %}" />
{% endblock stylesheet %}
{% block title_name %}
피키팜 | 친구에게 선물하기
{% endblock title_name %}
{% block main_content %}
<div class="main_content flex flex-col items-center md:w-content mx-auto" id="payment-app">
    <h1 id="title" class="mx-auto flex items-center color-primary">
        <img src="{% static 'images/orders/gift/gift-box-icon.svg' %}" alt="선물하기" />
        친구에게 선물하기
        <img src="{% static 'images/orders/gift/gift-box-icon.svg' %}" alt="선물하기" />
    </h1>
    {% include 'orders/gift/payment_gift_header.html' %}
    {% include 'orders/gift/payment_gift_friends.html' %}
    {% include 'orders/gift/payment_gift_purchase.html' %}
</div>
{% endblock main_content %} {% block scripts %}
<script>
    /* payment view url */
    const PAYMENT_UPDATE_URL = '';
    const PAYMENT_VALID_URL = '';
    const PAYMENT_ERROR_URL = '';

    /* delivery fee calculation function url */
    const CALCULATE_DELIVERY_FEE_URL = '';

    /* constants */
    const ORDER_GROUP_PK = 0;
    const ORDER_GROUP_NAME = 'order_group_name_test';
    const ORDER_MANAGEMENT_NUMBER = 'order_management_number'

    const DELIVERY_FEE = 0

    const FARMER_ZIPCODE = '00000';

    const PRODUCT_PRICE = 0;
    const PRODUCT_PK = 0;
    const PRODUCT_CATEGORY = '사과'
    const PRODUCT_WEIGHT = 0.0

    const CONSUMER_NAME = 'consumer_name';
    const CONSUMER_PHONE_NUM = '01000000000'
    const CONSUMER_EMAIL = 'email@example.com'
</script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="{% static 'js/orders/payment_gift.js' %}"></script>
{% endblock scripts %}