@import 'base/mobile_base_style.css';

@media screen and (max-width: 768px){
    /* base setting */
    .main-content.w-content {
        width: 100%;
        padding: 0 2.5rem;
    }  
    .order-status-info-section {
        width: 100%;
    }

    /* info section */
    .info-section-wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
    }
    .section-title {
        margin: 6rem 0 3rem;
        text-align: center;
    }
    .order-status-info-section {
        margin: 0;
        width: 100%;
        display: grid;
        grid-template-columns: 9rem 9rem 9rem;
        justify-content: center;
    }
    .selected {
        border: 1px solid #5c6754;
    }
    .order-status-circle {
        width: 7rem;
        height: 7rem;
        margin: 0 1rem 1rem;
    }
    .search-bar-section {
        flex-wrap: wrap;
        margin-bottom: 5rem;
    }
    .search-bar-wrapper {
        width: 100%;
        height: 2.5rem;
        margin: 6rem 0 2rem;
    }
    .search-bar-title {
        margin-left: 2.55rem;
        margin-right: 2.25rem;
        min-width: 5.4rem;
    }
    #arrow {
        display: block;
        fill: #707070;
        width: 0.84rem;
        height: 0.84rem;
        transform: rotate(90deg);
    }
    .bar {
        height: 1.6rem;
    }
    #order-search {
        width: 50%;
    }
    #search-button {
        width: 1.35rem;
        height: 1.35rem;
        background-size: 1.35rem 1.35rem;
        margin-right: 1.3rem;
        margin: auto 1.3rem auto 0;
    }    
    .date-filter-form {
        flex-wrap: wrap;
        align-items: baseline;
        align-items: flex-start;
        margin-bottom: 0;
    }
    .date-filter-button{
        width: fit-content;
        height: 2rem;
        padding: 0.25rem 1rem;
        border: solid 0.1rem #707070;
        margin-right: 1rem;
        align-items: center;
        line-height: inherit;
        margin-bottom: 1rem;
    }
    .date-input {
        width: 10.1rem;
        padding-left: 0;
        display: flex;
        align-content: stretch;
        flex-wrap: wrap;
        flex-direction: column;
    }
    input[type="date"] {
        position: relative;
    }     
    input[type="date"]::-webkit-calendar-picker-indicator {
        color: transparent;
        background: none;
        z-index: 1;
    }    
    input[type="date"]:before {
        color: transparent;
        background: none;
        display: block;
        content: '▼';
        position: absolute;
        right: 1rem;
        color: #5c6754;
    }
    #recent-one-month,
    #recent-three-month {
        margin-right: 1rem;
    }
    #line_enter {
        flex-basis: 100%;
    }
    #end-date {
        margin-left: 1rem;
        margin-right: 2rem;
    }
    #start-date::after {
        margin-bottom: 1rem;
    }
    .date-filter-submit {
        width: 3.54rem;
        padding: 0;
        margin: 0;
    }

    /* font */
    .section-title {
        font-size: 1.2rem;
    }
    .order-status-title {
        font-size: 1.2rem;
        font-weight: normal;
        color: #6d8060;
    }
    .order-status-count {
        font-size: 1.8rem;
        font-weight: normal;
        color: #5c6754;
    }
    .search-bar-title {
        font-size: 1.1rem;
        font-weight: lighter;
        color: #6d8060;
    }
    .date-filter-button {
        font-size: 1rem;
        font-weight: normal;
        line-height: 1rem;
    }
    .date-filter-submit {
        font-size: 1.1rem;
        font-weight: normal;
    }
    .order-list-sheet-index {
        font-size: 1rem;
        font-weight: lighter;
        color: #5e6656;
    }
    .order-status {
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 1.8rem;
    }
    .order-list-sheet-data-section div:not(.order-status, .order-info-data, .order-cancelled) {
        font-size: 1.2rem;
        font-weight: bold;
        color: #5c6754;
    }
    .order-info-data {
        font-size: 1.2rem;
        font-weight: lighter;
        color: #5e6656;
    }
    .page-num {
        font-size: 1.2rem;
    }
}