#content {
    width: 990px;
}

#content-title {
    margin-top: 106.9px;
    margin-bottom: 36px;
}

#title-question span,
#title-review span {
    font-size: 23px;
    font-weight: bold;
    color: #5c6754;
}

#title-question-count-unit span,
#title-review-count-unit span {
    font-size: 12px;
    color: #70845d;
}
#question-table-wrapper,
#review-table-wrapper {
    height: 468.5px;
}
#question-table tr,
#review-table tr {
    height: 78px;
    border-bottom: 1px solid #5e665681;
}

#question-table-title,
#review-table-title {
    font-size: 12px;
    font-weight: 500;
    color: #999999;
}

#question-table-rows,
#review-table-rows {
    font-weight: 500;
}

#question-table-rows:hover,
#review-table-reows:hover {
    background-color: #f3f4f3;
}
/* question list */
#question-table-row-answer--yet {
    width: 75px;
    font-size: 15px;
    color: #5c6754;
}
#question-table-row-answer--complete {
    width: 75px;
    font-size: 15px;
    color: #b3b3b3;
}
#question-table-row-title {
    width: 380px;
    font-size: 15px;
}
/* review list */
#review-table-row-product,
#question-table-row-product {
    width: 210px;
    font-size: 15px;
}
#review-table-row-score {
    width: 125px;
}
#review-table-row-title {
    width: 320px;
    font-size: 12px;
}
#review-table-row-date,
#question-table-row-date {
    width: 120px;
    font-size: 15px;
    color: #707070;
}
#review-table-row-report,
#question-table-row-report {
    width: 120px;
    font-size: 12px;
    color: #b3b3b3;
}
#review-table-row-answer,
#question-table-row-answer {
    font-size: 12px;
    color: #5c6754;
}

/* date filter section */
.date-filter-content {
    width: 880px;
    margin: 0px auto 80px;
}
.date-filter-search-option--date {
    margin-bottom: 30px;
}
.date-filter-button {
    height: 30px;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    line-height: 30px;
    border-radius: 15px;
    background-color: #ffffff;
    color: #5c6754;
}
.date-filter-submit {
    width: 86px;
    border-radius: 15px;
    background-color: #5c6754;
    color: white;
    margin-left: auto;
}

.date-filter {
    width: 88px;
    border: solid 1px #b3b3b3;
    margin-right: 9px;
}
.week-filter,
.month-filter {
    width: 127px;
    border: solid 1px #b3b3b3;
    margin-right: 9px;
}
.date-input {
    border: solid 1px #b3b3b3;
}

.date-filter:hover,
.month-filter:hover,
.week-filter:hover {
    color: #ffffff;
    background-color: #5c6754;
}

#qna,
#review,
.hide {
    display: none;
}
