{% extends 'base/base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/users/farmers_page.css' %}">
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.js"></script> 
    <script>
        $(function(){
            // farmer search
            $("input[name=search_button]").click(function(){
                var search_key = $('#search_key').val();
                event.preventDefault()
                $.ajax({
                    url:'farmer_search/',
                    data:{
                        'search_key':search_key,
                    },
                    success:function(data){
                        $('.search_block_1').html(data)
                    }
                })
            });

            // farmer's story search
            $("input[name=search_button_2]").click(function(){
                var search_key_2 = $('#search_key_2').val();
                event.preventDefault()
                $.ajax({
                    url:'farmer_story_search/',
                    data:{
                        'search_key_2':search_key_2,
                    },
                    success:function(data){
                        $('.search_block_2').html(data)
                    }
                })
            });
            // tag search
            $("td").click(function(){
                var search_cat = $(this).attr("id")
                event.preventDefault()
                $.ajax({
                    url:'farm_cat_search/',
                    data:{
                        'search_cat': search_cat,
                    },
                    success:function(data){
                        $('.search_block_1').html(data)
                    }
                })
            });
            
            //$('td').click(function() {
            //    $(this).css('backgroundColor', '#5e665628');
            //});
        });
    </script>
{% endblock stylesheet %}

{% block title_name %}
    Farmer's page
{% endblock title_name %}


{% block main_content %}
    <div class="main-contents bg-white-400 " id="top">
        <!--weekly hot block-->
        <div class="w-full" id="weekly-hot">
            <div class="mt-24 mb-8 mx-auto" id='content'>
                <p class='text-4xl font-medium mb-5' id='title'>WEEKLY HOT</p>
                <p class="text-xl my-2 text-gray-500">이번 주 여러분들의 관심을 많이 받은 농가,</p>
                <p class="text-xl my-2 text-gray-500">농가 페이지를 방문하여 구독해보세요</p>
            </div>
            <div class="flex flex-row justify-center" id="best-farmer">
                {% for best in best_farmers %}
                    <div class="w-1/6" id="best-farmer-img">
                        <img id="farmer-img" src="{{best.farm_profile.url}}" alt="">
                        <div id='pick-img'>
                            <a href=""><img src="{% static 'images/farmers_page/pick.svg' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="rounded-l-full w-full" id="best-farmer-desc" style="border:1px solid black">
                        <div>
                            <div>{{best.profile_title}}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!--search bar-->
        <div class="flex flex-row mx-auto mt-72 mb-20 justify-between" id="content">
            <div class="h-9 input-form rounded-full flex justify-between px-4 align-middle" id="input-box">
                <input class="h-9 placeholder-gray-500 bg-transparent focus:outline-none text-sm text-gray-800" id="search-bar" type="text" placeholder="검색어를 입력하세요."/>
                <img class="w-5 h-9 m-0" src="{% static 'images/search.svg' %}" alt="">
            </div>
            <div class="relative flex flex-col justify-end" id="sort">
                        <div class="mb-10" id="sort_img">
                            <img src="{% static 'images/products_list/sort.svg' %}" alt="sort_icon">
                        </div>
                        <div class="absolute flex flex-col none z-10" id='sort_list'>
                            <a href="?sort=최신순">최신순</a>
                            <a href="?sort=인기순">인기순</a>
                            <a href="?sort=마감임박순">마감임박순</a>
                        </div>
                    </div>
            </div>
        <!--tag table-->
        <div class="mx-auto" id="content">
            <div class='text-center text-gray-500 text-3xl'> Tag </div>
            <div class="text-center mx-auto mt-8 mb-20">
                <table id="tag_table">
                    <tr>
                        <td id="vege"> 채소 </td>
                        <td id="fruit"> 과일 </td>
                        <td id="etc"> E.T.C </td>
                    </tr>
                </table>
            </div>
        </div>

        <!--farmer list-->
        <div class="w-full search_block_1" id="farm_content">
            <div class="mx-auto py-11" id="content">
                {% for farmer in farmers %}
                <div class="flex row mx-auto">
                    <div class="flex flex-row" id="wrapper">
                        <!--farmer's image-->
                        <div class="block" id="farm_pic">
                            <img id="farmer_profile" class="object-cover" src="{{farmer.farm_profile.url}}" alt="">
                            <div id='pick_img'>
                                <a href=""><img src="" alt=""></a>
                            </div>
                        </div>
                        <!--farmer's desc-->
                        <div class="" id="farm_desc_block">
                            <p class="font-medium text-2xl mb-3" id="farm_profile">{{farmer.profile_title}}</p>
                            <p class="text-2xl font-light mb-8" id="farm_loc">경기 어느 지역</p>
                            <a href="{% url 'users:farmer_detail' farmer.id %}"><p class="mb-8 font-medium text-5xl" id="farm_name">{{farmer.farm_name}}</p></a>
                            <!--tag-->
                            <div class="grid grid-cols-4 gap-2 mb-24 h-7" id="tag">
                                {% for tag in farmer.farm_tags.all %}
                                    <a href="">
                                        <div class="text-center align-middle py-1 px-2 font-light text-sm transform hover:scale-105 transition duration-300 ease-in-out" id="farm_tag">#{{tag}}</div>
                                    </a>
                                {% endfor %}
                            </div>
                            <!--farmer's products-->
                            <div class="grid grid-cols-3 gap-2 justify-around" id="farm_product_wrapper">
                                {% for product in farmer.products.all|slice:":3" %}
                                    <a href="#"><div id="farm_product">
                                        <div class="mb-3" id="product_img_wrapper">
                                            <img class="object-cover" id="product_img" src="{{product.main_image.url}}" alt="">
                                        </div>
                                        <div class="text-xs font-light" id="product_desc">{{product.title}} | {{product.sell_price}}원</div>
                                    </div></a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!--paginator-->
            <div class="flex flex-row mx-auto justify-center pb-56" id='content'>
                <div class='flex flex-row'>
                    {% if farmers.has_previous %}
                        <img src="{% static 'images/farmers_page/prever.png' %}" onclick="location.href='?page=1'" style="cursor: pointer">
                        <img src="{% static 'images/farmers_page/prev.png' %}" onclick="location.href='?page={{farmers.previous_page_number}}'" style="cursor: pointer">
                    {% else %}
                        <img src="{% static 'images/farmers_page/prever.png' %}" onclick="location.href='?page=1'" style="cursor: pointer">
                        <img src="{% static 'images/farmers_page/prev.png' %}" onclick="location.href='?page=1'" style="cursor: pointer">
                    {% endif %}
                </div>
                <div class='flex flex-row'>
                        <div>{{farmers.number}}</div>
                        <div>/</div>
                        <div>{{farmers.paginator.num_pages}}</div>
                </div>
                <div class='flex flex-row'>
                    {% if farmers.has_next %}
                        <img src="{% static 'images/farmers_page/next.png' %}" onclick="location.href='?page={{farmers.next_page_number}}'" style="cursor: pointer">
                        <img src="{% static 'images/farmers_page/nexter.png' %}" onclick="location.href='?page={{farmers.paginator.num_pages}}'" style="cursor: pointer">
                    {% else %}
                        <img src="{% static 'images/farmers_page/next.png' %}" onclick="location.href='?page={{farmers.paginator.num_pages}}'" style="cursor: pointer">
                        <img src="{% static 'images/farmers_page/nexter.png' %}" onclick="location.href='?page={{farmers.paginator.num_pages}}'" style="cursor: pointer">
                    {% endif %}
                </div>
            </div>
        </div>

        <!--farmer's story-->
        <div class="mx-auto mt-20" id="content">
            <!--header-->
            <div class="text-center" id="header">
                <img class="mx-auto mb-5" src="{% static 'images/farmers_page/farmer_story.svg' %}" alt="">
                <p class="mb-5 text-3xl" id="story_title"> Farmer's Story </p>
                <p class="mb-20 text-sm" id="story_subtitle"> 파머가 직접 전하는 농가 이야기 </p>
            </div>
            <!--search bar-->
            <div class="flex flex-row mb-36 justify-around" id="story_search">
                <div>
                    <select class="w-24" name="" id="">
                        <option value="" selected> 제목 </option>
                        <option value=""> FARM </option>
                        <option value=""> FARMER </option>
                    </select>
                </div>
                <div class="h-9 input-form rounded-full flex justify-between px-4 align-middle" id="input-box">
                    <input class="h-9 placeholder-gray-500 bg-transparent focus:outline-none text-sm text-gray-800" id="search-bar" type="text" placeholder="검색어를 입력하세요."/>
                    <img class="w-5 h-9 m-0" src="{% static 'images/search.svg' %}" alt="">
                </div>
            </div>
            <!--story list-->
            <div class="w-full" id="content">
                <!--story table-->
                <div id="farmer_story_content">
                    <table class="w-full" id="farmer_story_table">
                        <tr class="font-medium text-sm" id="table_header">
                            <th class="py-6"> FARM </th>
                            <th class="py-6"> FARMER </th>
                            <th class="py-6"> 제목 </th>
                            <th class="py-6"> 조회수 </th>
                            <th class="py-6"> 작성일 </th>
                        </tr>
                        {% for story in farmer_stories %}
                        <tr class="text-center" id="table_row">
                            <td class="py-7" id="row_farm"> {{ story.farmer.farm_name }} </td>
                            <td class="py-7" id="row_farmer"> {{ story.farmer.user.nickname }} </td>
                            {% if story.title|length > 15 %}
                            <td class="py-7" id="row_title"><a href="#"> {{ story.title|slice:":15"}}... </a></td>
                            {% else %}
                            <td class="py-7" id="row_title"><a href="#"> {{ story.title }}...</a></td>
                            {% endif %}
                            <td class="py-7" id="row_views"> 1000 </td>
                            <td class="py-7" id="row_create_at"> {{ story.create_at|date:"Y-m-d" }} </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <!--글쓰기 버튼(farmer login 시에만 보이게)--> 
                <div class="flex flex-row justify-end mb-20">
                    <a href=""><img src="{% static 'images/farmers_page/story_write_btn.svg' %}" alt=""></a>
                </div>
                <!--paginator-->
                <div class="flex flex-row mx-auto justify-center pb-56">
                    <div class='flex flex-row'>
                        {% if farmer_stories.has_previous %}
                            <img src="{% static 'images/farmers_page/prever.png' %}" onclick="location.href='?page_2=1'" style="cursor: pointer">
                            <img src="{% static 'images/farmers_page/prev.png' %}" onclick="location.href='?page_2={{farmer_stories.previous_page_number}}'" style="cursor: pointer">
                        {% else %}
                            <img src="{% static 'images/farmers_page/prever.png' %}" onclick="location.href='?page_2=1'" style="cursor: pointer">
                            <img src="{% static 'images/farmers_page/prev.png' %}" onclick="location.href='?page_2=1'" style="cursor: pointer">
                        {% endif %}
                    </div>
                    <div class='flex flex-row'>
                            <div>{{farmer_stories.number}}</div>
                            <div>/</div>
                            <div>{{farmer_stories.paginator.num_pages}}</div>
                    </div>
                    <div class='flex flex-row'>
                        {% if farmer_stories.has_next %}
                            <img src="{% static 'images/farmers_page/next.png' %}" onclick="location.href='?page_2={{farmer_stories.next_page_number}}'" style="cursor: pointer">
                            <img src="{% static 'images/farmers_page/nexter.png' %}" onclick="location.href='?page_2={{farmer_stories.paginator.num_pages}}'" style="cursor: pointer">
                        {% else %}
                            <img src="{% static 'images/farmers_page/next.png' %}" onclick="location.href='?page_2={{farmer_stories.paginator.num_pages}}'" style="cursor: pointer">
                            <img src="{% static 'images/farmers_page/nexter.png' %}" onclick="location.href='?page_2={{farmer_stories.paginator.num_pages}}'" style="cursor: pointer">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}