{% extends 'base/base.html' %}
{% load static %}

{% block title_name %}
Farmer's Story
{% endblock title_name %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/users/farmers_detail.css' %}">
{% endblock %}

{% block main_content %}
<div class="content mx-auto" style="margin-top: 130px;">
    <img src="{% static 'images/farm/leaf.svg' %}" class="mx-auto" alt="">
    <!--title-->
    <div class="text-3xl text-center my-5" style="color: #808080;"> Farmer's Story </div>
    <div class="text-center mb-16" style="color: #999999;"> 파머가 직접 전하는 농가 이야기 </div>
    <!--farmer story content-->
    <div class="relative mb-6" id="story_content">
        <div class="relative mb-11"> 
            <div class="text-center text-3xl font-light pt-5" style="color:#5e6656;">{{ main_story.create_at|date:"Y.m.d" }}</div>
            <div class="absolute bottom-0 right-0 flex flex-row">
                <div class="mr-2" style="color: #999999;">{{ main_story.hits }}</div>
                <img class="mr-9" src="{% static 'images/farm/view.svg' %}" alt=""/>
            </div>
        </div>
        <div class="text-center text-5xl font-medium" style="color:#5e6656;"> {{ main_story.title }} </div>
        <div class="w-2 h-2 mx-auto mt-6 mb-16" style="border: solid 1px rgba(112, 112, 112, 0.5); border-radius:50%;"></div>
        <div class="px-5">{{ main_story.content|safe }}</div>
        <div class="absolute bottom-0 pb-12 w-full text-center font-light text-3xl" style="color:#5e6656;"> {{ farmer.farm_name }} </div>
    </div>
    <!--목록으로 버튼-->
    <div class="content flex flex-row justify-end mb-28" onclick="location.href='{% url 'users:farmers_page' %}'"> 
        <div class="text-lg" id="back_btn"> 파머스 페이지로 돌아가기 </div>
        <img src="{% static 'images/farm/r_arrow.svg' %}" class="cursor-pointer" alt="">
    </div>
    <!--농가 정보-->
    <div class="" id="farm_info">
        <div class="flex flex-row mb-6">
            <img src="{% static 'images/farm/sm_leaf.svg' %}" class="mr-3" alt="">
            <div class="font_green font-light" id="">농가 정보</div>
        </div>
        <div class="flex flex-row items-center px-5 py-6 mb-16" id="farmer_info">
            <img src="{{ farmer.farmer_profile.url }}" alt="" class="mr-4" id="farmer_profile">
            <img src="{{ farmer.farm_profile.url }}" alt="" class="mr-16" id="farm_profile">
            <div class="w-96">
                <div class="flex flex-row mb-2" id="tag_wrap">
                    {% for tag in tags %}
                        <a href="#"><div class="mr-2" id="farm_tag">#{{ tag }}</div></a>
                    {% endfor %}
                </div>
                <div class="flex flex-row items-center mb-3" id="farm_wrap">
                    <div class="font-medium text-3xl" id="farm_name">{{ farmer.farm_name }}</div>
                    <div class="font-thin text-2xl mx-4" id="bar">|</div>
                    <div class="font-light text-xl" id="farmer_name">{{ farmer.user.nickname }}</div>
                </div>
                <div id="profile_title_wrap">
                    <div class="font-light text-xl" id="profile_title">"{{ farmer.profile_title }}"</div>
                </div>
            </div>
            <div id="sub_wrap">
                <div class="text-xl" id="sub_btn">구독하기</div>
            </div>
        </div>
    </div>
</div>
<div class="mx-auto w-screen bg_gray pt-16">
    <div class="content mx-auto">
        <!-- comment -->
        <div class="flex justify-end">
            <div>댓글쓰기</div>
        </div>
        <div></div>
        <!--farmer's story list-->
        <div class="text-3xl text-center mb-24" style="color: #808080;"> Farmer's Story </div>
        <div class="flex flex-row justify-around mb-28">
            {% for story in stories %}
                <div class="p-5" id="story_wrap">
                    <img src="" alt="" class="" id="story_img">
                    <div class="flex flex-row justify-between text-xs mt-2 mb-1">
                        <div id="create">{{ story.create_at|date:"Y.m.d" }}</div>
                        <div id="views">조회수</div>
                    </div>
                    <div class="text-left font-medium" id="story_title">{{ story.title }}</div>
                </div>
            {% endfor %}
        </div>
        <!-- paginator -->
        <div class="h-10 mb-56 bg-gray-200 text-center" id="paginator">
            paginator
        </div>
    </div>
</div>

<style>
    .content{
        width: 990px;
    }
    .font_green {
        color: #5e6656;
    }
    .bg_gray {
        background-color: #f2f2f2;
    }

    #story_content {
        width: 990px;
        min-height: 1000px;
        border-radius: 10px;
        box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.16);
    }

    #back_btn {
        height: 29px;
        color: #5e6656;
        cursor: pointer;
        margin-right: 10px;
    }
    #back_btn:hover {
        font-size: 1.127rem;
        transition-duration: 0.8s;
    }

    #farmer_story {
    text-align: center;
    }
    #story_wrap {
        width: 259px;
        height: 331px;
        border-radius: 10px;
        box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
    }
    #story_img {
        margin: 0 auto;
        width: 215px;
        height: 215px;
    }
</style>
{% endblock main_content %}