{% extends 'base/base.html' %}

{% load static %}
{% block auth_stylesheet %}
<link rel="stylesheet" href="{% static 'css/users/user_auth_input.css' %}">
{% endblock auth_stylesheet %}

{% block title_name %}아이디 찾기{% endblock title_name %}
{% block main_content %}
<div class="content mx-auto" style="margin-top: 130px;">
    <img src="{% static 'images/user/login.svg' %}" class="mx-auto" alt="">
    <div class="mx-auto font-bold text-3xl mt-6 text-center" style="color: #5c6754; margin-bottom: 100px;">아이디 찾기</div>
    <form method="POST" action="{% url 'users:find_my_id' %}">
        {% csrf_token %}
        <div class="input_forms flex flex-col">
            {% for field in form %}
            {{field}}
            {% endfor %}
        </div>
        <button>찾기</button>
    </form>
</div>

<style>
    .content {
        width: 340px;
    }

    #id_name {
        margin-bottom: 14px;
    }

    #id_email {
        margin-bottom: 44px;
    }
</style>
{% endblock main_content %}