{% extends 'base/base.html' %}

{% load static %}

{% block title_name %}아이디 찾기{% endblock title_name %}
{% block main_content %}
<div class="content mx-auto" style="margin-top: 130px;">
    <img src="{% static 'images/user/login.svg' %}" class="mx-auto" alt="">
    <div class="mx-auto font-bold text-3xl mt-6 text-center" style="color: #5c6754; margin-bottom: 100px;">아이디 찾기</div>
    <form method="POST" action="{% url 'users:find_my_id' %}">
        {% csrf_token %}
        <div class="input_forms flex flex-col">
            {% for field in form %}
                {{field}}
            {% endfor %}
        </div>
        <button>찾기</button>
    </form>
</div>

<style>
    .content{
        width: 350px;
    }

    .content input, button{
        width:100%;
        height: 50px;
        font-size: 20px;
        border-radius: 10px;
        transition: border .3s ease;
        text-align: center;
    }

    .input_forms input{
        border: solid 1px #b3b3b3;
        font-weight:300;
    }

    
    .input_forms input:hover{
        border: 1px solid #707070;
    }

    .input_forms input:focus{
        border: 1px solid #707070;
        outline: none;
    }

    .input_forms input::placeholder{
        text-align: center;
        font-weight: 300;
    }

    .input_forms input:nth-child(1){
        margin-bottom: 20px;
    }

    button{
        margin-top: 85px;
        color: white;
        background-color: #5c6754;
        font-weight: bold;
    }

    button:focus{
        outline: none;
    }
</style>
{% endblock main_content %}