{% extends 'base/base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/users/mypage/user/mypage_base.css' %}">
<link rel="stylesheet" href="{% static 'css/users/mypage/user/mypage_base_mobile.css' %}">
{% block stylesheet_detail %}
{% endblock stylesheet_detail %}
{% endblock stylesheet %}

{% block title_name %}
피키팜 | My Picky Farm
{% endblock title_name %}

{% block main_content %}
<div class="main-contents flex justify-center lg:mx-0 sm:mx-0 bg-white-400 text-center font-4xl" id="main">
    <div class="flex flex-col">
        <div id="top-section" class="flex flex-row mt-14">
            <div id="top-section-left" class="">
                <div class="flex flex-row mt-4">
                    <div id="title_text1">
                        My
                    </div>
                    <div id="title_text2" class="ml-5">
                        Picky Farm
                    </div>
                </div>
                <div id="user_nickname" class="mt-5 flex flex-row">
                    <div id="nickname_text1">{{consumer_nickname}}</div>
                    <div id="nickname_text2">님</div>
                </div>
            </div>
            <div id="top-section-right" class="flex flex-row justify-center">
                <div id="preparing" class="mx-10">
                    <div id="status_text" class="mx-auto">
                        배송 준비중
                    </div>
                    <div class="mx-auto" id="status_icon">
                        <img src="{% static 'images/users/preparing.svg' %}" alt="배송 준비중 아이콘" class="pt-2 pl-1.5">
                    </div>
                    <div id="status_number" class="mx-auto">
                        {{preparing_num}}
                    </div>
                </div>
                <div id="delivering" class="mx-10">
                    <div id="status_text" class="mx-auto">
                        배송중
                    </div>
                    <div class="mx-auto" id="status_icon">
                        <img src="{% static 'images/users/delivering.svg' %}" alt="배송중 아이콘" class="pt-2">
                    </div>
                    <div id="status_number" class="mx-auto">
                        {{delivery_num}}
                    </div>
                </div>
                <div id="complete" class="mx-10">
                    <div id="status_text" class="mx-auto">
                        배송완료
                    </div>
                    <div class="mx-auto" id="status_icon">
                        <img src="{% static 'images/users/complete.svg' %}" alt="배송완료 아이콘">
                    </div>
                    <div id="status_number" class="mx-auto">
                        {{complete_num}}
                    </div>
                </div>
                <div id="cancel" class="mx-14">
                    <div id="status_text" class="mx-auto">
                        취소/반품/교환
                    </div>
                    <div class="mx-auto" id="status_icon">
                        <img src="{% static 'images/users/cancel.svg' %}" alt="취소/반품/교환 아이콘" class="pt-2 pl-2">
                    </div>
                    <div id="status_number" class="mx-auto">
                        {{cancel_num}}
                    </div>
                </div>
            </div>
        </div>



        <div id="middle-section" class="flex flex-row">

            <div id="menu">
                <a href="{% url 'users:mypage' 'orders'%}">
                    <div class="menu_content transition_element" id="menu_boughts">구매 내역</div>
                </a>
                <a href="{% url 'users:mypage' 'wishes'%}">
                    <div class="menu_content transition_element" id="menu_likes">찜한 목록</div>
                </a>
                <a href="{% url 'users:mypage' 'cart'%}">
                    <div class="menu_content transition_element" id="menu_carts">장바구니</div>
                </a>
                <a href="{% url 'users:mypage' 'rev_address'%}">
                    <div class="menu_content transition_element" id="menu_deliveries">배송지 관리</div>
                </a>
                <a href="{% url 'users:mypage' 'info'%}">
                    <div class="menu_content transition_element" id="menu_infos">개인 정보 수정</div>
                </a>
                <div id="line">
                    <div id="selected_line"></div>
                    <div id="background_line"></div>
                </div>
            </div>
            <div id="content">
                {% block content %}

                {% endblock content %}
            </div>
        </div>

    </div>

</div>
<div id="bottom_section" class="z-0 mt-8">
    <di id="bottom_contents" class="flex flex-row mx-auto">
        <div id="subscribe_section">
            <div class="mx-auto mt-8 mb-1">
                <img src="{% static 'images/users/farmer_icon.svg' %}" class="mx-auto">
            </div>
            <div id="subs_title_box" class="mx-auto flex flex-row">
                <div id="subs_title_text1">My</div>
                <div id="subs_title_text2">Farmer</div>
            </div>
            <div id="subs_contents" class="mx-auto mt-10">

                {% if subs.exists is False %}
                <div id="subs_not_exist_box" class="flex flex-col items-center">
                    <div>아직 구독한 농가가 없습니다</div>
                    <a id="subs_redirect_a" href="{% url 'farmers:farmers_page' %}">
                        <div id="subs_redirect_btn">농가 구독하러 가기</div>
                    </a>
                </div>
                {% else %}


                {% for sub in subs %}
                <div class="flex flex-row w-100" id="{{sub.pk}}-sub-farmer">
                    <a href="{% url 'farmers:farmer_detail' sub.farmer.pk %}" class="flex flex-row w-4/5">
                        <div class="w-1/5" id="sub-left-section">
                            <img id="farm_image" src="{{sub.farmer.farmer_profile.url}}">
                        </div>
                        <div class="w-4/5" id="sub-right-section">
                            <div id="farm_tags" class="flex flex-row">
                                {% for t in sub.farmer.farm_tags.all %}
                                <div id="farm_tag">
                                    {% if t.tag|length > 4 %}
                                        #{{t.tag|slice:"5"}}...
                                    {% else %}
                                        #{{t.tag}}
                                    {% endif %}
                                </div>
                                {% endfor %}
                            </div>
                            <div id="farm_infos" class="flex flex-row">
                                <div id="farm_loc">서울시 임시구</div>
                                <div id="farm_name">{{sub.farmer.farm_name}}</div>
                            </div>
                            <div id="farm_news" class="flex flex-row">
                                <div>
                                    <img class="mt-2 mr-1" src="{% static 'images/users/news_icon.svg' %}">
                                </div>

                                {% if sub.farmer.farm_news is None %}
                                <div id="sub_farm_news">아직 새 소식이 없어요!</div>
                                {% else %}
                                <div id="sub_farm_news">{{sub.farmer.farm_news}}</div>
                                {% endif %}
                            </div>
                        </div>

                    </a>

                    <div class="w-1/5">

                        <div id="sub_cancel_btn" class="mt-4 mx-auto transition_element" name="{{sub.pk}}">구독 취소</div>

                    </div>
                </div>

                {% endfor %}
                <div id="show_more">더보기</div>

                {% endif %}
            </div>
        </div>
        <div id="qnas_section">
            <div id="qnas_title_box">
                <div id="qnas_title_text1">
                    Q&A
                </div>
                <div id="qnas_title_text2">
                    개인적인 배송관련, 주문 관련 사항들은 1:1 고객상담센터로 문의해주세요
                </div>
            </div>
            <div id="qnas_contents" class="mx-auto mt-10 flex flex-col justify-center">

                {% if questions.exists == False %}
                <div id="qnas_not_exist_box" class="flex flex-col items-center">
                    <div class="text-center">아직 무난이에 대해 궁금한 것이 없습니다!</div>
                    <a id="qnas_redirect_a" href="{% url 'products:store_list' %}">
                        <div id="qnas_redirect_btn">무난이 구경하러 가기</div>
                    </a>
                </div>
                {% else %}
                <div id="qna_box_container">
                    {% for q in questions %}

                    <div id="qna_box">
                        <div id="qna_date">{{q.create_at.year}}. {{q.create_at.month}}. {{q.create_at.day}}</div>
                        <div id="q_box" class="flex flex-row">
                            <div>Q.</div>
                            <div id="q_detail">
                                <div>{{q.content|slice:":20"}}</div>

                                {% if q.answer.title != "" %}
                                {% else %}

                                <a id="see_more_a" href="{% url 'products:question_read' q.pk %}" class="items-end">
                                    <div id="see_more" class="items-end transition_element">더보기</div>
                                </a>

                                {% endif %}

                            </div>

                        </div>
                        {% if q.answer.title != "" %}
                        <div id="a_box" class="flex flex-row justify-end">
                            <div id="a_detail">
                                <div>{{q.answer.content|slice:":"}}</div>
                                <a id="see_more_a" href="{% url 'products:question_read' q.pk %}">
                                    <div id="see_more">더보기</div>
                                </a>
                            </div>
                            <div>A.</div>
                        </div>
                        {% else %}
                        <div id="a_box" class="flex flex-row justify-end">
                            <div id="a_detail">
                                <div>아직 답변이 등록되지 않았습니다!</div>
                            </div>
                            <div>A.</div>
                        </div>
                        {% endif %}
                    </div>

                    {% endfor %}
                </div>
                {% endif %}

            </div>
        </div>
</div>
</div>





{% endblock main_content %}
{% block script_section %}

{% endblock script_section %}

{% block mypage_base_script_section %}

<script>


    let subCancelBtn = document.getElementById("sub_cancel_btn")
    console.log(subCancelBtn)
    subCancelBtn.addEventListener('click', ()=>{
        showModalMessage("구독을 취소하시겠습니까", ()=>{
            let pk = subCancelBtn.getAttribute('name')
            subscribeCancel(pk)
        })
    }
    )

    // 모바일에서 구독 3개씩 더보기
    if (window.matchMedia("(max-width: 768px)").matches){
        const subsContents = document.getElementById("subs_contents");
        const showMoreBtn = document.getElementById("show_more");

        for(let i=0; i< subsContents.children.length-1 ; i++){
            subsContents.children[i].classList.remove("show");
        }

        let j = 0;
        function showMore(cnt){
            for(let i =0 ; i< cnt ; i++){
                // 존재하는 contents 개수보다 많은 개수 요청 시
                if( j >= subsContents.children.length-1 ){
                    break;
                }
                // 존재하는 contents 개수 내에서 요청 시
                else{
                    subsContents.children[j].classList.add("show");
                    j++;
                }
            }
        }
        
        // 기본으로 3개 contents 보여줌
        showMore(3);

        // 더보기 클릭 시 3개씩 추가로 보여줌
        showMoreBtn.addEventListener('click', () => {
            showMore(3);
        })
    }

</script>
{% endblock %}