{% extends 'base/base.html' %}
{% load static %}

{% block stylesheet %}
{% endblock stylesheet %}
<link rel="stylesheet" href="{% static 'css/users/mypage.css' %}">
{% block title_name %}
    피키팜 | My Picky Farm
{% endblock title_name %}

{% block main_content %}
<div class="main-contents flex justify-center lg:mx-0 sm:mx-0 bg-white-400 text-center font-4xl" id="main">

    <div id="top-section" class="flex flex-row">
        <div id="left" class="">
            <div class="flex flex-row">
                <div>
                    My
                </div>
                <div>
                    Picky Farm
                </div>
            </div>
            <div id="user_nickname">
                {{consumer_nickname}}님
            </div>
        </div>
        <div id="right" class="flex flex-row justify-between">
            <div id="preparing" class="mr-10 ml-5">
                <div id="status_text">
                    배송 준비중
                </div>
                <div>
                    <img src="{% static 'images/users/preparing.svg' %}" alt="배송완료 아이콘">
                </div>
                <div id="status_number">
                    {{preparing_num}}
                </div>
            </div>
            <div id="delivering" class="mr-10">
                <div id="status_text">
                    배송중
                </div>
                <div>
                    <img src="{% static 'images/users/delivering.svg' %}" alt="배송완료 아이콘">
                </div>
                <div id="status_number">
                    {{delivery_num}}
                </div>
            </div>
            <div id="complete" class="mr-10">
                <div id="status_text">
                    배송완료
                </div>
                <div>
                    <img src="{% static 'images/users/complete.svg' %}" alt="배송완료 아이콘">
                </div>
                <div id="status_number">
                    {{complete_num}}
                </div>
            </div>
            <div id="cancel" class="mr-10">
                <div id="status_text">
                    취소/반품/교환
                </div>
                <div>
                    <img src="{% static 'images/users/cancel.svg' %}" alt="배송완료 아이콘">
                </div>
                <div id="status_number">
                    {{cancel_num}}
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock main_content %}