{% extends "users/mypage_base.html" %}
{% load static %}

{% block content %}

{% if wishes.exists is False %}
<div class="mt-14 flex flex-col justify-center items-center">
    <div>
      아직 찜한 무난이가 없습니다
    </div>
    <a id="redirect_a" href="{% url 'products:store_list' %}">
      <div id="redirect_btn">무난이 구매하러 가기</div>
    </a>
  </div>
{% else %}

    
<div id="filter-section" class="flex flex-row">
    <div>
        <input type="radio">
    </div>
    <div>
        선택 상품 삭제
    </div>
</div>
<div id="products-section" class="mt-5">

    {% for wish in wishes %}
    <div class="flex flex-row">
        <div id="select-section" class="mt-12 pr-8">
            <input type="radio">
        </div>
        <div id="product" class="flex flex-row mb-5">
            <div id="product_img_section" class="w-1/5">
                <img id="product_img" src="{{wish.product.main_image.url}}">
            </div>
            <div class="w-3/5 mt-5">
                <div class="flex flex-row">
                    <div id="product_farm_name">{{wish.product.farmer.farm_name}}</div>
                    <div id="slash">|</div>
                    <div id="product_title">{{wish.product.title}}</div>
                </div>
                <div class="flex flex-row mt-2">
                    <div id="product_weight">{{wish.product.weight}}g / </div>
                    <div id="product_price"> {{wish.product.sell_price}}원</div>

                </div>

                <div class="flex flex-row"></div>
            </div>
            <div id="cart-button-section" class="w-1/5 mt-4 pl-8">
                <a href="{% url 'products:product_detail' wish.product.pk %}">
                    <div id="see-product-btn" class="mb-3 ml-5">무난이 보기</div>
                </a>
                <button id="cartIn_btn" name="{{wish.product.pk}}">장바구니 담기</button>
            </div>
        </div>
    </div>
    {% endfor %}

</div>


<div id="controll-section">
    <div class="flex justify-left">
        <a>
            <div id="delete_btn">삭제하기</div>
        </a>
    </div>
    <div id="paginator" class="flex flex-row justify-center">
        {% for p in total_pages %}
        {% if p == page %}
        <a href='?page={{p}}'>
            <div id="page_btn_sel" value="{{page}}">{{p}}</div>
        </a>
        {% else %}
        <a href='?page={{p}}'>
            <div id="page_btn" value="{{page}}">{{p}}</div>
        </a>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endif %}

{% endblock content %}


{% block script_section %}
<script src="{% static 'js/base/cartIn.js' %}"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.js"></script>
<script>

    let menuBtns = []
    menuBtns.push(document.getElementById('menu_carts'))
    menuBtns.push(document.getElementById('menu_boughts'))
    menuBtns.push(document.getElementById('menu_deliveries'))
    menuBtns.push(document.getElementById('menu_infos'))
 

    $('#menu_likes').css({
        "background-color": "#5c6754",
        "color": "white",
    })


    menuBtns.forEach(item => {
        item.addEventListener('mouseover', function () {
            $(this).css({
                "background-color": "#5c6754",
                "color": "white",

            })
        })
        item.addEventListener('mouseout', function () {
            $(this).css({
                "background-color": "white",
                "color": "#5c6754"
            })
        })
    })

    let cartInbtns = document.querySelectorAll('#cartIn_btn')
    console.log(cartInbtns)
    cartInbtns.forEach(item => {
        item.addEventListener('click', function () {
            let pk = item.getAttribute('name')
            console.log(pk);
            cartIn(pk)
        })
    })

    
  
</script>
{% endblock script_section %}