{% extends "users/mypage_base.html" %}
{% load static %}

{% block stylesheet_detail %}
<link rel="stylesheet" href="{% static 'css/users/mypage/user/mypage_carts.css' %}">
<link rel="stylesheet" href="{% static 'css/users/mypage/user/mypage_carts_mobile.css' %}">
{% endblock stylesheet_detail %}

{% block content %}
{% if carts.exists is True %}
<div id="filter-section" class="flex flex-row">
    <div>
        <input id="total-select" type="checkbox">
    </div>
    <div>
        전체 상품 선택
    </div>
</div>
{% endif %}
<div id="products-section" class="mt-5">
    {% if carts.exists is False %}
    <div class="mt-14 flex flex-col justify-center items-center">
        <div>아직 장바구니에 담은 무난이가 없습니다</div>
        <a id="redirect_a" href="{% url 'products:store_list' %}">
            <div id="redirect_btn">무난이 구매하러 가기</div>
        </a>
    </div>
    {% else %}

    {% for cart in carts %}
    <div class="flex flex-row">
        <div id="select-section" class="mt-12 pr-8">
            <input id="select-checkbox-{{cart.product.pk}}" type="checkbox" name="{{cart.product.pk}}" checked>
        </div>
        <div id="product" name="{{cart.product.pk}}" class="flex flex-row mb-5">
            <div id="product_img_section" class="w-1/5">
                <img id="product_img" src="{{cart.product.main_image.url}}">
            </div>
            <div class="w-3/5 mt-5">
                <div class="flex flex-row">
                    <div id="product_farm_name">{{cart.product.farmer.farm_name}}</div>
                    <div id="slash">|</div>
                    <div id="product_title">{{cart.product.title}}</div>
                </div>
                <div class="flex flex-row mt-2">
                    <div id="product_weight">{{cart.product.weight}}g / </div>
                    <div id="product_price_{{cart.product.pk}}" class="product_price" name="{{cart.product.sell_price}}">
                        {{cart.product.sell_price}}원</div>

                </div>

                <div class="flex flex-row"></div>
            </div>
            <div id="cart-button-section" class="flex flex-row w-1/5 pl-8 items-center">
                <div id="quantity-down" name="{{cart.product.pk}}">
                    <img src="{% static 'images/users/cart_down.svg' %}">
                </div>
                <div id="quantity-{{cart.product.pk}}" class="quantity-number">{{cart.quantity}}</div>
                <div id="quantity-up" name="{{cart.product.pk}}">
                    <img src="{% static 'images/users/cart_up.svg' %}">
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}

</div>

{% if carts.exists is True %}
<div id="controll-section">
    <div class="flex justify-left">
        <a>
            <div id="delete_btn">삭제하기</div>
        </a>
    </div>
</div>

<div class="line"></div>
<div id="order-section" class="flex flex-row">
    <div class="flex flex-row w-1/2 justify-start">
        <a href="{% url 'products:store_list' %}">
            <div id="continue_shop">쇼핑 계속하기</div>
        </a>
        <a id="order_now_a">
            <div id="order_now">주문하기</div>
        </a>
    </div>
    <div class="flex flex-row w-1/2 justify-end">
        <div id="total_order_text">총 주문금액</div>
        <div id="total_order_price">0</div>
        <div id="won_text">원</div>
    </div>

</div>
{% endif %}

<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.js"></script>
<script>


    let menuBtns = []
    menuBtns.push(document.getElementById('menu_boughts'))
    menuBtns.push(document.getElementById('menu_likes'))
    menuBtns.push(document.getElementById('menu_deliveries'))
    menuBtns.push(document.getElementById('menu_infos'))
    console.log(menuBtns)

    $('#menu_carts').css({
        "background-color": "#5c6754",
        "color": "white",
    })

    // 모바일에서 메뉴 선택
    if (window.matchMedia("(max-width: 768px)").matches) {
        document.getElementById('menu_carts').classList.add('selected');
        document.getElementById('selected_line').style.gridArea = "line3";
    }

    menuBtns.forEach(item => {
        item.addEventListener('mouseover', function () {
            $(this).css({
                "background-color": "#5c6754",
                "color": "white",

            })
        })
        item.addEventListener('mouseout', function () {
            $(this).css({
                "background-color": "white",
                "color": "#5c6754"
            })
        })
    })


    // let hey = document.querySelectorAll('#cartIn_btn')
    // hey.forEach(item => {
    //     item.addEventListener('click', function () {
    //         let pk = $(this).attr('name')
    //         console.log(pk);
    //         $.ajax({
    //             type: "POST",
    //             url: "{% url 'users:cartInAjax' %}",
    //             data: {
    //                 "pk": pk,
    //                 "csrfmiddlewaretoken": "{{csrf_token}}",
    //             },
    //             dataType: "json",
    //             success: function (response) {
    //                 alert(response.message);
    //             },
    //             error: function (request, status, error) {
    //                 alert('로그인이 필요합니다.')
    //             }
    //         });
    //     })
    // })


    let quantityUp = document.querySelectorAll('#quantity-up')
    let quantityDown = document.querySelectorAll('#quantity-down')
    let selectors = document.querySelectorAll('[id^="select-checkbox"]')
    let totalPriceDiv = document.querySelector('#total_order_price')
    let totalSelector = document.getElementById('total-select')

    function addCalTotalPrice(price, quantity) {
        let nowTotalPrice = totalPriceDiv.innerHTML
        nowTotalPrice = parseInt(nowTotalPrice)

        let newTotalOrderPrice = nowTotalPrice + price * quantity
        totalPriceDiv.innerHTML = String(newTotalOrderPrice)
    }

    function subCalTotalPrice(price, quantity) {
        let nowTotalPrice = totalPriceDiv.innerHTML
        nowTotalPrice = parseInt(nowTotalPrice)

        if (nowTotalPrice > 0) {
            let newTotalOrderPrice = nowTotalPrice - price * quantity
            totalPriceDiv.innerHTML = String(newTotalOrderPrice)
        }
    }

    totalSelector.addEventListener('click', function () {
        if (totalSelector.checked == true) {
            selectors.forEach(item => {
                if (item.checked == false) {
                    item.checked = true

                    let pk = item.getAttribute('name')
                    console.log(pk)

                    let price = document.querySelector(`#product_price_${pk}`).getAttribute('name')
                    price = parseInt(price)
                    console.log(price)

                    let quantity = document.querySelector(`#quantity-${pk}`).innerHTML
                    quantity = parseInt(quantity)
                    console.log(quantity)

                    addCalTotalPrice(price, quantity)

                }
            })
        }
        else {
            selectors.forEach(item => {
                if (item.checked == true) {
                    item.checked = false

                    let pk = item.getAttribute('name')
                    console.log(pk)

                    let price = document.querySelector(`#product_price_${pk}`).getAttribute('name')
                    price = parseInt(price)
                    console.log(price)

                    let quantity = document.querySelector(`#quantity-${pk}`).innerHTML
                    quantity = parseInt(quantity)
                    console.log(quantity)

                    subCalTotalPrice(price, quantity)


                }
            })
        }
    })

    //Selector 초기화
    totalSelector.checked = true

    selectors.forEach(item => {
        if (item.checked == true) {
            let pk = item.getAttribute('name')
            console.log(pk)

            let price = document.querySelector(`#product_price_${pk}`).getAttribute('name')
            price = parseInt(price)
            console.log(price)

            let quantity = document.querySelector(`#quantity-${pk}`).innerHTML
            quantity = parseInt(quantity)
            console.log(quantity)

            addCalTotalPrice(price, quantity)
        }
    })

    selectors.forEach(item => {
        item.addEventListener('click', function () {
            if (totalSelector.checked == true && item.checked == false) {
                totalSelector.checked = false
            }

            if (totalSelector.checked == false && item.checked == true) {
                let cnt = 0
                selectors.forEach(item => {
                    if (item.checked == true)
                        cnt += 1
                })
                if (cnt == selectors.length) {
                    totalSelector.checked = true
                }
            }
            let pk = $(this).attr('name')
            console.log(pk)

            let price = document.querySelector(`#product_price_${pk}`).getAttribute('name')
            price = parseInt(price)
            console.log(price)

            let quantity = document.querySelector(`#quantity-${pk}`).innerHTML
            quantity = parseInt(quantity)
            console.log(quantity)

            console.log(item)

            if (item.checked == true) {
                addCalTotalPrice(price, quantity)
            }
            else {
                subCalTotalPrice(price, quantity)
            }
        })
    })



    quantityUp.forEach(item => {
        item.addEventListener('click', function () {
            let pk = this.getAttribute('name')
            console.log(pk)

            let quantity = document.querySelector(`#quantity-${pk}`)
            console.log(quantity)
            let quantityNum = parseInt(quantity.innerHTML) + 1
            quantity.innerHTML = String(quantityNum)

            let price = document.querySelector(`#product_price_${pk}`).getAttribute('name')
            price = parseInt(price)
            console.log(price)

            let checkbox = document.querySelector(`#select-checkbox-${pk}`)
            console.log(checkbox)

            if (checkbox.checked == true) {
                console.log("checkbox checked")
                addCalTotalPrice(price, 1)
            }
        })
    })

    quantityDown.forEach(item => {
        item.addEventListener('click', function () {
            let pk = this.getAttribute('name')
            console.log(pk)

            let quantity = document.querySelector(`#quantity-${pk}`)
            console.log(quantity)
            let quantityNum = parseInt(quantity.innerHTML)
            if (quantityNum == 1) {
                quantityNum = 1
            }
            else {
                quantityNum = quantityNum - 1
                quantity.innerHTML = String(quantityNum)

                let price = document.querySelector(`#product_price_${pk}`).getAttribute('name')
                price = parseInt(price)
                console.log(price)

                let checkbox = document.querySelector(`#select-checkbox-${pk}`)
                console.log(checkbox)

                if (checkbox.checked == true) {
                    console.log("checkbox checked")
                    subCalTotalPrice(price, 1)
                }
            }

        })
    })



    $('#order_now').click(function () {
        if (
            navigator.userAgent.match(
                /inapp|NAVER|KAKAOTALK|Snapchat|Line|WirtschaftsWoche|Thunderbird|Instagram|everytimeApp|WhatsApp|Electron|wadiz|AliApp|zumapp|iPhone(.*)Whale|Android(.*)Whale|kakaostory|band|twitter|DaumApps|DaumDevice\/mobile|FB_IAB|FB4A|FBAN|FBIOS|FBSS/i
            )
        ) {
            alert(
                '핸드폰 기본 브라우저를 이용해주시기 바랍니다!\n 기본 브라우저외의 브라우저 사용 시 결제가 진행되지 않을 수 있습니다.'
            );
            return;
        }

        console.log(selectors)
        let products = [];
        selectors.forEach(item => {
            console.log(item)
            if (item.checked == true) {
                let pk = item.getAttribute('name');
                let quantity = parseInt(document.getElementById(`quantity-${pk}`).innerText)
                let product = {
                    'pk': pk,
                    'quantity': quantity
                }
                products.push(product)
            }
        });
        console.log(products)
        if (products.length == 0)
            alert("주문할 무난이를 선택해주세요!")

        data = {
            'orders': JSON.stringify(products),
            "csrfmiddlewaretoken": "{{csrf_token}}"
        }

        let form = document.createElement("form")
        form.setAttribute("method", "post")
        form.setAttribute("action", "{% url 'orders:payment_create' %}")

        for (let key in data) {
            let hiddenField = document.createElement('input')
            hiddenField.setAttribute('type', 'hidden')
            hiddenField.setAttribute('name', key)
            hiddenField.setAttribute('value', data[key])

            form.appendChild(hiddenField)
        }

        document.body.appendChild(form)
        form.submit()

    })


    $('#delete_btn').click(function () {
        let products = []
        selectors.forEach(item => {
            if (item.checked == true) {
                let pk = item.getAttribute('name')
                products.push(pk)
            }
        })

        if (products.length == 0) {
            shootToastMessage("삭제할 무난이를 선택해주세요!", '2', "alert")
            return
        }
        data = {
            'pkList': products,
            "csrfmiddlewaretoken": "{{csrf_token}}"
        }
        console.log(data.pkList)
        $.ajax({
            type: "POST",
            url: "{% url 'users:cartOutAjax' %}",
            data: data,
            dataType: "json",
            success: function (response) {
                //삭제 toast msg reload시의 문제
                if (response.success == true)
                    window.location.reload()
                shootToastMessage("무난이를 삭제하였습니다")
            }
        })

    })

    //   $("#cartIn_btn").click(function(){
    //     let pk = $(this).attr('name')
    //     console.log(pk);
    //     $.ajax({
    //         type : "POST",
    //         url:"{% url 'users:cartInAjax' %}",
    //         data : {
    //             "pk":pk,
    //             "csrfmiddlewaretoken":"{{csrf_token}}",
    //         },
    //         dataType:"json",
    //         success: function(response){
    //             alert(response.message);
    //         },
    //         error: function (request, status, error) {
    //             alert('로그인이 필요합니다.')
    //         }
    //     });
    //   })
    // });

    // let orderBtn = document.getElementById('order_now')

    // let orderProducts = []

    // orderBtn.addEventListener('click', function(){
    //     let carts = document.querySelectorAll('#product')
    //     carts.forEach(item=>{
    //         let pk = item.getAttribute('name');
    //         let quantity = parseInt(document.getElementById(`quantity-${pk}`).innerText)
    //         let product = {
    //             'pk':pk,
    //             'quantity':quantity
    //         }
    //         orderProducts.push(product)
    //     })
    //     console.log(orderProducts);
    // })


</script>

{% endblock content %}

{% block script_section %}

{% endblock script_section %}