{% extends "users/mypage_base.html" %}
{% load static %}

{% block content %}
<div id="filter-section" class="flex flex-row">
    <div>
        <input type="radio">
    </div>
    <div>
        선택 상품 삭제
    </div>
</div>
<div id="products-section" class="mt-5">

    {% for wish in wishes %}
    <div class="flex flex-row">
        <div id="select-section" class="mt-12 pr-8">
            <input type="radio">
        </div>
        <div id="product" class="flex flex-row mb-5">
            <div id="product_img_section" class="w-1/5">
                <img id="product_img" src="{{wish.product.main_image.url}}">
            </div>
            <div class="w-3/5 mt-5">
                <div class="flex flex-row">
                    <div id="product_farm_name">{{wish.product.farmer.farm_name}}</div>
                    <div id="slash">|</div>
                    <div id="product_title">{{wish.product.title}}</div>
                </div>
                <div class="flex flex-row mt-2">
                    <div id="product_weight">{{wish.product.weight}}g / </div>
                    <div id="product_price"> {{wish.product.sell_price}}원</div>

                </div>

                <div class="flex flex-row"></div>
            </div>
            <div id="cart-button-section" class="w-1/5 mt-4 pl-8">
                <a href="{% url 'products:product_detail' wish.product.pk %}">
                    <div id="product_btn" class="mb-3">무난이 보기</div>
                </a>
                <button id="cartIn_btn" name="{{wish.product.pk}}">장바구니 담기</button>
            </div>
        </div>
    </div>
    {% endfor %}

</div>


<div id="controll-section">
    <div class="flex justify-left">
        <a>
            <div id="delete_btn">삭제하기</div>
        </a>
    </div>
    <div id="paginator" class="flex flex-row justify-center">
        {% for p in total_pages %}
        {% if p == page %}
        <a href='?page={{p}}'>
            <div id="page_btn_sel" value="{{page}}">{{p}}</div>
        </a>
        {% else %}
        <a href='?page={{p}}'>
            <div id="page_btn" value="{{page}}">{{p}}</div>
        </a>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock content %}


{% block script_section %}
<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.js"></script>
<script>

    let menuBtns = []
    menuBtns.push(document.getElementById('menu_carts'))
    menuBtns.push(document.getElementById('menu_boughts'))
    menuBtns.push(document.getElementById('menu_deliveries'))
    menuBtns.push(document.getElementById('menu_infos'))
    console.l

    $('#menu_likes').css({
        "background-color": "#5c6754",
        "color": "white",
    })


    menuBtns.forEach(item => {
        item.addEventListener('mouseover', function () {
            $(this).css({
                "background-color": "#5c6754",
                "color": "white",

            })
        })
        item.addEventListener('mouseout', function () {
            $(this).css({
                "background-color": "white",
                "color": "#5c6754"
            })
        })
    })
    // $(function(){
    let hey = document.querySelectorAll('#cartIn_btn')
    hey.forEach(item => {
        item.addEventListener('click', function () {
            let pk = $(this).attr('name')
            console.log(pk);
            $.ajax({
                type: "POST",
                url: "{% url 'users:cartInAjax' %}",
                data: {
                    "pk": pk,
                    "csrfmiddlewaretoken": "{{csrf_token}}",
                },
                dataType: "json",
                success: function (response) {
                    alert(response.message);
                },
                error: function (request, status, error) {
                    alert('로그인이 필요합니다.')
                }
            });
        })
    })

    //   $("#cartIn_btn").click(function(){
    //     let pk = $(this).attr('name')
    //     console.log(pk);
    //     $.ajax({
    //         type : "POST",
    //         url:"{% url 'users:cartInAjax' %}",
    //         data : {
    //             "pk":pk,
    //             "csrfmiddlewaretoken":"{{csrf_token}}",
    //         },
    //         dataType:"json",
    //         success: function(response){
    //             alert(response.message);
    //         },
    //         error: function (request, status, error) {
    //             alert('로그인이 필요합니다.')
    //         }
    //     });
    //   })
    // });
</script>
{% endblock script_section %}