{% extends "users/mypage_base.html" %}
{% load static %}

{% block content %}
<div id="filter-section" class="flex flex-row">
    <div>
        <input type="radio">
    </div>
    <div>
        전체 상품 선택
    </div>
</div>
<div id="products-section" class="mt-5">
    {% if carts is None %}
    <div class="mt-14 flex flex-col justify-center">
    <div>
      아직 구매한 무난이가 없습니다
    </div>
    <a id="redirect_a" href="{% url 'products:store_list' %}"><div id="redirect_btn">무난이 구매하러 가기</div></a>
    </div>
    {% else %}

    {% for cart in carts %}
    <div class="flex flex-row">
        <div id="select-section" class="mt-12 pr-8">
            <input id="select-radio" type="radio" name="{{cart.product.pk}}">
        </div>
        <div id="product" class="flex flex-row mb-5">
            <div id="product_img_section" class="w-1/5">
                <img id="product_img" src="{{cart.product.main_image.url}}">
            </div>
            <div class="w-3/5 mt-5">
                <div class="flex flex-row">
                    <div id="product_farm_name">{{cart.product.farmer.farm_name}}</div>
                    <div id="slash">|</div>
                    <div id="product_title">{{cart.product.title}}</div>
                </div>
                <div class="flex flex-row mt-2">
                    <div id="product_weight">{{cart.product.weight}}g / </div>
                    <div id="product_price_{{cart.product.pk}}" name="{{cart.product.sell_price}}"> {{cart.product.sell_price}}원</div>

                </div>

                <div class="flex flex-row"></div>
            </div>
            <div id="cart-button-section" class="w-1/5 mt-4 pl-8 items-center">
                <div><input id="quantity-{{cart.product.pk}}" type="number" value="{{cart.quantity}}"></div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}

</div>


<div id="controll-section">
    <div class="flex justify-left">
        <a><div id="delete_btn">삭제하기</div></a>
    </div>
</div>

<div id="order-section" class="flex flex-row">
    <div class="flex flex-row w-1/2 justify-start">
        <a href="{% url 'products:store_list' %}"><div id="continue_shop">쇼핑 계속하기</div></a>
        <a><div id="order_now">주문하기</div></a>
    </div>
    <div class="flex flex-row w-1/2 justify-end">
        <div id="total_order_text">총 주문금액</div>
        <div id="total_order_price">0</div>
        <div id="won_text">원</div>
    </div>  

</div>

{% endblock content %}

{% block script_section %}
<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.js"></script>
<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    // $(function(){
    let hey = document.querySelectorAll('#cartIn_btn')
    hey.forEach(item=>{
        item.addEventListener('click', function(){
            let pk = $(this).attr('name')
        console.log(pk);
        $.ajax({
            type : "POST",
            url:"{% url 'users:cartInAjax' %}",
            data : {
                "pk":pk,
                "csrfmiddlewaretoken":"{{csrf_token}}",
            },
            dataType:"json",
            success: function(response){
                alert(response.message);
            },
            error: function (request, status, error) {
                alert('로그인이 필요합니다.')
            }
        });
      })
    })

    let selectors = document.querySelectorAll('#select-radio')
    let total_price_div = document.querySelector('#total_order_price')
    selectors.forEach(item=>{
        item.addEventListener('click', function(){
            let pk = $(this).attr('name')
            console.log(pk)
            
            let total_price = document.querySelector('#total_order_price').innerText;
            total_price = parseInt(total_price)
            console.log(total_price)
            
            let price = document.querySelector(`#product_price_${pk}`).getAttribute('name')
            price = parseInt(price)
            console.log(price)

            let quantity = document.querySelector(`#quantity-${pk}`).getAttribute('value')
            quantity = parseInt(quantity)
            console.log(quantity)

            let new_total_order_price = total_price + price*quantity
            console.log(new_total_order_price)

            total_price_div.innerHTML = String(new_total_order_price)
        })
    })

    $('#order_now').click(function(){
        let selects = document.querySelectorAll('#select-radio');
        console.log(selects)
        let products = [];
        selects.forEach(item=>{
            console.log(item)
            if(item.checked == true){
                let pk = item.getAttribute('name');
                products.push(pk);
            }
        });
        data = {
            'products':products,
        };
        console.log(products)
        $.ajax({
            url : "{% url 'orders:ordering_cart'}",
            dataType : "json",
            type : "POST",
            data : data,
            success: function(response){
                
            }
        });

    })
   
    //   $("#cartIn_btn").click(function(){
    //     let pk = $(this).attr('name')
    //     console.log(pk);
    //     $.ajax({
    //         type : "POST",
    //         url:"{% url 'users:cartInAjax' %}",
    //         data : {
    //             "pk":pk,
    //             "csrfmiddlewaretoken":"{{csrf_token}}",
    //         },
    //         dataType:"json",
    //         success: function(response){
    //             alert(response.message);
    //         },
    //         error: function (request, status, error) {
    //             alert('로그인이 필요합니다.')
    //         }
    //     });
    //   })
    // });
</script>
{% endblock script_section %}