{% extends "users/mypage_base.html" %}
{% load static %}
{% block stylesheet_detail %}
<link rel="stylesheet" href="{% static 'css/users/mypage/user/mypage_rev_address.css' %}">
<link rel="stylesheet" href="{% static 'css/users/mypage/user/mypage_rev_address_mobile.css' %}">
{% endblock stylesheet_detail %}

{% block content %}
<div id="contents-container">
<div id="top-btn-section" class="flex flex-row">
  <div>배송지에 따라 배송비가 달라질 수 있습니다</div>
  <a href="?type=add"><div id="add-rev-address-btn" class="justify-self-end transition_element">+ 배송지 추가</div></a>
</div>

<div id="index-section" class="flex flex-row">
  <div id="index-title-section" class="flex flex-row">
    <div class="w-10/12">주소</div>
    <div class="w-1/12">수정</div>
    <div class="w-1/12">삭제</div>
  </div>
</div>

<div id="rev-address-section" class="flex flex-row">
  
  {% if rev_addresses.exists is False %}
    <div class="mt-10 mx-auto" id="not-register">아직 등록된 무난이 배송지가 없습니다!</div>
  {% else %}
  <div id="addr-section">
    {% for addr in rev_addresses %}
  
    <div id="addr" class="flex flex-row">
      <div class="w-10/12 text-center">{{addr.full_address}} {{addr.detail_address}}</div>
      <div class="flex w-1/12 justify-center"><a href="?type=update&pk={{addr.pk}}"><img id="modify" name="{{addr.pk}}" src="{% static 'images/users/pen.svg' %}"></a></div>
      <div class="flex w-1/12 justify-center"><img id="delete" name="{{addr.pk}}" src="{% static 'images/users/delete_x.svg' %}"></div>
    </div>
  
    {% endfor %}
  </div>
  {% endif %}
    
</div>
</div>
<script type="text/javascript" src="{% static 'js/get_address.js' %}"></script>
<script>

let menuBtns = []
    menuBtns.push(document.getElementById('menu_carts'))
    menuBtns.push(document.getElementById('menu_boughts'))
    menuBtns.push(document.getElementById('menu_infos'))
    menuBtns.push(document.getElementById('menu_likes'))
 

    $('#menu_deliveries').css({
        "background-color": "#5c6754",
        "color": "white",
    })


    menuBtns.forEach(item => {
        item.addEventListener('mouseover', function () {
            $(this).css({
                "background-color": "#5c6754",
                "color": "white",

            })
        })
        item.addEventListener('mouseout', function () {
            $(this).css({
                "background-color": "white",
                "color": "#5c6754"
            })
        })
    })

  let deleteBtn = document.querySelectorAll('#delete')

  deleteBtn.forEach(item => {
    item.addEventListener('click', function(){
      pk = item.getAttribute('name')
      pk = parseInt(pk)

      data ={
        'pk':pk
      }

      $.ajax({
        type: "POST",
        url: "{% url 'addresses:delete' %}",
        data: data,
        dataType: "json",
        success: function (response) {
          alert("배송지를 삭제하였습니다");
          window.location.reload()
        },
        error: function (request, status, error) {
          alert('로그인이 필요합니다.')
        }
      });
    })
  });

</script>

{% endblock content %}

