{% extends 'base/base.html' %}

{% load static %}

{% block title_name %}비밀번호 초기화{% endblock title_name %}
{% block main_content %}
<div class="content mx-auto" style="margin-top: 130px; margin-bottom:200px;">
    <img src="{% static 'images/user/email-send.svg' %}" class="mx-auto" alt="">
    <div class="mx-auto font-bold text-3xl mt-6 text-center" style="color: #5c6754; margin-bottom: 10px;">이메일 발송 완료</div>

    <div class="input_forms flex flex-col mx-auto" style="width: 338px;">
        
        <div class="id-info">입력하신 {{email}}으로 비밀번호 초기화 링크가 발송되었습니다.</div>
    </div>

</div>

<style>
    .content {
        width: 350px;
    }

    .alert{
        text-align: center;
        font-size: 25px;
        color: #5c6754;
        font-weight: 400;
        margin-bottom: 20px;
    }

    .id-info{
        font-size: 20px;
        font-weight: 300;
        text-align: center;
        color: #b3b3b3;
    }

    button {
        margin-top: 85px;
        color: white;
        background-color: #5c6754;
        font-weight: bold;
        width: 100%;
        height: 50px;
        font-size: 20px;
        border-radius: 10px;
    }

    button:focus{
        outline: none;
    }
</style>
{% endblock main_content %}