{% extends 'base/base.html' %}

{% load static %}

{% block auth_stylesheet %}
<link rel="stylesheet" href="{% static 'css/users/user_auth_input.css' %}">
{% endblock auth_stylesheet %}

{% block title_name %}비밀번호 재설정{% endblock title_name %}
{% block main_content %}
<div class="content mx-auto" style="margin-top: 130px;">
    <img src="{% static 'images/user/login.svg' %}" class="mx-auto" alt="">
    <div class="mx-auto font-bold text-3xl mt-6 text-center" style="color: #5c6754; margin-bottom: 100px;">비밀번호 재설정
    </div>

    <div class="input_forms flex flex-col mx-auto" style="width: 292px;">
        <div class="alert">고객님의 비밀번호 재설정이 완료되었습니다!</div>
    </div>
    <a href="{% url 'users:login' %}">
        <button>로그인 하기</button>
    </a>

</div>

<style>

</style>
{% endblock main_content %}