<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0"
        />
        <link
            rel="stylesheet"
            href="{% static 'css/users/mypage/user/order_cancel_popup.css' %}"
        />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <title>주문취소</title>
    </head>
    <body>
        <div class="popup_container flex">
            <div class="order-cancel-main-title">주문 취소</div>
            <div class="order-cancel-main-content-wrap">
                <div class="order-cancel-date">2021.07.27</div>
                <div class="order-cancel-receipt-wrap">
                    <div class="order-cancel-receipt-top-section">
                        <div class="order-cancel-number-wrap wrap_padding flex">
                            <span class="order-cancel-number-title"
                                >주문번호</span
                            >
                            <span class="order-cancel-number-value"
                                >012345678910</span
                            >
                        </div>
                        <div
                            class="
                                order-cancel-product-information-wrap
                                wrap_padding
                            "
                        >
                            <div class="order-cancel-product-information-title"
                                >상품정보</div
                            >
                            <div
                                class="
                                    order-cancel-product-information-contents-wrap
                                "
                            >
                                <!-- 무난이 작물 시작-->
                                <div
                                    class="
                                        order-cancel-product-information-content-wrap
                                        flex
                                    "
                                >
                                    <div
                                        class="
                                            order-cancel-product-information-content-left-section
                                        "
                                    >
                                        <div class="order-cancel-product-image">
                                        </div>
                                    </div>
                                    <div
                                        class="
                                            order-cancel-product-information-content-right-section
                                        "
                                    >
                                        <div class="order-cancel-product-tag">
                                            <img
                                                src="{% static 'images/users/mypage/user/moonan_harvest_tag.svg' %}"
                                                alt="moonan_harvest_tag"
                                            />
                                        </div>
                                        <div class="order-cancel-product-name"
                                            >못나지만 맛사과</div
                                        >
                                        <div
                                            class="
                                                order-cancel-product-detail-wrap
                                                flex
                                            "
                                        >
                                            <div
                                                class="
                                                    order-cancel-product-weight
                                                "
                                                >8 kg</div
                                            >
                                            <div
                                                class="
                                                    order-cancel-product-quantity
                                                "
                                                >4</div
                                            >
                                            <div
                                                class="
                                                    order-cancel-product-quantity-unit
                                                "
                                                >(개/박스)</div
                                            >
                                        </div>
                                    </div>
                                </div>
                                <!-- 무난이 작물 끝-->

                                <!-- 일 작물 시작-->
                                <div
                                    class="
                                        order-cancel-product-information-content-wrap
                                        flex
                                    "
                                >
                                    <div
                                        class="
                                            order-cancel-product-information-content-left-section
                                        "
                                    >
                                        <div class="order-cancel-product-image">
                                        </div>
                                    </div>
                                    <div
                                        class="
                                            order-cancel-product-information-content-right-section
                                        "
                                    >
                                        <div class="order-cancel-product-tag">
                                            <img src="{% static
                                            'images/users/mypage/user/normal_harvest_tag.svg'
                                            %}""" alt='moonan_harvest_tag'>
                                        </div>
                                        <div class="order-cancel-product-name"
                                            >못나지만 맛사과</div
                                        >
                                        <div
                                            class="
                                                order-cancel-product-detail-wrap
                                                flex
                                            "
                                        >
                                            <div
                                                class="
                                                    order-cancel-product-weight
                                                "
                                                >8 kg</div
                                            >
                                            <div
                                                class="
                                                    order-cancel-product-quantity
                                                "
                                                >4</div
                                            >
                                            <div
                                                class="
                                                    order-cancel-product-quantity-unit
                                                "
                                                >(개/박스)</div
                                            >
                                        </div>
                                    </div>
                                </div>
                                <!-- 일반 작물 끝-->
                            </div>
                            <div class="border-line"></div>
                            <div class="order-cancel-customer-wrap">
                                <div class="order-cancel-customer-title"
                                    >주문자 정보</div
                                >
                                <div class="order-cancel-customer-detail-wrap">
                                    <div
                                        class="
                                            order-cancel-customer-detail-name-callnum-wrap
                                            flex
                                        "
                                    >
                                        <div
                                            class="
                                                order-cancel-customer-detail-title
                                            "
                                            >이름 / 번호</div
                                        >
                                        <div
                                            class="
                                                order-cancel-customer-detail-namecall-value-wrap
                                                flex
                                            "
                                        >
                                            <div
                                                class="
                                                    order-cancel-customer-detail-name
                                                "
                                                >선다영</div
                                            >
                                            <div
                                                class="
                                                    order-cancel-customer-detail-callnum
                                                "
                                                >010.5767.4799</div
                                            >
                                        </div>
                                    </div>
                                    <div
                                        class="
                                            order-cancel-customer-detail-address-wrap
                                            flex
                                        "
                                    >
                                        <div
                                            class="
                                                order-cancel-customer-detail-title
                                            "
                                            >배송지</div
                                        >
                                        <div
                                            class="
                                                order-cancel-customer-detail-address-value-wrap
                                            "
                                        >
                                            <div
                                                class="
                                                    order-cancel-customer-detail-address
                                                "
                                                >경기도 성남시 분당구 서현동
                                                13-5번지 삼광빌라 532동
                                                1003호</div
                                            >
                                            <div
                                                class="
                                                    order-cancel-customer-detail-plus-wrap
                                                    flex
                                                "
                                            >
                                                <div
                                                    class="
                                                        order-cancel-customer-detail-delivery-place
                                                    "
                                                    >문앞</div
                                                >
                                                <div
                                                    class="
                                                        order-cancel-customer-detail-door-password
                                                    "
                                                    >현관비밀번호 없음</div
                                                >
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="
                                            order-cancel-customer-detail-request-message-wrap
                                            flex
                                        "
                                    >
                                        <div
                                            class="
                                                order-cancel-customer-detail-title
                                            "
                                            >요청사항</div
                                        >
                                        <div
                                            class="
                                                order-cancel-customer-detail-request-message
                                            "
                                            >포장 예쁘게 부탁드립니다. 포장
                                            예쁘게 부탁드립니다. 포장
                                            예쁘게</div
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="order-cancel-reason-wrap">
                        <div class="order-cancel-reason-title"
                            >취소 사유 작성</div
                        >
                        <form action="#" method="post">
                            {% csrf_token %}
                            <div class="order-cancel-reason-input-wrap">
                                <textarea
                                    class="order-cancel-reason-input"
                                    type="text"
                                ></textarea>
                            </div>
                            <button
                                class="order-cancel-reason-submit-wrap flex"
                                type="submit"
                            >
                                <div
                                    class="order-cancel-reason-submit-img-wrap"
                                >
                                    <img
                                        class="order-cancel-reason-submit-img"
                                        src="{% static 'images/users/mypage/user/check_nohover.svg' %}"
                                        alt="check_nohover"
                                    />
                                </div>
                                <div class="order-cancel-reason-submit-text"
                                    >취소 완료</div
                                >
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script>
            const check_btn = document.querySelector(
                '.order-cancel-reason-submit-wrap'
            );
            const check_img = document.querySelector(
                '.order-cancel-reason-submit-img'
            );

            const switchCheckImgHoverIn = function (e) {
                check_img.setAttribute(
                    'src',
                    "{% static 'images/users/mypage/user/check_hover.svg' %}"
                );
            };

            const switchCheckImgHoverOut = function (e) {
                check_img.setAttribute(
                    'src',
                    "{% static 'images/users/mypage/user/check_nohover.svg' %}"
                );
            };

            check_btn.addEventListener('mouseover', switchCheckImgHoverIn);
            check_btn.addEventListener('mouseleave', switchCheckImgHoverOut);
        </script>
    </body>
</html>
