<!doctype html>
{% load static %}
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport'
          content='width=device-width, user-scalable=no, initial-scale=1.0'>
    <link rel="stylesheet" href="{% static 'css/users/mypage/user/product_exchange_complete.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>교환 신청 완료</title>
</head>
<body>
<div class='popup_container flex'>
    <div class='product-exchange-complete-title-wrap'>
        <div class='check-img-wrap'>
            <img src="{% static 'images/users/mypage/user/check_nohover.svg' %}" alt='check_nohover'>
        </div>
        <div class='product-exchange-complete-main-title'>교환 신청 완료</div>
        <div class='product-exchange-complete-sub-title'>고객님의 교환신청이 완료되었습니다.</div>
    </div>
    <div class='border-line'></div>
    <div class='main-content-wrap'>
        <div class='exchange-product-information-title'>교환 상품 정보</div>
       <div class='exchange-product-receipt-wrap'>
            <div class='exchange-product-receipt-top-section'>
                <div class='exchange-date-wrap wrap_padding flex'>
                    <span class='exchange-date-title'>주문일시</span>
                    <span class='exchange-date-value'>{{order_date}}</span>
                </div>
                <div class='exchange-product-information-wrap wrap_padding'>
                    <div class='farm-information-wrap flex'>
                        <div class='farm-information-title'>Farm</div>
                        <div class='farm-information-value'>{{farm_name}}</div>
                    </div>
                    <div class='exchange-product-information-contents-wrap'>
                        <!-- 무난이 작물 시작-->
                        <div class='exchange-product-information-content-wrap flex'>
                            <div class='exchange-product-information-content-left-section'>
                                <div class='exchange-product-image'>
                                </div>
                            </div>
                            <div class='exchange-product-information-content-right-section'>
                                {% if product_kinds == "ugly" %}
                                <div class='refund-product-tag'>
                                    <img src="{% static 'images/users/mypage/user/moonan_harvest_tag.svg' %}" alt='moonan_harvest_tag'>
                                </div>
                                {% else %}
                                <div class='refund-product-tag'>
                                    <img src="{% static 'images/users/mypage/user/normal_harvest_tag.svg' %}""" alt='moonan_harvest_tag'>
                                </div>
                                {% endif %}
                                <div class='exchange-product-name'>{{product_title}}</div>
                                <div class='exchange-product-detail-wrap flex'>
                                    <div class='exchange-product-price'>{{product_price}}원</div>
                                    <div class='exchange-product-quantity'>{{order_detail_quantity}}</div>
                                    <div class='exchange-product-quantity-unit'>(개/박스)</div>
                                    <div class='exchange-product-weight'>{{product_weight}}</div>
                                </div>
                                <div class='exchange-product-option'>교환신청</div>
                            </div>
                        </div>
                        <!-- 무난이 작물 끝-->

                        
                    </div>
                </div>
            </div>
            <div class='drag-bag-product-wrap'>
                <div class='drag-bag-product-title'>배송 / 회수 정보</div>
                <div class='drag-bag-product-content-wrap wrap_padding'>
                    <div class='drag-bag-address-wrap flex'>
                        <div class='drag-bag-address-title'>주소지</div>
                        <div class='drag-bag-address-value'>{{refundExchange.rev_address}}</div>
                    </div>
                    <div class='drag-bag-request-wrap flex'>
                        <div class='drag-bag-request-title'>요청사항</div>
                        <div class='drag-bag-request-value'>{{refundExchange.rev_loc_at}}</div>
                    </div>
                    <div class='drag-bag-cost-wrap flex'>
                        <div class='drag-bag-cost-title'>교환 배송비</div>
                        <div class='drag-bag-cost-value'>{{refundExchange.refund_exchange_delivery_fee}}원</div>
                    </div>
                </div>
                <div class='return-mypage-btn-wrap flex'>
                    <div class='return-mypage-btn-img-wrap'>
                        <a src="{% url 'core:popup_callback' %}"><img class='return-mypage-btn-img' src="{% static 'images/users/mypage/user/goback_mypage_nohover.svg' %}" alt='goback_mypage_nohover'></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const return_btn = document.querySelector('.return-mypage-btn-wrap');
    const return_img = document.querySelector('.return-mypage-btn-img');

    const switchCheckImgHoverIn = function(e){
        return_img.setAttribute('src',"{% static 'images/users/mypage/user/goback_mypage_hover.svg' %}")
    }

    const switchCheckImgHoverOut = function(e){
        return_img.setAttribute('src',"{% static 'images/users/mypage/user/goback_mypage_nohover.svg' %}")
    }



    return_btn.addEventListener('mouseover',switchCheckImgHoverIn)
    return_btn.addEventListener('mouseleave',switchCheckImgHoverOut)
</script>
</body>
</html>