.product-kind-tag-wrap {
    grid-auto-flow: row dense;
}

.product-kind-tag {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #5c6754;
    border-radius: 0px 100px 100px 0px;
}

.product-kind-tag.ugly {
    background-color: #5c6754;
    color: white;
}

.product-kind-tag.normal {
    background-color: white;
    color: rgba(92, 103, 84, 0.8);
}

@media screen and (min-width: 769px) {
    .product-kind-tag-wrap {
        gap: 16px;
    }

    .product-kind-tag {
        font-size: 17px;
        width: 102px;
        height: 30px;
    }
}

@media screen and (max-width: 768px) {
    .product-kind-tag-wrap {
        gap: 1rem;
    }
    .product-kind-tag {
        font-size: 1rem;
        line-height: 1.5rem;
        width: 6rem;
        height: 1.5rem;
    }
}
