@import '/static/css/base/mobile_base_style.css';

@media screen and (max-width: 768px) {
    #big_category {
        position: unset;
        padding: 0 3.5rem;
        margin: 0;
        margin-top: 5rem;
        width: 100%;
        z-index: 0;
    }
    #all,
    #fruit,
    #vege,
    #etc {
        width: 4.4rem;
        height: 4.4rem;
    }
    #cat_all a::after,
    #cat_fruit a::after,
    #cat_vege a::after,
    #cat_etc a::after {
        font-size: 1.1rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 2;
        letter-spacing: normal;
        text-align: center;
        color: var(--dark-green);
    }
    #cat_all a::after {
        content: '전체보기';
    }
    #cat_fruit a::after {
        content: '과일류';
    }
    #cat_vege a::after {
        content: '채소류';
    }
    #cat_etc a::after {
        content: '기타';
    }
    #content {
        width: 100%;
    }
    #picky-store {
        display: block;
        height: 2.2rem;
        font-family: NotoSansKR;
        font-size: 1.5rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.2;
        letter-spacing: normal;
        text-align: left;
        color: #5e6656;
        margin-top: 1.9rem;
    }
    #content_box {
        width: 100%;
    }
    #category ul {
        margin: 2rem 0;
    }
    #category ul > div {
        padding-left: 0;
        margin-left: 0;
        margin-right: 1rem;
    }
    #category_item {
        width: 100%;
        height: 2rem;
        padding: 0.2rem 1rem;
        border-radius: 1rem;
        font-size: 1.1rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.1;
        letter-spacing: normal;
        text-align: center;
    }
    #sort {
        padding-left: 0;
    }
    #sort_img {
        height: 2rem;
        margin-bottom: 2rem;
    }
    #sort_list {
        z-index: 1;
    }
    .block {
        margin-top: 4rem;
        width: 100%;
    }
    #products {
        width: 100%;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0;
    }
    #product_item {
        width: 100%;
        height: 100%;
    }
    .farmer-info-overlay {
        display: none;
    }
    #product_img {
        width: 15.01rem;
        height: 17rem;
        border-radius: 0.5rem;
        box-shadow: 1rem 1rem 1rem 0 rgba(170, 170, 170, 0.25);
    }
    #like_cart_in {
        top: unset;
        right: unset;
        bottom: 0.5rem;
        left: 10.5rem;
    }
    #wish img {
        width: 4rem;
        height: 4rem;
    }
    #cart {
        display: none;
    }
    #almost_sold_out {
        display: none;
    }
    #product_item > a {
        order: 3;
        margin-bottom: 5.7rem;
    }
    #title {
        width: 100%;
        padding-left: 0;
        font-size: 1.2rem;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        color: var(--dark-green);
    }
    #sell_price {
        padding-left: 0;
        width: 100%;
        font-size: 1.1rem;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        color: #5e6656;
    }
    #sub_title {
        display: none;
    }
    #tags {
        margin-bottom: 0.9rem;
    }
    #ugly_tag,
    #normal_tag {
        width: 7.3rem;
        height: 2rem;
        font-size: 1.1rem;
        font-weight: 500;
        padding: 0.3rem 0.5rem;
    }
    #paginator {
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 12rem;
        align-items: center;
    }
    #pagenum {
        font-size: 1.1rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.95;
        letter-spacing: normal;
        text-align: left;
        color: #5e6656;
    }
    #next {
        width: 0.8rem;
        margin-left: 1rem;
    }
}
