@import 'base/mobile_base_style.css';

@media screen and (max-width: 768px) {
    #refund_change_info_detail {
        width: 100%;
    }
    #refund_change_info_detail-left-section {
        font-size: 1.2rem;
        padding: 0 1.3rem;
    }
    #refund_change_info_detail-right-section {
        padding-left: 0.4rem;
        font-size: 1rem;
    }
    #refund_change_info_detail-right-section div:first-child {
        display: flex;
        flex-direction: column;
    }
    #refund_change_info_detail-sub-desc {
        font-size: 1rem;
        margin-left: 0;
    }

    #responsibility-section {
        width: 100%;
    }
    #responsibility-title {
        padding-bottom: 0rem;
    }
    #responsibility-content {
        font-size: 1rem;
    }
}
