{% load humanize %}
<div class="payment_section_wrapper flex flex-col">
    <div class="payment-list-sheet">
        <div class="payment-list-sheet-index grid justify-items-center">
            <div class="payment-list-sheet-index-title">정산상태</div>
            <div class="payment-list-sheet-index-title">주문번호</div>
            <div class="payment-list-sheet-index-title">상품명</div>
            <div class="payment-list-sheet-index-title">수량</div>
            <div class="payment-list-sheet-index-title">결제금액</div>
            <div class="payment-list-sheet-index-title">수수료</div>
            <div class="payment-list-sheet-index-title">정산금액</div>
        </div>
        {% for order in orders %}
        <div class="payment-list-sheet-rows grid">
            <div class="payment-status {% if order.payment_status == 'done' %} completed-payment {% endif %}">{{order.get_payment_status_display}}</div>
            <div class="order-number">{{order.order_management_number}}</div>
            <div class="sheet-data-text product-name">{{order.product.title}}</div>
            <div class="sheet-data-text order-quantity">{{order.quantity}}</div>
            <div class="sheet-data-text order-total-price">{{order.total_price | intcomma}}</div>
            <div class="sheet-data-text commission">{% widthratio order.total_price 100 7 as commission %} {{commission | intcomma}}</div>
            <div class="sheet-data-text account">{% widthratio commission 1 -1 as res %} {{ order.total_price | add:res | intcomma }}</div>
            <div class="payment-sheet-bar-mobile"></div>
            <div class="payment-list-sheet-index-title-mobile">주문번호</div>
            <div class="payment-list-sheet-index-title-mobile">결제금액</div>
            <div class="payment-list-sheet-index-title-mobile">수수료</div>
            <div class="payment-list-sheet-index-title-mobile">정산금액</div>
        </div>
        {% endfor %}
    </div>
</div>