<section id="purchase-info-container" class="w-full">
    <div id="purchase-info-section">
        <div id="purchase-info-header" class="section-header color-primary flex items-center">
            결제 내역
            <div class="divider flex-1"></div>
        </div>
        <div id="purchase-info-list" class="flex flex-col items-center main-container mx-auto">
            <div id="price-detail" class="flex flex-col">
                <div class="purchase-info-row color-secondary">
                    <div class="detail-title">총 [[sumOfQuantity]]개의 주문 금액</div>
                    [[sumOfProductPrice]] <span class="purchase-unit">원</span>
                </div>
                <div class="purchase-info-row color-secondary">
                    <div class="detail-title">배송비</div>
                    [[sumOfDeliveryFee]] <span class="purchase-unit">원</span>
                </div>
            </div>
            <div id="price-total">
                <div class="purchase-info-row">
                    <div class="total-title color-primary">최종 주문 금액</div>
                    [[orderTotalPrice ]] <span class="purchase-unit">원</span>
                </div>
            </div>
        </div>
    </div>

    <div id="pay-section">
        <div id="payment-info-header" class="section-header color-primary flex items-center">
            결제 수단
            <div class="divider flex-1"></div>
        </div>
        <div id="payment-type-section" class="flex flex-row">
            <ul class="flex flex-row">
                <li>
                    <label for="id_payment_type_0" class="mr-2">
                        <input type="radio" name="payment_type" value="card" id="id_payment_type_0" required v-model="paymentType"> 카드결제
                    </label>
                </li>
                <li>
                    <label for="id_payment_type_1" class="mr-2">
                        <input type="radio" name="payment_type" value="kakao" id="id_payment_type_1" v-model="paymentType"> 카카오페이
                    </label>
                </li>
            </ul>
        </div>
    </div>

    <div id="personal-info-agree-section">
        <div id="div-line"></div>
        <div id="personal-info-agree-top-section" class="flex flex-row">
            <label id="personal-info-agree-label"><input id="personal-info-agree" class="pt-5" type="radio" value="agree" required>
                개인 정보 수집 이용 동의</label>
            <div id="personal-info-agree-require" class="ml-1">(필수)</div>
        </div>
        <div id="personal-info-agree-bottom-section">
            <div>수집 목적 : 상품 대금 결제 및 배송</div>
            <div>개인 정보 항목 : 연락처 / 이름 / 주소 / 결제 상품 정보 / 결제 정보</div>
            <div>보유기간 : 결제 시점으로부터 5년</div>
        </div>
    </div>

    <div id="btns-section" class="flex flex-col items-center">
        <div id="agree-section" class="mb-2">
            <label id="final-agree-label"><input id="final-agree" class="pt-5 ml-2" type="radio" value="agree" required> 구매할 상품의 결제정보를 확인하였으며, 구매진행에
                동의합니다</label>
        </div>
        <div id="buttons" class="flex flex-row mb-12">
            <div id="go-back-btn">뒤로가기</div>
            <button id="go-btn" class="ml-6" type="submit" @click='handleSubmitButtonClick'>결제하기
        </div>
    </div>
</section>