{% load static %}

<section id="index-section3" class="index-section-container">
    <h1 id="section3-title">
        마음에 드는 농가<br>
        <span><button class="section3-title-button">구독하기</button>눌러서 소식 받자!</span>
    </h1>
    <section id="section3-farmer-list-wrap">
        <img src="{% static 'images/index_new/section3/slider_prev.svg' %}" alt="이전" class="farmer-slider-button" id="slider-prev">
        <div id="section3-farmer-list-slider">
            {% for farmer in farmers %}
            <div class="farmer-figure-wrap">
                <figure>
                    <img src="{{farmer.farm_profile.url}}" alt="{{farmer.farm_name}}" class="farmer-profile-image">
                    <figcaption class="farm-name">{{farmer.farm_name}}</figcaption>
                </figure>
                <a href="{% url 'farmers:farmer_detail' farmer.pk %}"><button class="farmer-page-link">미니홈페이지 가기</button></a>
            </div>
            {% endfor %}
        </div>
        <img src="{% static 'images/index_new/section3/slider_next.svg' %}" alt="다음" class="farmer-slider-button" id="slider-next">
    </section>
</section>

<script>
    $('#section3-farmer-list-slider').slick({
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 1,
        prevArrow: $('#slider-prev'),
        nextArrow: $('#slider-next')
    })
</script>